<div id="publicFooter">
    <div class="center">
        <div id="publicFooterLeft">
            {{ footerGroupMenu() }}
            
            <div class="footerColumn">
                <div class="footerColumnTitle">Pour nous contacter</div>
                <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                {% if contact.phone is not same as(null)  %}
                    <div id="publicPolitizrPhone">
                        <img src="{{ asset('bundles/politizrfront/images/f-phone.svg') }}" alt="">{{ contact.phone }}
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="footerColumn">
            <a href="#" action="openPolicies">Politique de confidentialité</a><br/><br/>
            <a href="#" action="openCookies">Réglage des cookies</a><br/><br/>
            <a href="https://bien-dit.com">Propulsé par BIEN DIT</a><br/>
        </div>
    </div>
</div>