{% extends 'PolitizrFrontBundle::layout.html.twig' %}

{% block inscriptionSteps %}
	{% include 'PolitizrFrontBundle:Security:citizenSteps.html.twig' with { 'step': 2 } only %}
{% endblock %}

{% block main %}
	<div id="main" class="container">
		{% if pUserForm.vars.errors|length %}
			<div class="box-error">
		    	{{ form_errors(pUserForm) }}
		    </div>
		{% endif %}

		<div id="box-inscription-step-2">
			{{ form_start(pUserForm, {'action': path('InscriptionStep2Check'), 'method': 'POST', 'style': 'horizontal'}) }}
			    {{ form_errors(pUserForm) }}

			    {{ form_row(pUserForm.gender) }}
			    {{ form_row(pUserForm.name) }}
			    {{ form_row(pUserForm.firstname) }}
			    {{ form_row(pUserForm.birthday) }}

			    <p class="bg-info">Attention, ces informations ne pourront plus être modifiées après l'inscription.</p>

			    <hr>

			    {{ form_row(pUserForm.email) }}
			    {{ form_row(pUserForm.newsletter) }}

			    {{ form_row(pUserForm.actions) }}
			{{ form_end(pUserForm) }}
		    <span class="label label-warning pull-right">Tous les champs sont obligatoires</span>
		</div>

	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:inscriptionStep2.js.twig' %}
{% endblock javascriptFooter %}
