{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription - {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerInscription.html.twig' with { 'type': 'citizen' } %}
    <div id="headerTrigger"></div>
{% endblock header %}

{# checkbox without sf2 label #}
{% form_theme form _self %}

{% block checkbox_widget %}
{% spaceless %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{% block main %}
    <div id="main">
        <center>
            <div class="column column360">
                <div class="card">
                    {% if form.vars.errors|length %}
                        <div class="boxError">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    {{ form_start(form, {'action': path('InscriptionContactCheck'), 'method': 'POST'}) }}
                        {{ form_label(form.gender) }}
                        <div class="styledSelect">{{ form_widget(form.gender) }}</div>
                        {{ form_row(form.name) }}
                        {{ form_row(form.firstname) }}
                        {% if (form.email is defined) %}
                            {{ form_row(form.email) }}
                        {% endif %}
                        <div class="coloredBg">
                            {% if (form.cgu is defined) %}
                                <div class="control-group">
                                    {{ form_widget(form.cgu) }}<label>J’accepte les <a href="" target="_blank">conditions générales d’utilisation</a>.</label>
                                    {% if form.cgu.vars.errors|length %}
                                        <div class="field_error">{{ form_errors(form.cgu) }}</div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="control-group">
                                {{ form_widget(form.newsletter) }}<label>Je m'inscris à la newsletter de Politizr</a>.</label>
                            </div>
                        </div>
                        <button type="submit" class="submit nextStepOrange">Valider</button>
                    {{ form_end(form) }}
                </div>
                <div class="cardFooter">
                    Tous les champs sont obligatoires<br><br>
                </div>
            </div>
        </center>
    </div>
{% endblock main %}
