{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription étape 1 / 2 - {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerInscription.html.twig' with { 'type': 'elected' } %}
    <div id="headerTrigger"></div>
{% endblock header %}

{# checkbox without sf2 label #}
{% form_theme form _self %}

{% block checkbox_widget %}
{% spaceless %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{% block main %}
    <div id="main">
        <center>
            <div class="column column140">
                <div class="processNav">
                    <ol>
                        <li class="activeStep">Profil</li>
                        <li>Mandat électoral</li>
                        {#<li>Formule</li>
                        <li>Paiement</li>
                        <li>Validation d'identité</li>#}
                    </ol>
                </div>
            </div>
            <div class="column column360">
                <div class="card">
                    {% if form.vars.errors|length %}
                        <div class="boxError">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    {{ form_start(form, {'action': path('InscriptionElectedContactCheck'), 'method': 'POST'}) }}
                        {{ form_label(form.gender) }}
                        <div class="styledSelect">{{ form_widget(form.gender) }}</div>
                        {{ form_row(form.name) }}
                        {{ form_row(form.firstname) }}
                        {% if (form.email is defined) %}
                            {{ form_row(form.email) }}
                        {% endif %}
                        {{ form_row(form.birthday) }}
                        {{ form_widget(form.localization) }}
                        <div class="coloredBg">
                            {% if (form.elected is defined) %}
                                <div class="control-group">
                                    {{ form_widget(form.elected) }}<label><b>Je certifie exercer — ou avoir exercé — un mandat électif* et reconnaît que ma responsabilité est engagée en cas de fraude.</b><br>Politizr procède à la vérification d’identité de tous les comptes élus.</label>
                                    {% if form.elected.vars.errors|length %}
                                        <div class="field_error">{{ form_errors(form.elected) }}</div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if (form.cgu is defined) %}
                                <div class="control-group">
                                    {{ form_widget(form.cgu) }}<label>J’accepte les <a action="openCgu">conditions générales d'utilisation</a> et je m'engage à respecter la <a action="openCharte">charte de Politizr</a>.</label>
                                    {% if form.cgu.vars.errors|length %}
                                        <div class="field_error">{{ form_errors(form.cgu) }}</div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            <div class="control-group">
                                {{ form_widget(form.newsletter) }}<label>Je m'inscris à la newsletter de Politizr</a>.</label>
                            </div>
                        </div>

                        <button type="submit" class="submit nextStepOrange">Étape suivante</button>
                    {{ form_end(form) }}
                </div>
                <div class="cardFooter">
                    Tous les champs sont obligatoires<br><br>
                    <br><br>
                    {% if (form.elected is defined) %}
                        <span>*Conseil municipal, conseil départemental, conseil régional, conseil consulaire, Assemblée Nationale, Sénat</span>
                    {% endif %}
                </div>
            </div>
            <div class="column column140">
                <div class="columnSidebar processGreen"><i class="icon-info"></i><br>Pour nous permettre de garantir l’identité des comptes élus, les pseudonymes ne sont pas acceptés.</div>
            </div>
        </center>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/localization/edit.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/inscriptionContact.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
