{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription étape 2 / 2 - {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerInscription.html.twig' with { 'type': 'elected' } %}
    <div id="headerTrigger"></div>
{% endblock header %}

{% block main %}
    <div id="main">
        <center>
            <div class="column column140">
                <div class="processNav">
                    <ol>
                        <li class="activeStep">Profil</li>
                        <li class="activeStep">Mandat électoral</li>
                        {#<li>Formule</li>
                        <li>Paiement</li>
                        <li>Validation d'identité</li>#}
                    </ol>
                </div>
            </div>
            <div class="column column360">
                <div class="card">
                    {% if errorMsg %}
                        <div class="boxError">
                            {{ errorMsg }}
                        </div>
                    {% endif %}
                    <div class="mandateItem withLoaderInside" id="newMandate">
                        {% include 'PolitizrFrontBundle:User:_newMandate.html.twig' with { 'user': app.user } %}
                    </div>
                    <div class="coloredBg forEditMandates">
                        <div id="editMandates">
                            {% include 'PolitizrFrontBundle:User:_editMandates.html.twig' %}
                        </div>
                    </div>
                    <a href="{{ path('InscriptionElectedMandateCheck') }}" class="submit nextStepOrange">Étape suivante</a>
                </div>
                <div class="cardFooter">
                    Tous les champs sont obligatoires<br><br>
                </div>
            </div>
            <div class="column column140">
                <div class="columnSidebar processGreen"><i class="icon-info"></i><br>Vous devez ajouter au moins un mandat électoral.</div>
            </div>
        </center>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/smoke.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/mandates.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/inscriptionElectedMandate.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
