{% extends 'PolitizrFrontBundle::layout.html.twig' %}

{% block inscriptionSteps %}
	{% include 'PolitizrFrontBundle:Security:electedSteps.html.twig' with { 'step': 2 } only %}
{% endblock %}

{% block main %}
	<div id="main">
		<h1>Choix de la formule</h1>
		<p>Complétez le formulaire suivant</p>
		{% if subscriptionForm.vars.errors|length %}
			<div class="boxError">
		    	{{ form_errors(subscriptionForm) }}
		    </div>
		{% endif %}
		<form id="subscriptionForm" action="{{ path('InscriptionElectedStep2Check') }}" method="POST">
			<h3>Formule</h3>
		    {% if subscriptionForm.p_o_subscription.vars.errors|length %}
				<div class="fieldError">{{ form_errors(subscriptionForm.p_o_subscription) }}</div>
			{% endif %}
			<div>{{ form_widget(subscriptionForm.p_o_subscription) }}</div>

			
			{{ form_rest(subscriptionForm) }}
			<div class="form_submit"><input type="submit" value="Je valide"></div>
		</form>
	</div>
{% endblock main %}


{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:inscriptionElectedStep2.js.twig' %}
{% endblock javascriptFooter %}
