{% extends 'PolitizrFrontBundle::layout.html.twig' %}

{% block inscriptionSteps %}
	{% include 'PolitizrFrontBundle:Security:electedSteps.html.twig' with { 'step': 2 } only %}
{% endblock %}

{% block main %}
	<div id="main" class="container">
		<h1>Choix de la formule</h1>
		<p class="bg-info">Choisissez la formule la plus adaptée à vos besoins.</p>
		<div id="boxInscriptionElectedStep2">
			{{ form_start(subscriptionForm, {'action': path('InscriptionElectedStep2Check'), 'method': 'POST', 'style': 'horizontal'}) }}
			    {{ form_errors(subscriptionForm) }}

			    {{ form_row(subscriptionForm.p_o_subscription) }}

			    {{ form_row(subscriptionForm.actions) }}
			{{ form_end(subscriptionForm) }}
		    <span class="label label-warning pull-right">Tous les champs sont obligatoires</span>
		</div>
		<hr>
	</div>
{% endblock main %}


{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:inscriptionElectedStep2.js.twig' %}
{% endblock javascriptFooter %}
