{% extends layout %}

{% block title %}
    Inscription étape 5 / X - {{ parent() }}
{% endblock title %}

{% block main %}
    <div id="public">
        <div class="center">
            <div id="box-inscription-elected-payment">
                {% for payment in payments %}
                    <div class="payment-choice">
                        <input type="radio" name="radio-choice" action="payment-choice"><label>{{ payment.title }}</label>
                        <div class="payment-detail">
                            {{ payment.description | purify }}
                            <br/>
                            <a action="payment-process" class="btn btn-success" paymentTypeId="{{ payment.id }}">procéder au paiement</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/security/payment.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/inscriptionElectedPayment.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
