{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription étape 6 / X - {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {# @todo other header without "cancel" > payment ok > inscription done #}
    <div id="header">
        {% include 'PolitizrFrontBundle:Navigation\\Header:_headerInscription.html.twig' with { 'type': 'elected' } %}
    </div>
    <div id="headerTrigger"></div>
{% endblock header %}

{% block preMain %}
    <div id="paiementOk">
        <div class="center">
            <i class="icon-like-yes"></i>
            <div id="paimentMsg">
                <h1>Votre paiement a été bien reçu. Merci !</h1>
                Vous devez maintenant procéder a la vérification de votre identité pour profiter pleinement de votre compte élu.
            </div>
        </div>
    </div>
{% endblock %}
{% block main %}
    <div id="main">
        <center>
            <div class="column column140">
                <div class="processNav">
                    <ol>
                        <li class="activeStep">Profil</li>
                        <li class="activeStep">Mandat électoral</li>
                        <li class="activeStep">Formule</li>
                        <li class="activeStep">Paiement</li>
                        <li class="activeStep">Validation d'identité</li>
                    </ol>
                </div>
            </div><!--
            --><div class="column column280">
                <div class="card">
                    <div class="formBlock">
                        {% set uploadAction = path('XhrGeneric', {'xhrRoute': constant('Politizr\\Constant\\XhrConstants::ROUTE_USER_VALIDATE_PHOTO_UPLOAD'), 'xhrService': 'security', 'xhrMethod': 'idCheckPhotoUpload', 'xhrType': constant('Politizr\\Constant\\XhrConstants::RETURN_HTML')}) %}
                        <form method="POST" action="{{ uploadAction }}" name="user" id="formIdCheckPhoto" enctype="multipart/form-data">
                            <label>Validation de votre identité par upload de la photo de la carte d'identité</label>
                            <div class="uploadCNI">
                                <input type="file" name="fileName" id="fileName">
                                <label action="fileSelect" for="fileName">Photo ID</label>
                            </form>

                            <div class="coloredBg">
                                <img src="{{ asset('bundles/politizrfront/images/pictoCNI.png') }}" width="44" height="29" class="pictoCNI">
                                <div class="infoUploadCNI">Face comportant votre photo.<br>Format : jpg, max. 1Mo</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="orElse">
                    <div class="orElseLine"></div><span>ou</span><div class="orElseLine"></div>
                </div>
                <div class="card">
                    {{ form_errors(formIdCheck) }}
                    <form class="zlaBox" name="user" method="post" id="formPerso4">
                        <label>Saisie manuelle des numéros de votre Carte Nationale d’Identité</label>
                            <div class="zlaInputs">
                            {{ form_row(formIdCheck.zla1, { 'attr': { 'placeholder': '36 caractères de la ligne 1' }}) }}<div class="zlaCounter">36</div>
                            {{ form_row(formIdCheck.zla2, { 'attr': { 'placeholder': '36 caractères de la ligne 2' }}) }}<div class="zlaCounter">36</div>
                            {{ form_rest(formIdCheck) }}

                            <div class="coloredBg">
                                <img src="{{ asset('bundles/politizrfront/images/cni.jpg') }}">
                            </div>

                            <button type="button" action="validateIdZla">
                                Valider mon identité
                            </button>
                        </form>
                    </div>
                </div>
            </div><!--
            --><div class="column column140">
                <div class="columnSidebar skip">
                    <a href="processDemo.php">Procédez à la vérification de votre identité plus tard<i class="icon-arrow-right"></i></a>
                </div>
                <div class="columnSidebar processGreen"><i class="icon-info"></i><br><b>Si vous ne procédez pas à la validation de votre identité maintenant, vous disposerez d’un profil citoyen.</b><br>Vous devrez reprendre et compléter cette étape ultérieurement pour disposer d’un compte élu.</div>
        </center>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/jquery.form.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/inscriptionElectedIdCheck.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/idCheck.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
