{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription étape 3 / 3 - {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerInscriptionElectedFinished.html.twig' %}
    <div id="headerTrigger"></div>
{% endblock header %}

{% block headerMsg %}
{#
    <div id="paiementOk">
        <div class="center">
            <i class="icon-like-yes"></i>
            <div id="paimentMsg">
                <h1>Votre paiement a été bien reçu. Merci !</h1>
                Vous devez maintenant procéder a la vérification de votre identité pour profiter pleinement de votre compte élu.
            </div>
        </div>
    </div>
#}
    <div id="alertIdCheck">
        <div class="center">
            <div id="maxIdCheckMsg">
                <i class="icon-info"></i>
                Vous devez maintenant procéder à la vérification de votre identité pour profiter pleinement de votre compte élu: vous disposez de 3 tentatives.
                <h1><span id="nbTryLeft">{{ constant('Politizr\\Constant\\IdCheckConstants::MAX_USER_TRY') - app.user.nbIdCheck }}</span> tentative(s) restante(s)</h1>
                Si vous souhaitez être accompagné-e durant cette procédure n'hésitez pas à nous contacter au <b>05.64.88.01.71</b>.<br>
                En cas d'échec, nous prendrons contact directement avec vous.
            </div>
            <div id="userInfo">
                Rappel des informations saisies et contrôlées<br/>
                <b>Nom: {{ app.user.name }}<br/>
                Prénom: {{ app.user.firstName }}<br/>
                Date de naissance: {{ app.user.birthday | date('d/m/Y') }}</b><br/>
                En cas d'erreur, <a href="{{ path('EditPersoE') }}">cliquez ici pour corriger les informations saisies</a>.
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div id="main">
        <center>
            <div class="column column140">
                <div class="processNav">
                    <ol>
                        <li class="activeStep">Profil</li>
                        <li class="activeStep">Mandat électoral</li>
                        {#<li class="activeStep">Formule</li>
                        <li class="activeStep">Paiement</li>#}
                        <li class="activeStep">Validation d'identité</li>
                    </ol>
                </div>
            </div>
            <div class="column column360">
                {% include 'PolitizrFrontBundle:User:_idCheck.html.twig' %}
            </div><!--
            --><div class="column column140">
                <div class="columnSidebar skip">
                    <a href="{{ path('HomepageE') }}">Procédez à la vérification de votre identité plus tard<i class="icon-arrow-right"></i></a>
                </div>
                <div class="columnSidebar processGreen"><i class="icon-info"></i><br><b>Si vous ne procédez pas à la validation de votre identité maintenant, vous disposerez d’un profil élu non certifié et ne disposerez pas de toutes les fonctionnalités.</b><br>Vous devrez reprendre et compléter cette étape ultérieurement pour finaliser votre inscription.</div>
        </center>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/jquery.form.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/inscriptionElectedIdCheck.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/idCheck.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
