{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription étape 2 / X - {{ parent() }}
{% endblock title %}

{% block main %}
    <div id="public">
        <div class="center">
            {% if form.vars.errors|length %}
                <div class="box-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <div id="box-inscription-contact">
                {{ form_start(form, {'action': path('InscriptionElectedContactCheck'), 'method': 'POST'}) }}
                    {{ form_row(form.gender) }}
                    {{ form_row(form.name) }}
                    {{ form_row(form.firstname) }}
                    {% if (form.email is defined) %}
                        {{ form_row(form.email) }}
                    {% endif %}
                    {{ form_row(form.birthday) }}
                    {{ form_row(form.newsletter) }}

                    <button type="submit">Valider</button>

                {{ form_end(form) }}
                <span class="label label-warning pull-right">Tous les champs sont obligatoires</span>
            </div>

            <a href="{{ path('CancelInscription') }}">Annuler l'inscription</a>
        </div>
    </div>
{% endblock main %}
