{% extends layout %}

{% block inscriptionSteps %}
    {% include 'PolitizrFrontBundle:Security:electedSteps.html.twig' with { 'step': 4 } only %}
{% endblock %}

{% block main %}
    <div id="main" class="container">
        <h1>Validation par nos services</h1>
        <div id="box-order-thanking">
            <h3>Récapitulatif paiement</h3>
            <p>
                Merci de votre commande chez Politizr!
            </p>
            <p>
                Commande n°{{ order.id }}
            </p>
            {% if order.POPaymentStateId == constant('Politizr\\Model\\POPaymentState::REFUSED') %}
                <p>Votre paiement a été refusé: votre commande ne sera pas prise en compte.</p>
            {% elseif order.POPaymentStateId == constant('Politizr\\Model\\POPaymentState::CANCELED') %}
                <p>Votre paiement a été annulé: votre commande ne sera pas prise en compte.</p>
            {% else %}
                <p>Type de paiement: <b>{{ order.POPaymentType }}</b></p>
                <p>Statut paiement: <b>{{ order.POPaymentState }}</b></p>
            {% endif %}
            <p>
                Un e-mail de confirmation a été envoyé sur "{{ order.email }}", comportant les détails de votre commande.
            <p>    
            <h3>La suite</h3>
            <p>
                Notre équipe va maintenant procéder à la vérification de votre identité et de vos mandats avant d'activer votre compte. Vous recevrez un email dès que votre compte sera actif.
            </p>
            <p>
                Vous pouvez dès à présent profiter de Politizr avec les <b>droits citoyens</b>: n'hésitez pas à compléter votre profil, à suivre des débats et des utilisateurs, toutes ces informations seront conservées lors de la mise à jour de votre compte à la suite de sa validation par nos équipes.
            </p>
        </div>
        <hr>
    </div>
{% endblock main %}


{% block javascriptFooter %}
    {{ parent() }}
{% endblock javascriptFooter %}
