{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription étape 2 / 3 - {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    <div id="header">
        {% include 'PolitizrFrontBundle:Navigation\\Header:_headerInscription.html.twig' with { 'type': 'citizen' } %}
    </div>
    <div id="headerTrigger"></div>
{% endblock header %}

{% block main %}
    <div id="main">
        <center>
            <div class="column column280">
                <div class="card">
                    {% if form.vars.errors|length %}
                        <div class="boxError">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    {{ form_start(form, {'action': path('InscriptionContactCheck'), 'method': 'POST'}) }}
                        {{ form_row(form.gender) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.firstname) }}
                        {% if (form.email is defined) %}
                            {{ form_row(form.email) }}
                        {% endif %}
                        {{ form_row(form.newsletter) }}
                        <button type="submit" class="submit nextStepOrange">Valider</button>
                    {{ form_end(form) }}
                </div>
                <div class="cardFooter">
                    Tous les champs sont obligatoires
                </div>
            </div>
        </center>
    </div>
{% endblock main %}
