{% extends 'PolitizrFrontBundle::layout.html.twig' %}

{% block inscriptionSteps %}
	{% include 'PolitizrFrontBundle:Security:citizenSteps.html.twig' with { 'step': 3 } only %}
{% endblock %}

{% block main %}
	<div id="main" class="container">
		<h2>Taggez votre profil</h2>
		<div id="tag-my-profile">
			<div id="profile-choose-geo-zone" pTTagTypeId="{{ constant('Politizr\\Model\\PTTagType::TYPE_GEO') }}" addUrl="{{ path('AddPUTaggedTPTag') }}">
				<label>Votre zonage géographique</label>
				<input type="text" id="profile-choose-geo" /><input type="hidden" id="profile-choose-geo-id" />
			</div>
			<div id="profile-selected-geo-zone" pTTagTypeId="{{ constant('Politizr\\Model\\PTTagType::TYPE_GEO') }}"></div>
		</div>
		<h2>Vos centres d'intérêts</h2>
		<div id="tag-my-follow">
			<div id="follow-choose-geo-zone" pTTagTypeId="{{ constant('Politizr\\Model\\PTTagType::TYPE_GEO') }}" addUrl="{{ path('AddPUFollowTPTag') }}">
				<div class="help">Indiquez les tags "géo" qui vous intéressent</div>
				<label>Zonages géographiques suivis</label>
				<input type="text" id="follow-choose-geo" /><input type="hidden" id="follow-choose-geo-id" />
			</div>
			<div id="follow-selected-geo-zone" pTTagTypeId="{{ constant('Politizr\\Model\\PTTagType::TYPE_GEO') }}"></div>
			<hr>
			<div id="follow-choose-theme-zone" pTTagTypeId="{{ constant('Politizr\\Model\\PTTagType::TYPE_THEME') }}" addUrl="{{ path('AddPUFollowTPTag') }}">
				<div class="help">Indiquez les tags "thématiques" qui vous intéressent - si le thème n'est pas présent dans la liste, cliquez sur 'Ajouter' une fois saisie.</div>
				<label>Thèmes suivis</label>
				<input type="text" id="follow-choose-theme" /><input type="hidden" id="follow-choose-theme-id" />
				<a id="add-new-tag" class="btn btn-primary">Ajouter</a>
			</div>
			<div id="follow-selected-theme-zone" pTTagTypeId="{{ constant('Politizr\\Model\\PTTagType::TYPE_THEME') }}"></div>
		</div>
		<hr>
		<a class="btn btn-primary pull-right" href="{{ path('InscriptionStep3Check') }}">Finaliser mon inscription</a>
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:inscriptionStep3.js.twig' %}
{% endblock javascriptFooter %}
