{% extends layout %}

{% block title %}
    Inscription étape 4 / X - {{ parent() }}
{% endblock title %}

{% block main %}
    <div id="public">
        <div class="center">
            {% if form.vars.errors|length %}
                <div class="box-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}

            <div id="box-inscription-contact">
                {{ form_start(form, {'action': path('InscriptionElectedOrderCheck'), 'method': 'POST'}) }}
                    {{ form_errors(form) }}

                    {{ form_row(form.p_o_subscription) }}

                    <button type="submit">Valider</button>

                {{ form_end(form) }}
                <span class="label label-warning pull-right">Tous les champs sont obligatoires</span>
            </div>

            <a href="{{ path('CancelInscription') }}">Annuler l'inscription</a>
        </div>
    </div>
{% endblock main %}
