{% extends 'PolitizrFrontBundle::layoutHomepage.html.twig' %}

{% block title %}
    {{ parent() }} - Connexion
{% endblock title %}

{% block header %}
{% endblock %}

{% block content %}
    <!--
    <div id="oAuthButtons">
        {# include 'PolitizrFrontBundle:Security:facebookConnect.html.twig' with {'label': 'Connexion avec Facebook'} #}
        {# include 'PolitizrFrontBundle:Security:twitterConnect.html.twig' with {'label': 'Connexion avec Twitter'} #}
        {# include 'PolitizrFrontBundle:Security:googleConnect.html.twig' with {'label': 'Connexion avec Google'} #}
    </div>
    -->

    <div id="boxLogin">
        <div class="wrapper">
           <div class="pltzrHeader">
                <a href="{{ path('Homepage') }}"><i class="iconPltzrLogoAlt"></i></a>
            </div><br>
            
            <div id="registerIntro">
                <b>Politizr est en phase de test "alpha".</b><br>
                <a href="https://www.politizr.com/inscription">Inscrivez-vous</a> pour recevoir une <b>invitation</b>.
            </div><br>

            <div id="loginIntro">
                <b>Déjà invité?</b> Connexion avec email + "alpha"<br/>
                <b>Un problème?</b> <a href="mailto: support@politizr.com">Écrivez-nous</a>
            </div><br>

            <div id="loginForm">
                {% if error %}
                    <div class="boxError">
                        <div class="notifBoxText">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        <i class="iconCross" action="closeBox"></i>
                    </div>
                    <br><br>
                {% endif %}

                <form id="formLogin" action="{{ path('LoginCheck') }}" method="post">
                    <label for="username">Identifiant</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" />

                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="_password" />

                    {#
                        If you want to control the URL the user
                        is redirected to on success (more details below)
                        <input type="hidden" name="_target_path" value="/account" />
                    #}

                    <a action="login" class="submit">Connexion</a><br>
                    <a action="showLostPasswordBox">Mot de passe oublié?</a>
                </form>
            </div>

            <div id="lostPasswordForm" style="display: none">
                <form id="formLostPassword">
                    {{ form_errors(formLostPassword) }}

                    <div class="formGroup">
                        <label>Identifiant</label>
                        {{ form_widget(formLostPassword.email) }}
                    </div>

                    {{ form_rest(formLostPassword) }}
                </form>
                <a action="reinitPassword" class="submit">Réinitialisation mot de passe</a><br>
                <a action="showLoginBox">Connexion</a>
            </div>
        </div>

    </div>
{% endblock content %}
