{# beta #}
{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% set metaTitle = 'Connexion' %}
{% set metaDescription = 'Connectez-vous pour accéder à votre espace personnel sur Politizr.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerLogin.html.twig' %}
{% endblock header %}

{% block main %}
    <div id="main">
        <center>
            <div class="column column360">
                <div class="openId">
                    {% include 'PolitizrFrontBundle:Security:facebookConnect.html.twig' with {'label': 'Connexion avec Facebook'} %}
                    {% include 'PolitizrFrontBundle:Security:twitterConnect.html.twig' with {'label': 'Connexion avec Twitter'} %}
                    {% include 'PolitizrFrontBundle:Security:googleConnect.html.twig' with {'label': 'Connexion avec Google'} %}
                </div>

                <div class="orElse">
                    <div class="orElseLine"></div><span>ou</span><div class="orElseLine"></div>
                </div>

                <div class="card cardLogin">
                    <div id="loginForm">
                        {% if error %}
                            <div class="boxError">
                                <div class="notifBoxText">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                <i class="iconCross" action="closeBox"></i>
                            </div>
                            <br><br>
                        {% endif %}

                        <form id="formLogin" action="{{ path('LoginCheck') }}" method="post">
                            <label for="username">Courriel</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" />

                            <label for="password">Mot de passe</label>
                            <input type="password" id="password" name="_password" />

                            {#
                                If you want to control the URL the user
                                is redirected to on success (more details below)
                                <input type="hidden" name="_target_path" value="/account" />
                            #}

                            <a action="login" class="submit nextStepOrange">Connexion</a><br>
                            <a action="showLostPasswordBox">Mot de passe oublié?</a>
                        </form>
                    </div>

                    <div id="lostPasswordForm" style="display: none">
                        <form id="formLostPassword">
                            {{ form_errors(formLostPassword) }}

                            <div class="formGroup">
                                <label>Courriel</label>
                                {{ form_widget(formLostPassword.email) }}
                            </div>

                            {{ form_rest(formLostPassword) }}
                            <a action="reinitPassword" class="submit nextStepOrange">Réinitialisation mot de passe</a><br>
                            <a action="showLoginBox">Connexion</a>
                        </form>
                    </div>
                </div>
            </div>
            
            <div class="footerXcolumns footer1column">
                Pas inscrit-e? <a href="{{ path('Inscription') }}">Inscrivez-vous</a>
                <br/><br/>
                <i class="icon-info"></i><b>Un problème?</b>&nbsp;<a href="mailto: {{ support.email }}">Contactez-nous!</a>
            </div>
        </center>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/login.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/security/login.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
