{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}

{% block connexionBox %}
    {{ render(controller('PolitizrFrontBundle:Security:login')) }}
{% endblock %}

{% block inscriptionSteps %}
	{% include 'PolitizrFrontBundle:Security:electedSteps.html.twig' with { 'step': 1 } only %}
{% endblock %}

{% block main %}
	<div id="main" class="container">
		<h1>Migration vers un compte élu</h1>
		<p class="bg-info">Vous exercez ou avez exercé un mandat électif, vous pouvez souscrire un abonnement pour disposer d'un compte vous permettant de débattre avec les autres élus sur Politizr.</p>
		<hr>
		<div id="box-inscription-elected-register">
			{{ form_start(userForm, {'action': path('MigrationElectedCheck'), 'method': 'POST', 'enctype': 'multipart/form-data', 'style': 'horizontal'}) }}
			    {{ form_errors(userForm) }}

				<h3>Civilité</h3>
			    {{ form_row(userForm.gender) }}
			    {{ form_row(userForm.name) }}
			    {{ form_row(userForm.firstname) }}
			    {{ form_row(userForm.birthday) }}

			    <p class="bg-info">Attention, votre pièce justificative doit correspondre aux nom / prénom / date de naissance renseignés.</p>

				<h3>Mandats et justificatif</h3>
			    {{ form_row(userForm.uploaded_supporting_document) }}
			    {{ form_row(userForm.elective_mandates) }}

			    {{ form_row(userForm.actions) }}
			{{ form_end(userForm) }}
		    <span class="label label-warning pull-right">Tous les champs sont obligatoires</span>
		</div>
		<hr>
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
{% endblock javascriptFooter %}
