{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}

{% block connexionBox %}
    {{ render(controller('PolitizrFrontBundle:Security:login')) }}
{% endblock %}

{% block inscriptionSteps %}
    {% include 'PolitizrFrontBundle:Security:electedSteps.html.twig' with { 'step': 1 } only %}
{% endblock %}

{% block main %}
    <div id="main">
        <h1>Migration vers un compte élu</h1>
        <p class="bg-info">Vous exercez ou avez exercé un mandat électif, vous pouvez souscrire un abonnement pour disposer d'un compte vous permettant de débattre avec les autres débatteurs sur Politizr.</p>
        <hr>
        {% if form.vars.errors|length %}
            <div class="box-error">
                {{ form_errors(form) }}
            </div>
        {% endif %}

        <div id="box-inscription-elected-register">
            {{ form_start(form, {'action': path('MigrationElectedCheck'), 'method': 'POST', 'enctype': 'multipart/form-data', 'style': 'horizontal'}) }}
                <h3>Civilité</h3>
                {{ form_row(form.gender) }}
                {{ form_row(form.name) }}
                {{ form_row(form.firstname) }}
                {{ form_row(form.birthday) }}

                <p class="bg-info">Attention, votre pièce justificative doit correspondre aux nom / prénom / date de naissance renseignés.</p>

                <h3>Mandats et justificatif</h3>
                {{ form_row(form.uploaded_supporting_document) }}
                {{ form_row(form.elective_mandates) }}

                <button type="submit">Valider</button>
            {{ form_end(form) }}
            <span class="label label-warning pull-right">Tous les champs sont obligatoires</span>
        </div>
        <hr>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
{% endblock javascriptFooter %}
