{% if (tag.ptTagTypeId == constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) %}
    {% set twbLabel = "geo" %}
{% elseif (tag.ptTagTypeId == constant('\\Politizr\\Model\\PTTagType::TYPE_THEME'))%}
    {% set twbLabel = "theme" %}
{% else %}
    {% set twbLabel = "default" %}
{% endif %}
{# @todo branchement modal #}
{# <a class="tag {{ twbLabel }}" href="{{ path('Tag', { 'slug': tag.slug }) }}"><i class="fa fa-tag"></i>&nbsp;{{ tag.title }}</a> #}
<span class="tag {{ twbLabel }}" action="openListByTag">{{ tag.title }}</span>