{# beta #}
{% spaceless %}
<div class="tagLabel {{ tag | tagTypeClass }}{% if tag.hasVirtualColumn('hidden') and tag.virtualColumn('hidden') %} tagInvisible{% endif %}" tagUuid="{{ tag.uuid }}" uuid="{{ uuid }}">
{{ tag.title }}{% if withHidden %}<a action="hideTag" path="{{ pathHide }}"><i class="iconInvisible"></i></a>{% endif %}
<a action="deleteTag" path="{{ pathDelete }}"><i class="icon-cross"></i></a>
</div>
{% endspaceless %}
