{# beta #}
{% spaceless %}
<div class="addTag withLoaderInside" id="editTagZone-{{ zoneId }}" tagTypeId="{{ tagTypeId | join('|') }}" uuid="{{ object.uuid }}" newTag="{{ newTag }}" withHidden="{{ withHidden }}" path="{{ pathCreate }}">
    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}

    <div class="formAddTag">
        <input type="text" class="selectedTag" placeholder="Saisissez un nouveau tag" />
        <input type="hidden" class="selectedTagUuid" />
        <button type="button" action="addTag"><i class="icon-check-incircle"></i></button>
    </div>

    <div class="editableTagList">
        {% for tag in tags %}
            {% include 'PolitizrFrontBundle:Tag:_detailEditable.html.twig' with { 'uuid': object.uuid, 'tag': tag } %}
        {% endfor %}
    </div>

</div>
{% endspaceless %}
