<div class="row">
    <div class="form-model col-md-12">
        <label>
            <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;Vous pouvez préciser des valeurs pour filtrer des utilisateurs</li>
        </label>
        <form id="formAttr2" name="formAttr2">
            <input type="hidden" id="no" name="no" value="2">
            <input type="hidden" id="circleId" name="circleId" value="{{ circle.id }}">
        </form>
    </div>
</div>

{{ form_start(formFilter2, {'attr': {'id': 'filterUsers2', 'name': 'filterUsers2', 'novalidate': 'novalidate' }}) }}
    <div class="row">
        {{ form_errors(formFilter2) }}
        <div class="form-model col-md-4">
            {{ form_row(formFilter2.city_insee_code) }}
        </div>
        <div class="form-model col-md-4">
            {{ form_row(formFilter2.department_code) }}
        </div>
        <div class="form-model col-md-4">
            {{ form_row(formFilter2.only_elected) }}
        </div>
    </div>
    <div class="row">
        <div class="form-model col-md-12">
            <br/>
            <a class="generic-action btn btn-default" action="filterForm2">Filtrer</a>
        </div>
    </div>
{{ form_end(formFilter2) }}

<div class="row">
    <div class="form-model col-md-12">
        <label>
            <br/>
            <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Liste des utilisateurs ayant accès au groupe</li>
        </label>
    </div>
</div>

{{ form_start(formUsers2, {'action': path('Politizr_AdminBundle_PCircle_removeUsersFromCircle'), 'method': 'POST', 'attr': {'id': 'users2', 'name': 'users2', 'novalidate': 'novalidate' }}) }}
    <div class="row">
        {{ form_errors(formUsers2) }}
        <div class="form-model col-md-12">
            {{ form_row(formUsers2.p_users) }}
        </div>
    </div>
    <div class="form-model-actions row">
        <div class="form-model-actions-generic col-md-12" role="generic-actions">
            <button type="submit" class="generic-action btn btn-warning"><i class="fa fa-fw fa-times"></i>Retirer du groupe
            <br/>
            <button type="submit" class="generic-action btn btn-danger" formAction="{{ path('Politizr_AdminBundle_PCircle_addUsersIsAuthorizedReactionToCircle') }}"><i class="fa fa-fw fa-plus"></i>Ajouter l'autorisation de publier des réponses
        </div>
    </div>
{{ form_end(formUsers2) }}
