{% extends_admingenerated "PolitizrAdminBundle:PCircleActions:index.html.twig" %}

{% block page_header_content %}
    <h1>Gestion des autorisations pour {{ PCircle }}</h1>
{% endblock page_header_content %}

{% block page_content %}
    <div class="row">
        <div class="form-model form-model-pcircle col-md-12">
            <div class="tab-content form-model-content">
                <div id="circleUsersForms1">
                    {% include 'PolitizrAdminBundle:Fragment\\Circle:_circleUsersForms1.html.twig' %}
                </div>
            </div>
            <div class="tab-content form-model-content">
                <div id="circleUsersForms2">
                    {% include 'PolitizrAdminBundle:Fragment\\Circle:_circleUsersForms2.html.twig' %}
                </div>
            </div>
            <div class="tab-content form-model-content">
                <div id="circleUsersForms3">
                    {% include 'PolitizrAdminBundle:Fragment\\Circle:_circleUsersForms3.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <div class="form-model-actions row">
        <div class="form-model-actions-generic col-md-12 text-right" role="generic-actions">
            <a class="generic-action btn btn-default" href="{{ path("Politizr_AdminBundle_PCircle_list", {}) }}"><i class="fa fa-fw fa-list-alt"></i> {{ "action.generic.list"|trans({}, "Admingenerator")|raw }}</a>
        </div>
    </div>
{% endblock page_content %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/politizradmin/js/politizr/circle/circle.js') }}"></script>
{% endblock javascripts %}
