{# 
LAYOUT REACTION
-----------------------------
- regroupement un 1 fichier de tous les fragments fonctionnels réutilisables séparément
- objectif > mutualiser / harmoniser les mises à jour du code
- permet aussi de trouver des points communs et de faire de l'héritage parmi les enfants de ce layout
#}

{# Bloc détail d'une réaction #}
{% block detail %}
	<div class="reaction-detail">
		{% block detailHeader %}
			{# Infos générales #}
			<div class="row">
				<div class="col-sm-8">
					<h2>{{ reaction.title }}</h2>
				</div>
				<div class="col-sm-2 text-center">
					<span class="label label-info">vu {{ reaction.NbViews }} fois</span>
				</div>
				<div class="col-sm-2 text-center">
					<span class="label label-default"><i class="fa fa-clock-o"></i>&nbsp;{{ reaction.publishedAt | localizeddate('medium', 'short', app.request.locale, "Europe/Paris", "EEEE d MMMM HH'h'mm" ) | capitalize }}</span>
				</div>
			</div>
		{% endblock detailHeader %}

		{# Réaction parente #}
		<div class="row">
			<div class="col-sm-12">
				{# TODO / TwigExtension Parent Réaction #}
				{% if reaction.level > 1 %}
					{% set parentReaction = reaction.getParent %}
					<h4>En réaction à <a href="{{ path('ReactionDetail', { 'id': parentReaction.id, 'slug': parentReaction.slug }) }}">{{ parentReaction.title }}</a> sur le débat <a href="{{ path('DebateDetail', { 'id': reaction.debate.id, 'slug': reaction.debate.slug }) }}">{{ reaction.debate.title }}</a></h4>
				{% else %}
					<h4>En réaction au débat <a href="{{ path('DebateDetail', { 'id': reaction.debate.id, 'slug': reaction.debate.slug }) }}">{{ reaction.debate.title }}</a></h4>
				{% endif %}
			</div>
		</div>

		{% block detailAuthor %}
			<div class="row">
				{# User #}
				<div class="col-sm-8">
					{% include 'PolitizrFrontBundle:Fragment\\User:author.html.twig' with { 'user': reaction.user } only %}
				</div>
				{# Notes #}
				<div class="notes col-sm-4 text-center">
					{{ linkNote(reaction, constant('Politizr\\Model\\PDocument::TYPE_REACTION')) }}
				</div>
			</div>
		{% endblock detailAuthor %}

		{% block detailImage %}
			{# Image du débat #}
			<hr>
			<div class="row debate-image">
				<div class="col-sm-12">
					{# TODO / TwigExtension Image #}
					{% if (reaction.debate.FileName) %}
				        <img class="img-rounded img-responsive" src="{{ asset('uploads/documents/'~reaction.debate.FileName) | imagine_filter('debate_header') }}" alt="{{ reaction.debate.title }}">
				    {% else %}
				        <img  class="img-rounded img-responsive" src="{{ asset('bundles/politizrfront/images/default_debate.jpg') | imagine_filter('debate_header') }}" alt="{{ reaction.debate.title }}">
					{% endif %}
				</div>
			</div>
		{% endblock detailImage %}

		{# Résumé #}
		<hr>
		<div class="jumbotron">
			{# Résumé #}
			<div class="row">
				<div class="col-sm-12">
					{{ reaction.summary | raw }}
				</div>
			</div>
			{% block detailLink %}
				{# Lien détail #}
				<div class="row text-center">
					<div class="col-sm-12">
						<a class="btn btn-primary" href="{{ path('DebateFeed', { 'id': reaction.debate.id, 'slug': reaction.debate.slug }) }}">Fil du débat</a>
					</div>
				</div>
			{% endblock detailLink %}
		</div>

		{% block detailAction %}
			<div class="row text-center">
				{% if isGrantedE() %}
					{# TODO / message indiquant si des réactions courantes sont déjà en cours de réaction pour cette réaction par le user courant #}
					<div class="row text-center">
						<a class="btn btn-danger" href="{{ path('ReactionDraftNew', { 'debateId': reaction.debate.id, 'parentId': reaction.id }) }}">Réagir</a>
					</div>
					<hr>
				{% endif %}
			</div>
		{% endblock detailAction %}


		{# Description & plus d'infos #}
		{% block detailDescription %}
			{# Paragraphes #}
			<hr>
			<div class="reaction-body">
				{% for paragraph in paragraphs %}
					<div class="paragraph">
						<div class="row reaction-description sizeup">
							<div class="counter col-sm-1">
								{% block detailParagraphComment %}
									{% include 'PolitizrFrontBundle:Fragment\\Comment:Counter.html.twig' with {'document': reaction.document, 'paragraphNo': loop.index } only %}
								{% endblock detailParagraphComment %}
							</div>
							<div class="col-sm-11">
								<p>{{ paragraph | raw }}</p>
							</div>
						</div>
						<div class="comments"></div>
					</div>
				{% endfor %}
			</div>

			{# Plus d'infos #}
			{% if reaction.moreInfo | striptags | trim is not empty %}
				<hr>
				<div class="debate-more-info well">
					{{ reaction.moreInfo | raw }}
				</div>
			{% endif %}
		{% endblock detailDescription %}

		{% block detailGlobalComments %}		
			{# Commentaires #}
			<hr>
			<div class="reaction-global-comments">
				<div class="paragraph">
					<div class="counter text-center">
						{% include 'PolitizrFrontBundle:Fragment\\Comment:Counter.html.twig' with {'document': reaction.document, 'paragraphNo': 0 } only %}
					</div>
					<div class="comments"></div>
				</div>
			</div>
		{% endblock detailGlobalComments %}		
	</div>
{% endblock detail %}

{# Bloc ligne de listing de réactions #}
{% block listRow %}
	<div class="reaction-list-row">
		{% block listImage %}
		{% endblock listImage %}

		{# Infos générales #}
		<div class="row">
			<div class="col-sm-8">
				<h4><a href="{{ path('ReactionDetail', { 'id': reaction.id, 'slug': reaction.slug }) }}">{{ reaction.title }}</a></h4>
			</div>
			<div class="col-sm-2 text-center">
				<span class="count-reactions">
					{# TODO / TwigExtension NbReactions #}
					{% set nbReactions = reaction.countChildrenReactions(true, true) %}
					<span class="badge alert-info">
						<a href="{{ path('ReactionDetail', { 'id': reaction.id, 'slug': reaction.slug }) }}">{{ nbReactions }} réactions</a>
					</span>
				</span>
			</div>
			<div class="col-sm-2 text-center">
				<span class="label label-default"><i class="fa fa-clock-o"></i>&nbsp;{{ reaction.publishedAt | localizeddate('medium', 'short', app.request.locale, "Europe/Paris" ) | capitalize }}</span>
			</div>
		</div>
		
		{# Réaction parente #}
		<div class="row">
			<div class="col-sm-12">
				{% if reaction.level > 1 %}
					{% set parentReaction = reaction.getParent %}
					<span class="label label-warning">
						En réaction à <a href="{{ path('ReactionDetail', { 'id': parentReaction.id, 'slug': parentReaction.slug }) }}">{{ parentReaction.title }}</a> sur le débat <a href="{{ path('DebateDetail', { 'id': reaction.debate.id, 'slug': reaction.debate.slug }) }}">{{ reaction.debate.title }}</a>
					</span>
				{% else %}
					<span class="label label-warning">
						En réaction au débat <a href="{{ path('DebateDetail', { 'id': reaction.debate.id, 'slug': reaction.debate.slug }) }}">{{ reaction.debate.title }}</a>
					</span>
				{% endif %}
			</div>
		</div>

		{% block listAuthor %}		
			<div class="row">
				{# User #}
				<div class="col-sm-12">
					{% include 'PolitizrFrontBundle:Fragment\\User:author.html.twig' with { 'user': reaction.user } only %}
				</div>
			</div>
		{% endblock listAuthor %}
	</div>
{% endblock listRow %}

{# Bloc ligne d'un tableau de brouillon de débats #}
{% block draftTableRow %}
	<tr>
		<td>{{ document.debate.title }}</td>
		<td>
			{% if document.level > 1 %}
				{% set parentReaction = document.getParent %}
				{{ parentReaction.title }}
			{% endif %}
		</td>
		<td>{{ document.title }}</td>
		<td>{{ document.summary | striptags | slice(0, 150) | raw }}</td>
		<td>{{ document.createdAt | date('d/m/Y H:i') }}</td>
		<td>
			<a class="btn btn-primary" href="{{ path('ReactionDraftEdit', { 'id': document.id }) }}">Editer</a>
			<a class="btn btn-info" href="{{ path('ReactionDraftPreview', { 'id': document.id }) }}">Prévisualiser</a>
		</td>
	</tr>
{% endblock draftTableRow %}

{# Bloc ligne de la timeline #}
{% block timelineRow %}
	<div class="timeline-row">
		{# Accroche #}
		<div class="row">
			<div class="col-sm-1 text-center">
				<h4><i class="fa fa-bell"></i></h4>
			</div>
			<div class="col-sm-2 text-center">
				<span class="label label-default text-center"><i class="fa fa-clock-o"></i>&nbsp;{{ reaction.publishedAt | localizeddate('medium', 'short', app.request.locale, "Europe/Paris", "EEEE d MMMM HH'h'mm" ) | capitalize }}</span>
			</div>
			<div class="col-sm-7">
				<h4{% if isParentReactionMine or isParentDebateMine %} class="bg-info"{% endif %}>
					{% include 'PolitizrFrontBundle:Fragment\\User:authorName.html.twig' with { 'user': reaction.user } only %} a rédigé une <a class="label label-warning" href="{{ path('ReactionDetail', { 'id': reaction.id, 'slug': reaction.slug }) }}">réaction</a>
					{% if reaction.level > 1 %}
						{% if isParentReactionMine %}sur votre réaction{% else %}en réaction à{% endif %} <a href="{{ path('ReactionDetail', { 'id': parentReaction.id, 'slug': parentReaction.slug }) }}">{{ parentReaction.title }}</a> sur {% if isParentDebateMine %}votre{% else %}le{% endif %} débat <a href="{{ path('DebateDetail', { 'id': reaction.debate.id, 'slug': reaction.debate.slug }) }}">{{ reaction.debate.title }}</a>
					{% else %}
						sur {% if isParentDebateMine %}votre{% else %}le{% endif %} débat <a href="{{ path('DebateDetail', { 'id': reaction.debate.id, 'slug': reaction.debate.slug }) }}">{{ reaction.debate.title }}</a>
					{% endif %}
				</h4>
			</div>
			<div class="col-sm-1 text-center">
				<span class="count-reactions">
					{# TODO / TwigExtension NbReactions #}
					{% set nbReactions = reaction.countChildrenReactions(true, true) %}
					<span class="badge alert-info">
						<a href="{{ path('ReactionDetail', { 'id': reaction.id, 'slug': reaction.slug }) }}">{{ nbReactions }} réactions</a>
					</span>
				</span>
			</div>
			<div class="col-sm-1 text-center">
				<a class="fa fa-info" action="more-info"></a>
			</div>
		</div>

		{# Infos générales #}
		<div class="jumbotron">
			<div class="row">
				<div class="col-sm-12">
					<h3>{{ reaction.title }}</h3>
				</div>
			</div>

			{# Résumé #}
			<div class="row">
				<div class="col-sm-12">
					{{ reaction.summary | raw }}
				</div>
			</div>
		</div>

	</div>
{% endblock timelineRow %}

