{% extends "AdmingeneratorGeneratorBundle::base.html.twig" %}

{% block title %}Module d'administration Politizr{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/politizradmin/css/ui-lightness/jquery-ui-1.10.4.custom.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/politizradmin/css/font-awesome/css/font-awesome.min.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts_head %}
    {{ parent() }}
    
    <script type="text/javascript" src="{{ asset('bundles/politizradmin/js/jquery-ui.autocomplete.min.js') }}"></script>

    <!-- XHR routing -->
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/politizr/xhr.js') }}"></script>
    <script type="text/javascript">
        var baseUrl = '{{ app.request.getBaseUrl }}';
    </script>
{% endblock %}


{% block header %}
    {% embed 'AdmingeneratorGeneratorBundle::header.html.twig' %}
        {% block logo %}
            {% set brand_path = (admingenerator_config('dashboard_route') is not null) ? path(admingenerator_config('dashboard_route')) : '#' %}
            <a class="logo" href="{{ brand_path }}">
                <img src="{{ asset('bundles/politizradmin/images/logo.jpg') }}" alt="Administration Politizr" />
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block sidebar %}
    <aside class="main-sidebar sidebar-offcanvas">
        {% embed 'AdmingeneratorGeneratorBundle:Sidebar:layout.html.twig' %}
            {% block sidebar_menu %}
                {{ knp_menu_render('PolitizrAdminBundle:AdminMenu:sidebarMenu') }}
            {% endblock %}
        {% endembed %}
    </aside>
{% endblock sidebar %}
