<div class="timelineItem">
    <div class="timelineItemHeader">
        {% include 'PolitizrFrontBundle:DateTime:_timeAt.html.twig' with { 'dateTimeAt': reaction.publishedAt } only %}
    </div>
    <div class="timelineItemHolder">
        <!-- @todo réaction de réaction -->
        {% if parentReaction is not null %}
            <div class="timelineItemContext">
                <span class="timelineItemContextHighlight">
                    À propos de la réaction de 
                    {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { 'user': parentReaction.user } only %}
                    {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': parentReaction.user } only %} :
                </span>
                <a href="{{ path('ReactionDetail', { 'slug': parentReaction.slug }) }}">{{ parentReaction.title }}</a>
            </div>
        {% endif %}
        
        <div class="timelineItemContent timelineItemOfficial">
            <div class="timelineItemObject">
                <i class="iconNotifNo"></i>
                {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { 'user': reaction.user } only %}
                {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': reaction.user } only %} a rédigé une réaction :
            </div>
            <div class="timelineItemHighlight">
                <div class="timelineItemIllustration">
                    {{ reaction | image('debate_timeline') }}
                </div>
                <div class="avatar40">
                    {{ reaction.user | photo('user_40') }}
                </div>
                <a href="{{ path('ReactionDetail', { 'slug': reaction.slug }) }}">
                    {{ reaction.title }}
                    {{ reaction.summary | raw }}
                </a>
            </div>
            <div class="timelineItemContentFooter">
                <div class="timelineItemContentFooterLeft">
                    <div class="reactionsCounter">
                        <i class="iconReaction"></i>
                        {{ reaction | nbReactions }}
                    </div>
                    <div class="commentsCounter" action="paragraphCommentsCounter">
                        <i class="iconComment"></i>
                        {{ reaction | nbComments }}
                    </div>
                    <div class="readingTime">
                        {# @todo temps de lecture #}
                        <i class="iconTime"></i>
                        X minutes
                    </div>
                </div>
                <div class="postNote">
                    <div class="notePlus">
                        {{ reaction.notePos }}<i class="iconNotePlus"></i>
                    </div>
                    <div class="noteMinus">
                        <i class="iconNoteMinus"></i>{{ reaction.noteNeg }}
                    </div>
                </div>  
            </div>                              
        </div>
    </div>
    <div class="timelineItemFooter">
        <a href="{{ path('ReactionDetail', { 'slug': reaction.slug }) }}" class="modalItemShow"><i class="iconGoTo"></i>Afficher</a>
    </div>
</div>
