<div class="timelineItem">
    <div class="timelineItemHeader">
        {% include 'PolitizrFrontBundle:Navigation\\DateTime:_timeAt.html.twig' with { 'dateTimeAt': comment.publishedAt } only %}
    </div>

    {% spaceless %}
        <div class="timelineItemHolder">

            <div class="timelineItemContext">
                {% if parentReaction %}
                    <span class="timelineItemContextHighlight">
                        À propos de la réaction de {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { 'user': parentReaction.user } only %}
                        {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': parentReaction.user } only %}:&nbsp;
                    </span>
                    {% if parentReaction.isDisplayed %}
                        <a href="{{ path('ReactionDetail'~profileSuffix(), { 'slug': parentReaction.slug }) }}">{{ parentReaction.title }}</a>
                    {% else %}
                        <i>{{ parentReaction.title }}</i>
                    {% endif %}
                    <br/>
                {% endif %}
                
                {% if not debateContext %}
                    <span class="timelineItemContextHighlight">
                        Au sujet du <span{% if debateIsFollowed %} class="followedDebate"{% endif %}>débat</span>:&nbsp;
                    </span>
                    {% if parentDebate.isDisplayed %}
                        <a href="{{ path('DebateDetail'~profileSuffix(), { 'slug': parentDebate.slug }) }}">{{ parentDebate.title }}</a>
                    {% else %}
                        <i>{{ parentDebate.title }}</i>
                    {% endif %}
                {% endif %}
            </div>

            <div class="timelineItemContent {% if comment.user.id == app.user.id %}timelineItemAuthor{% elseif comment.user.qualified %}timelineItemOfficial{% endif %}">
                <div class="timelineItemObject">
                    <i class="iconNotifNo"></i>
                    {% if authorIsMe %}
                        Vous avez rédigé un commentaire:&nbsp;
                    {% else %}
                        {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { 'user': comment.user, 'isFollowed': authorIsFollowed } only %}
                        {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': comment.user } only %} a rédigé un commentaire:&nbsp;
                    {% endif %}
                </div>
                <div class="timelineItemHighlight">
                    <div class="avatar40">
                        {{ comment.user | photo('user_40') }}
                    </div>
                        {% if (type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE_COMMENT') and parentDebate.isDisplayed) %}
                            <a href="{{ path('DebateDetail'~profileSuffix(), { 'slug': parentDebate.slug }) }}#p-{{ comment.paragraphNo }}">
                        {% elseif (type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION_COMMENT') and parentReaction.isDisplayed) %}
                            <a href="{{ path('ReactionDetail'~profileSuffix(), { 'slug': parentReaction.slug }) }}#p-{{ comment.paragraphNo }}">
                        {% else %}
                            <a class="noLink">
                        {% endif %}
                            <p>{{ comment.description | purify }}</p>
                        </a>
                </div>
                <div class="timelineItemContentFooter">
                    <div class="commentsNote">
                        <div class="notePlus">
                            {{ comment.notePos }}<i class="iconNotePlus"></i>
                        </div>
                        <div class="noteMinus">
                            <i class="iconNoteMinus"></i>{{ comment.noteNeg }}
                        </div>
                    </div>  
                </div>
            </div>
        </div>

    {% endspaceless %}
    <div class="timelineItemFooter">
    </div>
</div>
