<div class="timelineItem">
    <div class="timelineItemHeader">
        {% include 'PolitizrFrontBundle:Navigation\\DateTime:_timeAt.html.twig' with { 'dateTimeAt': debate.publishedAt } only %}
    </div>

    {% spaceless %}
        <div class="timelineItemHolder">
            <div class="timelineItemContent">
                <div class="timelineItemObject">
                    <i class="iconNotifNo"></i>
                    {% if authorIsMe %}
                        Vous avez rédigé un débat:&nbsp;
                    {% else %}
                        {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { 'user': debate.user, 'isFollowed': authorIsFollowed } only %}
                        {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': debate.user } only %} a rédigé un <span{% if debateIsFollowed %} class="followedDebate"{% endif %}>débat</span>:&nbsp;
                    {% endif %}
                </div>
            </div>

            <div class="postSummary">
                <div class="pad40">
                    <div class="postSummaryHeader">
                        <div class="readingTime">
                            <i class="iconTime"></i>
                            {{ debate | readingTime }}
                        </div>
                        <div class="postNote">
                            <div class="notePlus">
                                {{ debate.notePos }}<i class="iconNotePlus"></i>
                            </div>
                            <div class="noteMinus">
                                <i class="iconNoteMinus"></i>{{ debate.noteNeg }}
                            </div>
                        </div>
                    </div>
                    <div class="postSummaryFooter">
                        <div class="postSummaryTagList">
                            {{ debate | docTags }}
                        </div>
                        <div class="postSummaryTitle">
                            <a href="{{ path('DebateDetail', { 'slug': debate.slug }) }}">
                                {{ debate.title }}
                            </a>
                        </div>
                        <div class="postSummaryActivity">
                            <div class="reactionsCounter">
                                <i class="iconReaction"></i>
                                {{ debate | nbReactions }}
                            </div>
                            <div class="commentsCounter" action="paragraphCommentsCounter">
                                <i class="iconComment"></i>
                                {{ debate | nbComments }}
                            </div>
                        </div>
                    </div>
                </div>
                
                {{ debate | image('debate_header') }}
            </div>
        </div>
    {% endspaceless %}
    <div class="timelineItemFooter">
        <a href="{{ path('DebateDetail', { 'slug': debate.slug }) }}"><i class="iconGoTo"></i>Afficher</a>
    </div>
</div>
