{# beta #}
{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block title %}Mon fil d'actualités - {{ parent() }}{% endblock title %}

{% block javascriptHeader %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.cycle2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.cycle2.swipe.min.js') }}"></script>
{% endblock %}

{% block headerMsg %}
    {{ parent() }}

    {% include 'PolitizrFrontBundle:Timeline:_opBanners.html.twig' with {'operations': operations} only %}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="myfeed withLoaderInside">
            {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
            <h4><span>Mon fil d’actualité :</span></h4>
            <div id="listContent"></div>
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    {% if app.user %}
        {% include 'PolitizrFrontBundle:Tag:_sidebarFollowedTags.html.twig' with {'uuid': app.user.uuid} only %}
    {% endif %}
    {# include 'PolitizrFrontBundle:Tag:_sidebarTopTags.html.twig' #}
    {% include 'PolitizrFrontBundle:Tag:_sidebarFamilyTags.html.twig' %}
    {% include 'PolitizrFrontBundle:Tag:_sidebarTypeTags.html.twig' %}
    {% include 'PolitizrFrontBundle:Document:_sidebarTopDocuments.html.twig' %}
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/timeline/timeline.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/tag/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/timeline.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
