{% extends_admingenerated "PolitizrAdminBundle:POrderEdit:form.html.twig" %}

{# Bloc génération facture PDF #}
{% block form_col_block_invoice %}
    {% if POrder.invoiceRef and POrder.invoiceAt and POrder.invoiceFilename %}
        La <a href="{{ asset("uploads/invoices/"~POrder.invoiceFilename) }}" target="_blank">facture n°{{ POrder.invoiceRef }}</a> a été générée la dernière fois le {{ POrder.invoiceAt | date("d/m/Y \\à H\\hi") }}.<br/><br/>
    {% else %}
        La facture de cette commande n'a pas encore été générée.<br/><br/>
    {% endif %}
    <a class="btn btn-warning" href="{{ path("Politizr_AdminBundle_POrder_invoice", { pk: POrder.Id }) }}"><i class="fa fa-money"></i>&nbsp;Générer facture</a>
{% endblock %}

{# Bloc génération facture PDF #}
{% block form_col_block_mail %}
    <label for="edit_order_block_invoice" class="control-label required">Liste des emails envoyés au client</label>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr class="active">
                <th class="text-center" width="20%">Date envoi</th>
                <th class="text-center" width="20%">Statut commande</th>
                <th class="text-center" width="20%">Statut paiement</th>
                <th class="text-center" width="20%">Mode de paiement</th>
                <th class="text-center" width="20%">Envoi</th>
            </tr>
            {% for orderEmail in POrder.POEmails %}
                <tr>
                    <td class="text-center">{{ orderEmail.createdAt|date("d/m/Y \\à H\\hi") }}</td>
                    <td class="text-center">{{ orderEmail.poOrderState }}</td>
                    <td class="text-center">{{ orderEmail.poPaymentState }}</td>
                    <td class="text-center">{{ orderEmail.poPaymentType }}</td>
                    <td class="text-center">
                        {% if not orderEmail.send %}
                            <span class="fa fa-exclamation-triangle" />&nbsp;<b>Problème technique lors de l'envoi</b>
                        {% else %}
                            <i class="fa fa-check-circle" /></i>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun email n'a été envoyé au client.</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <a class="btn btn-warning" href="{{ path("Politizr_AdminBundle_POrder_mail", { pk: POrder.Id }) }}" onclick='return confirm("Êtes-vous sûr de vouloir envoyer un email au client pour le status {{ POrder.poOrderState }}?")'><i class="fa fa-envelope-o"></i>&nbsp;Envoi email client</a>

{% endblock %}

{# Bloc justificatif #}
{% block form_col_uploadedSupportingDocument %}
    {% if POrder.supportingDocument %}
        <p><b>Télécharger <a href="/uploads/supporting/{{ POrder.supportingDocument }}" target="_blank">{{ POrder.supportingDocument }}</a></b></p>
    {% endif %}
    {{ parent() }}
{% endblock %}
