<style>
</style>
<div id="invoice_politizr">
    POLITIZR (c) 2015
</div>
<div id="invoice_client">
    {{ order.gender }} {{ order.name }} {{ order.firstname }}
</div>
<div id="invoice_order">
    Mode de paiement : {{ order.POPaymentType }}<br/>
    Date de facturation : {{ nowAt | date("d/m/Y \\à G\\hi") }}<br/>
    Souscription : {{ order.subscriptionTitle }}<br/>
    Durée: du {{ order.subscriptionBeginAt | date('d/m/Y') }} au {{ order.subscriptionEndAt | date('d/m/Y') }}<br/>
</div>
<div class="note">
    Facture en euros.<br>
</div>
<div class="dots">.......................................................................................</div>
<div class="footer">
    POLITIZR (c) 2015
    www.politizr.com
</div>