{% extends_admingenerated "PolitizrAdminBundle:PDReactionEdit:form.html.twig" %}

{# Image block #}
{% block form_row_block_file_name %}
    <div class="form-group">
        <label class="controle-label">Image</label>
        <div class="show-image">
            {% if PDReaction.FileName %}
                {% include 'PolitizrAdminBundle:Fragment:_image.html.twig' with {'path': constant('Politizr\\Constant\\PathConstants::REACTION_UPLOAD_WEB_PATH') ~ PDReaction.fileName} %}
            {% else %}
                Aucune image
            {% endif %}
        </div>
        <i>Note: gestion de l'upload depuis l'écran "Montrer"</i>
    </div>
{% endblock %}

{# Bloc tags #}
{% block form_row_block_tags %}
    {{ adminReactionTags(PDReaction, null, 1, true) }}
{% endblock %}

{# Bloc loc #}
{% block form_row_block_loc %}
    <div class="form-group">
        <label class="control-label">Localisation</label>
        <div>
            {% if (PDReaction.PLCityId) %}
                {{ PDReaction.PLCity }}
            {% elseif (PDReaction.PLDepartmentId) %}
                {{ PDReaction.PLDepartment }}
            {% elseif (PDReaction.PLRegionId) %}
                {{ PDReaction.PLRegion }}
            {% elseif (PDReaction.PLCountryId) %}
                {{ PDReaction.PLCountry }}
            {% else %}
                Aucune localisation renseignée
            {% endif %}
            <br/>
            <i>Note: gestion de la localisation depuis l'écran "Montrer"</i>
        </div>
    </div>
{% endblock %}

{# Bloc notifications #}
{% block form_row_block_notifications %}
    {{ form_row(form['block_notifications']) }}
    <i class="fa fa-exclamation-triangle" aria-hidden="true">&nbsp;Note: cochez cette case génère les notifications "screen" liées à sa <b>publication</b></i>
{% endblock %}
