{# 
Fragment non (html-)structuré exploité partout
Normalisation: nom de fichier sans majuscule ni d'héritage twig
 #}
{% spaceless %}
	{% block authorPhoto %}
		{# TODO / TwigExtension Photo #}
		<a href="{{ path('UserDetail', { 'id': user.id, 'slug': user.slug }) }}">
			{% if (user.FileName) %}
		        <img class="img-rounded" src="{{ asset('uploads/users/'~user.fileName) | imagine_filter('user_mini') }}" alt="{{ user.name }}">
		    {% else %}
		        <img  class="img-rounded" src="{{ asset('bundles/politizrfront/images/default_user.png') | imagine_filter('user_mini') }}" alt="{{ user.name }}">
			{% endif %}
		</a>
		&nbsp;
	{% endblock authorPhoto %}

	{% block authorName %}
		{# Nom & Type #}
		<a href="{{ path('UserDetail', { 'id': user.id, 'slug': user.slug }) }}" class="label {% if user.qualified %}label-danger{% else %}label-info{% endif %}">
			{{ user }}
			{% if user.validated %}
				<span class="fa fa-check-square-o" title="Profil validé"></span>
			{% endif %}
		</a>
		&nbsp;
	{% endblock authorName %}

	{% block authorReputation %}	
		{# Score réputation #}
		<span class="badge alert-success">{{ user.reputationScore }}</span>
		&nbsp;
	{% endblock authorReputation %}

	{% block authorQualification %}
		{# Mandat en cours #}
		{% if user.currentMandate %}
			{% set mandate = user.currentMandate %}
			{% if (mandate) %}
		        <img src="{{ asset('uploads/organizations/'~mandate.organizationLogo) | imagine_filter('organization_mini') }}" alt="{{ mandate.organizationInitials }}">
			{% endif %}	
		{% endif %}
	{% endblock authorQualification %}
{% endspaceless %}
