{% extends 'PolitizrFrontBundle:Fragment\\User:Detail.html.twig' %}

{% block detailPhotoBack %}
    <div class="text-center">
        <form id="form-user-back-photo" action="{{ path('UserBackPhotoUpload') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ user.id }}">
            <div id="upload-file-container">
                <input type="file" name="back-file-name" id="file-name" action="back-file-upload">
                <button action="back-file-select" class="btn btn-success">Choisir la photo</button>
                <button action="back-file-delete" class="btn btn-danger">Supprimer la photo</button>
            </div>
        </form>
    </div>
{% endblock detailPhotoBack %}

{% block detailPhoto %}
    {# Photo #}
    <div class="col-sm-4">
        <div id="current-photo">
            {{ user | photo('user_bio') }}
        </div>
        <form id="form-user-photo" action="{{ path('UserPhotoUpload') }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ user.id }}">
            <div id="upload-file-container">
                <input type="file" name="file-name" id="file-name" action="file-upload">
                <button action="file-select" class="btn btn-success">Choisir la photo</button>
                <button action="file-delete" class="btn btn-danger">Supprimer la photo</button>
            </div>
        </form>
    </div>
{% endblock %}


{% block detailSubtitle %}
    {{ form_start(form, {'style': 'horizontal', 'attr': {'id': 'form-user-update'}}) }}
        {{ form_errors(form) }}

        {{ form_row(form.biography) }}

        <h4>{{ form_widget(form.subtitle) }}</h4>
{% endblock %}


{% block detailWebsite %}
    {{ form_widget(form.website) }}
{% endblock %}

{% block detailTwitter %}
    {{ form_widget(form.twitter) }}
{% endblock %}

{% block detailFacebook %}
    {{ form_widget(form.facebook) }}

    {{ form_end(form) }}
{% endblock %}


{% block detailTags %}
    {# Tags #}
    <hr>
    <div class="row text-center">
        <div class="col-sm-12">
            <span class="bg-info">Choisissez les tags géographiques publiques caractérisant votre situation</span>
            {{ userTaggedTagsEdit(user, constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_GEO'), 1, false) }}
        </div>
    </div>
    <hr>
{% endblock %}


{% block detailFollowers %}
{% endblock %}


{% block detailBio %}
    {# Bio #}
    <hr>
    <div class="row jumbotron">
        <div class="bio-editable col-sm-12">
            <p>{{ user.biography | raw  }}</p>
        </div>
    </div>

    {# Enregistrement form #}
    <div class="text-center">
        <a action="user-save" class="btn btn-success">Enregistrer</a>
    </div>    
    <hr>
{% endblock %}

{% block detailQualifications %}
{% endblock %}
