{% if id == constant('Politizr\\Model\\PNotification::ID_D_COMMENT_PUBLISH') %}
    <a action="notification-check" href="{{ authorUrl }}">{{ author }}</a> a commenté "{{ title | slice(0, 50) }}..." sur <a action="notification-check" href="{{ url }}">{{ commentDoc }}</a>.
{% elseif id == constant('Politizr\\Model\\PNotification::ID_D_NOTE_POS') %}
    <a action="notification-check" href="{{ authorUrl }}">{{ author }}</a> a donné une note positive sur <a action="notification-check" href="{{ url }}">{{ title }}</a>.
{% elseif id == constant('Politizr\\Model\\PNotification::ID_D_NOTE_NEG') %}
    <a action="notification-check" href="{{ authorUrl }}">{{ author }}</a> a donné une note négative sur <a action="notification-check" href="{{ url }}">{{ title }}</a>.
{% elseif id == constant('Politizr\\Model\\PNotification::ID_D_D_REACTION_PUBLISH') %}
    <a action="notification-check" href="{{ authorUrl }}">{{ author }}</a> a publié une réaction sur le débat <a action="notification-check" href="{{ url }}">{{ title }}</a>.
{% elseif id == constant('Politizr\\Model\\PNotification::ID_D_D_FOLLOWED') %}
    <a action="notification-check" href="{{ authorUrl }}">{{ author }}</a> s'est abonné au débat <a action="notification-check" href="{{ url }}">{{ title }}</a>.
{% elseif id == constant('Politizr\\Model\\PNotification::ID_D_R_REACTION_PUBLISH') %}
    <a action="notification-check" href="{{ authorUrl }}">{{ author }}</a> a publié une réaction sur <a action="notification-check" href="{{ url }}">{{ title }}</a>.
{% elseif id == constant('Politizr\\Model\\PNotification::ID_D_C_NOTE_POS') %}
    <a action="notification-check" href="{{ authorUrl }}">{{ author }}</a> a donné une note positive sur <a action="notification-check" href="{{ url }}">{{ title }}</a>.
{% elseif id == constant('Politizr\\Model\\PNotification::ID_D_C_NOTE_NEG') %}
    <a action="notification-check" href="{{ authorUrl }}">{{ author }}</a> a donné une note négative sur <a action="notification-check" href="{{ url }}">{{ title }}</a>.
{% elseif id == constant('Politizr\\Model\\PNotification::ID_U_FOLLOWED') %}
    <a action="notification-check" href="{{ authorUrl }}">{{ author }}</a> s'est abonné à votre profil.
{% elseif id == constant('Politizr\\Model\\PNotification::ID_U_BADGE') %}
    Félicitations, vous avez obtenu le badge <a action="notification-check" href="{{ url }}">{{ title }}</a>.
{% endif %}