{# 
LAYOUT USER
-----------------------------
- regroupement un 1 fichier de tous les fragments fonctionnels réutilisables séparément
- objectif > mutualiser / harmoniser les mises à jour du code
- permet aussi de trouver des points communs et de faire de l'héritage parmi les enfants de ce layout
#}

{# Bloc détail d'un user #}
{% block detail %}
	<div class="user-detail">
		{% if not user %}
			<div class="author-infos">
				<span class="label label-danger">Auteur supprimé</span>
			</div>
		{% else %}
			<div class="row text-center">
				{# Photo #}
				<div class="col-sm-4">
					{{ user | photo('user_bio') }}
				</div>

				{# Identité #}
				<div class="col-sm-4">
					<h3>
						<span class="label {% if user.qualified %}label-danger{% else %}label-info{% endif %}">
							{{ user }}
							{% if user.validated %}
								<i class="fa fa-check-square-o" title="Profil validé"></i>
							{% endif %}
						</span>
					</h3>
				</div>

				{# Type #}
				<div class="col-sm-4">
					<h3>
						<span class="badge alert-success">{{ user.reputationScore }}</span>
					</h3>
				</div>
			</div>

			<hr>
			<div class="following row text-center">
				{# Followers #}
				<div class="col-sm-8">
					<div id="followers">
						{{ user | followersUser }}
					</div>
				</div>
				{# Subscribe #}
				<div class="col-sm-4 text-center">
					<div id="subscribe">
						{{ user | linkSubscribeUser }}
					</div>
				</div>
			</div>

			<hr>
			<div class="jumbotron">
				{# Badges #}
				<div class="row text-center">
					<div id="badges">
						{% for badge in user.badges %}
							<span class="label  {{ badgeMetalTwBootClass(badge.PRBadgeMetalId) }}">{{ badge.title }}</span>
						{% else %}
							<span class="label label-default">Aucun badge</span>
						{% endfor %}
					</div>
				</div>
				<hr>
				{# Bio #}
				<div class="row">
					<div class="col-sm-12">
						<p>{{ user.biography | raw  }}</p>
					</div>
				</div>

				<hr>
				{# Tags #}
				<div class="row text-center">
					<div class="col-sm-12">
						{{ user | tags(constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) }}
					</div>
				</div>
			</div>

			{# Qualifications #}
			{% if user.qualified %}
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
					        <tr>
					            <th>Date</th>
					            <th>Mandat</th>
					            <th>Organisation</th>
					            <th>Description</th>
					        </tr>
				      	</thead>				
						{% set mandates = user.mandates %}
						{% for mandate in mandates %}
							<tr>
								<td>
							    	{% if (mandate.isCurrent) %}
							    		<span class="label label-info">Depuis le {{ mandate.beginAt | date('d/m/Y') }}</span>
							    	{% else %}
							    		<span class="label label-info">Du {{ mandate.beginAt | date('d/m/Y') }} au {{ mandate.endAt | date('d/m/Y') }}</span>
							    	{% endif %}
								</td>
								<td><span class="label label-danger">{{ mandate.mandateTypeTitle }}</span></td>
								<td>
									{% if (mandate.organizationLogo) %}
							            <img class="img-rounded" src="{{ asset('uploads/organizations/'~mandate.organizationLogo) | imagine_filter('organization_mini') }}" alt="{{ mandate.organizationInitials }}">
							        {% else %}
							            <span class="label label-info">{{ mandate.organizationInitials }}</span>
							    	{% endif %}
								</td>
								<td>{{ mandate.description | raw  }}</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="4">
									Aucun mandat rédigé pour le moment
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			{% endif %}

		{% endif %}
	</div>
{% endblock detail %}

{# Bloc ligne de listing de users #}
{% block listRow %}
	<div class="user-list-row">
		<div class="row">
			<div class="col-sm-6">
				{% if user %}
					{% include 'PolitizrFrontBundle:Fragment\\User:author.html.twig' with { 'user': user } only %}
				{% else %}
					<span class="label label-default">Utilisateur supprimé</span>
				{% endif %}
			</div>
			<div class="col-sm-2 text-center">
				<span class="badge alert-info">{{ user.countDebates }} débats</span>
			</div>
			<div class="col-sm-2 text-center">
				<span class="badge alert-danger">{{ user.countReactions }} réactions</span>
			</div>
			<div class="col-sm-2 text-center">
				<span class="badge alert-warning">{{ user.countComments }} commentaires</span>
			</div>
		</div>
	</div>
{% endblock listRow %}
