{% extends 'PolitizrFrontBundle:Fragment\\User:ListRow.html.twig' %}

{% block listStat %}
{% endblock listStat %}

{% block listSubscribe %}
    {{ parent() }}
    <div class="col-sm-2 text-center">
        Notification nouveau débat
        {% if user.isNotified(app.user.id, 'debate') %}
            <span class="fa fa-check-square-o" subject-id="{{ user.id }}" context="debate" action="notif-unsubscribe"></span>
        {% else %}
            <span class="fa fa-square-o" subject-id="{{ user.id }}" context="debate" action="notif-subscribe"></span>
        {% endif %}
    </div>
    <div class="col-sm-2 text-center">
        Notification nouvelle réaction
        {% if user.isNotified(app.user.id, 'reaction') %}
            <span class="fa fa-check-square-o" subject-id="{{ user.id }}" context="reaction" action="notif-unsubscribe"></span>
        {% else %}
            <span class="fa fa-square-o" subject-id="{{ user.id }}" context="reaction" action="notif-subscribe"></span>
        {% endif %}
    </div>
    <div class="col-sm-2 text-center">
        Notification nouveau commentaire
        {% if user.isNotified(app.user.id, 'comment') %}
            <span class="fa fa-check-square-o" subject-id="{{ user.id }}" context="comment" action="notif-unsubscribe"></span>
        {% else %}
            <span class="fa fa-square-o" subject-id="{{ user.id }}" context="comment" action="notif-subscribe"></span>
        {% endif %}
    </div>
{% endblock listSubscribe %}
