{# 
LAYOUT COMMENT
-----------------------------
- regroupement un 1 fichier de tous les fragments fonctionnels réutilisables séparément
- objectif > mutualiser / harmoniser les mises à jour du code
- permet aussi de trouver des points communs et de faire de l'héritage parmi les enfants de ce layout
#}

{# Bloc commentaires d'un document (débat ou réaction) #}
{% block documentRow %}
	<div class="comment-document-row">
		<div class="row">
			{# User #}		
			<div class="col-sm-2 text-center">
				{% include 'PolitizrFrontBundle:Fragment\\User:author.html.twig' with { 'user': comment.user } only %}
			</div>

			{# Description #}
			<div class="col-sm-8">
				<em>"{{ comment.description }}"</em>
			</div>

			{# Date #}
			<div class="col-sm-2 text-center">
				{% include 'PolitizrFrontBundle:Fragment\\Global:PublishedAt.html.twig' with { 'object': comment, 'format': 'medium' } only %}
			</div>
		</div>

		{# Notation #}
		<div class="comment-author row text-center">
			<div class="notes col-sm-12">
				{{ linkNote(comment, constant('Politizr\\Model\\PDocument::TYPE_COMMENT')) }}
			</div>
		</div>
	</div>
{% endblock documentRow %}

{# Bloc listing de commentaires #}
{% block listRow %}
	<div class="comment-list-row">
		<div class="row">
			{# Description + lien #}
			<div class="col-sm-10">
				{% if comment.type == constant('Politizr\\Model\\PDocument::TYPE_DEBATE') %}
					<a href="{{ path('DebateDetail', { 'id': comment.document.id, 'slug': comment.debate.slug }) }}">
				{% elseif comment.type == constant('Politizr\\Model\\PDocument::TYPE_REACTION') %}
					<a href="{{ path('ReactionDetail', { 'id': comment.document.id, 'slug': comment.reaction.slug }) }}">
				{% endif %}
					<em>"{{ comment.description }}"</em>
				</a>
			</div>

			{# Date #}
			<div class="col-sm-2 text-center">
				{% include 'PolitizrFrontBundle:Fragment\\Global:PublishedAt.html.twig' with { 'object': comment, 'format': 'medium' } only %}
			</div>
		</div>

		{% block listAuthor %}
			{# User #}
			<div class="row">
				<div class="col-sm-12">
					{% include 'PolitizrFrontBundle:Fragment\\User:author.html.twig' with { 'user': comment.user } only %}
				</div>
			</div>
		{% endblock %}
	</div>
{% endblock listRow %}

{% block counter %}
	<a class="badge alert-warning" action="comments" object-id="{{ document.id }}" no-paragraph="{{ paragraphNo }}">{{ document.countComments(true, paragraphNo) }}</a>
{% endblock counter %}

{% block form %}
	<div class="comment-perso">
		<div class="comment-edit row">
			<div class="col-sm-2 text-center">
				{{ app.user | photo('user_mini') }}
			</div>
			<div class="col-sm-8 text-center">
				{{ form_start(formComment, {'style': 'horizontal', 'attr': {'id': 'form-comment-new'} }) }}
				    {{ form_errors(formComment) }}

				    {{ form_widget(formComment.description) }}
					{% if formComment.description.vars.errors|length %}
		        		<div class="field_error">{{ form_errors(formComment.description) }}</div>
		        	{% endif %}

				{{ form_end(formComment) }}
			</div>
			<div class="col-sm-2 text-center">
				{% if app.user %}
					<input type="button" value="Commenter" class="btn btn-success" action="btn-submit-comment" />		
				{% else %}
					<a class="btn btn-primary btn-xs" href="{{ path('Inscription') }}">M'inscrire pour commenter</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock form %}

{# Bloc ligne de la timeline #}
{% block timelineRow %}

	{% if comment.type == constant('Politizr\\Model\\PDocument::TYPE_DEBATE') %}
		{% set route = path('DebateDetail', { 'id': comment.document.id, 'slug': comment.debate.slug }) %}
	{% elseif comment.type == constant('Politizr\\Model\\PDocument::TYPE_REACTION') %}
		{% set route = path('ReactionDetail', { 'id': comment.document.id, 'slug': comment.reaction.slug }) %}
	{% endif %}

	<div class="timeline-row">
		{# Accroche #}
		<div class="row">
			<div class="col-sm-1 text-center">
				<h4><i class="fa fa-twitch"></i></h4>
			</div>
			<div class="col-sm-2 text-center">
				{% include 'PolitizrFrontBundle:Fragment\\Global:PublishedAt.html.twig' with { 'object': comment, 'format': 'medium' } only %}
			</div>
			<div class="col-sm-8">
				<h4 {% if isParentMine %} class="bg-info"{% endif %}>
					{% include 'PolitizrFrontBundle:Fragment\\User:authorName.html.twig' with { 'user': comment.user } only %} a rédigé un <a class="label label-info" href="{{ route }}">commentaire</a>
					{% if comment.type == constant('Politizr\\Model\\PDocument::TYPE_DEBATE') %}
						sur {% if isParentMine %}votre{% else %}le{% endif %} débat
					{% elseif comment.type == constant('Politizr\\Model\\PDocument::TYPE_REACTION') %}
						sur {% if isParentMine %}votre{% else %}la{% endif %} réaction
					{% endif %}
					<a href="{{ route }}">{{ comment.document }}</a>
				</h4>
			</div>
			<div class="col-sm-1 text-center">
				<a class="fa fa-info" action="more-info"></a>
			</div>
		</div>

		{# Infos générales #}
		<div class="jumbotron">
			<div class="row">
				{# Description  #}
				<div class="col-sm-12">
						<em>"{{ comment.description }}"</em>
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock timelineRow %}
