<label class="help">
    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Liste des utilisateurs ayant accès au groupe et ayant l'autorisation de publier des réponses</li>
</label>

<form id="formAttr3" name="formAttr3">
    <input type="hidden" id="no" name="no" value="3">
    <input type="hidden" id="circleId" name="circleId" value="{{ circleId }}">
</form>

{{ form_start(formFilter3, {'attr': {'id': 'filterUsers3', 'name': 'filterUsers3', 'novalidate': 'novalidate' }}) }}
    {{ form_errors(formFilter3) }}
    {{ form_row(formFilter3.only_elected) }}
    {{ form_row(formFilter3.city_insee_code) }}
    {{ form_row(formFilter3.department_code) }}
    <a class="generic-action btn btn-default" action="filterForm3">Filtrer</a>
{{ form_end(formFilter3) }}

{{ form_start(formUsers3, {'action': path('Politizr_AdminBundle_PCircle_removeUsersIsAuthorizedReactionToCircle'), 'method': 'POST', 'attr': {'id': 'users3', 'name': 'users3', 'novalidate': 'novalidate' }}) }}
    {{ form_errors(formUsers3) }}
    {{ form_row(formUsers3.p_users) }}
    <div class="form-model-actions row">
        <div class="form-model-actions-generic col-md-12" role="generic-actions">
            <button type="submit" class="generic-action btn btn-warning"><i class="fa fa-fw fa-remove"></i>Retirer l'autorisation de publier des réponses
        </div>
    </div>
{{ form_end(formUsers3) }}
