{# beta #}
<h5>Activité</h5>
<form id="activityFilter">
    <input type="radio" class="activityFilter" name="activityFilter[]" value="{{ constant('Politizr\\Constant\\ListingConstants::ORDER_BY_KEYWORD_LAST') }}" id="activityFilterLast" checked/>
    <label for="activityFilterLast"><i class="icon-check"></i>Plus récents</label>
    <input type="radio" class="activityFilter" name="activityFilter[]" value="{{ constant('Politizr\\Constant\\ListingConstants::ORDER_BY_KEYWORD_BEST_NOTE') }}" id="activityFilterBestNote"/>
    <label for="activityFilterBestNote"><i class="icon-check"></i>Meilleures notes</label>
    {#
    <input type="radio" class="activityFilter" name="activityFilter[]" value="{{ constant('Politizr\\Constant\\ListingConstants::ORDER_BY_KEYWORD_MOST_VIEWS') }}" id="activityFilterMostViews"/>
    <label for="activityFilterMostViews"><i class="icon-check"></i>Plus vus</label>
    <input type="radio" class="activityFilter" name="activityFilter[]" value="{{ constant('Politizr\\Constant\\ListingConstants::ORDER_BY_KEYWORD_MOST_FOLLOWED') }}" id="activityFilterMostFollowed"/>
    <label for="activityFilterMostFollowed"><i class="icon-check"></i>Plus suivis</label>
    <input type="radio" class="activityFilter" name="activityFilter[]" value="{{ constant('Politizr\\Constant\\ListingConstants::ORDER_BY_KEYWORD_MOST_REACTIONS') }}" id="activityFilterMostReactions"/>
    <label for="activityFilterMostReactions"><i class="icon-check"></i>Plus de réponses</label>
    <input type="radio" class="activityFilter" name="activityFilter[]" value="{{ constant('Politizr\\Constant\\ListingConstants::ORDER_BY_KEYWORD_MOST_COMMENTS') }}" id="activityFilterMostComments"/>
    <label for="activityFilterMostComments"><i class="icon-check"></i>Plus de commentaires</label>
    #}
</form>
