{% set layout = 'PolitizrFrontBundle::layoutC.html.twig' %} 
{% if (isGrantedE()) %}
	{% set layout = 'PolitizrFrontBundle::layoutE.html.twig' %}
{% endif %}
{% extends layout %}

{% block stylesheets %}
	{{ parent() }}

	{# medium clone editor #}
	<link rel="stylesheet" href="{{ asset('components/medium-editor/dist/css/themes/bootstrap.css') }}"> {# theme #}
{% endblock %}

{% block main %}
	<div id="main" class="container">
		<h1>Mon débat</h1>
		<p class="bg-info">Editez votre brouillon, sauvegardez le régulièrement, taggez le, puis prévisualisez le afin de pouvoir le publier. Attention, une fois publié, vous ne pourrez plus le retoucher.</p>
		<div id="box-edit-debate">
			<p class="text-muted">Bandeau</p>
			<div class="row text-center">
				<div id="current-photo">
					{% if (debate.fileName) %}
			            <img class="img-rounded" src="{{ asset('uploads/documents/'~debate.fileName) }}">
			        {% else %}
			            <p>Aucune photo téléchargée</p>
		        	{% endif %}
				</div>
			    <form id="form-document-photo" action="{{ path('DocumentPhotoUpload') }}" method="post" enctype="multipart/form-data">
			    	<input type="hidden" name="id" value="{{ debate.id }}">
			    	<div id="upload-file-container">
			        	<input type="file" name="file-name" id="file-name">
			        	<button id="file-select">Choisir la photo</button>
			        	<button id="file-delete">Supprimer la photo</button>
			        </div>
			    </form>
			</div>
			

			{{ form_start(form, {'style': 'horizontal', 'attr': {'id': 'form-debate-update'}}) }}
			    {{ form_errors(form) }}

			    {{ form_row(form.summary) }}
			    {{ form_row(form.description) }}

			    <div class="form-group">
					<div class="col-lg-12">
						<p class="text-muted">Titre</p>
					    {{ form_widget(form.title) }}
					</div>
				</div>
			    <div class="form-group">
					<div class="col-lg-12">
						<p class="text-muted">Résumé</p>
					    <div class="summary-editable">
					    	{{ debate.summary | raw }}
					    </div>
					</div>
				</div>
			    <hr>
			    <div class="form-group">
					<div class="col-lg-12">
						<p class="text-muted">Description</p>
					    <div class="description-editable">
					    	{{ debate.description | raw }}
					    </div>
					</div>
				</div>
			    <hr>
				<p class="text-muted">Tags géographiques</p>
				{{ debateTagsEdit(debate, constant('\\Politizr\\Model\\PTTagType::TYPE_GEO'), 1, false) }}
			    <hr>
			    <p class="text-muted">Tags thématiques</p>
				{{ debateTagsEdit(debate, constant('\\Politizr\\Model\\PTTagType::TYPE_THEME'), 2, true) }}
			    <hr>
				{% set urlBack = path('MyDraftsC') %}
				{% if isGrantedE() %}
					{% set urlBack = path('MyDraftsE') %}
				{% endif %}
				<div class="col-lg-offset-2 col-lg-10">
					<button type="submit" class="btn btn-success">Enregistrer</button>
					<a action="debate-preview" class="btn btn-info">Prévisualiser</a>
					<a action="debate-delete" class="btn btn-warning" url="{{ urlBack }}">Supprimer</a>
					<a action="debate-list" class="btn btn-primary" url="{{ urlBack }}">Retour</a>
				</div>	
			{{ form_end(form) }}
		</div>
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}

	{# Tags #}
	{% include 'PolitizrFrontBundle:JS:editTags.js.twig' with { 'nbZones': 2 } %}

    {# medium clone editor #}
    <script src="{{ asset('components/medium-editor/dist/js/medium-editor.min.js') }}"></script>
    <script src="{{ asset('components/classList.js/classList.min.js') }}"></script> <!-- IE9 compatibility -->
    
    {# Upload ajax #}
	<script type="text/javascript" src="{{ asset('components/form/jquery.form.js') }}"></script>

    {% include 'PolitizrFrontBundle:JS:debateEdit.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:documentUploadPhoto.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:debatePublishDelete.js.twig' %}
{% endblock javascriptFooter %}
