{% extends 'PolitizrFrontBundle::layoutE.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	{# medium clone editor #}
	<link rel="stylesheet" href="{{ asset('components/medium-editor/dist/css/themes/bootstrap.min.css') }}"> {# theme #}
{% endblock %}

{% block main %}
	<div id="main" class="container">
		<p class="bg-info">Trouvez un titre accrocheur pour votre réaction.</p>
		<p class="bg-info">Attention, une fois publié, vous ne pourrez plus modifier votre réaction.</p>
		<hr>
		{% include 'PolitizrFrontBundle:Fragment\\Reaction:DetailDraft.html.twig' with { 'reaction': reaction, 'form': form } %}
	    <hr>
		{% set urlBack = path('MyDraftsC') %}
		{% set urlPublishBack = path('ContribDashboardC') %}
		{% if isGrantedE() %}
			{% set urlBack = path('MyDraftsE') %}
			{% set urlPublishBack = path('ContribDashboardE') %}
		{% endif %}
		<div class="text-center">
			<a action="reaction-save" class="btn btn-success">Enregistrer</a>
			<a action="reaction-list" class="btn btn-primary" url="{{ urlBack }}">Retour</a>
			<a action="reaction-delete" class="btn btn-danger" url="{{ urlBack }}">Supprimer</a>
			<a action="reaction-publish" class="btn btn-warning" object-id="{{ reaction.id }}" url="{{ urlPublishBack }}">Publier</a>
		</div>	
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}

    {# medium clone editor #}
    <script src="{{ asset('components/medium-editor/dist/js/medium-editor.min.js') }}"></script>
    <script src="{{ asset('components/classList.js/classList.min.js') }}"></script> <!-- IE9 compatibility -->
    
    {# Upload ajax #}
	<script type="text/javascript" src="{{ asset('components/form/jquery.form.js') }}"></script>

    {% include 'PolitizrFrontBundle:JS:reactionEdit.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:documentUploadPhoto.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:reactionPublishDelete.js.twig' %}
{% endblock javascriptFooter %}
