{% extends_admingenerated "PolitizrAdminBundle:PUserEdit:form.html.twig" %}

{# Image block #}
{% block form_row_block_file_name %}
    <div class="form-group col-md-4">
        <label class="control-label">Image</label>
        <div id="dropzone" class="dropzone" path="{{ path('Politizr_AdminBundle_PUser_filename_upload', {'pk': PUser.id}) }}" deletePath="{{ path('Politizr_AdminBundle_PUser_filename_delete', {'pk': PUser.id}) }}" {% if PUser.FileName %}currentFileName="{{ PUser.FileName }}" uploadPath="{{ constant('Politizr\\Constant\\PathConstants::USER_UPLOAD_WEB_PATH') }}" fileSize="{{ PUser | userFileSize }}"{% endif %}>
            <div class="dz-message uploadLink" data-dz-message><span class="btn btn-primary">Télécharger</span></div>
        </div>
        <div id="dz-preview-container">
        </div>
        {% include "PolitizrAdminBundle:Fragment:_dropzoneTemplate.html.twig" %}
    </div>
{% endblock %}

{# User's tag #}
{% block form_row_block_tags_public %}
    {{ adminUserTags(PUser, null, 1, true, true) }}
{% endblock %}

{% block form_row_block_reputation %}
    {{ adminUserReputation(PUser) }}
{% endblock %}
