{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {# medium clone editor #}
    <link rel="stylesheet" href="{{ asset('components/medium-editor/dist/css/themes/bootstrap.min.css') }}"> {# theme #}
{% endblock %}
{% block main %}
    <div id="main">
        <h3>Mon profil public</h3>
        {% include 'PolitizrFrontBundle:Fragment\\User:DetailEdit.html.twig' with { 'user': user, 'form': formBio } %}
        
        <hr>

        <h3>Mes thématiques privés</h3>
        <div id="box-tags">
            <p class="bg-info">Ajoutez un maximum de tags que vous désirez suivre.</p>
            {{ userFollowTagsEdit(user, null, 2, true) }}
        </div>
                
        <hr>

        <h3>Mes affinités politiques</h3>
        <div id="affinities">
            {{ form_start(formAffinities, {'style': 'horizontal', 'attr': {'id': 'form-affinities-update'}}) }}
                {{ form_errors(formAffinities) }}

                {{ form_row(formAffinities.PUAffinityQOPQOrganizations) }}
            {{ form_end(formAffinities) }}
            {# Modifications des affinités #}
            <div class="text-center">
                <a action="affinities-update" class="btn btn-warning">Modifier</a>
            </div>
        </div>
        
        <hr>

    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {# Tags #}
    {% include 'PolitizrFrontBundle:JS:editTags.js.twig' with { 'nbZones': 2 } %}

    {# medium clone editor #}
    <script src="{{ asset('components/medium-editor/dist/js/medium-editor.min.js') }}"></script>
    <script src="{{ asset('components/classList.js/classList.min.js') }}"></script> <!-- IE9 compatibility -->
    
    {# Upload ajax #}
    <script type="text/javascript" src="{{ asset('components/form/jquery.form.js') }}"></script>

    {% include 'PolitizrFrontBundle:JS:userEdit.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:userUploadPhoto.js.twig' %}

    {% include 'PolitizrFrontBundle:JS:profileEdit.js.twig' %}

    <script>
        $('#header').css('background-image', 'url({{ user | photoBack("user_bio_back") }})');
    </script>

{% endblock javascriptFooter %}
