{% extends 'PolitizrFrontBundle::layoutC.html.twig' %}


{% block main %}
	<div id="main" class="container">
		<h3>Suggestions de débats par tags géographiques</h3>
		<div class="user-tags">
			<div class="row text-center">
				{{ userFollowTags(app.user, constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) }}
			</div>
		</div>
		<hr>
		{% for debate in debatesGeo %}
			{# include 'PolitizrFrontBundle:Fragment:DocumentMiniBlock.html.twig' with { 'document': debate, 'objectType': 'PDDebate', 'withAuthor': true } #}
			{% include 'PolitizrFrontBundle:Fragment:DebateBlock.html.twig' with { 'debate': debate, 'full': false, 'withMoreInfos': true } %}
		{% else %}
			<div class="no-results">
				<a class="btn btn-primary" href="{{ path('MyTagsC') }}">Aucun débat ne correspond à vos tags suivis</a>
			</div>
		{% endfor %}
		<div class="border-row">&nbsp;</div>
		<h3>Suggestions de débats par tags thématiques</h3>
		<div class="user-tags">
			<div class="row text-center">
				{{ userFollowTags(app.user, constant('\\Politizr\\Model\\PTTagType::TYPE_THEME')) }}
			</div>
		</div>
		<hr>
		{% for debate in debatesTheme %}
			{# include 'PolitizrFrontBundle:Fragment:DocumentMiniBlock.html.twig' with { 'document': debate, 'objectType': 'PDDebate', 'withAuthor': true } #}
			{% include 'PolitizrFrontBundle:Fragment:DebateBlock.html.twig' with { 'debate': debate, 'full': false, 'withMoreInfos': true } %}
		{% else %}
			<div class="no-results">
				<a class="btn btn-primary" href="{{ path('MyTagsC') }}">Aucun débat ne correspond à vos tags suivis</a>
			</div>
		{% endfor %}
		<div class="border-row">&nbsp;</div>
		<h3>Suggestions d'élus par tags géographiques</h3>
		<div class="user-tags">
			<div class="row text-center">
				{{ userFollowTags(app.user, constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) }}
			</div>
		</div>
		<hr>
		{% for user in usersGeo %}
			{% include 'PolitizrFrontBundle:Fragment:UserBlock.html.twig' with { 'pUser': user, 'full': false } %}
		{% else %}
			<div class="no-results">
				<a class="btn btn-primary" href="{{ path('MyTagsC') }}">Aucun élu ne correspond à vos tags suivis</a>
			</div>
		{% endfor %}
	</div>
{% endblock main %}


{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:suggestionsC.js.twig' %}
    
    {% include 'PolitizrFrontBundle:JS:follow.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:followers.js.twig' %}
{% endblock javascriptFooter %}
