<div id="edit-tag-zone-{{ zoneId }}">
    {# Variables #}
    <div class="tagsAttr" tag-type-id="{{ tagTypeId }}" subjectId="{{ object.id }}" new-tag="{{ newTag }}" path="{{ path(addPath) }}"></div>
    
    {# Sélection #}
    <input type="text" class="selectedTag" />
    <input type="hidden" class="selectedTagID" />
    <button type="button" action="addTag" class="btn btn-success btn-default">Ajouter</button>

    {# Affichage #}
    <div class="displayTagsZone">
        {% for tag in tags %}
            {% include 'PolitizrFrontBundle:Fragment\\Tag:ListRowEdit.html.twig' with { 'subjectId': object.id, 'tag': tag, 'deleteUrl': path(deletePath) } %}&nbsp;
        {% endfor %}
    </div>
</div>
