{# 
LAYOUT TAG
-----------------------------
- regroupement un 1 fichier de tous les fragments fonctionnels réutilisables séparément
- objectif > mutualiser / harmoniser les mises à jour du code
- permet aussi de trouver des points communs et de faire de l'héritage parmi les enfants de ce layout
#}

{# Bloc détail d'un tag éditable #}
{% block listRowEdit %}
    {% if (tag.ptTagTypeId == constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_GEO')) %}
        {% set twbLabel = "success" %}
    {% elseif (tag.ptTagTypeId == constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_THEME'))%}
        {% set twbLabel = "primary" %}
    {% else %}
        {% set twbLabel = "default" %}
    {% endif %}

    <span class="tag label label-{{ twbLabel }}">
        <i class="fa fa-tag"></i>&nbsp;{{ tag.title }}
        <a action="deleteTag" class="fa fa-close" path="{{ deleteUrl }}" tag-id="{{ tag.id }}" subjectId="{{ subjectId }}"></a>
    </span>
{% endblock listRowEdit %}

{# Bloc détail d'un tag lecture seule #}
{% block listRowRead %}
    {% if (tag.ptTagTypeId == constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_GEO')) %}
        {% set twbLabel = "success" %}
    {% elseif (tag.ptTagTypeId == constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_THEME'))%}
        {% set twbLabel = "primary" %}
    {% else %}
        {% set twbLabel = "default" %}
    {% endif %}

    <a class="tag label label-{{ twbLabel }}" href=""><i class="fa fa-tag"></i>&nbsp;{{ tag.title }}</a>
{% endblock listRowRead %}
