{% verbatim %}
<script type="text/html" id="hit-template">
    <div class="hit">
      <div class="hit-image">
        <img src="{{image}}" alt="{{title}}">
      </div>
      <div class="hit-content">
        <h2 class="hit-title"><a href="{{url}}">{{{_highlightResult.title.value}}}</a></h2>
        <p class="hit-description">{{{_highlightResult.description.value}}}</p>
        <a href="{{url}}" class="hit-url">En savoir plus</a>
      </div>
    </div>
</script>
{% endverbatim %}
