<div class="noResult">
    {% if type == constant('Politizr\\Constant\\ListingConstants::MODAL_TYPE_SEARCH') %}
        {% if context == constant('Politizr\\Constant\\ListingConstants::MODAL_DEBATES') %}
            Aucun débat ne correspond à votre recherche.
        {% elseif context == constant('Politizr\\Constant\\ListingConstants::MODAL_REACTIONS') %}
            Aucune réaction ne correspond à votre recherche.
        {% elseif context == constant('Politizr\\Constant\\ListingConstants::MODAL_USERS') %}
            Aucun utilisateur ne correspond à votre recherche.
        {% endif %}
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::MODAL_TYPE_RANKING') %}
        {% if context == constant('Politizr\\Constant\\ListingConstants::MODAL_DEBATES') %}
            Aucun débat ne correspond à ce classement.
        {% elseif context == constant('Politizr\\Constant\\ListingConstants::MODAL_USERS') %}
            Aucun utilisateur ne correspond à ce classement.
        {% endif %}
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::MODAL_TYPE_SUGGESTION') %}
        {% if context == constant('Politizr\\Constant\\ListingConstants::MODAL_DEBATES') %}
            Nous ne pouvons pas vous suggérer de nouveaux débats: ajoutez des thématiques à vos centres d'intérêt depuis votre <a href="{{ path('UserDetail'~profileSuffix(), { 'slug': app.user.slug }) }}">profil</a>.
        {% elseif context == constant('Politizr\\Constant\\ListingConstants::MODAL_REACTIONS') %}
            Nous ne pouvons pas vous suggérer de nouvelles réactions: ajoutez des thématiques à vos centres d'intérêt depuis votre <a href="{{ path('UserDetail'~profileSuffix(), { 'slug': app.user.slug }) }}">profil</a>.
        {% elseif context == constant('Politizr\\Constant\\ListingConstants::MODAL_USERS') %}
            Nous ne pouvons pas vous suggérer de nouveaux utilisateurs: ajoutez des thématiques à vos centres d'intérêt depuis votre <a href="{{ path('UserDetail'~profileSuffix(), { 'slug': app.user.slug }) }}">profil</a>.
        {% endif %}
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::MODAL_TYPE_TAG') %}
        {% if context == constant('Politizr\\Constant\\ListingConstants::MODAL_DEBATES') %}
            Aucun débat ne correspond à cette thématique.
        {% elseif context == constant('Politizr\\Constant\\ListingConstants::MODAL_REACTIONS') %}
            Aucune réaction ne correspond à cette thématique.
        {% elseif context == constant('Politizr\\Constant\\ListingConstants::MODAL_USERS') %}
            Aucun utilisateur ne correspond à cette thématique.
        {% endif %}
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::MODAL_TYPE_ORGANIZATION') %}
        {% if context == constant('Politizr\\Constant\\ListingConstants::MODAL_DEBATES') %}
            Aucun débat ne correspond à cette organisation.
        {% elseif context == constant('Politizr\\Constant\\ListingConstants::MODAL_USERS') %}
            Aucun utilisateur ne correspond à cette organisation.
        {% endif %}
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::MODAL_TYPE_FOLLOWED') %}
        {% if context == constant('Politizr\\Constant\\ListingConstants::MODAL_DEBATES') %}
            Vous ne suivez aucun débat.
        {% elseif context == constant('Politizr\\Constant\\ListingConstants::MODAL_USERS') %}
            Vous ne suivez aucun utilisateur.
        {% endif %}
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::MODAL_TYPE_FOLLOWER') %}
        {% if context == constant('Politizr\\Constant\\ListingConstants::MODAL_USERS') %}
            Aucun utilisateur ne vous suit.
        {% endif %}
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::TIMELINE_TYPE') %}
        Votre fil d'actualité est vide, suivez des utilisateurs ou des débats pour le remplir.
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::TIMELINE_USER_TYPE') %}
        Cet utilisateur n'a pas publié de commentaires, débats ou réactions.
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::FEED_DEBATE_TYPE') %}
        Le fil de ce débat est vide.
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::MY_DRAFTS_TYPE') %}
        Vous n'avez rédigé aucun brouillon.
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::MY_PUBLICATIONS_TYPE') %}
        Vous n'avez publié aucun débat ni aucune réaction.
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::DASHBOARD_TYPE_MAP') %}
        {% if context == constant('Politizr\\Constant\\ListingConstants::DASHBOARD_DEBATES') %}
            Aucun débat n'a été publié durant le laps de temps recherché et associé à cette localisation.
        {% elseif context == constant('Politizr\\Constant\\ListingConstants::DASHBOARD_USERS') %}
            Aucun utilisateur ne s'est inscrit durant le laps de temps recherché et associé à cette localisation.
        {% endif %}
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::DASHBOARD_TYPE_TOP_DEBATES') %}
        Aucun débat n'a été publié durant le laps de temps recherché.
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::DASHBOARD_TYPE_TOP_USERS') %}
        Aucun utilisateur n'a été créé durant le laps de temps recherché.
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::DASHBOARD_TYPE_GEO_DEBATES') %}
        Aucun débat n'a été publié sur cette zone géographique.
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::DASHBOARD_TYPE_GEO_USERS') %}
        Aucun utilisateur ne s'est inscrit avec cette zone géographique en centre d'intéret.
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::DASHBOARD_TYPE_SUGGESTION_DEBATES') %}
        Nous ne pouvons pas vous suggérer de nouveaux débats: ajoutez des thématiques à vos centres d'intérêt depuis votre <a href="{{ path('UserDetail'~profileSuffix(), { 'slug': app.user.slug }) }}">profil</a>.
    {% elseif type == constant('Politizr\\Constant\\ListingConstants::DASHBOARD_TYPE_SUGGESTION_USERS') %}
        Nous ne pouvons pas vous suggérer de nouveaux utilisateurs: ajoutez des thématiques à vos centres d'intérêt depuis votre <a href="{{ path('UserDetail'~profileSuffix(), { 'slug': app.user.slug }) }}">profil</a>.
    {% endif %}
</div>
