<div id="organizationSheetLogo">
    <img src="{{ asset('uploads/organizations/'~subject.fileName) | imagine_filter('organization_detail') }}" alt="{{ subject.initials }}">
</div>
<h1>{{ subject.title }}</h1>
<div class="organizationSheetInitials">
    <div class="organization">{{ subject.initials }}</div>
</div>
<div class="wikiSample">
    {{ subject.description | raw }}
    <div class="wikiSampleMask"></div>
</div>
<div class="wikiLink">
    <a href="{{ subject.url }}" target="_blank">afficher la suite sur wikipédia</a>
</div>
<h1>Profils correspondants</h1>
<div id="paginatedList" class="listContainer" url="{{ path('OrganizationUserList') }}" withFilters="true" data-subject-id="{{ subject.id }}">
    <div class="listCriteria criteriaSidebar">
        <form id="listOrder"></form>
        <form id="listFilter"></form>
    </div>
    <div id="listContent" class="modalList withSidebar"></div>
</div>
