{# beta #}
{% for publication in publications %}
    {{ publicationRow(publication, true) }}
{% endfor %}
{% if app.user %}
    <div id="listingScrollNav" class="scrollNav">
        {% if moreResults %}
            <a id="moreResults" action="listingNext" class="waypoint" offset="{{ offset }}"{% if uuid is defined %} uuid="{{ uuid }}"{% endif %} key="{{ jsFunctionKey }}">suite</a>
        {% endif %}
    </div>
{% else %}
    <a class="linkCreateAccount" href="{{ path('Inscription') }}"><i class="icon-alert"></i>Inscription pour voir plus de résultats</a>
{% endif %}