{% verbatim %}
<div class="cycle-slideshow" data-cycle-fx="fade" data-cycle-timeout="0" data-cycle-slides="> div.slideImg" data-cycle-prev=".slidePrev" data-cycle-next=".slideNext">
{% endverbatim %}
    {% for media in medias %}
        <div class="slideImg">
            {% if media.title or media.description %}
                <div class="slideCaption">
                    {% if media.title %}
                        <h2>{{ media.title }}</h2>
                    {% endif %}
                    {{ media.description }}
                </div>
            {% endif %}
            <a class="fancybox" data-fancybox="group" href="{{ asset('uploads/'~media.name) | imagine_filter('content_big_slider') }}">
                <img src="{{ asset('uploads/'~media.name) | imagine_filter('content_slider') }}" alt="{{ media.title }}">
            </a>
        </div>
    {% endfor %}
    {% if medias | length > 1 %}
        <div class="slideNav">
            <div class="slidePrev"><i class="icon-arrow-left"></i></div>
            <div class="slideNext"><i class="icon-arrow-right"></i></div>
        </div>
    {% endif %}
</div>