{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% set metaTitle = content.title | purify | trim %}
{% set metaDescription = content.description | striptags | truncate(160, true) | purify %}
{% set ogDescription = content.description | striptags | truncate(295, true) | purify %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ ogDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/selection-sharer.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/jquery.fancybox.min.css') }}">
{% endblock %}

{% block javascriptHeader %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.cycle2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.cycle2.swipe.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.fancybox.min.js') }}"></script>
{% endblock %}

{% block content %}

<div id="content" class="grpCMS">
    <div class="post">
        <div id="cardPost">
            <div class="grpCMStitre">{{ content.title }}</div>
            {{ content.summary | purify }}
            {% if medias | length > 0 %}
                <div id="contentSlide">
                    {% include 'PolitizrFrontBundle:CmsContent:_slider.html.twig' %}
                </div>
            {% endif %}
            <script type="text/javascript">
                $(".slideImg").imgLiquid({
                    fill: true,
                    horizontalAlign: "center",
                    verticalAlign: "center"
                });
            </script>
            {{ content.description | purify }}
            {% if content.urlEmbedVideo %}
                <div class="videoEmbed">
                    {{ content.urlEmbedVideo | raw }}
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}

{% block sidebarContent %}
    <div class="docZoom">
        {% if content.moreInfoTitle %}
            <h5>{{ content.moreInfoTitle | purify }}</h5>
        {% endif %}
        {% if content.moreInfoDescription %}
            {{ content.moreInfoDescription | purify }}
        {% endif %}
    </div>
    {% if documents | length > 0 %}
        {% include 'PolitizrFrontBundle:CmsContent:_docs.html.twig' %}
    {% endif %}
{% endblock %}

{% block javascriptFooter %}
    {{ parent() }}

    <script src="{{ asset('bundles/politizrfront/js/politizr/selection-sharer.js') }}"></script>
    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/detailCmsContent.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
