{% spaceless %}
<tr style="float: left; margin-top: 30px; width: 100%; background: url({{ absolute_url(asset('bundles/politizrfront/imagesMail/h1-badges.jpg')) }}); background-position: center center;">
    <td colspan="2" style="float:left; width: 100%; height: 220px; position: relative;">
        <h1 style="line-height: 100%; font-size: 36px; font-weight: 100; color: #fff; position: absolute; bottom: 0px; left: 30px; width: calc(100% - 60px);">Félicitations!</h1>
    </td>
</tr>
<tr style="background-color: #FFFFFF; width: 100%;">
    <td colspan="2" style="float:left; width: calc(100% - 60px); margin: 0 30px; padding: 30px 0;">
        Vous avez obtenu {% if badges|length > 1 %}les badges{% else %}le badge{% endif %} suivant :
    </td>
</tr>
{% for badge in badges %}
    <tr style="float: left; background-color: #FFFFFF; width: 100%; padding-bottom: 30px;">
        <td style="float:left; width: 80px; margin: 0 0 0 30px;">
            <a href=""><img style="float:left;" src="{{ absolute_url(asset('bundles/politizrfront/imagesMail/badges/ref-badges-xl.png')) }}"/></a>
        </td>
        <td style="float:right; width: calc(100% - 150px); margin: 6px 30px 0 0;">
            <b>"{{ badge['title'] }}"</b><br>
            {{ badge['description'] }}
        </td>
    </tr>
{% endfor %}
<tr style="float: left; background-color: #ddcdb8; width: 100%; margin-bottom: 30px;">
    <td colspan="2" style="float:left; width: calc(100% - 60px); margin: 0 0 0 30px; padding: 30px 0 20px 0;">
        <a href="{{ url('UserDetail', {'slug': user.slug}) }}" style="float: left; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; height: 20px; text-decoration: none; padding: 5px 20px; margin-bottom: 10px; color: #fff; background-color: #c65039">Voir mon profil</a>
        <a href="http://politizr.help/article/badges/" style=" float: right; text-decoration: none; color: #808080; margin: 5px 0 10px 0;"><img src="{{ absolute_url(asset('bundles/politizrfront/imagesMail/icon-info.png')) }}" style="float: left; margin: 2px 5px 0 0;"/>En savoir plus sur les badges</a>
    </td>
</tr>
{% endspaceless %}