{# beta #}
<form class="formCommentNew">
    {{ form_errors(formComment) }}

    {{ form_widget(formComment.description) }}
    {% if formComment.description.vars.errors|length %}
        <div class="field_error">{{ form_errors(formComment.description) }}</div>
    {% endif %}
    
    <input type="hidden" name="uuid" value="{{ uuid }}">
    {{ form_rest(formComment) }}
    <div class="actionsButtons withLoaderInside">
        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
        {% if app.user %}
            <input type="button" action="createComment" value="Publier">
        {% else %}
            <a href="{{ path('Inscription') }}">M'inscrire pour commenter</a>
        {% endif %}
    </div>
</form>
