{# beta #}
<div class="paragraphHolder withLoaderInside" uuid="{{ document.uuid }}" type="{{ document.type }}" noParagraph="0">
    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
    <div id="globalCommentsButton">
        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
        <div class="counterContent">
            {% include 'PolitizrFrontBundle:Comment:_counter.html.twig' with { 'document': document, 'noParagraph': 0, 'active': false, 'paragraphContext': 'global' } only %}
        </div>
    </div>
    <div id="globalComments" style="display: none;">
        <h5>Commentaires</h5>
        <h6>Vous pouvez aussi faire vos commentaires sur un paragraphe précis en cliquant sur <i class="icon-comment-full"></i> à droite du paragraphe à commenter.</h6>
        <div id="addNewGlobalComments">
            {% if app.user %}
                {{ app.user | isAuthorizedToPublishComment(document, 0, true) }}
            {% endif %}
        </div>
        <div class="commentsContent" id="globalCommentsContent"></div>
        <div class="embedFB withLoaderInside" uuid="{{ document.uuid }}" type="{{ document.type }}">
            {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
        </div>
    </div>
</div>