<form id="formCommentNew">
    {{ form_errors(formComment) }}

    {{ form_widget(formComment.description) }}
    {% if formComment.description.vars.errors|length %}
        <div class="field_error">{{ form_errors(formComment.description) }}</div>
    {% endif %}
    
    {{ form_rest(formComment) }}
    <div class="actionsButtons withLoaderInside">
        <div class="ajaxLoader" style="display: none;">
            <i class="iconSpin5 animateSpin"></i><div class="ajaxLoaderBg"></div>
        </div>
        {% if app.user %}
            <input type="button" action="createComment" value="&#xe82c; Publier">
        {% else %}
            <a href="{{ path('Inscription') }}">M'inscrire pour commenter</a>
        {% endif %}
        <div class="cancel" action="closeComments">Annuler</div>
    </div>
</form>