{% if user %}
    <div class="avatar60">
        {{ user | photo('user_mini') }}
    </div>
    <div class="authorName">
        <span>Par</span>
        <!-- @todo html/css: ajout d'une classe elected si le user est un élu -->
        <a href="{{ path('UserDetail', { 'slug': user.slug }) }}" class="{% if user.qualified %}elected{% endif %}">
            {{ user }}
            <!-- @todo html/css: ajout d'un check user validé -->
            {% if user.validated %}
                <span class="fa fa-check-square-o" title="Profil validé"></span>
            {% endif %}
        </a>
        {# @todo twig helper + branchement modal #}
        {% set organizations = user.currentOrganizations %}
        {% for organization in organizations %}
            <!-- @todo html/css: parti > organization -->
            <div class="organization" action="openPartiSheet">{{ organization.initials }}</div>
            {#
            <a href="{{ path('Organization', { 'slug': organization.slug }) }}">
                <img src="{{ asset('uploads/organizations/'~organization.fileName) | imagine_filter('organization_mini') }}" alt="{{ organization.initials }}">
            </a>
            #}
        {% endfor %}
    </div>
    <!-- @todo html/css mandat en cours plutôt que début de la bio -->
    <div class="authorMandate">
        {# Mandats en cours #}
        {% set mandates = user.currentMandates %}
        {% for mandate in mandates %}
            {{ mandate.title }}&nbsp;
        {% endfor %}        
    </div>
{% else %}
    {# @todo html/css: à prévoir #}
    <span>Utilisateur supprimé</span>
{% endif %}