{# beta #}
<div class="profileName">
    <div class="profileNameHolder">
        {% if user %}
            <a href="{{ path('UserDetail', { 'slug': user.slug }) }}" action="bubbleProfile" uuid="{{ user.uuid }}">{{ user }}</a>
            {% include 'PolitizrFrontBundle:User:_bubbleUser.html.twig' with { 'user': user } only %}
        {% else %}
            <i>utilisateur supprimé</i>
        {% endif %}
    </div>
    {% if user and user.isQualified %}
        {% set organizations = user.currentOrganizations %}
        {% for organization in organizations %}
            <div class="org"><a href="{{ path('ListingByOrganization', {'slug': organization.slug}) }}">{{ organization.initials }}</a></div>
        {% endfor %}
    {% endif %}
</div>
