{# beta #}
<div class="headerFollowers">
    {# <a action="detailContentUser" class="goBack" uuid="{{ user.uuid }}"> #}
    <a href="{{ path('UserDetail', {'slug': user.slug}) }}" class="goBack"><i class="icon-arrow-left"></i>Retour</a>
    <span>Abonnés à l'auteur: <a href="{{ path('UserDetail', {'slug': user.slug}) }}">{{ user }}</a></span>
</div>
<div id="userListing" class="withLoaderInside" uuid="{{ user.uuid }}">
    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
    <div class="listFollowers"></div>
</div>
