<div class="dbItemHalfWidth">
    
    <div class="profileHeader">
        <div class="pad40">
            <div class="profileSummaryFooter">
                <div class="avatar60">
                    {{ user | photo('user_60') }}
                </div>
            </div>  
        </div>
        <div class="profileHeaderIllustration">
            {{ user | photoBack('user_bio_back') }}
        </div>
    </div>
    <div class="profileName">
        {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { user: user } only %}
        {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { user: user } only %}
    </div>
    <div class="profileSubtitle">{{ user.subtitle | purify }}</div>
    <div class="profilePublicTagList">
        {{ user | userTags }}
    </div>  
    <a href="{{ path('UserDetail'~profileSuffix(), { 'slug': user.slug }) }}" class="dbItemShow"><i class="iconGoTo"></i>Afficher</a>
    <div class="subscribe{% if app.user.id == user.id %} noSelfSubscribe{% endif %}">
        {{ user | linkSubscribeUser }}
    </div>
</div>
