<div id="main">
    <div class="profileHeader">
        {% include 'PolitizrFrontBundle:User:_header.html.twig' with { 'user': user, 'withUrlInName': false } only %}
    </div>
    <div id="illustration_l">
        {{ user | photoBack('user_bio_back') }}
    </div>
    <div id="illustration_r">
        {{ user | photoBack('user_bio_back') }}
    </div>

    {% include 'PolitizrFrontBundle:Document:_copyright.html.twig' with { 'copyright': user.copyright } %}
    
    <div class="profilePublicTagList">
        {{ user | userTags }}
    </div>

    {% if app.user.id == user.id %}
        <div class="profilePrivateTagList">
            <div id="privateTagTitle">
                <span>mes thématiques privées</span>
                <i class="iconInfo" action="confidentialToggle"></i>
                <div class="confidentialInfo" style="display: none;">Cette information est privée</div>
            </div>
            {{ user | followTags }}
        </div>
    {% endif %}

    <div id="profileBio">
        <div id="showCompleteBio"><span action="showCompleteBio">afficher la suite</span></div>
        {{ user.biography | purify }}
        <div id="hideCompleteBio"><span action="hideCompleteBio">masquer</span></div>
    </div>
    
    {% if user.isQualified %}
        <div id="profileMandate">
            <span>mandats</span>
            {% include 'PolitizrFrontBundle:User:_mandates.html.twig' with { 'mandates': user.mandates } only %}
        </div>
    {% endif %}

    <div id="recentActivity">activité récente</div>
    <div id="timeline">
        <!-- @todo html/css bug sticky suite au reload ajax, la date reste collée en haut de l'écran -->
        <!-- @todo html/css contenu de la timeline dans id listContent (idem my politizr) -->
        <div id="listContent"></div>
    </div>
</div>
