<div id="main">
    <div class="profileHeader">
        {% include 'PolitizrFrontBundle:User:_header.html.twig' with { 'user': user, 'withUrlInName': false, 'withPublicTags': false } only %}
    </div>
    <div id="illustration_l">
        {{ user | photoBack('user_bio_back') }}
    </div>
    <div id="illustration_r">
        {{ user | photoBack('user_bio_back') }}
    </div>

    {% include 'PolitizrFrontBundle:Document:_copyright.html.twig' with { 'copyright': user.copyright } %}
    
    <div class="profilePublicTagList">
        {{ user | userTags }}
    </div>

    <div id="profileBio">
        <div id="showCompleteBio"><span action="showCompleteBio">afficher la suite</span></div>
        {{ user.biography | purify }}
        <div id="hideCompleteBio"><span action="hideCompleteBio">masquer</span></div>
    </div>
    
    {% if user.isQualified %}
        <div id="profileMandate">
            <span>mandats</span>
            {% include 'PolitizrFrontBundle:User:_mandates.html.twig' with { 'mandates': user.mandates } only %}
        </div>
    {% endif %}

    <div id="recentActivity">activité récente</div>
    <div id="timeline" uuid="{{ user.uuid }}">
        <div id="listContent"></div>
    </div>
</div>
