<div class="pad40">
    <div class="profileSummaryHeader">
        {% if app.user.id == user.id %}
            <div class="profileReputationCounter" action="modalReputation">
                <i class="iconCup"></i>
                {{ user.reputationScore }} points de réputation
            </div>
            {% if user.qualified %}
                <i class="iconInfo" action="confidentialToggle"></i><div class="confidentialInfo" style="display: none;">Cette information est privée</div>
            {% endif %}
        {% elseif not user.qualified %}
            <div class="profileReputationCounter">
                <i class="iconCup"></i>
                {{ user.reputationScore }} points de réputation
            </div>
        {% endif %}
        <div class="profileFollowersCounter" action="modalFollowers" model="PUser" uuid="{{ user.uuid }}">
            {{ user.countFollowers }} abonnés
        </div>
    </div>
    <div class="profileSummaryFooter">
        <div class="avatar60">
            {{ user | photo('user_60') }}
        </div>
        <div class="profileNameHolder">
            <div class="profileNameBottom">
                <div class="profileName">
                    {% if withUrlInName %}
                        <a href="{{ path('UserDetail', { 'slug': user.slug }) }}">
                            {{ user }}
                        </a>
                    {% else %}
                        {{ user }}
                    {% endif %}
                    {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': user } only %}
                </div>
                <div class="profileSocialLinks">
                    {% if user.facebook is not empty %}
                        <a href="{{ user.facebook }}" target="_blank"><i class="iconSocialFb"></i></a>
                    {% endif %}
                    {% if user.twitter is not empty %}
                        <a href="{{ user.twitter }}" target="_blank"><i class="iconSocialTw"></i></a>
                    {% endif %}
                    {% if user.website is not empty %}
                        <a href="{{ user.website }}" target="_blank"><i class="iconLink"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="profileSubtitle">{{ user.subtitle | purify }}</div>
        {% if withPublicTags %}
            <div class="profilePublicTagList">
                {{ user | userTags }}
            </div>
        {% endif %}
    </div>
</div>                      
<div class="profileHeaderIllustration">
    {{ user | photoBack('user_bio_back') }}
</div>
