<div id="idCheck">
    <div id="maxIdCheckMsg">
        <h1>Vous disposez de <span id="nbTryLeft">3</span> tentative(s) restante(s) pour procéder a la vérification de votre identité.</h1>
    </div>
    <div class="card">
        <div class="formBlock">
            {% set uploadAction = path('XhrGeneric', {'xhrRoute': constant('Politizr\\Constant\\XhrConstants::ROUTE_USER_VALIDATE_PHOTO_UPLOAD'), 'xhrService': 'security', 'xhrMethod': 'idCheckPhotoUpload', 'xhrType': constant('Politizr\\Constant\\XhrConstants::RETURN_HTML')}) %}
            <form method="POST" action="{{ uploadAction }}" name="user" id="formIdCheckPhoto" enctype="multipart/form-data">
                <label>Télécharger la photo de votre Carte Nationale d’Identité</label>
                <div class="notice">
                    <i class="icon-info"></i><b>Précision</b><br/>
                    Notre service contrôlant la validité de la carte d'identité, merci de ne pas télécharger uniquement une photo d'identité mais bien la photo de votre carte nationale d'identité.
                </div>
                <div class="uploadCNI">
                    <input type="file" name="fileName" id="fileName">
                    <label action="fileSelect" for="fileName">Parcourir</label>
                </div>
            </form>
            <div class="coloredBg">
                <img src="{{ asset('bundles/politizrfront/images/pictoCNI.png') }}" width="44" height="29" class="pictoCNI">
                <div class="infoUploadCNI">Face comportant votre photo uniquement.<br>Format : jpg, max. 10Mo</div>
            </div>
        </div>
    </div>
    <div class="orElse">
        <div class="orElseLine"></div><span>ou</span><div class="orElseLine"></div>
    </div>
    <div class="card">
        {{ form_errors(formIdCheck) }}
        <form class="zlaBox" name="user" method="post" id="formPerso4">
            <label>Saisie manuelle des caractères (chiffres, lettres, et caractères spéciaux) de votre Carte Nationale d’Identité</label>
            <div class="zlaInputs">
                <div class="zlaNumber1">1</div>
                <div class="zlaNumber2">2</div>
                {{ form_row(formIdCheck.zla1, { 'attr': { 'placeholder': '36 caractères de la ligne 1' }}) }}
                {{ form_row(formIdCheck.zla2, { 'attr': { 'placeholder': '36 caractères de la ligne 2' }}) }}
            </div>
            {{ form_rest(formIdCheck) }}

            <div class="coloredBg">
                <img src="{{ asset('bundles/politizrfront/images/cni.jpg') }}">
            </div>

            <button type="button" action="validateIdZla" class="submit nextStepOrange">
                Valider mon identité
            </button>
        </form>
    </div>
    <div class="cardFooter"> <i class="icon-alert"></i>Les données fournies ne sont pas conservées. </div>
</div>
