{% if mandates | length > 0 %}
    {% for mandate in mandates %}
        <div class="profileMandatsItem">
            <span>{{ mandate.mandateNaming }} - {{ mandate.localization | purify  }}</span>
            {% if (mandate.isCurrent) %}
                Depuis {{ mandate.beginAt | date('Y') }}
            {% else %}
                De {{ mandate.beginAt | date('Y') }} à {{ mandate.endAt | date('Y') }}
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <div class="profileMandats"><a href="#">Renseignez vos mandats.</a></div>
{% endif %}
