{# beta #}
{% if mandates | length > 0 %}
    {% for mandate in mandates %}
        <div class="profileMandatsItem">
            <span>{{ mandate.mandateNaming }} - {{ mandate.localization | purify  }}</span>
            {% if (mandate.isCurrent) %}
                Depuis {{ mandate.beginAt | date('Y') }}
            {% else %}
                De {{ mandate.beginAt | date('Y') }} à {{ mandate.endAt | date('Y') }}
            {% endif %}
        </div>
    {% endfor %}
{% elseif (app.user and app.user.id == user.id) %}
    <a href="{{ path('EditProfile'~profileSuffix())}}">Renseignez vos mandats</a>
{% else %}
    Aucun mandat renseigné
{% endif %}
