{# beta #}
{% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
<form method="POST" name="formMandateCreate" id="formMandateCreate">
    {{ form_errors(formMandate) }}
    <div class="styledSelect">
        {{ form_widget(formMandate.p_q_mandate) }}
    </div>

    {{ form_widget(formMandate.localization, { 'attr': {'placeholder': 'lieu ou circonscription'}}) }}
    <div class="mandatePeriod">
        <span class="dea">de</span>
        {{ form_widget(formMandate.begin_at, { 'maxlength': 4, 'attr': {'placeholder': 'AAAA'}}) }}
        <span class="dea">à</span>
        {{ form_widget(formMandate.end_at, { 'maxlength': 4, 'attr': {'placeholder': 'AAAA*'}}) }}
    </div>
    <div class="mandateActions">
        <span>* Laisser vide en cas de mandat en cours</span>
        <a class="editMandateCreate" action="mandateCreate">Ajouter</a>
    </div>
    {{ form_rest(formMandate) }}
</form>
