{% set questionLabel = "Je m'exprime!" %}
<div id="op" class="bannerItem miniHeader op-{{ operation.uuid }}">
    <div class="center">
        <div class="imgOp">
            <img src="{{ asset('/uploads/users/'~operation.fileName) }}" alt="{{ operation.title }}">
        </div>
        <div class="txtOp">
            {{ operation.description | purify }}
            {% if operation.newSubjectLink %}
                {% if app.user and operation.newSubjectLink and app.user | isAuthorizedToAskOperation(operation) %}
                    <span>
                        <a class="ctaOp" href="{{ path('DebateDraftNew', { op: operation.uuid }) }}">{{ questionLabel }}</a>
                    </span>
                {% elseif not app.user %}
                    <span>
                        <a class="ctaOp" href="{{ path('Inscription') }}">{{ questionLabel }}</a>
                    </span>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="bgLeftOp"></div>
    <div class="bgRightOp"></div>
</div>