{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% set metaTitle = 'Profil de ' ~ user | purify | trim %}
{% set metaDescription = user | purify | trim ~ ', ' ~ user.biography | striptags | purify | trim %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogImage %}{{ user | ogImage(app.request.getSchemeAndHttpHost()) }}{% endblock ogImage %}
{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}
{% block tcImage %}{{ user | tcImage(app.request.getSchemeAndHttpHost()) }}{% endblock tcImage %}

{% block headerMsg %}
    {{ parent() }}

    {{ user | userOperation }}
{% endblock %}

{% block content %}
    <div id="content" class="withLoaderInside">
        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
        {% include 'PolitizrFrontBundle:User:_contentDetail.html.twig' %}
    </div>
{% endblock content %}

{% block sidebarContent %}
    {% if not app.user %}
        {% include 'PolitizrFrontBundle:Navigation\\Menu:_createAccount.html.twig' %}
    {% endif %}
    {% include 'PolitizrFrontBundle:User:_sidebarUser.html.twig' %}
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/tag/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/reputation/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/detail.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/detailUser.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
