{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% block header %}
    {% if app.user and app.user | isAuthorizedToReportAbuse %}
        {% embed 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
            {% block abuse %}
                {% include 'PolitizrFrontBundle:Monitoring:_abuseLink.html.twig' with { 'subjectId': user.id, 'type': user.type } only %}
            {% endblock abuse %}
        {% endembed %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block connexionBox %}
    {% if not is_granted('ROLE_PROFILE_COMPLETED') %}
        {{ render(controller('PolitizrFrontBundle:Security:login')) }}
    {% endif %}
{% endblock %}

{% block fixedActions %}
    <div id="fixedActions">
        <div class="subscribe">
            {{ user | linkSubscribeUser }}
        </div>
    </div>
{% endblock fixedActions %}

{% block main %}
    <div id="main">
        <div id="profileHeader">
            <div class="pad40">
                <div id="profileSummaryHeader">
                    <div id="profileReputationCounter" action="modalOpen">
                        <i class="iconCup"></i>
                        {{ user.reputationScore }} points de réputation
                    </div>
                    <div id="profileFollowersCounter" action="modalFollowers" model="PUser" slug="{{ user.slug }}">
                        {{ user.countFollowers }} abonnés
                    </div>
                </div>
                <div id="profileSummaryFooter">
                    <div class="avatar60">
                        {{ user | photo('user_60') }}
                    </div>
                    <div id="profileNameHolder">
                        <div id="profileNameBottom">
                            <div id="profileName">
                                {{ user }}
                                {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': user } only %}
                            </div>
                        </div>
                    </div>
                    <div id="profileInAFewWords">{{ user.subtitle | raw }}</div>
                </div>
            </div>                      
            <div id="profileHeaderIllustration">
                {{ user | photoBack('user_bio_back') }}
            </div>             
        </div>
        <div id="illustration_l">
            {{ user | photoBack('user_bio_back') }}
        </div>
        <div id="illustration_r">
            {{ user | photoBack('user_bio_back') }}
        </div>

        {% include 'PolitizrFrontBundle:Document:_copyright.html.twig' with { 'copyright': user.copyright } %}
        
        <div id="profilePublicTagList">
            {{ user | userTags }}
        </div>

        <div id="profileBio">
            <div id="showCompleteBio"><span action="showCompleteBio">afficher la suite</span></div>
            {{ user.biography | raw }}
            <div id="hideCompleteBio"><span action="hideCompleteBio">masquer</span></div>
        </div>
        
        {% if user.qualified %}
            <div id="profileMandate">
                <span>mandats</span>
                {% include 'PolitizrFrontBundle:User:_mandates.html.twig' with { 'mandates': user.mandates } only %}
            </div>
        {% endif %}

        <div id="recentActivity">activité récente</div>
        <div id="timeline">
            <!-- @todo html/css bug sticky suite au reload ajax, la date reste collée en haut de l'écran -->
            <!-- @todo html/css contenu de la timeline dans id listContent (idem my politizr) -->
            <div id="listContent"></div>
        </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
    {% include 'PolitizrFrontBundle:JS\\User:detail.js.twig' %}
    {% include 'PolitizrFrontBundle:JS\\Timeline:timeline.js.twig' with { 'userId': user.id, 'route': constant('Politizr\\Constant\\XhrConstants::ROUTE_TIMELINE_USER') } %}

    {% include 'PolitizrFrontBundle:JS\\Security:login.js.twig' %}
{% endblock javascriptFooter %}
