{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block title %}
    {{ parent() }} - Édition de mon profil
{% endblock title %}

{% block javascriptHeader %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.cycle2.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jcf.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jcf.select.js') }}"></script>
{% endblock javascriptHeader %}

{% block header %}
    {% embed 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
        {% block socialLinks %}{% endblock socialLinks %}
    {% endembed %}
{% endblock header %}

{% block modalBox %}
    {{ parent() }}

    {% include 'PolitizrFrontBundle:User:_modalEditBackUpload.html.twig' %}
{% endblock modalBox %}


{% block fixedActions %}
    <div id="fixedActions">
        <div class="ajaxLoader" style="display: none;">
            <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
        </div>
        <div class="actionSave withLoaderInside saved">
            <div class="ajaxLoader" style="display: none;">
                <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
            </div>
            <a action="userProfileUpdate"><i class="iconDraft"></i>enregistrer</a>
        </div>
    </div>   
{% endblock fixedActions %}

{% block main %}
    <div id="main">
        <div class="profileHeader">
            <div class="pad40">
                <div class="profileSummaryFooter">
                    <div class="avatar60">
                        <div id="smallCamera">
                            <form id="formUserPhoto" action="{{ path('XhrGeneric', {'xhrRoute': constant('Politizr\\Constant\\XhrConstants::ROUTE_USER_PHOTO_UPLOAD'), 'xhrService': 'user', 'xhrMethod': 'userPhotoUpload', 'xhrType': constant('Politizr\\Constant\\XhrConstants::RETURN_URL')}) }}" method="post" enctype="multipart/form-data">
                                <div id="uploadFileContainer">
                                    <input type="file" name="fileName" id="fileName">
                                    <label action="fileSelect" for="fileName" tabindex="0"><i class="iconCamera"></i><i class="iconNotifYes"></i></label>
                                    <div class="photoDelete">
                                        <a action="fileDelete" uuid="{{ user.uuid }}"><i class="iconCross"></i></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="uploadedPhoto">
                            {{ user | photo('user_60') }}
                        </div>
                    </div>
                    <div class="profileNameHolder">
                        <div class="profileNameBottom">
                            <div class="profileName">
                                {{ user }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>                      

            <div id="bigCamera" action="modalBackUploadOpen">
                <i class="iconCamera"></i><i class="iconNotifYes"></i>
            </div>
            <div class="profileHeaderIllustration">
                {{ user | photoBack('user_bio_back') }}
            </div>             
        </div>
        <div id="illustration_l">
            {{ user | photoBack('user_bio_back') }}
        </div>
        <div id="illustration_r">
            {{ user | photoBack('user_bio_back') }}
        </div>

        <div id="copyrightHolder">
            <i class="iconCopyright" action="showCopyright"></i>
            <div id="copyrightBox" style="display: none;" action="showCopyright">
                <i class="iconArrowUp"></i>
                <div id="copyright">
                    {{ user.copyright | purify }}
                </div>
            </div>
        </div>

        {% if not app.user.validated %}
            <div class="boxInfo">
                <i class="iconInfo"></i>
                Si vous souhaitez modifier vos prénom/nom : ouvrez le menu préférence (<i class="iconGear"></i>) en haut à droite de la page  puis cliquez sur "Paramètres".
            </div>
        {% endif %}

        <div id="editMyPublicTags" class="tagBox">
            <div class="fieldsetHeader">
                <div class="fieldsetHeaderTitle">mes centres d'intérêt</div>
                <div class="helperMark" action="toggleHelper">
                    comment ajouter une thématique?
                    <i class="iconQuestion" action="toggleHelper"></i>
                </div>
                <div class="helperSlider helperSliderRight" style="display: none;">
                    <i class="iconArrowUp"></i>
                    <i class="iconCross" action="hideHelper"></i>
                    @todo : slider ajouter un tag
                </div>
                <div class="boxInfo">
                    <i class="iconInfo"></i>
                    Associez au moins <b>une thématique géographique (Monde, Europe, France, une région ou un département)</b> à votre profil pour nous permettre de vous suggérer des contenus pertinents.<br>
                    <i class="iconInfo"></i>
                    Cliquez sur <i class="iconInvisible"></i> pour que la thématique reste invisible sur votre profil public.
                </div>
            </div>

            {{ userTagsEdit(user, null, 1, true) }}
        </div>

        {% if formOrga %}
            <div id="editParti" class="profileFieldset">
                <div class="fieldsetHeader">
                    <div class="fieldsetHeaderTitle">famille politique</div>
                    <div class="helperMark" action="toggleHelper">
                        comment sont constituées les familles politiques?
                        <i class="iconQuestion" action="toggleHelper"></i>
                    </div>
                    <div class="helperSlider helperSliderRight" style="display: none;">
                        <i class="iconArrowUp"></i>
                        <i class="iconCross" action="hideHelper"></i>
                        <h4>choix des partis politiques</h4>
                        {% include 'PolitizrFrontBundle:Navigation\\Helper:_organizations.html.twig' %}
                    </div>
                </div>

                <form method="POST" name="userOrganization" id="formUserOrganizationUpdate">
                    {{ form_errors(formOrga) }}

                    {{ form_widget(formOrga.PUCurrentQOPQOrganization, { 'attr': {'action': 'organizationUpdate', 'data-jcf': '{"wrapNative": false, "fakeDropInBody": false, "maxVisibleItems": 5, "flipDropToFit": false}'}}) }}
                    {{ form_rest(formOrga) }}
                </form>

            </div>
        {% endif %}

        <form method="POST" name="userBiography" id="formUserProfileUpdate">
            <div id="editInAFewWord" class="profileFieldset">
                <div class="fieldsetHeader">
                    <div class="fieldsetHeaderTitle">en quelques mots</div>
                    <div class="helperMark" action="toggleHelper">
                        comment utiliser l'éditeur de texte?
                        <i class="iconQuestion" action="toggleHelper"></i>
                    </div>
                    <div class="helperSlider helperSliderRight" style="display: none;">
                        <i class="iconArrowUp"></i>
                        <i class="iconCross" action="hideHelper"></i>
                        <h4>éditer un champ texte</h4>
                        {% include 'PolitizrFrontBundle:Navigation\\Helper:_edition.html.twig' %}
                    </div>
                </div>
                <div class="editable subtitle">{{ user.subtitle | purify }}</div>
            </div>

            <div class="fieldsetHeader">
                <div class="fieldsetHeaderTitle">ma biographie</div>
                <div class="helperMark" action="toggleHelper">
                    comment utiliser l'éditeur de texte?
                    <i class="iconQuestion" action="toggleHelper"></i>
                </div>
                <div class="helperSlider helperSliderRight" style="display: none;">
                    <i class="iconArrowUp"></i>
                    <i class="iconCross" action="hideHelper"></i>
                    <h4>éditer un champ texte</h4>
                    {% include 'PolitizrFrontBundle:Navigation\\Helper:_edition.html.twig' %}
                </div>
            </div>

            <div id="postText" class="profileFieldset">
                <div class="paragraph">
                    <div class="editable biography">
                        {{ user.biography | purify }}
                    </div>
                </div>
            </div>

            <div id="socialLinks" class="profileFieldset">
                <div class="fieldsetHeader">
                    <div class="fieldsetHeaderTitle">mes liens</div>
                </div>
                <div class="profileTwitter">
                    <i class="iconSocialTw"></i>{{ form_widget(formBio.twitter, { 'attr': {'placeholder': 'Compte Twitter'}}) }}
                </div>
                <div class="profileFacebook">
                    <i class="iconSocialFb"></i>{{ form_widget(formBio.facebook, { 'attr': {'placeholder': 'Compte Facebook'}}) }}
                </div>
                <div class="profileWebsite">
                    <i class="iconLink"></i>{{ form_widget(formBio.website, { 'attr': {'placeholder': 'Site web'}}) }}
                </div>
            </div>         

            {# hidden form inputs filled by js #}
            {{ form_row(formBio.subtitle) }}
            {{ form_row(formBio.biography) }}
            {{ form_rest(formBio) }}
        </form>

        {% if user.isQualified %}
            <div id="myMandate" class="profileFieldset">
                <div class="fieldsetHeader">
                    <div class="fieldsetHeaderTitle">mes mandats</div>
                    <div class="helperMark" action="toggleHelper">
                        comment ajouter un mandat?
                        <i class="iconQuestion" action="toggleHelper"></i>
                    </div>
                    <div class="helperSlider helperSliderRight" style="display: none;">
                        <i class="iconArrowUp"></i>
                        <i class="iconCross" action="hideHelper"></i>
                        @todo : slider ajouter un mandat
                    </div>
                </div>

                <div id="newMandate" class="editMandateItem">
                    {% include 'PolitizrFrontBundle:User:_newMandate.html.twig' with { 'formMandate': formMandate } %}
                </div>

                <div id="myMandates">
                    {% if formMandate and formMandateViews %}
                        {% include 'PolitizrFrontBundle:User:_editMandates.html.twig' with { 'formMandateViews': formMandateViews } %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    <script>
        var nbZones = 2;
        var service = 'tag';
        var xhrRoute = ROUTE_TAG_LISTING;
        var xhrUrlPrefix = '/xhr';
    </script>

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/smoke.min.js'
        '@PolitizrFrontBundle/Resources/public/js/medium-editor.min.js'
        '@PolitizrFrontBundle/Resources/public/js/jquery.form.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/tag/editTags.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/medium.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/editProfile.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/editPhoto.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}

