{# beta #}
{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block title %}Mes informations personnelles - {{ parent() }}{% endblock title %}

{% block headerMsgLocalization %}
    {% if not app.user.pLCityId %}
        <div id="alertLocalization">
            <div class="center">
                <i class="icon-info"></i>
                <div id="localizationMsg">
                    Merci de compléter vos données de localisation.
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="accountEdition">
            <div class="pageTitle">
                Mon compte
            </div>

            {% if isGrantedE() %} 
                <h5>Vous disposez actuellement d'un compte élu {% if not app.user.validated %}<b>non</b> {% endif %}certifié.</h5>
            {% else %}
                <h5>Vous disposez actuellement d'un compte citoyen.</h5>
            {% endif %}

            <div id="boxPerso1">
                <div class="formBlock withLoaderInside">
                    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
                    <div class="formBlockHeader">
                        <label>Votre identité</label>
                    </div>

                    <form name="user" method="post" id="formPerso1">
                        {{ form_errors(formPerso1) }}

                        <div class="styledSelect">
                            {{ form_widget(formPerso1.gender) }}
                        </div>
                        {{ form_row(formPerso1.firstname, { 'attr': { 'placeholder': 'Prénom' }}) }}
                        {{ form_row(formPerso1.name, { 'attr': { 'placeholder': 'Nom' }}) }}
                        {{ form_row(formPerso1.birthday, { 'attr': { 'placeholder': 'JJ/MM/AAAA' }}) }}
                        {{ form_rest(formPerso1) }}
            
                        {% if not app.user.validated %}
                            <button type="button" action="submitPerso">
                                Mettre à jour
                            </button>
                        {% endif %}
                    </form>
                    {% if app.user.validated %}
                        <p class="formInfo">
                            <i class="icon-alert"></i>Vous ne pouvez pas modifier ces informations: <a href="mailto: support@politizr.com">contactez-nous</a> en cas d'erreur.
                        </p>
                    {% endif %}
                    {% if isGrantedE() and not app.user.validated and app.user.nbIdCheck < constant('Politizr\\Constant\\IdCheckConstants::MAX_USER_TRY') %}
                        <div id="msgIdCheck">
                            <h5><b>Merci de procéder à la <a href="{{ path('IdCheckDataReviewE') }}">vérification de votre identité</a> pour valider définitivement votre compte élu.</b></h5>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div id="boxPerso4">
                <div class="formBlock withLoaderInside">
                    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
                    <div class="formBlockHeader">
                        <label>Votre localisation</label>
                    </div>

                    <form name="user" method="post" id="formPerso4">
                        {{ form_errors(formPerso4) }}

                        {{ form_widget(formPerso4.localization) }}
                        {{ form_rest(formPerso4) }}
            

                        {% set isCircleMember = app.user | circleMember %}
                        {% if not isCircleMember %}
                            <button type="button" action="submitPerso">
                                Mettre à jour
                            </button>
                        {% endif %}
                    </form>
                    {% if isCircleMember %}
                        <p class="formInfo">
                            <i class="icon-alert"></i>Vous devez quitter tous <a href="{{ path('MenuCircle') }}">les groupes</a> auxquels vous appartenez avant de pouvoir mettre à jour cette information.
                        </p>
                    {% endif %}
                </div>
            </div>            

            <div id="boxPerso2">
                <div class="formBlock withLoaderInside">
                    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
                    <div class="formBlockHeader">
                        <label>Votre email de contact et de notification</label>
                    </div>
                    <form name="user" method="post" id="formPerso2">
                        {{ form_errors(formPerso2) }}

                        {{ form_row(formPerso2.email.first, { 'attr': { 'placeholder': 'Email' }}) }}
                        {{ form_row(formPerso2.email.second, { 'attr': { 'placeholder': 'Confirmation email' }}) }}

                        {{ form_rest(formPerso2) }}

                        <button type="button" action="submitPerso">
                            Mettre à jour
                        </button>
                    </form>
                </div>
            </div>
            
            <div id="boxPerso3">
                <div class="formBlock withLoaderInside">
                    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
                    <div class="formBlockHeader">
                        <label>Vos identifiant et mot de passe de connexion</label>
                    </div>
                    <form name="user" method="post" id="formPerso3">
                        {{ form_errors(formPerso3) }}

                        {{ form_row(formPerso3.username, { 'attr': { 'placeholder': 'Email de connexion' }}) }}

                        {{ form_row(formPerso3.plainPassword.first) }}

                        {{ form_row(formPerso3.plainPassword.second) }}

                        {{ form_rest(formPerso3) }}
                   
                        <button type="button" action="submitPerso">
                            Mettre à jour
                        </button>
                    </form>
                </div>
            </div>

            <div id="boxDeleteAccount">
                <div class="notice">
                    <i class="icon-alert"></i>Cliquez <a target="{{ path('DeleteAccount') }}" action="deleteAccount">ici</a> pour supprimer votre compte.
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    {% include 'PolitizrFrontBundle:User:_sidebarEditAccount.html.twig' %}
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/smoke.min.js'
        '@PolitizrFrontBundle/Resources/public/js/jquery.form.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/editPerso.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/editPerso.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/idCheck.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/localization/edit.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
