{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block main %}
    <div id="main">
        <div id="prefs" class="notificationsPrefs">
            <h1>Mes notifications</h1>

            {% for notificationType in notificationsType %}        
                <h2>{{ notificationType.title }}</h2>
                <p>Je souhaite être averti par email :</p>
                {% for notification in notificationType.notifications %}
                    <div class="notificationsPrefs">
                        <div class="notificationsPrefsItem withLoaderInside">
                            <div class="ajaxLoader" style="display: none;">
                                <div class="ajaxLoaderSpinner"></div>
                                <div class="ajaxLoaderBg"></div>
                                <div class="ajaxLoaderBlockClick"></div>
                            </div> 
                            <input type="checkbox" id="notif-{{ notificationType.id }}-{{ loop.index }}" subjectId="{{ notification.id }}" action="{% if notification.id in emailNotifIds %}notifEmailUnsubscribe{% else %}notifEmailSubscribe{% endif %}" {% if notification.id in emailNotifIds %}checked{% endif %}/>
                            <label for="notif-{{ notificationType.id }}-{{ loop.index }}">
                                <i class="iconCheckInSquare"></i>{{ notification.title }}
                            </label>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% include 'PolitizrFrontBundle:JS\\Notification:email.js.twig' %}
{% endblock javascriptFooter %}
