{# beta #}
{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block title %}Mes notifications - {{ parent() }}{% endblock title %}

{% block content %}
    <div id="content">
        <div class="pageTitle">
            Mes notifications
        </div>

        <div class="formBlock card">
            <div class="notificationsPrefs">
                <h5>Je souhaite être averti par email :</h5>
                {% for notification in notifications %}
                    <div class="notificationsPrefsItem withLoaderInside">
                        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
                        <input type="checkbox" id="notif-{{ notification.uuid }}-{{ loop.index }}" uuid="{{ notification.uuid }}" action="{% if notification.id in emailNotifIds %}notifEmailUnsubscribe{% else %}notifEmailSubscribe{% endif %}" {% if notification.id in emailNotifIds %}checked{% endif %}/>
                        <label for="notif-{{ notification.uuid }}-{{ loop.index }}">
                            <i class="iconCheckInSquare"></i>{{ notification.title }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    {% include 'PolitizrFrontBundle:User:_sidebarEditAccount.html.twig' %}
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/editNotifications.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/notification/email.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url~'?v'~assets_version }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
