{# beta #}
{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block title %}Édition de mon profil - {{ parent() }}{% endblock title %}

{% block content %}
    <div id="content">
        <div class="editionProfileCard">      
                <div class="formBlock">
                    <div class="formBlockHeader">
                        <label>Photo de profil</label>
                    </div>
                    <div class="avatar40" id="uploadedPhoto">
                        {{ user | photo('user_40', withLink = false) }}
                    </div>
                    <div class="uploadAvatar">
                        {% set uploadAction = path('XhrGeneric', {'xhrRoute': constant('Politizr\\Constant\\XhrConstants::ROUTE_USER_PHOTO_UPLOAD'), 'xhrService': 'user', 'xhrMethod': 'userPhotoUpload', 'xhrType': constant('Politizr\\Constant\\XhrConstants::RETURN_URL')}) %}
                        <form method="POST" action="{{ uploadAction }}" name="user" id="formUserPhoto" enctype="multipart/form-data">
                            <input type="file" name="fileName" id="fileName">
                            <label action="fileSelect" for="fileName">Sélectionner une photo de profil</label>
                            <a class="photoDelete" action="fileDelete" uuid="{{ user.uuid }}"><i class="icon-remove"></i>Supprimer</a>
                        </form>
                    </div>
                </div>
                
                {% if formOrga %}
                    <div class="formBlock">
                        <div class="formBlockHeader">
                            <label>Famille politique</label>
                            {% include 'PolitizrFrontBundle:Navigation\\Helper:_organizations.html.twig' %}
                        </div>
                        <form method="POST" name="userOrganization" id="formUserOrganizationUpdate">
                            {{ form_errors(formOrga) }}
                            <div class="styledSelect">
                                {{ form_widget(formOrga.PUCurrentQOPQOrganization, { 'attr': {'action': 'organizationUpdate'}}) }}
                            </div>
                            {{ form_rest(formOrga) }}
                        </form>
                    </div>
                {% endif %}

                <form method="POST" name="userBiography" id="formUserProfileUpdate">
                    <div class="formBlock">
                        <div class="formBlockHeader">
                            <label>Biographie</label>
                        </div>
                        {{ form_widget(formBio.biography) }}
                    </div>
                                
                    <div class="formBlock">
                        <div class="formBlockHeader">
                            <label>Liens</label>
                        </div>
                        <div class="profileSocialLink">
                            <i class="icon-social-fb"></i>
                            {{ form_widget(formBio.facebook, { 'attr': {'placeholder': 'Votre compte Facebook'}}) }}
                        </div>
                        <div class="profileSocialLink">
                            <i class="icon-social-tw"></i>
                            {{ form_widget(formBio.twitter, { 'attr': {'placeholder': 'Votre compte Twitter'}}) }}
                        </div>
                        <div class="profileSocialLink">
                            <i class="icon-link"></i>
                            {{ form_widget(formBio.website, { 'attr': {'placeholder': 'Votre site Internet'}}) }}
                        </div>
                    </div>
                    
                    {{ form_rest(formBio) }}
                </form>

                {% if user.isQualified %}
                    <div class="formBlock">
                        <div class="formBlockHeader">
                            <label>Mandats</label>
                            {% include 'PolitizrFrontBundle:Navigation\\Helper:_mandates.html.twig' %}
                        </div>
                        <div class="mandateItem withLoaderInside" id="newMandate">
                            {% include 'PolitizrFrontBundle:User:_newMandate.html.twig' with { 'user': user } %}
                        </div>

                        <div id="editMandates">
                            {% include 'PolitizrFrontBundle:User:_editMandates.html.twig' %}
                        </div>
                    </div>
                {% endif %}
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    {% include 'PolitizrFrontBundle:User:_sidebarEditUser.html.twig' %}
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/smoke.min.js'
        '@PolitizrFrontBundle/Resources/public/js/jquery.form.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/tag/editTags.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/editProfile.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/mandates.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/editProfile.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
