{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Validation identité étape 2 / 2 - {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerIdCheck.html.twig' %}
{% endblock header %}

{% block headerMsg %}

{% endblock %}

{% block main %}
    <div id="main">
        <center>
            <div class="column column140">
                <div class="processNav">
                    <ol>
                        <li class="activeStep">Rappels</li>
                        <li class="activeStep">Validation d'identité</li>
                    </ol>
                    <div class="processPrev"><a href="{{ path('IdCheckDataReviewE') }}"><i class="icon-arrow-left"></i>Retour</a></div>
                </div>
            </div>
            <div class="column column360">
                {% include 'PolitizrFrontBundle:User:_idCheck.html.twig' %}
            </div><!--
            --><div class="column column140">
                <div class="columnSidebar skip">
                    <a href="{{ path('HomepageE') }}">Procédez à la vérification de votre identité plus tard<i class="icon-arrow-right"></i></a>
                </div>
                <div class="columnSidebar processGreen">
                    Si vous souhaitez être accompagné-e durant cette procédure n'hésitez pas à nous contacter au <b>09 50 42 09 34</b>.<br><br>
                    En cas d'échec, nous prendrons contact directement avec vous.
                </div>
        </center>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/jquery.form.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/inscriptionElectedIdCheck.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/idCheck.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
