{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Validation identité étape 1 / 2 - {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerIdCheck.html.twig' %}
{% endblock header %}

{% block main %}
    <div id="main">
        <center>
            <div class="column column140">
                <div class="processNav">
                    <ol>
                        <li class="activeStep">Rappels</li>
                        <li>Validation d'identité</li>
                    </ol>
                </div>
            </div><!--
             --><div class="column column360">              
                <div class="card">
                    <div class="redAlert">
                        <i class="icon-alert"></i>Merci de vérifier attentivement l’exactitude des informations fournies ci-dessous : nous vérifions votre identité sur la base de ces informations.
                    </div>
                    <div class="formBlock withLoaderInside">
                        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
                        {{ form_start(formIdentity, {'action': path('IdCheckDataReviewCheckE'), 'method': 'POST'}) }}
                            {{ form_errors(formIdentity) }}

                            <label>Civilité</label>
                            <div class="styledSelect">
                                {{ form_widget(formIdentity.gender) }}
                            </div>
                            {{ form_row(formIdentity.firstname, { 'attr': { 'placeholder': 'Prénom' }}) }}
                            {{ form_row(formIdentity.name, { 'attr': { 'placeholder': 'Nom' }}) }}
                            {{ form_row(formIdentity.birthday, { 'attr': { 'placeholder': 'JJ/MM/AAAA' }}) }}

                            <button type="submit" class="submit nextStepOrange">Étape suivante</a>
                        {{ form_end(formIdentity) }}
                    </div>
                </div>
            </div><!--
            --><div class="column column140">
                <div class="columnSidebar skip">
                    <a href="{{ path('HomepageE') }}">Procédez à la vérification de votre identité plus tard<i class="icon-arrow-right"></i></a>
                </div>
                <div class="columnSidebar processGreen"><i class="icon-info"></i><br><b>Si vous ne procédez pas à la validation de votre identité maintenant, vous disposerez d’un profil élu non certifié et ne disposerez pas de toutes les fonctionnalités. </b><br>Vous devrez reprendre et compléter cette étape ultérieurement pour disposer d’un compte élu.</div>
        </center>
    </div>
{% endblock main %}
