{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Validation identité étape 2 / 2 - {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerIdCheck.html.twig' %}
{% endblock header %}

{% block headerMsg %}
    <div id="alertIdCheck">
        <div class="center">
            <div id="maxIdCheckMsg">
                <i class="icon-info"></i>
                Vous devez maintenant procéder à la vérification de votre identité pour profiter pleinement de votre compte élu: vous disposez de 3 tentatives.
                Si vous souhaitez être accompagné-e durant cette procédure n'hésitez pas à nous contacter au <b>05.64.88.01.71</b>.<br>
                En cas d'échec, nous prendrons contact directement avec vous.
            </div>
            <div id="userInfo">
                Rappel des informations saisies et contrôlées<br/>
                <b>Nom: {{ app.user.name }}<br/>
                Prénom: {{ app.user.firstName }}<br/>
                Date de naissance: {{ app.user.birthday | date('d/m/Y') }}</b><br/>
                En cas d'erreur, <a href="{{ path('IdCheckDataReviewE') }}">cliquez ici pour corriger les informations saisies</a>.
            </div>
        </div>
    </div>
{% endblock %}

{% block main %}
    <div id="main">
        <center>
            <div class="column column140">
                <div class="processNav">
                    <ol>
                        <li class="activeStep">Rappels</li>
                        <li class="activeStep">Validation d'identité</li>
                    </ol>
                </div>
            </div>
            <div class="column column360">
                {% include 'PolitizrFrontBundle:User:_idCheck.html.twig' %}
            </div><!--
            --><div class="column column140">
                <div class="columnSidebar skip">
                    <a href="{{ path('HomepageE') }}">Procédez à la vérification de votre identité plus tard<i class="icon-arrow-right"></i></a>
                </div>
                <div class="columnSidebar processGreen">
                    Si vous souhaitez être accompagné-e durant cette procédure n'hésitez pas à nous contacter au <b>05.64.88.01.71</b>.<br><br>
                    En cas d'échec, nous prendrons contact directement avec vous.
                </div>
        </center>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/jquery.form.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/inscriptionElectedIdCheck.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/idCheck.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
