{% if
    id == constant('Politizr\\Model\\PNotification::ID_S_U_DEBATE_PUBLISH')
%}
    <a action="notificationCheck" href="{{ authorUrl }}">{{ author }}</a> a publié <a action="notificationCheck" href="{{ url }}">{{ title }}</a>.

{% elseif
    id == constant('Politizr\\Model\\PNotification::ID_D_D_REACTION_PUBLISH')
    or id == constant('Politizr\\Model\\PNotification::ID_D_R_REACTION_PUBLISH')
    or id == constant('Politizr\\Model\\PNotification::ID_S_U_REACTION_PUBLISH')
    or id == constant('Politizr\\Model\\PNotification::ID_S_D_REACTION_PUBLISH')
%}
    <a action="notificationCheck" href="{{ authorUrl }}">{{ author }}</a> a publié <a action="notificationCheck" href="{{ url }}">{{ title }}</a> en réaction à <a href="{{ reactionParentUrl }}">{{ reactionParentTitle }}</a>.

{% elseif
    id == constant('Politizr\\Model\\PNotification::ID_D_COMMENT_PUBLISH') 
    or id == constant('Politizr\\Model\\PNotification::ID_S_U_COMMENT_PUBLISH')
%}
    <a action="notificationCheck" href="{{ authorUrl }}">{{ author }}</a> a commenté "{{ title | slice(0, 50) }}..." sur <a action="notificationCheck" href="{{ url }}">{{ commentDoc }}</a>.

{% elseif
    id == constant('Politizr\\Model\\PNotification::ID_D_D_FOLLOWED')
%}
    <a action="notificationCheck" href="{{ authorUrl }}">{{ author }}</a> s'est abonné au débat <a action="notificationCheck" href="{{ url }}">{{ title }}</a>.

{% elseif
    id == constant('Politizr\\Model\\PNotification::ID_U_FOLLOWED')
%}
    <a action="notificationCheck" href="{{ authorUrl }}">{{ author }}</a> s'est abonné à votre profil.

{% elseif
    id == constant('Politizr\\Model\\PNotification::ID_U_BADGE')
%}
    Félicitations, vous avez obtenu le badge <a action="notificationCheck" href="{{ url }}">{{ title }}</a>.

{% elseif
    id == constant('Politizr\\Model\\PNotification::ID_D_NOTE_POS')
    or id == constant('Politizr\\Model\\PNotification::ID_D_C_NOTE_POS')
%}
    Vous avez reçu une note positive sur <a action="notificationCheck" href="{{ url }}">{{ title }}</a>.

{% elseif
    id == constant('Politizr\\Model\\PNotification::ID_D_NOTE_NEG')
    or constant('Politizr\\Model\\PNotification::ID_D_C_NOTE_NEG')
%}
    Vous avez reçu une note négative sur <a action="notificationCheck" href="{{ url }}">{{ title }}</a>.

{% endif %}