{% extends_admingenerated "PolitizrAdminBundle:PDDebateShow:index.html.twig" %}

{# TODO: prévoir des helper twig d'affichage: contenus, tags, users / spécial admin avec gestion ajax d'ajout/suppression? #}

{# Bloc réactions #}
{% block show_column_block_reactions %}
	Nombre de réactions: {{ PDDebate.countPDReactions }}<br/>
	<br/>
	{% for pdReaction in PDDebate.PDReactions %}
		id-{{ pdReaction.id }} / <b>{{ pdReaction.title }}</b><br/>
		{{ pdReaction.summary | raw }}<br/>
		Note: {{ pdReaction.notePos }} + / {{ pdReaction.noteNeg }} -<br/>
	{% endfor %}
{% endblock %}

{# Bloc commentaires #}
{% block show_column_block_comments %}
	Nombre de commentaires: {{ PDDebate.countPDDComments }}<br/>
	<br/>
	{% for pddComment in PDDebate.PDDComments %}
		<b>Commentaire id-{{ pddComment.id }}</b><br/>
		{{ pddComment.description | raw }}<br/>
		Note: {{ pddComment.notePos }} + / {{ pddComment.noteNeg }} -<br/>
		<a href="#">Modérer</a>
	{% endfor %}
{% endblock %}


{# Bloc tags #}
{% block show_column_block_tags %}
	{% for pTag in PDDebate.PddTaggedTPTags %}
		<b>{{ pTag.title }}</b><br/>
		<a href="#">Supprimer</a>
	{% endfor %}
	<a href="#">Ajouter un tag</a>
{% endblock %}


{# Bloc followers qualifiés #}
{% block show_column_block_followers_q %}
	{% for pUser in PDDebate.PUsersQ %}
		{{ pUser.firstName }} {{ pUser.name }}<br/>
	{% endfor %}
{% endblock %}

{# Bloc followers citoyens #}
{% block show_column_block_followers_c %}
	{% for pUser in PDDebate.PUsersC %}
		{{ pUser.firstName }} {{ pUser.name }}<br/>
	{% endfor %}
{% endblock %}