{% extends_admingenerated "PolitizrAdminBundle:PDDebateShow:index.html.twig" %}

{% block show_column_block_p_user %}
    {{ adminCreatePath(constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_USER'), PDDebate.PUserId) }}
{% endblock %}

{% block show_column_block_p_c_topic %}
    {{ adminCreatePath(constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_TOPIC'), PDDebate.PCTopicId) }}
{% endblock %}

{# Contenus #}
{% block show_column_summary %}
    {{ PDDebate.getSummary | purify }}
{% endblock %}

{% block show_column_description %}
    {{ PDDebate.getDescription | purify }}
{% endblock %}

{% block show_column_block_p_d_medias %}
    {% if PDDebate.countPDMedias > 0 %}
        <ol>
            {% for media in PDDebate.PDMedias %}
                <li>{{ adminCreatePath(constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_MEDIA'), media.id) }}</li>
            {% endfor %}
        </ol>
        <i class="fa fa-exclamation-triangle" aria-hidden="true">&nbsp;Note: suivez les liens pour mettre à jour les images du document.</i>
    {% else %}
        Aucune
    {% endif %}
{% endblock %}

{# Bloc réactions #}
{% block show_column_block_reactions %}
    {{ adminDebateReactions(PDDebate, 'show') }}
{% endblock show_column_block_reactions %}

{# Bloc commentaires #}
{% block show_column_block_comments %}
    {{ adminDebateComments(PDDebate) }}
{% endblock %}

{# Bloc tags #}
{% block show_column_block_tags %}
    {{ adminDebateTags(PDDebate, null, 1, mode='show') }}
{% endblock %}

{# Bloc followers élus #}
{% block show_column_block_followers_q %}
    {{ adminDebateFollowersQ(PDDebate) }}
{% endblock %}

{# Bloc followers citoyens #}
{% block show_column_block_followers_c %}
    {{ adminDebateFollowersC(PDDebate) }}
{% endblock %}

{# Block moderation alert listing #}
{% block show_column_block_moderation_alert_listing %}
    <div id="moderationListing">
        {{ adminModerationAlertListing(PDDebate.PUserId) }}
    </div>
{% endblock %}


{# Bloc boost #}
{% block show_column_block_want_boost %}
    {% if PDDebate.wantBoost == constant('Politizr\\Constant\\DocumentConstants::WB_NO_RESPONSE') %}
        Non répondu
    {% elseif PDDebate.wantBoost == constant('Politizr\\Constant\\DocumentConstants::WB_OK') %}
        Oui
    {% else %}
        Non
    {% endif %}
{% endblock %}


{# Block front link #}
{% block show_column_block_front %}
    {% if PDDebate.active %}
        <a href="{{ path('DebateDetail', {'slug': PDDebate.slug}) }}" target="_blank">Consulter</a>
    {% else %}
        Hors ligne
    {% endif %}
{% endblock %}
