{% extends_admingenerated "PolitizrAdminBundle:PDDebateShow:index.html.twig" %}

{# Image upload #}
{% block show_column_block_file_name %}
    {% include 'PolitizrAdminBundle:Fragment:_uploadImage.html.twig' with {'zone': 1, 'fileName': PDDebate.fileName,'subjectId': PDDebate.id, 'queryClass': 'Politizr\\Model\\PDDebateQuery', 'setter': 'setFileName', 'uploadWebPath': constant('Politizr\\Constant\\PathConstants::DEBATE_UPLOAD_WEB_PATH')} %}
{% endblock %}

{# Objets #}
{% block show_column_block_p_user %}
    {{ adminCreatePath(constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_USER'), PDDebate.PUserId) }}
{% endblock %}

{# Contenus #}
{% block show_column_summary %}
    {{ PDDebate.getSummary | raw }}
{% endblock %}

{% block show_column_description %}
    {{ PDDebate.getDescription | raw }}
{% endblock %}

{# Bloc réactions #}
{% block show_column_block_reactions %}
    {{ adminDebateReactions(PDDebate, 'show') }}
{% endblock show_column_block_reactions %}

{# Bloc commentaires #}
{% block show_column_block_comments %}
    {{ adminDebateComments(PDDebate) }}
{% endblock %}


{# Bloc tags #}
{% block show_column_block_tags %}
    {{ adminDebateTags(PDDebate, null, 1, mode='show') }}
{% endblock %}

{# Bloc followers qualifiés #}
{% block show_column_block_followers_q %}
    {{ adminDebateFollowersQ(PDDebate) }}
{% endblock %}

{# Bloc followers citoyens #}
{% block show_column_block_followers_c %}
    {{ adminDebateFollowersC(PDDebate) }}
{% endblock %}

{# Block front link #}
{% block show_column_block_front %}
    {% if PDDebate.online and PDDebate.published %}
        <a href="{{ path('DebateDetail', {'slug': PDDebate.slug}) }}" target="_blank">Consulter</a>
    {% else %}
        Hors ligne
    {% endif %}
{% endblock %}


{% block object_actions_script_container %}
    <script>
        var nbZones = 1;
        var xhrRoute = ADMIN_ROUTE_TAG_LISTING;
    </script>

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/politizr/tag/accentMap.js') }}"></script>    
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/politizr/tag/editTags.js') }}"></script>  

    <script type="text/javascript" src="{{ asset('bundles/politizradmin/js/jquery.form.min.js') }}"></script>  
    <script type="text/javascript" src="{{ asset('bundles/politizradmin/js/politizr/uploadImage.js') }}"></script>  
{% endblock object_actions_script_container %}
