{% spaceless %}
{% if debates|length > 1 %}
    <h1>De nouveaux sujets qui pourraient vous intéresser!</h1>
{% else %}
    <h1>Un nouveau sujet qui pourrait vous intéresser!</h1>
{% endif %}
{% for debate in debates %}
    {% set author = debate.user %}
    "<a href="{{ url('DebateDetail', {'slug': debate.slug}) }}">{{ debate.title }}</a>" {% if author %} par <a href="{{ url('UserDetail', {'slug': author.slug}) }}">{{ author.fullName }}</a>{% endif %}, localisé sur {{ debate | localizations(inMail=true) }}.
    <br/>
{% endfor %}
{% endspaceless %}
