<div class="boostBox withLoaderInside">
    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
    <p>
        <b>POLITIZR vous propose son expertise pour faire connaître votre publication auprès de ~3000 personnes intéressées par votre publication parmi les 34M d'utilisateurs de Facebook.</b>
    <p>
    <p>
        Le résultat de cette opération intégrera dans votre publication POLITIZR les statistiques d'audience issues de Facebook, les 5 derniers commentaires et un lien vers la publication Facebook.
    <p>
    <p>
        Prix unique de <b>2€TTC</b>&nbsp;<i class="icon-info">Paiement sécurisé par Paypal</i>
    </p>
    <p>
        
    </p>
    <div class="boostChoice">
        <a action="boost" boost="{{ constant('Politizr\\Constant\\DocumentConstants::WB_OK') }}" uuid="{{ document.uuid }}" type="{{ document.type }}"><b>C'est parti!</b></a>
        <a action="boost" boost="{{ constant('Politizr\\Constant\\DocumentConstants::WB_NO') }}" uuid="{{ document.uuid }}" type="{{ document.type }}">Non merci</a>
    </div>
</div>
