{# beta #}
{% if document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE') %}
    {% set detailPath = path('DebateDetail', { 'slug': document.slug }) %}
    {% set spanClass = 'subject' %}
    {% set imgFilter = 'debate_header' %}
{% elseif document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION') %}
    {% set detailPath = path('ReactionDetail', { 'slug': document.slug }) %}
    {% set spanClass = '' %}
    {% set imgFilter = 'reaction_header' %}
{% endif %}

{# image #}
{% if withImg %}
    {% if mini %}
        {% set imgClass = 'miniPostImg' %}
    {% else %}
        {% set imgClass = 'postImg' %}
    {% endif %}

    {% if document.fileName %}
        <div class="{{ imgClass }}">
            <a href="{{ detailPath }}">
                {{ document | image(imgFilter, false) }}
            </a>
        </div>
    {% else %}
        <div class="{{ imgClass }} noImg"></div>
    {% endif %}
{% endif %}    

<a href="{{ detailPath }}"{% if withImg and not document.fileName and mini %} class="fullWidth"{% endif %}>
    <span{% if withImg %} class="postTitle {{ spanClass }}"{% endif %}>{{ document.title }}</span>
    {% if summary %}
        {# document.description | removeLinks | removeSpans | excerpt(1, true) | purify #}
        {{ document.description | striptags | truncate(250, true) | purify }}
    {% endif %}
</a>
