{# beta #}
{% if document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE') %}
    {% set detailPath = path('DebateDetail', { 'slug': document.slug }) %}
    {% set spanClass = 'subject' %}
    {% set imgFilter = 'debate_header' %}
{% elseif document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION') %}
    {% set detailPath = path('ReactionDetail', { 'slug': document.slug }) %}
    {% set spanClass = '' %}
    {% set imgFilter = 'reaction_header' %}
{% endif %}

{% set imgPath = document | mainImagePath() %}

{# image #}
{% set imgClass = 'postImg' %}
{% if mini %}
    {% set imgClass = 'miniPostImg' %}
{% endif %}

{% if withImg and imgPath %}
    <div class="{{ imgClass }}">
        <a href="{{ detailPath }}">
            <img src="{{ asset(imgPath) | imagine_filter('document_header') }}" alt="{{ document.title }}">
        </a>
    </div>
{% elseif withImg and not imgPath %}
    <div class="{{ imgClass }} noImg"></div>
{% endif %}

{# document link #}
<a href="{{ detailPath }}"{% if withImg and not imgPath and mini %} class="fullWidth"{% endif %}>
    <span{% if withImg %} class="postTitle {{ spanClass }}"{% endif %}>{{ document.title }}</span>
    {% if summary %}
        {{ document.description | striptags | truncate(250, true) | purify }}
    {% endif %}
</a>
