<div class="listHeaderByOrg">
    <div class="listHeader">
        <h5>Les publications de <div class="org">{{ organization.initials }}</div></h5>
        <h1>{{ organization.title }}</h1>
    </div>
</div>
<div class="pseudoTabs filterTabs" uuid="{{ organization.uuid }}">
    <a class="currentPage" action="documentsByOrganizationFiltering" orderBy="{{ constant('Politizr\\Constant\\ListingConstants::ORDER_BY_KEYWORD_BEST_NOTE') }}">Top</a>
    <a action="documentsByOrganizationFiltering" orderBy="{{ constant('Politizr\\Constant\\ListingConstants::ORDER_BY_KEYWORD_LAST') }}">Les plus récentes</a>
</div>
<div id="documentListing" class="withLoaderInside">
    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
    <div class="listTop"></div>
</div>