<div class="impactFB">
    <h5><i class="icon-social-fb"></i>Impact sur Facebook</h5>
    {% if impressions > 0 %}<b>{{ impressions }} personnes atteintes</b> • {% endif %}{% if interactions > 0 %}{{ interactions }} interactions • {% endif %}{% if nbComments > 0 %}{{ nbComments }} commentaires • {% endif %}{% if nbEmotions > 0 %}{{ nbEmotions }} réactions • {% endif %}{% if nbShares > 0 %}{{ nbShares }} partages{% endif %}
    <div class="likesFB">
        {% if emotions.like is defined and emotions['like'] %}
            <div class="likeFB">{{ emotions['like'] }}</div>
        {% endif %}
        {% if emotions.love is defined and emotions['love'] %}
            <div class="loveFB">{{ emotions['love'] }}</div>
        {% endif %}
        {% if emotions.wow is defined and emotions['wow'] %}
            <div class="wowFB">{{ emotions['wow'] }}</div>
        {% endif %}
        {% if emotions.haha is defined and emotions['haha'] %}
            <div class="hahaFB">{{ emotions['haha'] }}</div>
        {% endif %}
        {% if emotions.sorry is defined and emotions['sorry'] %}
            <div class="sorryFB">{{ emotions['sorry'] }}</div>
        {% endif %}
        {% if emotions.anger is defined and emotions['anger'] %}
            <div class="angerFB">{{ emotions['anger'] }}</div>
        {% endif %}
    </div>
</div>
{% if comments|length > 0 %}
    <h5>Les derniers commentaires sur Facebook</h5>
{% endif %}
{% for comment in comments %}
    <div class="commentFB">
        <div class="commentFB_Avatar"><img src="{{ comment['author']['picture'] }}"></div>
        <div class="commentFB_Text"><span>{{ comment['author']['name'] }}</span>{{ comment['message'] }}</div>
    </div>
{% endfor %}
<a href="https://www.facebook.com/Politizr/posts/{{ fbAdId }}" target="_blank">Voir la publication Facebook</a>
