<div class="statFB">
    <i class="icon-social-fb"></i><b>{{ impressions }} personnes atteintes</b> • {{ interactions }} interactions • {{ nbComments }} commentaires • {{ nbEmotions }} réactions • {{ nbShares }} partages
</div>
