<div class="noticeBox">
    {% if reason == constant('Politizr\\Constant\\DocumentConstants::REASON_USER_NOT_LOGGED') %}
        <span>
            <a href="{{ path('Inscription') }}">Inscrivez-vous</a> pour participer au débat.
        </span> 
    {% elseif reason == constant('Politizr\\Constant\\DocumentConstants::REASON_DEBATE_OWNER') %}
        <span class="withActionAnswer">             
            En tant qu'auteur du sujet original, vous pouvez publier une réponse à cette publication.
        </span>
        {% include 'PolitizrFrontBundle:Reaction:_actionNew.html.twig' with { 'document': document, 'checkIfAuthorized': false } only %}
    {% elseif reason == constant('Politizr\\Constant\\DocumentConstants::REASON_CIRCLE_READ_ONLY') %}
        <span class="withActionAnswer">             
            Les contributions pour ce groupe sont désormais closes.
        </span>
    {% elseif reason == constant('Politizr\\Constant\\DocumentConstants::REASON_USER_ELECTED') %}
        <span class="withActionAnswer">
            <b>En tant qu'{{ app.user | typeGender | lower }}, vous pouvez publier une réponse à cette publication.</b><br> 
            Cette fonctionnalité est exclusivement réservée aux élu-e-s et au citoyen-ne auteur du sujet si sa réputation est d'au moins {{ constant('Politizr\\Constant\\ReputationConstants::ACTION_REACTION_WRITE') }} points.
        </span>
        {% include 'PolitizrFrontBundle:Reaction:_actionNew.html.twig' with { 'document': document, 'checkIfAuthorized': false } only %}
    {% elseif reason == constant('Politizr\\Constant\\DocumentConstants::REASON_USER_OPERATION') %}
            Cette conversation est réservée mais vous pouvez vous exprimer en publiant votre commentaire. Pour participer à l'opération, vous pouvez démarrer un nouveau sujet en cliquant sur le lien <a action="goUp">Je m'exprime</a> disponible dans le bandeau en haut de page.
    {% elseif reason == constant('Politizr\\Constant\\DocumentConstants::REASON_OWNER_OPERATION') %}
        <span class="withActionAnswer">             
            <b>Vous bénéficiez d'une offre permettant d'être le seul à pouvoir publier une réponse à cette publication.</b>
        </span>
        {% include 'PolitizrFrontBundle:Reaction:_actionNew.html.twig' with { 'document': document, 'checkIfAuthorized': false } only %}
    {% elseif reason == constant('Politizr\\Constant\\DocumentConstants::REASON_AUTHORIZED_CIRCLE_USER') %}
        <span class="withActionAnswer">             
            <b>Vous pouvez publier une réponse à cette publication.</b>
        </span>
        {% include 'PolitizrFrontBundle:Reaction:_actionNew.html.twig' with { 'document': document, 'checkIfAuthorized': false } only %}
    {% elseif reason == constant('Politizr\\Constant\\DocumentConstants::REASON_NOT_AUTHORIZED_CIRCLE_USER') %}
           Seules les personnes indiquées en page d'accueil de ce groupe et l'auteur du sujet peuvent publier une réponse à cette publication, mais vous pouvez vous exprimer en publiant votre commentaire sur ce sujet.
    {% elseif reason == constant('Politizr\\Constant\\DocumentConstants::REASON_NO_REPUTATION') %}
        <span class="withActionAnswer">             
            Vous devez avoir au moins {{ constant('Politizr\\Constant\\ReputationConstants::ACTION_REACTION_WRITE') }} de réputation pour publier une réponse.
        </span>
    {% elseif reason == constant('Politizr\\Constant\\DocumentConstants::REASON_USER_NOT_CERTIFIED') %}
        <span class="withActionAnswer">             
            Vous devez <a href="{{ path('IdCheckDataReviewE') }}">certifier votre identité</a> pour pouvoir publier une réponse.
        </span>
    {% else %}
            Seuls les élu-e-s et l'auteur du sujet peuvent publier une réponse à cette publication, mais vous pouvez vous exprimer en publiant votre commentaire sur ce sujet.
    {% endif %}
</div>
