{% if document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE') %}
    {% set detailPath = path('DebateDetail', { 'slug': document.slug }) %}
    {% set spanClass = 'subject' %}
{% elseif document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION') %}
    {% set detailPath = path('ReactionDetail', { 'slug': document.slug }) %}
    {% set spanClass = '' %}
{% endif %}

{% if mini %}
    {% set imgClass = 'miniPostImg' %}
{% else %}
    {% set imgClass = 'postImg' %}
{% endif %}

{% if document.fileName %}
    <div class="{{ imgClass }}">
        <a href="{{ detailPath }}">
            {{ document | image('debate_header', false) }}
        </a>
    </div>
{% elseif not mini %}
    <div class="{{ imgClass }} noImg"></div>
{% endif %}

<a href="{{ detailPath }}">
    <span class="postTitle {{ spanClass }}">{{ document.title }}</span>
    {% if not mini %}
        {{ document.description | removeLinks | removeSpans | excerpt(1, true) | purify }}
    {% endif %}
</a>
