<div id="modalMyPostsCharts" uuid="{{ document.uuid }}" type="{{ document.type }}">
    <h2>statistiques</h2>
    <div id="modalMyPostsHeader">
        <h3>{{ document.title }}</h3>
        <span>publié {% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAtTiny.html.twig' with { 'dateTimeAt': document.publishedAt } only %}</span>
    </div>

    <div class="modalMyPostCounter">{{ document | nbViews }}</div>
    <div class="modalMyPostCounter">{{ document | nbReactions }}</div>
    <div class="modalMyPostCounter">{{ document | nbComments }}</div>

    <div id="modalMyPostsNote">
        note<br>
        <div class="postNote">
            <div class="notePlus">{{ document.notePos }}<i class="iconNotePlus"></i></div>
            <div class="noteMinus"><i class="iconNoteMinus"></i>{{ document.noteNeg }}</div>
        </div>
    </div>

    <div id="myPostsNoteStats" class="withLoaderInside">
        <div class="ajaxLoader" style="display: none;">
            <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
        </div>
        <div class="modalChartLegend">
            <div class="chartTitle">Note moyenne</div>
            <div class="chartDotHighlight"><i class="iconNotifYes"></i>Note de la publication</div>
        </div>
        <div id="chartMyPostsNote" class="myPostChartHolder">
            <div class="chartNavPrev" id="notesChartNavPrev" action="notesPaginatePrevChart" startAt=""><i class="iconArrowLeft"></i></div>
            <div class="chartNavNext" id="notesChartNavNext" action="notesPaginateNextChart" startAt=""><i class="iconArrowRight"></i></div>
            <div>
                <canvas id="myPostsNote"></canvas>
            </div>
        </div>
    </div>
</div>