{% if document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE') %}
    {% set detailPath = path('DebateDetail'~profileSuffix(), { 'slug': document.slug }) %}
{% elseif document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION') %}
    {% set detailPath = path('ReactionDetail'~profileSuffix(), { 'slug': document.slug }) %}
{% endif %}
<div class="postSummaryCard">
    <div class="postSummaryCardHolder">
        {% include 'PolitizrFrontBundle:User:_summaryAuthor.html.twig' with { 'user': document.user } only %}

        {% if document.fileName %}
            <div class="postSummaryCardIllustration">
                <a href="{{ detailPath }}">
                    {{ document | image('debate_header', false) }}
                </a>
            </div>
        {% endif %}
        <div class="postSummaryCardContent">
            <div class="postSummaryTagList">
                {{ document | docTags }}
            </div>
            {% if document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION') %}
                <div class="postSummaryCardGotoParent">
                    {{ document | linkParentReaction }}
                </div>
            {% endif %}
            <div class="postSummaryCardTitle">
                <a href="{{ detailPath }}">
                    <span>{{ document.title }}</span>
                    {{ document.description | removeLinks | excerpt(1, true) | purify }}
                </a>
            </div>
            <div class="postSummaryCardFooter">
                <div class="postSummaryCardFooterLeft">
                    <div class="viewersCounter">
                        <i class="iconGraph"></i>
                        {{ document | nbViews }}
                    </div>
                    <div class="reactionsCounter">
                        <i class="iconReaction"></i>
                        {{ document | nbReactions }}
                    </div>
                    <div class="commentsCounter" action="paragraphCommentsCounter">
                        <i class="iconComment"></i>
                        {{ document | nbComments }}
                    </div>
                </div>
                <div class="postNote">
                    <div class="notePlus">
                        {{ document.notePos }}<i class="iconNotePlus"></i>
                    </div>
                    <div class="noteMinus">
                        <i class="iconNoteMinus"></i>{{ document.noteNeg }}
                    </div>
                </div>  
            </div>
            <div class="postSummaryCardPublishInfos">
                {% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'dateTimeAt': document.publishedAt } only %}
            </div>
        </div>
    </div>
    <a href="{{ detailPath }}" class="modalItemShow"><i class="iconGoTo"></i>Afficher</a>
    {% if withSubscribe %}
        <div class="subscribe{% if app.user.id == document.pUserId %} noSelfSubscribe{% endif %}">
            {% if document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE') %}
                {{ document | linkSubscribeDebate }}
            {% elseif document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION') %}
                {{ document.debate | linkSubscribeDebate }}
            {% endif %}
        </div>
    {% endif %}
</div>
