{% extends is_granted('ROLE_CITIZEN') ? 'PolitizrFrontBundle::layoutC.html.twig':'PolitizrFrontBundle::layout.html.twig' %}

{% block connexionBox %}
	{% if not is_granted('ROLE_CITIZEN') %}
	    {{ render(controller('PolitizrFrontBundle:Security:login')) }}
	{% endif %}
{% endblock %}

{% block main %}
	<div id="authorBlock">
		<h3>{{ pUser.firstname }} {{ pUser.name }}</h3>
		<h4>{{ pUser.summary | raw }}</h4>
		<!-- INFOS GENERALES -->
		<div id="authorInfos">
			{% if (pUser.fileName) %}
	            <img src="{{ asset('uploads/users/'~pUser.fileName) | imagine_filter('user_bio_thumb') }}" alt="{{ pUser.name }}">
	        {% else %}
	            <img src="{{ asset('bundles/axanimfront/images/default_user.png') }}" alt="{{ pUser.name }}">
	        {% endif %}
			<div id="name">{{ pUser.firstname }} {{ pUser.name }}</div>
			<!-- TYPE + QUALIFICATIONS -->
			<div id="qualifications">
				{% if pUser.type == constant('Politizr\\Model\\PUser::TYPE_CITOYEN') %}
					<span>Citoyen</span>
				{% else %}
					<span>Élu</span>
					{% for qualification in pUser.qualifications %}
						<div class="qualification">
							<span>{{ qualification.title }}</span>
							<span>à partir du {{ qualification.beginAt('d/m/Y') }}</span>
							<div>{{ qualification.description | raw }}</div>
						</div>
					{% else %}
						Aucune qualification
					{% endfor %}
				{% endif %}
			</div>
			<!-- BIO -->
			<div id="bio">
				{{ pUser.biography | raw }}
			</div>
			<hr>
			<!-- REPUTATION / BADGES -->
			<div id="reputation">
				<div id="badges">
					Badges:
					<ul>
						{% for badge in pUser.badges %}
							<li>{{ badge.title }} ({{ badge.grade }})</li>
						{% else %}
							<li>Aucun badge</li>
						{% endfor %}
					</ul>
				</div>
				<div id="score">
					Score {{ pUser.reputationScore }}
				</div>
			</div>
			<hr>
			<!-- FOLLOWERS -->
			<div id="followers">
				<span>Suivi par <a id="showFollowersCList">{{ pUser.countPUserFollowersC }} citoyens</a> et <a id="showFollowersQList">{{ pUser.countPUserFollowersQ }} élus</a>.</span>
				<div id="followersCList">
					<ul>
						{% for follower in pUser.pUserFollowersC %}
							<li><a href="{{ path('AuthorDetail', { 'id': follower.id, 'slug': follower.slug }) }}">{{ follower }}</a></li>
						{% endfor %}
					</ul>
					<a id="closeFollowersCList">Fermer</a>
				</div>
				<div id="followersQList">
					<ul>
						{% for follower in pUser.pUserFollowersQ %}
							<li><a href="{{ path('AuthorDetail', { 'id': follower.id, 'slug': follower.slug }) }}">{{ follower }}</a></li>
						{% endfor %}
					</ul>
					<a id="closeFollowersQList">Fermer</a>
				</div>
			</div>
			<hr>
			<!-- LIENS ANNEXES USER -->
			<div id="contact">
				<a href="{{ pUser.website }}" target="_blank">Site internet</a><br/>
				<a href="{{ pUser.twitter }}" target="_blank">Twitter</a><br/>
				<a href="{{ pUser.facebook }}" target="_blank">Facebook</a><br/>
			</div>
			<hr>
			<!-- INTERACTIONS -->
			<div id="interactions">
				<div class="star">
					{{ linkFollow(pUser.id, 'puser') }}
				</div>
			</div>
		</div>
	</div>
	<div id="authorDebatesBlock">
		<h3>Liste des débats rédigés</h3>
		{% for debate in debates %}
			<div class="authorDebate">
				<a href="{{ path('DebateDetail', { 'id': debate.id, 'slug': debate.slug }) }}">{{ debate.title }}</a>
			</div>
		{% else %}
			<div id="noResult">
				Aucun débat pour le moment
			</div>
		{% endfor %}
	</div>
	<div id="authorReactionsBlock">
		<h3>Liste des réactions rédigées</h3>
		{% for reaction in reactions %}
			{% set debate = reaction.pDDebate %}
			{% if debate %}
				<div class="authorReaction">
					<i>"{{ reaction.title }}"</i> sur le débat <a href="{{ path('DebateDetail', { 'id': debate.id, 'slug': debate.slug }) }}">{{ debate.title }}</a>
				</div>
			{% endif %}
		{% else %}
			<div id="noResult">
				Aucune réaction pour le moment
			</div>
		{% endfor %}
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:authorDetail.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}
{% endblock javascriptFooter %}
