{% set layout = 'PolitizrFrontBundle::layoutC.html.twig' %} 
{% if (isGrantedE()) %}
    {% set layout = 'PolitizrFrontBundle::layoutE.html.twig' %}
{% endif %}
{% extends layout %}

{% block stylesheets %}
    {{ parent() }}

    {# medium clone editor #}
    <link rel="stylesheet" href="{{ asset('components/medium-editor/dist/css/themes/bootstrap.min.css') }}"> {# theme #}
{% endblock %}

{% block main %}
    <div id="content">
        <p class="bg-info">Formulez le titre du débat sous forme de question.</p>
        <p class="bg-info">Complétez les tags associés au débat.</p>
        <p class="bg-info">Attention, une fois publié, vous ne pourrez plus modifier votre débat.</p>
        <hr>
        {% include 'PolitizrFrontBundle:Fragment\\Debate:DetailDraft.html.twig' with { 'debate': debate, 'form': form } %}
        <hr>
        {% set urlBack = path('MyDraftsC') %}
        {% set urlPublishBack = path('ContribDashboardC') %}
        {% if isGrantedE() %}
            {% set urlBack = path('MyDraftsE') %}
            {% set urlPublishBack = path('ContribDashboardE') %}
        {% endif %}
        <div class="text-center">
            <a action="debate-save" class="btn btn-success">Enregistrer</a>
            <a action="debate-list" class="btn btn-primary" url="{{ urlBack }}">Retour</a>
            <a action="debate-delete" class="btn btn-danger" url="{{ urlBack }}">Supprimer</a>
            <a action="debate-publish" class="btn btn-warning" object-id="{{ debate.id }}" url="{{ urlPublishBack }}">Publier</a>
        </div>    
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {# Tags #}
    {% include 'PolitizrFrontBundle:JS:editTags.js.twig' with { 'nbZones': 1 } %}

    {# medium clone editor #}
    <script src="{{ asset('components/medium-editor/dist/js/medium-editor.min.js') }}"></script>
    <script src="{{ asset('components/classList.js/classList.min.js') }}"></script> <!-- IE9 compatibility -->
    
    {# Upload ajax #}
    <script type="text/javascript" src="{{ asset('components/form/jquery.form.js') }}"></script>

    {% include 'PolitizrFrontBundle:JS:debateEdit.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:documentUploadPhoto.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:debatePublishDelete.js.twig' %}
{% endblock javascriptFooter %}
