{% extends 'PolitizrFrontBundle::layout.html.twig' %}

{% block connexionBox %}
    {{ render(controller('PolitizrFrontBundle:Security:login')) }}
{% endblock %}

{% block main %}
	<div id="overlayZenReader">
		<div id="contentZen"></div>
	</div>
	<div id="debateBlock">
		<h3>{{ debate.title }}</h3>
		<h4>par {{ debate.pUser }}</h4>
		<h5>publié le {{ debate.publishedAt('d/m/Y') }}</h5>

		<div id="debateHeader">
			<div id="star">Suivre / Ne plus suivre</div>
			<div id="debateSummary">
				{{ debate.summary | raw }}
			</div>
			<a class="readZen" objectId="{{ debate.id }}" type="debate">Lire l'intégralité du débat</a>
		</div>
		<hr>
		<div id="debateMoreInfos">
			{% include 'PolitizrFrontBundle:Fragment:pUserMiniBio.html.twig' with { 'pUser': author } only %}
			<hr>
			{% include 'PolitizrFrontBundle:Fragment:DebateInfos.html.twig' with { 'pDocument': debate, 'pTags': debate.pTags, 'globalComments': globalComments, 'paragraphComments': paragraphComments } only %}
		</div>
		<hr>
	</div>
	<div id="debateReactionsFeed">
		{% for reaction in reactions %}
			{% include 'PolitizrFrontBundle:Fragment:ReactionFeed.html.twig' with { 'pDocument': reaction, 'reactionTo': reaction.reactionTo, 'globalComments': reaction.globalComments } only %}
		{% else %}
			<div id="noResult">
				Aucune réaction pour le moment
			</div>
		{% endfor %}
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:debateDetail.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}
{% endblock javascriptFooter %}
