{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% block title %}
    {{ parent() }} - Publications pour la famille politique {{ organization.title }}
{% endblock title %}

{% block content %}
    <div id="content">
        <div class="list">
            <div class="listHeaderByOrg">
                <div class="listHeader">
                    <h5>Les publications de la famille politique<div class="org">{{ organization.initials }}</div></h5>
                    <h1>{{ organization.title }}</h1>
                </div>
            </div>
            <div class="pseudoTabs" uuid="{{ organization.uuid }}">
                <a class="currentPage" action="documentsByOrganizationListing" orderBy="{{ constant('Politizr\\Constant\\ListingConstants::ORDER_BY_KEYWORD_BEST_NOTE') }}">Top</a>
                <a action="documentsByOrganizationListing" orderBy="{{ constant('Politizr\\Constant\\ListingConstants::ORDER_BY_KEYWORD_LAST') }}">Les plus récentes</a>
            </div>
            <div id="documentListing" class="withLoaderInside">
                {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
                <div class="listTop"></div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    {% if not app.user %}
        {% include 'PolitizrFrontBundle:Navigation\\Menu:_createAccount.html.twig' %}
    {% endif %}
    {% include 'PolitizrFrontBundle:Organization:_sidebarList.html.twig' %}
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/organization/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/listingByOrganization.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
