{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% set metaTitle = 'Publications les plus recommandées' %}
{% set metaDescription = 'Liste des publications les plus recommandées pour ' ~ month ~ ' ' ~ year ~ 'disponibles sur Politizr.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block content %}
    <div id="content">
        <div class="list">
            <div class="listTop">
                <div class="listTopHeader" class="withLoaderInside">
                    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}                    
                </div>
            </div>
            <div id="documentListing" class="withLoaderInside" month="{{ numMonth }}" year="{{ year }}">
                {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
                <div class="listTop"></div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    {% if not app.user %}
        {% include 'PolitizrFrontBundle:Navigation\\Menu:_createAccount.html.twig' %}
    {% else %}
        {% include 'PolitizrFrontBundle:Tag:_sidebarFollowedTags.html.twig' with {'uuid': app.user.uuid} only %}
    {% endif %}
    {# include 'PolitizrFrontBundle:Tag:_sidebarTopTags.html.twig' #}
    {% include 'PolitizrFrontBundle:Tag:_sidebarFamilyTags.html.twig' %}
    {% include 'PolitizrFrontBundle:Tag:_sidebarTypeTags.html.twig' %}
    {% include 'PolitizrFrontBundle:Document:_sidebarTopDocuments.html.twig' %}
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/tag/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/listingByRecommend.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
