{% set layout = 'PolitizrFrontBundle::layout.html.twig' %}
{% if (isGrantedE()) %}
    {% set layout = 'PolitizrFrontBundle::layoutE.html.twig' %}
{% elseif (isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutC.html.twig' %} 
{% endif %}
{% extends layout %}

{% block connexionBox %}
    {% if not is_granted('ROLE_PROFILE_COMPLETED') %}
        {{ render(controller('PolitizrFrontBundle:Security:login')) }}
    {% endif %}
{% endblock %}

{% block main %}
    <div id="main">
        <div class="row text-center">
            <div class="img-responsive">
                <img src="{{ asset('uploads/organizations/'~organization.fileName) | imagine_filter('organization_detail') }}" alt="{{ organization.initials }}">
            </div>
        </div>
        <div class="row text-center">
            <div class="label label-default">{{ organization.initials }}</div>
        </div>
        <h3>{{ organization.title }}</h3>
        <div id="organization-description">
            {{ organization.description | raw }}
            {% if organization.url %}
                <a href="{{ organization.url }}">Plus d'informations</a>
            {% endif %}
        </div>
        <hr>
        <div id="paginated-list" data-subject-id="{{ organization.id }}">
            <ul class="nav nav-tabs">
                <li role="list" class="active"><a class="order" order="last">Derniers</a></li>
                <li role="list"><a class="order" order="mostFollowed">Plus suivis</a></li>
            </ul>
            <hr>
            <form id="list-filter" class="text-center">
                <input type="checkbox" class="filter" name="filters[]" value="newest"/>&nbsp;Les plus récents
                <input type="checkbox" class="filter" name="filters[]" value="qualified" />&nbsp;Débatteurs uniquement
            </form>
            <hr>
            <div id="list-content">
            </div>
        </div>        
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}

    {% include 'PolitizrFrontBundle:JS:followUser.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:listingPaginated.js.twig' with { 'RouteName': 'OrganizationUserList' } %}
{% endblock javascriptFooter %}
