{% set layout = 'PolitizrFrontBundle::layout.html.twig' %}
{% if (is_granted('ROLE_ELECTED')) %}
	{% set layout = 'PolitizrFrontBundle::layoutE.html.twig' %}
{% elseif (is_granted('ROLE_CITIZEN')) %}
	{% set layout = 'PolitizrFrontBundle::layoutC.html.twig' %} 
{% endif %}
{% extends layout %}

{% block connexionBox %}
	{% if not is_granted('ROLE_PROFILE_COMPLETED') %}
	    {{ render(controller('PolitizrFrontBundle:Security:login')) }}
	{% endif %}
{% endblock %}

{% block main %}
	<div id="main" class="container">
		<div class="row">
			<h3><a class="bg-info" href="{{ path('DebateDetail', { 'id': debate.id, 'slug': debate.slug }) }}">{{ debate.title }}</a></h3>
		</div>
		{% include 'PolitizrFrontBundle:Fragment:ReactionBlock.html.twig' with { 'reaction': reaction, 'full': true } %}
		<div class="row text-center">
			{% if is_granted('ROLE_ELECTED') %}
				{# TODO / message indiquant si des réactions courantes sont déjà en cours de réaction pour cette réaction par le user courant #}
				<div class="row text-center">
					<a class="btn btn-danger" href="{{ path('ReactionDraftNew', { 'debateId': debate.id, 'parentId': reaction.id }) }}">Réagir</a>
				</div>
				<hr>
			{% endif %}
			<a class="btn btn-primary" href="{{ path('DebateFeed', { 'id': debate.id, 'slug': debate.slug }) }}">Fil du débat</a>
		</div>
		<hr>
		<div class="debate-reactions-feed">
			{% for reaction in reaction.childrenReactions %}
				{% include 'PolitizrFrontBundle:Fragment:ReactionBlock.html.twig' with {'reaction': reaction, 'full': false } only %}
				<div class="row text-center">
					<a class="btn btn-primary" href="{{ path('ReactionDetail', { 'id': reaction.id, 'slug': reaction.slug }) }}">Détail de la réaction</a>
				</div>
				<div class="border-row">&nbsp;</div>
			{% else %}
				<div class="no-result">
					Aucune réaction pour le moment
				</div>
			{% endfor %}
		</div>
		<hr>
		<div class="reaction-comments">
			{% for comment in reaction.getComments %}
				{% include 'PolitizrFrontBundle:Fragment:Comment.html.twig' with { 'comment': comment, 'docLink': false } %}
				<hr>
			{% else %}
				<div class="no-result">
					Aucun commentaire pour le moment
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS:follow.js.twig' %}
	{% include 'PolitizrFrontBundle:JS:followers.js.twig' %}

    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}
{% endblock javascriptFooter %}
