{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% set metaTitle = circle.title | purify | trim %}
{% set metaDescription = circle.summary | striptags | truncate(160, true) | purify %}
{% set ogDescription = circle.summary | striptags | truncate(295, true) | purify %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ ogDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %}
    {% spaceless %}
        {% if (isGrantedE() or isGrantedC()) %}
            class="grp"
        {% else %}    
            class="grp public"
        {% endif %}
    {% endspaceless %}
{% endblock bodyClass %}

{% block header %}
    {% if (isGrantedE() or isGrantedC()) %}
        {% embed 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
            {% block newSubject %}
            {% endblock %}
        {% endembed %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block headerMsg %}
    {{ circle | readOnlyMessage }}
{% endblock %}

{% block main %}
    <div id="main">
        <div class="center">
            {{ circle | circleMenuTop }}
            {{ circleBreadcrumb(circle = circle) }}
            <div class="grpCard">
                <div class="grpGlobalIntro">
                    {{ circle.description | raw }}
                </div>
                <div class="grpAnswersBy">
                    <div class="grpAnswersByTitle">
                        <h1>Les élus du Conseil départemental de l’Ariège en charge de ces sujets</h1>
                        <div class="grpAnswersByTitleNotice">
                            <i class="icon-info"></i>
                            <p>Tous les conseillers départementaux ci-contre peuvent répondre à vos questions.</p>
                        </div>
                    </div>
                    {{ circle | authorizedReactionUsers() }}
                </div>
                <div class="grpChaptersList">
                    <h1>Les 8 chapitres du budget primitif</h1>
                    <h2>sur lesquels le Conseil départemental souhaite connaître votre opinion</h2>
                    {% for topic in topics %}
                        <div class="grpChaptersListItem">
                            <div class="grpCharterImg">
                                <a href="{{ path('TopicDetail', { 'circleSlug': circle.slug, 'slug': topic.slug }) }}">
                                    <span>{{ topic.title }}</span>
                                    {% if topic.fileName %}
                                        <img src="{{ asset(constant('Politizr\\Constant\\PathConstants::CIRCLE_UPLOAD_WEB_PATH') ~ topic.fileName) | imagine_filter('topic_list') }}" alt="{{ topic.title }}">
                                    {% endif %}
                                </a>
                            </div>
                            {{ topic | topicStats }}
                            <p>
                                {{ topic.summary | striptags | truncate(50, true) | purify }}
                                <a href="{{ path('TopicDetail', { 'circleSlug': circle.slug, 'slug': topic.slug }) }}" class="grpKnowMore">En savoir plus</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
            {{ circle | circleFooter }}
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("Groupe - {{ circle.title }}");
        </script>
    {% endif %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/detailCircle.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
