<div class="comment">
	<div class="comment-description row">
		{% set user = comment.pUser %}
		{% if user %}
			<div class="col-sm-2 text-center">
				<a href="{{ path('UserDetail', { 'id': user.id, 'slug': user.slug }) }}">
					{% if (user.fileName) %}
			            <img src="{{ asset('uploads/users/'~user.fileName) | imagine_filter('user_mini_thumb') }}" alt="{{ user.name }}">
			        {% else %}
			            <img src="{{ asset('bundles/politizrfront/images/default_user.png') | imagine_filter('user_mini_thumb') }}" alt="{{ user.name }}">
		        	{% endif %}
				</a>
			</div>
		{% endif %}
		<div class="col-sm-8">
			{% if (docLink) %}
				{% if comment.type == constant('Politizr\\Model\\PDocument::TYPE_DEBATE') %}
					<a href="{{ path('DebateDetail', { 'id': comment.document.id, 'slug': comment.debate.slug }) }}">
				{% elseif comment.type == constant('Politizr\\Model\\PDocument::TYPE_REACTION') %}
					<a href="{{ path('ReactionDetail', { 'id': comment.document.id, 'slug': comment.reaction.slug }) }}">
				{% endif %}
			{% endif %}
				<em>"{{ comment.description }}"</em>
			{% if (docLink) %}
				</a>
			{% endif %}
			{% if comment.paragraphNo != 0 %}
				(paragraphe n°{{ comment.paragraphNo }})
			{% endif %}		
		</div>
		<div class="col-sm-2">
			<span class="label label-default">publié le {{ comment.publishedAt | localizeddate('medium', 'short', app.request.locale, "Europe/Paris", "EEEE d MMMM HH'h'mm" ) | capitalize }}</span>
		</div>
	</div>
	<div class="comment-author row text-center">
		<div class="col-sm-12">
			{% include 'PolitizrFrontBundle:Fragment:Notation.html.twig' with { 'object': comment } only %}
		</div>
	</div>
</div>
<hr>