<div class="debate-header">
	<div class="row">
		<h3>
			<div class="col-sm-10">
				{% if not full %}
					<a class="bg-info" href="{{ path('DebateDetail', { 'id': debate.id, 'slug': debate.getSlug }) }}">{{ debate.getTitle | slice(0, 100)}}</a>
				{% else %}
					<span class="glyphicon glyphicon-bullhorn"></span>
					{{ debate.getTitle }}
				{% endif %}
			</div>
		</h3>
		<div class="col-sm-2 text-center">
			<span class="label label-default pull-right">publié le {{ debate.getPublishedAt | localizeddate('medium', 'short', app.request.locale, "Europe/Paris", "EEEE d MMMM HH'h'mm" ) | capitalize }}</span>
		</div>
	</div>
	<h4>
		<div action="user-more-info" class="row">
			<a class="label label-info">par {{ debate.getPUser }}</a>
		</div>
		<div class="row" action="user-infos">
			<hr>
			{% include 'PolitizrFrontBundle:Fragment:UserBlock.html.twig' with { 'pUser': debate.getPUser, 'full': false } only %}
		</div>
	</h4>
</div>
<hr>
<div class="debate-tags">
	<!-- TAGS -->
	<div class="row text-center">
		<div class="col-sm-6">
			{{ debateTags(debate, constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) }}
		</div>
		<div class="col-sm-6">
			{{ debateTags(debate, constant('\\Politizr\\Model\\PTTagType::TYPE_THEME')) }}
		</div>
	</div>
</div>
<hr>
<div class="row text-center">
	<!-- FOLLOWERS -->
	<div id="followers">
		Suivi par <a action="show-followers-c-list" class="label label-primary">{{ debate.countFollowersC }} citoyens</a> et <a action="show-followers-q-list" class="label label-primary">{{ debate.countFollowersQ }} élus</a>
		<div action="followers-c-list">
			{% for follower in debate.followersC %}
                {% if ((loop.index0%4) == 0) %}
                    <div class="row">
                {% endif %}
				<div class="col-sm-3">
					<a href="{{ path('UserDetail', { 'id': follower.id, 'slug': follower.slug }) }}">
						{% if (follower.fileName) %}
				            <img src="{{ asset('uploads/users/'~follower.fileName) | imagine_filter('user_mini_thumb') }}" alt="{{ follower.name }}">
				        {% else %}
				            <img src="{{ asset('bundles/politizrfront/images/default_user.png') | imagine_filter('user_mini_thumb') }}" alt="{{ follower.name }}">
			        	{% endif %}
					</a>
				</div>
				{% if ((loop.index%4) == 0 or loop.length == loop.index) %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div action="followers-q-list">
			{% for follower in debate.followersQ %}
                {% if ((loop.index0%4) == 0) %}
                    <div class="row">
                {% endif %}
				<div class="col-sm-3">
					<a href="{{ path('UserDetail', { 'id': follower.id, 'slug': follower.slug }) }}">
						{% if (follower.fileName) %}
				            <img src="{{ asset('uploads/users/'~follower.fileName) | imagine_filter('user_mini_thumb') }}" alt="{{ follower.name }}">
				        {% else %}
				            <img src="{{ asset('bundles/politizrfront/images/default_user.png') | imagine_filter('user_mini_thumb') }}" alt="{{ follower.name }}">
			        	{% endif %}
					</a>
				</div>
				{% if ((loop.index%4) == 0 or loop.length == loop.index) %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% if full %}
	<hr>
	<div class="debate-image">
		<div class="row text-center">
			<img src="{{ asset('uploads/documents/'~debate.fileName) | imagine_filter('debate_header') }}" />
		</div>
	</div>
{% endif %}
<hr>
<div class="debate-summary jumbotron">
	<div class="debate-summary">
		{{ debate.getSummary | raw }}
	</div>
	<div class="star">
		{{ linkFollow(debate.id, 'debate') }}
	</div>
</div>
{% if full %}
	<hr>
	<div class="debate-body">
		<div class="debate-description">
			{{ debate.getDescription | raw }}
		</div>
		{% if debate.getMoreInfo | striptags | trim is not empty %}
			<hr>
			<div class="debate-more-info well">
				{{ debate.getMoreInfo | raw }}
			</div>
		{% endif %}
	</div>
{% endif %}
<hr>