<input type="hidden" id="debate_id" value="{{ debate.id }}" />
<div class="debate-header">
	<div class="row">
		<h3>
			<div class="col-sm-9">
				{{ debate.title }}
			</div>
		</h3>
		<div class="col-sm-1 text-center">
			<span class="label label-default pull-right">non publié</span>
		</div>
		<div class="col-sm-1 text-center">
			<a class="btn btn-primary" href="{{ path('DebateDraftEdit', { 'id': debate.id }) }}">Editer</a>
		</div>
		<div class="col-sm-1 text-center">
			<a action="debate-publish" class="btn btn-danger">Publier</a>
		</div>
	</div>
	<h4>
		<div action="user-more-info" class="row">
			<a class="label label-info">par {{ debate.pUser }}</a>
		</div>
		<div class="row" action="user-infos">
			<hr>
			{% include 'PolitizrFrontBundle:Fragment:UserBlock.html.twig' with { 'pUser': debate.pUser, 'full': false } only %}
		</div>
	</h4>
</div>
<hr>
<div class="debate-tags">
	<!-- TAGS -->
	<div class="row text-center">
		<div class="col-sm-6">
			{{ debateTags(debate, constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) }}
		</div>
		<div class="col-sm-6">
			{{ debateTags(debate, constant('\\Politizr\\Model\\PTTagType::TYPE_THEME')) }}
		</div>
	</div>
</div>
<hr>
<hr>
<div class="debate-image">
	<div class="row text-center">
		{% if debate.fileName %}
			<img class="img-responsive" src="{{ asset('uploads/documents/'~debate.fileName) | imagine_filter('debate_header') }}" />
		{% else %}
			<img class="img-responsive" src="{{ asset('bundles/politizrfront/images/default_debate.jpg') | imagine_filter('debate_header') }}">
		{% endif %}
	</div>
</div>
<hr>
<div class="debate-summary jumbotron">
	<div class="debate-summary">
		{{ debate.summary | raw }}
	</div>
</div>
<hr>
<div class="debate-body">
	<div class="debate-description">
		{{ debate.description | raw }}
	</div>
	{% if debate.moreInfo | striptags | trim is not empty %}
		<hr>
		<div class="debate-more-info well">
			{{ debate.moreInfo | raw }}
		</div>
	{% endif %}
</div>
<hr>