<tr>
	<td>
		{% if document.fileName %}
			<img src="{{ asset('uploads/documents/'~document.fileName) | imagine_filter('c_document_list_thumb') }}" />
		{% else %}
			Aucun
		{% endif %}
	</td>
	<td>{{ document.title }}</td>
	<td>{{ document.summary | striptags | slice(0, 150) | raw }}</td>
	<td>{{ document.createdAt | date('d/m/Y H:i') }}</td>
	<td>
		<a class="btn btn-primary" href="{{ path('DebateDraftEdit', { 'id': document.id }) }}">Editer</a>
		<a class="btn btn-info" href="{{ path('DebateDraftPreview', { 'id': document.id, 'slug': document.slug }) }}">Prévisualiser</a>
	</td>
</tr>