<div class="document-header">
	<div class="row">
		{% if objectType == constant('Politizr\\Model\\PDocument::TYPE_REACTION') %}
			<div class="col-sm-3">
				<h4><a class="bg-warning" href="{{ path('ReactionDetail', { 'id': document.id, 'slug': document.slug }) }}">{{ document.title }}</a></h4>
			</div>
			<div class="col-sm-3">
				sur le débat <h4><a class="bg-info" href="{{ path('DebateDetail', { 'id': document.debate.id, 'slug': document.debate.slug }) }}">{{ document.debate.title }}</a></h4>
			</div>
		{% elseif objectType == constant('Politizr\\Model\\PDocument::TYPE_DEBATE') %}
			<div class="col-sm-6">
				<h4><a class="bg-info" href="{{ path('DebateDetail', { 'id': document.id, 'slug': document.slug }) }}">{{ document.title }}</a></h4>
			</div>
		{% endif %}
		<div class="col-sm-2 text-center">
			<span class="count-reactions">
				{% set nbReactions = document.countReactions(true, true) %}
				<span class="badge alert-info">
					{% if objectType == constant('Politizr\\Model\\PDocument::TYPE_REACTION') %}
						<a href="{{ path('DebateFeed', { 'id': document.debate.id, 'slug': document.debate.slug }) }}">{{ nbReactions }} réactions</a>
					{% else %}
						<a href="{{ path('DebateFeed', { 'id': document.id, 'slug': document.slug }) }}">{{ nbReactions }} réactions</a>
					{% endif %}
				</span>
			</span>
		</div>
		<div class="notes col-sm-2 text-center">
			{{ linkNote(document, objectType) }}
		</div>
		<div class="col-sm-2 text-center">
			{% if document.published %}
				<span class="label label-default text-center">publié le {{ document.publishedAt | localizeddate('medium', 'short', app.request.locale, "Europe/Paris", "EEEE d MMMM HH'h'mm" ) | capitalize }}</span>
			{% endif %}
		</div>
	</div>
	{% if withAuthor %}
		<div class="row" action="user-more-info">
			<div class="author-mini-block col-sm-12">
				{% include 'PolitizrFrontBundle:Fragment:UserMiniBlock.html.twig' with {'user': document.pUser } only %}
			</div>
		</div>				
	{% endif %}
	{% if withMoreInfos %}
		{% if objectType == constant('Politizr\\Model\\PDocument::TYPE_DEBATE') %}
			<hr>
			<div class="row debate-tags text-center">
				<!-- TAGS -->
				<div class="col-sm-6">
					{{ debateTags(document, constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) }}
				</div>
				<div class="col-sm-6">
					{{ debateTags(document, constant('\\Politizr\\Model\\PTTagType::TYPE_THEME')) }}
				</div>
			</div>
			<hr>
			<div class="row text-center">
				<!-- FOLLOWERS -->
				{% include 'PolitizrFrontBundle:Fragment:FollowersBlock.html.twig' with {'nbC': document.countFollowersC, 'nbQ': document.countFollowersQ, 'followersC': document.followersC, 'followersQ': document.followersQ } only %}
			</div>
		{% endif %}
	{% endif %}
</div>