<div class="document-header">
	<div class="row">
		{% if objectType == constant('Politizr\\Model\\PDocument::TYPE_REACTION') %}
			<div class="col-sm-7">
				<h4><a class="bg-warning" href="{{ path('ReactionDetail', { 'id': document.id, 'slug': document.slug }) }}">{{ document.title }}</a></h4>
			</div>
			<div class="col-sm-4">
				sur le débat <h4><a class="bg-info" href="{{ path('DebateDraftPreview', { 'id': document.debate.id, 'slug': document.debate.slug }) }}">{{ document.debate.title }}</a></h4>
			</div>
		{% elseif objectType == constant('Politizr\\Model\\PDocument::TYPE_DEBATE') %}
			<div class="col-sm-11">
				<h4><a class="bg-info" href="{{ path('DebateDetail', { 'id': document.id, 'slug': document.slug }) }}">{{ document.title }}</a></h4>
			</div>
		{% endif %}
		<div class="col-sm-1 text-center">
			<a class="btn btn-primary" href="{{ path('DebateDraftEdit', { 'id': document.id }) }}">Editer</a>
		</div>
	</div>
</div>