<div id="followers">
	Suivi par <a action="show-followers-c-list" class="label label-primary">{{ nbC }} citoyens</a> et <a action="show-followers-q-list" class="label label-primary">{{ nbQ }} élus</a>
	<div action="followers-c-list">
		<hr>
		{% for follower in followersC %}
            {% if ((loop.index0%12) == 0) %}
                <div class="row">
            {% endif %}
			<div class="col-sm-1">
				<a href="{{ path('UserDetail', { 'id': follower.id, 'slug': follower.slug }) }}">
					{% if (follower.fileName) %}
			            <img class="img-circle" src="{{ asset('uploads/users/'~follower.fileName) | imagine_filter('user_mini_thumb') }}" alt="{{ follower }}" title="{{ follower }}">
			        {% else %}
			            <img class="img-circle" src="{{ asset('bundles/politizrfront/images/default_user.png') | imagine_filter('user_mini_thumb') }}" alt="{{ follower }}" title="{{ follower }}">
		        	{% endif %}
				</a>
			</div>
			{% if ((loop.index%12) == 0 or loop.length == loop.index) %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div action="followers-q-list">
		<hr>
		{% for follower in followersQ %}
            {% if ((loop.index0%12) == 0) %}
                <div class="row">
            {% endif %}
			<div class="col-sm-1">
				<a href="{{ path('UserDetail', { 'id': follower.id, 'slug': follower.slug }) }}">
					{% if (follower.fileName) %}
			            <img class="img-circle" src="{{ asset('uploads/users/'~follower.fileName) | imagine_filter('user_mini_thumb') }}" alt="{{ follower }}" title="{{ follower }}">
			        {% else %}
			            <img class="img-circle" src="{{ asset('bundles/politizrfront/images/default_user.png') | imagine_filter('user_mini_thumb') }}" alt="{{ follower }}" title="{{ follower }}">
		        	{% endif %}
				</a>
			</div>
			{% if ((loop.index%12) == 0 or loop.length == loop.index) %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
