<input type="hidden" id="reaction_id" value="{{ reaction.id }}" />
<div class="reaction-header">
	<div class="row">
		<div class="col-sm-9">
			<h3>{{ reaction.title }}</h3>
		</div>
		<div class="col-sm-1 text-center">
			<span class="label label-default pull-right">non publié</span>
		</div>
		<div class="col-sm-1 text-center">
			<a class="btn btn-primary" href="{{ path('ReactionDraftEdit', { 'id': reaction.id }) }}">Editer</a>
		</div>
		<div class="col-sm-1 text-center">
			<a action="reaction-publish" class="btn btn-danger" url="{{ path('MyReactionsE') }}">Publier</a>
		</div>
	</div>

	{#
	<div>
		<hr>
		DEBUG NESTED SET - 
		isRoot {{ reaction.isRoot }} - 
		isLeaf {{ reaction.isLeaf }} - 
		getLevel {{ reaction.getLevel }} - 
		hasChildren {{ reaction.hasChildren }} - 
		countChildren {{ reaction.countChildren }} - 
		hasPrevSibling {{ reaction.hasPrevSibling }} - 
		hasNextSibling {{ reaction.hasNextSibling }} - 
	</div>
	#}

	{% if reaction.level > 1 %}
		{% set parentReaction = reaction.getParent %}
		<h4 class="label label-warning">En réaction à "<a href="{{ path('ReactionDetail', { 'id': parentReaction.id, 'slug': parentReaction.slug }) }}">{{ parentReaction.title }}</a>"</h4>
	{% endif %}

	<div class="row" action="user-more-info">
		<div class="author-mini-block col-sm-12">
			{% include 'PolitizrFrontBundle:Fragment:UserMiniBlock.html.twig' with {'user': reaction.pUser } only %}
		</div>
	</div>
</div>
<hr>
<div class="reaction-summary jumbotron">
	<div class="reaction-summary">
		{{ reaction.getSummary | raw }}
	</div>
</div>
<hr>
<div class="reaction-body">
	<div class="reaction-description sizeup">
		{{ reaction.getDescription | raw }}
	</div>
	{% if reaction.getMoreInfo | striptags | trim is not empty %}
		<hr>
		<div class="reaction-more-info well">
			{{ reaction.getMoreInfo | raw }}
		</div>
	{% endif %}
</div>
<hr>