<div class="reactionBlock">
	<h3>{{ pDocument.title }}</h3>
	<h4>par {{ pDocument.pUser }}</h4>
	<h5>publié le {{ pDocument.publishedAt('d/m/Y') }}</h5>

	<div class="debateHeader">
		<div id="debateSummary">
			{{ pDocument.summary | raw }}
		</div>
		<a class="readZen" objectId="{{ pDocument.id }}" type="reaction">Lire l'intégralité de la réaction</a>
	</div>
	<hr>
	<div class="reactionTo">
		{% if reactionTo %}
			En réaction à la réaction<br/>
			<i>"{{ reactionTo.title }}"</i> par {{ reactionTo.pUser }}
		{% endif %} 
	</div>
	<hr>
	{% if linkDebate and reactionTo.pDDebate %}
		<div class="linkedDebate">
			Débat associé<br/>
			<i>"<a href="{{ path('DebateDetail', { 'id': reactionTo.pDDebate.id, 'slug': reactionTo.pDDebate.slug }) }}">{{ reactionTo.pDDebate.title }}</a>"</i> par <a href="{{ path('AuthorDetail', { 'id': reactionTo.pDDebate.pUser.id, 'slug': reactionTo.pDDebate.pUser.slug }) }}">{{ reactionTo.pDDebate.pUser }}</a>
		</div>
	{% endif %} 
	<hr>
	<div class="reactionMoreInfos">
		{% include 'PolitizrFrontBundle:Fragment:UserMiniBio.html.twig' with { 'pUser': pDocument.pUser } only %}
		<hr>
		{% include 'PolitizrFrontBundle:Fragment:ReactionInfos.html.twig' with { 'pDocument': pDocument, 'globalComments': globalComments } only %}
	</div>
</div>
