<div class="authorBlock">
	<span class="authorMoreInfo">A propos de l'auteur</span>
	<hr>
	{% if pUser %}
		<div class="authorInfos">
			{% if (pUser.fileName) %}
	            <img src="{{ asset('uploads/users/'~pUser.fileName) | imagine_filter('user_bio_mini_thumb') }}" alt="{{ pUser.name }}">
	        {% else %}
	            <img src="{{ asset('bundles/axanimfront/images/default_user.png') }}" alt="{{ pUser.name }}">
	        {% endif %}
			<div class="name">{{ pUser.firstname }} {{ pUser.name }}</div>
			<div class="bio">
				{% if pUser.type == constant('Politizr\\Model\\PUser::TYPE_CITOYEN') %}
					<span>Citoyen</span>
				{% else %}
					<span>Élu</span>
					{% set puQualification = pUser.currentQualification %}
					{% if puQualification %}
						<div class="qualification">
							<span>{{ puQualification.title }}</span>
							<div>{{ puQualification.description | raw }}</div>
						</div>
					{% endif %}		
					<div>{{ pUser.biography | raw | slice(0, 100) }}...</div>
				{% endif %}
			</div>
			<div class="followers">
				<span>Suivi par {{ pUser.countPUserFollowersC }} citoyens et {{ pUser.countPUserFollowersQ }} élus.</span>
				<div class="star">
					{{ linkFollow(pUser.id, 'puser') }}
				</div>
			</div>
			<a href="{{ path('AuthorDetail', { 'id': pUser.id, 'slug': pUser.slug }) }}">en savoir plus</a>
		</div>
	{% else %}
		<div class="authorInfos">
			Auteur supprimé
		</div>
	{% endif %}
</div>