<div class="author-block">
	{% if pUser %}
		<hr>
		<div class="row text-center">
			<div class="col-sm-4">
				<div class="image">
					{% if (pUser.fileName) %}
			            <img src="{{ asset('uploads/users/'~pUser.fileName) | imagine_filter('user_bio_mini_thumb') }}" alt="{{ pUser.name }}">
			        {% else %}
			            <img src="{{ asset('bundles/politizrfront/images/default_user.png') | imagine_filter('user_mini_thumb') }}" alt="{{ pUser.name }}">
		        	{% endif %}
		        </div>
			</div>
			<div class="col-sm-4">
				<div class="identity">
					<h3>
						<a href="{{ path('UserDetail', { 'id': pUser.id, 'slug': pUser.slug }) }}">{{ pUser }}</a>&nbsp;<span class="badge alert-success">{{ pUser.reputationScore }}</span>
					</h3>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="type">
					<h3>
						{% if pUser.pUTypeId == constant('Politizr\\Model\\PUType::TYPE_CITOYEN') %}
							<span class="label label-primary">Citoyen</span>
						{% else %}
							<span class="label label-danger">Élu</span>
						{% endif %}
					</h3>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="bio">
				{% if pUser.pUTypeId == constant('Politizr\\Model\\PUType::TYPE_QUALIFIE') %}
					<div class="col-sm-4 text-center">
						{% set puQualification = pUser.currentQualification %}
						<div class="qualification">
							{% if puQualification %}
								<span class="label label-success">{{ puQualification.mandateTypeTitle }}</span>
								<span class="label">{{ puQualification.politicalPartyInitials }}</span>
								{% if (puQualification.politicalPartyLogo) %}
						            <img src="{{ asset('uploads/political/'~puQualification.politicalPartyLogo) | imagine_filter('political_party_mini_thumb') }}" alt="{{ puQualification.politicalPartyInitials }}">
					        	{% endif %}
								{% if full %}
									<p>{{ puQualification.description | raw  }}</p>
								{% endif %}
							{% else %}
								<span class="label label-danger">Aucun mandat renseigné</span>
							{% endif %}
						</div>
					</div>
					<div class="col-sm-8">
						{% if full %}
							<p>{{ pUser.biography | raw  }}</p>
						{% else %}
							<p>{{ pUser.biography | striptags | raw | slice(0, 200) }}...</p>
						{% endif %}
					</div>
				{% else %}
					<div class="col-sm-6">
						{% if full %}
							<p>{{ pUser.summary | raw  }}</p>
						{% else %}
							<p>{{ pUser.biography | striptags | raw | slice(0, 200) }}...</p>
						{% endif %}
					</div>
					<div class="col-sm-6">
						{% if full %}
							<p>{{ pUser.biography | raw  }}</p>
						{% else %}
							<p>{{ pUser.biography | striptags | raw | slice(0, 200) }}...</p>
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
		<hr>
		<div class="user-tags">
			<!-- TAGS -->
			<div class="row text-center">
				<div class="col-sm-6">
					{{ userTaggedTags(pUser, constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) }}
				</div>
				<div class="col-sm-6">
					{{ userTaggedTags(pUser, constant('\\Politizr\\Model\\PTTagType::TYPE_THEME')) }}
				</div>
			</div>
		</div>
		<hr>
		<div class="row text-center">
			<!-- REPUTATION / BADGES -->
			<div id="badges">
				{% for prBadge in pUser.prBadges %}
					{# TODO extraire le grade dans une table séparée #}
					<span class="label label-warning">{{ prBadge.title }} ({{ prBadge.grade }})</span>
				{% endfor %}
			</div>
		</div>
		<hr>
		<div class="row text-center">
			<!-- FOLLOWERS -->
			<div id="followers">
				Suivi par <a action="show-followers-c-list" class="label label-primary">{{ pUser.countPUserFollowersC }} citoyens</a> et <a action="show-followers-q-list" class="label label-primary">{{ pUser.countPUserFollowersQ }} élus</a>
				<div action="followers-c-list">
					{% for follower in pUser.pUserFollowersC %}
		                {% if ((loop.index0%4) == 0) %}
		                    <div class="row">
		                {% endif %}
						<div class="col-sm-3">
							<a href="{{ path('UserDetail', { 'id': follower.id, 'slug': follower.slug }) }}">
								{% if (follower.fileName) %}
						            <img src="{{ asset('uploads/users/'~follower.fileName) | imagine_filter('user_mini_thumb') }}" alt="{{ follower.name }}">
						        {% else %}
						            <img src="{{ asset('bundles/politizrfront/images/default_user.png') | imagine_filter('user_mini_thumb') }}" alt="{{ follower.name }}">
					        	{% endif %}
							</a>
						</div>
						{% if ((loop.index%4) == 0 or loop.length == loop.index) %}
							</div>
						{% endif %}
					{% endfor %}
				</div>
				<div action="followers-q-list">
					{% for follower in pUser.pUserFollowersQ %}
		                {% if ((loop.index0%4) == 0) %}
		                    <div class="row">
		                {% endif %}
						<div class="col-sm-3">
							<a href="{{ path('UserDetail', { 'id': follower.id, 'slug': follower.slug }) }}">
								{% if (follower.fileName) %}
						            <img src="{{ asset('uploads/users/'~follower.fileName) | imagine_filter('user_mini_thumb') }}" alt="{{ follower.name }}">
						        {% else %}
						            <img src="{{ asset('bundles/politizrfront/images/default_user.png') | imagine_filter('user_mini_thumb') }}" alt="{{ follower.name }}">
					        	{% endif %}
							</a>
						</div>
						{% if ((loop.index%4) == 0 or loop.length == loop.index) %}
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		<hr>
		<div class="row text-center">
			<div class="star">
				{{ linkFollow(pUser.id, 'user') }}
			</div>
		</div>
	{% else %}
		<div class="author-infos">
			<span class="label label-danger">Auteur supprimé</span>
		</div>
	{% endif %}
</div>