{# Nom #}
<a href="{{ path('UserDetail', { 'id': user.id, 'slug': user.slug }) }}" class="label label-info">{{ user }}</a>
{% if user.validated %}
	<span class="glyphicon glyphicon-ok" title="Profil validé"></span>
{% endif %}
{# Score réputation #}
<span class="badge alert-success">{{ user.reputationScore }}</span>
{# Type #}
{% if user.pUTypeId == constant('Politizr\\Model\\PUType::TYPE_CITOYEN') %}
	<span class="label label-primary">Citoyen</span>
{% else %}
	<span class="label label-danger">Élu</span>
{% endif %}
{# Mandat en cours #}
{% if user.currentQualification %}
	{% set qualification = user.currentQualification %}
	{% if (qualification) %}
        <img src="{{ asset('uploads/political/'~qualification.politicalPartyLogo) | imagine_filter('political_party_mini_thumb') }}" alt="{{ qualification.politicalPartyInitials }}">
	{% endif %}	
{% endif %}