<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="280px" height="181.732px" viewBox="0 0 280 181.732" enable-background="new 0 0 280 181.732" xml:space="preserve">
<a action="map" uuid="{{ mapTagUuids['eureEtLoir'] }}">
    <path {% if current == 'eureEtLoir' %}class="selected"{% endif %} id="eureEtLoir" fill="#818089" d="M153.131,34.431l-2.537-2.536c-0.07-0.072-0.121-0.164-0.145-0.265l-1.385-6.218
	l-6.865-5.969c-0.111-0.098-0.178-0.234-0.186-0.382l-0.601-12.25l-3.723-6.813l-6.139,7.146l0.277,2.915
	c0.025,0.271-0.154,0.519-0.42,0.577l-6.896,1.521c-0.131,0.031-0.266,0.01-0.383-0.057l-2.965-1.67l-5.719,3.487
	c-0.057,0.032-0.119,0.06-0.184,0.067l-6.711,1.188l-2.369,2.643l0.086,3.307l5.209,4.716c0.115,0.104,0.178,0.255,0.176,0.41
	l-0.102,5.175l0.5,5.212c0.02,0.194-0.072,0.388-0.234,0.498l-8.234,5.593l1.148,8.184l2.385,4.171
	c0.066,0.118,0.088,0.26,0.057,0.394l-0.307,1.305l6.363-1.346c0.037-0.011,0.074-0.016,0.111-0.016
	c0.127,0,0.248,0.046,0.348,0.128l14.305,12.019l5.855-3.741c0.17-0.106,0.385-0.114,0.557-0.015l2.953,1.677l-0.209-2.17
	c-0.021-0.229,0.102-0.442,0.309-0.54l6.896-3.246c0.062-0.029,0.127-0.045,0.193-0.049l9.312-0.591l5.343-12.075l0.481-1.367
	c-0.002,0-0.002,0-0.002-0.002l-2.971-11.397l-1.605,0.192l-1.477,0.338C153.449,34.62,153.264,34.564,153.131,34.431z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['loiret'] }}">
    <path {% if current == 'loiret' %}class="selected"{% endif %} id="loiret" fill="#818089" d="M161.391,45.891l-0.76,0.114l-0.426,1.204l-5.49,12.412c-0.082,0.188-0.26,0.31-0.459,0.32
	l-9.535,0.604l-6.458,3.04l0.252,2.606c0.029,0.062,0.045,0.135,0.045,0.209c0,0.039-0.033,0.063-0.041,0.104
	c-0.006,0.015,0,0.028-0.006,0.041l2.727,7.896c0.051,0.146,0.035,0.305-0.039,0.438l-1.816,3.248l1.693,5.702l2.896-1.19
	c0.156-0.067,0.34-0.052,0.484,0.037l2.639,1.624c0.109,0.066,0.191,0.176,0.232,0.301l1.225,3.955l2.717,0.577l1.818-2.276
	c0.113-0.143,0.299-0.22,0.477-0.201l17.34,1.725c0.218,0.021,0.4,0.174,0.466,0.383l0.825,2.743l15.107,3.48
	c0.115,0.027,0.223,0.092,0.299,0.186l4.162,5.127l9.801-1.727l1.599-2.539c0.071-0.117,0.188-0.201,0.321-0.234l2.589-0.668
	l-2.32-7.229l-3.246-3.051c-0.12-0.113-0.182-0.276-0.168-0.443c0.017-0.164,0.104-0.312,0.244-0.403l5.896-3.799l1.604-2.311
	l-1.211-3.079c-0.078-0.195-0.035-0.416,0.106-0.568l5.109-5.404l-0.379-6.173l-7.369-8.144l-12.359,2.966
	c-0.057,0.014-0.106,0.021-0.17,0.014l-10.445-0.81c-0.233-0.02-0.434-0.188-0.483-0.418c-0.055-0.229,0.052-0.465,0.255-0.585
	l2.729-1.601l0.507-2.628l-4.567-4.668c-0.068-0.073-0.119-0.167-0.144-0.269l-0.636-3.078l-3.688-0.524l-2.979,1.826
	c-0.125,0.073-0.273,0.099-0.418,0.062c-0.142-0.039-0.26-0.131-0.334-0.258l-1.301-2.293l-1.744,2.534
	c-0.062,0.097-0.177,0.132-0.28,0.167l-0.164,0.29L161.391,45.891z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['loirEtCher'] }}">
    <path {% if current == 'loirEtCher' %}class="selected"{% endif %} id="loirEtCher" fill="#818089" d="M107.293,86.719l-0.246,4.989l1.598-1.278c0.168-0.142,0.406-0.156,0.594-0.057l6.898,3.752
	c0.219,0.119,0.328,0.371,0.266,0.609l-0.752,2.916l3.723,5.682c0.072,0.107,0.102,0.238,0.084,0.365l-1.279,10.047l2.141,1.729
	l2.74-1.275c0.072-0.035,0.148-0.051,0.227-0.051c0.033,0,0.064,0.02,0.1,0.022c0.031,0.006,0.057,0.011,0.088,0.021
	c0.105,0.039,0.203,0.104,0.27,0.205l4.504,7.182l6.449-3.414c0.064-0.033,0.133-0.041,0.201-0.051c0.104-0.01,0.205,0,0.301,0.049
	l2.297,1.189l1.564-2.521c0.084-0.137,0.225-0.227,0.381-0.25l7.199-1.016c0.137-0.019,0.271,0.014,0.379,0.086l5.75,3.871
	l2.648,0.084l0.613-2.713c0.047-0.205,0.207-0.365,0.414-0.408l10.455-2.207l-2.133-6.113c-0.082-0.229,0.002-0.479,0.198-0.619
	l6.267-4.362l-5.588-8.283c-0.09-0.131-0.117-0.291-0.074-0.443c0.041-0.154,0.146-0.279,0.293-0.346l5.256-2.439l-0.676-2.25
	l-16.691-1.659l-1.846,2.31c-0.127,0.16-0.328,0.229-0.533,0.188l-3.352-0.71c-0.191-0.04-0.349-0.183-0.404-0.368l-1.258-4.065
	l-2.229-1.371l-3.194,1.314c-0.142,0.059-0.302,0.053-0.437-0.014c-0.141-0.064-0.244-0.187-0.285-0.332l-1.928-6.489
	c-0.043-0.145-0.025-0.291,0.047-0.418l1.809-3.238l-2.693-7.795l-3.289-1.869l-5.916,3.781c-0.09,0.057-0.189,0.084-0.291,0.084
	c-0.006,0-0.01-0.004-0.016-0.004c-0.119-0.006-0.234-0.04-0.332-0.123L113.201,56.54l-6.777,1.434l-1.809,1.887l1.66,2.271
	c0.061,0.082,0.096,0.182,0.102,0.281l0.41,6.288c0.008,0.107-0.018,0.215-0.072,0.311l-7.102,12.069
	c-0.068,0.111-0.172,0.196-0.295,0.238l-3.348,1.115l-0.561,3.139l11.373,0.578C107.078,86.168,107.309,86.421,107.293,86.719z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['cher'] }}">
    <path {% if current == 'cher' %}class="selected"{% endif %} id="cher" fill="#818089" d="M204.902,149.421c0.094-0.076,0.211-0.055,0.334-0.055h4.205l1.449-9.646l0.291-6.402
	l-2.438-2.078c-0.117-0.096-0.187-0.246-0.193-0.395l-0.299-6.703l-3.463-8.406l-2.935-2.351c-0.17-0.139-0.242-0.364-0.182-0.573
	l1.887-6.338l-2.047-6.789l-9.879,1.739c-0.027,0.007-0.061,0.011-0.092,0.011c-0.02,0-0.027-0.021-0.045-0.021
	c-0.143-0.016-0.283-0.062-0.375-0.18l-4.244-5.23l-15.053-3.467l-4.938,2.291l5.529,8.199c0.164,0.244,0.104,0.576-0.141,0.744
	l-6.359,4.432l2.201,6.307c0.051,0.148,0.033,0.312-0.041,0.445c-0.076,0.135-0.207,0.23-0.355,0.262L157,117.477l-0.635,2.812
	c-0.061,0.252-0.312,0.424-0.541,0.42l-2.9-0.092l-2.562,5.309l12.353,1.724c0.228,0.031,0.41,0.205,0.455,0.428l2.634,13.289
	c0.022,0.115,0.01,0.236-0.043,0.344l-2.673,5.435l2.363,2.362c0.164,0.164,0.205,0.416,0.103,0.623l-1.39,2.779l5.125,8.674
	c0.041,0.068,0.065,0.144,0.073,0.222l1.013,10.146c0.008,0.09-0.006,0.182-0.039,0.264l-1.418,3.338l4.104,0.146l2.914-4.391
	l1.25-2.115c0.086-0.146,0.234-0.242,0.402-0.26l9.799-1.089l1.635-2.319l-1.85-5.832c-0.062-0.211,0-0.439,0.168-0.576l2.535-2.129
	c0.053-0.041,0.107-0.076,0.172-0.096l9.553-3.285L204.902,149.421z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['indreEtLoire'] }}">
    <path {% if current == 'indreEtLoire' %}class="selected"{% endif %} id="indreEtLoire" fill="#818089" d="M73.924,126.001l0.256,3.109l2.807-0.256c0.268-0.023,0.521,0.158,0.578,0.43l1.367,6.74
	l2.883,1.442l10.4-0.463l-1.26-2.61c-0.104-0.213-0.057-0.466,0.115-0.627c0.176-0.162,0.434-0.189,0.635-0.076l6.088,3.444
	c0.156,0.091,0.258,0.248,0.271,0.425l0.285,3.405l7.752,10.988l5.482-0.43l-0.871-2.373c-0.041-0.104-0.045-0.221-0.016-0.328
	l3.648-13.588c0.039-0.146,0.139-0.271,0.273-0.34l5.881-3.047c0.18-0.091,0.402-0.072,0.566,0.047l2.201,1.604l2.623-3.619
	c0.027-0.037,0.059-0.071,0.096-0.102l2.59-2.127l-1.031-5.164l-4.465-7.119l-2.613,1.221c-0.182,0.086-0.4,0.062-0.564-0.067
	l-2.637-2.133c-0.145-0.113-0.219-0.302-0.195-0.484l1.291-10.146l-3.742-5.719c-0.084-0.127-0.109-0.281-0.072-0.43l0.705-2.738
	l-6.215-3.381l-2.25,1.809c-0.164,0.136-0.396,0.156-0.582,0.06c-0.189-0.099-0.307-0.295-0.295-0.506l0.279-5.651l-11.27-0.571
	l-8.592,4.988c-0.098,0.057-0.205,0.076-0.322,0.072l-2.541-0.24l0.492,2.963c0.031,0.193-0.043,0.392-0.197,0.512
	c-0.154,0.121-0.363,0.15-0.545,0.074l-6.436-2.707l-0.646,2.256l-1.916,10.498l-3.732,9.898l-2.572,7.246l5.748,3.391
	C73.812,125.671,73.91,125.827,73.924,126.001z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['indre'] }}">
    <path {% if current == 'indre' %}class="selected"{% endif %} id="indre" fill="#818089" d="M134.355,177.505c0.092-0.098,0.215-0.155,0.348-0.168l12.85-1.096l2.086-2.654
	c0.125-0.16,0.334-0.235,0.531-0.198l14.875,3.02l2.672-0.801l1.57-3.697l-0.984-9.891l-5.215-8.816
	c-0.096-0.16-0.102-0.354-0.02-0.521l1.346-2.693l-2.359-2.359c-0.162-0.162-0.205-0.412-0.104-0.619l2.758-5.616l-2.521-12.732
	l-12.707-1.771c-0.172-0.023-0.317-0.129-0.399-0.277c-0.08-0.152-0.084-0.336-0.011-0.49l2.839-5.867l-5.318-3.577l-6.748,0.95
	l-1.693,2.728c-0.146,0.238-0.453,0.324-0.705,0.192l-2.49-1.291l-6.291,3.332l1.037,5.187c0.039,0.193-0.033,0.395-0.188,0.52
	l-2.787,2.289l-2.898,4c-0.086,0.115-0.211,0.193-0.352,0.22c-0.143,0.021-0.287-0.015-0.402-0.099l-2.371-1.729l-5.373,2.78
	l-3.543,13.193l1.055,2.881c0.059,0.158,0.041,0.336-0.053,0.48c-0.09,0.139-0.242,0.229-0.41,0.244l-5.549,0.434l1.891,2.674
	c0.076,0.109,0.111,0.242,0.094,0.377l-0.777,7.611l4.818,5.725h3.129c0.209,0,0.402-1.067,0.49-0.879l2.857,5.521l2.771,1.041
	c0.133,0.062,0.234,0.028,0.281,0.172c0.045,0.143,0.029,0.223-0.043,0.354l-1.451,2.603l2.168,0.983l6.424-1.194
	c0.031-0.006,0.064-0.017,0.096-0.017c0.17,0,0.332,0.078,0.434,0.22l1.646,2.219L134.355,177.505z"/>
</a>
</svg>
