<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="280px" height="145.156px" viewBox="0 0 280 145.156" enable-background="new 0 0 280 145.156" xml:space="preserve">
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['var'] }}">
    <path {% if current == 'var' %}class="selected"{% endif %} id="var" fill="#818089" d="M189.773,112.468l-2.396-4.297c-0.068-0.127-0.086-0.271-0.047-0.407l0.787-2.812l-5.975-2.846
	c-0.14-0.065-0.242-0.186-0.285-0.33L180,95.705l-5.959-3.08l-10.551,0.393l-1.299,3.612c-0.055,0.151-0.174,0.271-0.328,0.323
	c-0.146,0.056-0.318,0.037-0.459-0.045l-6.361-3.856l-11.268,9.486c-0.103,0.083-0.226,0.127-0.353,0.127
	c-0.019,0-0.028,0-0.051-0.003c-0.146-0.012-0.272-0.084-0.365-0.194l-4.253-5.2l-2.638,1.758c-0.096,0.062-0.213,0.082-0.318,0.092
	l-5.482-0.188l2.031,3.965c0.074,0.146,0.078,0.313,0.014,0.467c-0.065,0.146-0.195,0.26-0.352,0.302l-3.492,0.944l-2.139,5.479
	l6.248,10.118c0.094,0.151,0.104,0.347,0.031,0.509c-0.076,0.163-0.229,0.279-0.405,0.311l-2.856,0.457l-1.111,2.578l2.463,7
	c0.078,0.219,0.007,0.459-0.175,0.604l-2.666,2.101l-0.431,3.176l6.688,3.883c0.184,0.104,0.287,0.307,0.268,0.518l-0.235,2.451
	l9.386-2.723c0.054-0.014,0.104-0.021,0.147-0.021c0.051,0,0.099,0.011,0.144,0.021l6.688,1.826
	c0.162,0.045,0.295,0.162,0.357,0.315l0.791,1.949l1.855-5.075c0.088-0.243,0.326-0.396,0.596-0.345l7.811,1.312l0.08-2.523
	c0.008-0.244,0.18-0.453,0.416-0.51l6.354-1.488l2.938-2.741c0.111-0.104,0.266-0.167,0.42-0.146l3.859,0.367l2.188-5.242
	l-3.594-1.707c-0.146-0.066-0.257-0.199-0.294-0.357c-0.038-0.157-0.002-0.327,0.097-0.455l7.104-9.229
	c0.086-0.112,0.215-0.188,0.354-0.205l5.819-0.774L189.773,112.468z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['bouchesDuRhone'] }}">
    <path {% if current == 'bouchesDuRhone' %}class="selected"{% endif %} id="bouchesDuRhone" fill="#818089" d="M127.202,124.212c-0.047-0.129-0.043-0.269,0.012-0.396l1.313-3.041
	c0.074-0.168,0.229-0.289,0.41-0.317l2.352-0.377l-5.966-9.658c-0.091-0.146-0.105-0.321-0.046-0.479l2.336-5.984
	c0.062-0.159,0.197-0.277,0.361-0.323l3.112-0.844l-1.664-3.242l-7.11,4.454c-0.071,0.048-0.153,0.073-0.242,0.08l-3.648,0.309
	c-0.016,0.002-0.03,0.002-0.045,0.002c-0.067,0-0.135-0.017-0.197-0.039l-13.55-5.319l-3.811,0.681
	c-0.116,0.021-0.236,0.006-0.34-0.052l-5.167-2.635c-0.055-0.027-0.104-0.062-0.146-0.106l-6.085-6.386L77.67,87.32l-4.127,4.41
	l-2.206,11.918c-0.026,0.146-0.115,0.275-0.243,0.355c-0.127,0.081-0.287,0.104-0.43,0.062l-3.333-0.928l-4.422,4.979l1.096,2.734
	c0.055,0.142,0.05,0.299-0.015,0.435c-0.065,0.14-0.184,0.239-0.329,0.284l-6.399,1.968l-3.743,5.828l15.278,0.479
	c0.152,0.005,0.295,0.071,0.395,0.188l2.333,2.738c0.105,0.125,0.15,0.289,0.121,0.448l-0.512,2.729l3.558,0.781l9.903-1.092
	l-1.709-1.854c-0.152-0.166-0.188-0.406-0.086-0.607l1.428-2.84c0.098-0.191,0.291-0.354,0.516-0.296l3.141,0.202
	c0.15,0.01,0.289,0.08,0.385,0.193l4.979,6.062l14.826-1.688c0.223-0.024,0.455,0.099,0.554,0.312l4.351,9.701l10.659,2.642
	l2.788-0.812l0.442-3.266c0.02-0.142,0.092-0.268,0.203-0.354l2.535-1.994L127.202,124.212z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['vaucluse'] }}">
    <path {% if current == 'vaucluse' %}class="selected"{% endif %} id="vaucluse" fill="#818089" d="M109.116,69.382l-0.086-2.871L98.855,65.64c-0.26-0.022-0.465-0.229-0.49-0.486L97.852,59.7
	l-2.045,1.754c-0.175,0.151-0.428,0.176-0.626,0.055l-2.498-1.477l-9.687,4.35c-0.225,0.099-0.484,0.037-0.64-0.154l-3.817-4.699
	l-5.86-0.708l0.082,3.491l2.971,4.947c0.046,0.08,0.071,0.168,0.075,0.262l0.2,6.079l7.053,7.15
	c0.202,0.207,0.208,0.535,0.013,0.746l-4.577,4.934l11.019,3.107c0.096,0.023,0.18,0.076,0.244,0.146l6.125,6.428l4.925,2.51
	l3.781-0.676c0.031-0.008,0.062-0.01,0.095-0.01c0.067,0,0.135,0.014,0.198,0.037l13.574,5.332l3.396-0.283l7.293-4.568l-6.59-6.494
	l-3.722-1.072c-0.168-0.051-0.3-0.175-0.358-0.336c-0.06-0.162-0.036-0.345,0.061-0.484l1.72-2.531l-4.046-5.68
	c-0.107-0.149-0.128-0.35-0.059-0.52l1.331-3.246l-2.365-5.775l-5.675-2.45C109.249,69.776,109.122,69.589,109.116,69.382z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['hautesAlpes'] }}">
    <path {% if current == 'hautesAlpes' %}class="selected"{% endif %} id="hautesAlpes" fill="#818089" d="M115.254,46.177l-3.252,5.055l1.497,2.728l11.227,6.315c0.176,0.1,0.28,0.289,0.273,0.49
	l-0.177,4.664l6.104-1.457c0.089-0.025,0.183-0.023,0.271,0.006l2.786,0.795l-3.067-4.325c-0.133-0.188-0.133-0.438,0.002-0.626
	c0.136-0.187,0.369-0.266,0.59-0.203l3.88,1.145l1.521-9.235c0.021-0.136,0.096-0.257,0.206-0.343l5.985-4.562
	c0.062-0.044,0.129-0.078,0.2-0.095l3.854-0.914c0.212-0.049,0.425,0.027,0.554,0.195l3.222,4.212l0.59-3.169
	c0.02-0.098,0.062-0.188,0.127-0.262l4.264-4.77c0.141-0.156,0.357-0.211,0.561-0.156l12.24,3.754l10.119-11.402
	c0.039-0.047,0.088-0.084,0.143-0.113l6.684-3.73c0.021-0.048,0.058-0.095,0.095-0.133l0.099-0.099l2.11-2.414
	c0.106-0.118,0.269-0.177,0.418-0.185l3.231,0.08l-3.924-9.57l-6.557-0.385c-0.094-0.007-0.184-0.035-0.26-0.084l-5.885-3.754
	c-0.131-0.087-0.223-0.227-0.242-0.384l-0.951-7.054l-2.688-0.088c-0.211-0.008-0.397-0.135-0.479-0.328l-2.367-5.587L161.854,1.5
	l-2.117,2.114c-0.156,0.16-0.394,0.202-0.603,0.111l-8.411-3.727l-1.435,3.629l1.879,4.323l4.851,3.466
	c0.151,0.107,0.235,0.285,0.229,0.471l-0.408,6.693c-0.013,0.166-0.102,0.319-0.238,0.415c-0.141,0.09-0.315,0.111-0.477,0.062
	l-3.387-1.156l-13.961,4.229l-0.928,2.875c-0.059,0.18-0.208,0.316-0.394,0.36l-5.886,1.353l-1.028,3.254l-0.384,3.646
	c-0.028,0.262-0.241,0.464-0.502,0.48l-6.24,0.384l-2.576,7l3.124,2.294c0.124,0.091,0.204,0.232,0.217,0.388
	c0.013,0.155-0.042,0.31-0.149,0.421l-2.844,2.942c-0.146,0.153-0.363,0.209-0.561,0.135L115.254,46.177z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['alpesMaritimes'] }}">
    <path {% if current == 'alpesMaritimes' %}class="selected"{% endif %} id="alpesMaritimes" fill="#818089" d="M200.207,99.87c0.037-0.147,0.133-0.275,0.268-0.351l16.271-8.885l0.488-7.918
	c0.01-0.103,0.043-0.199,0.104-0.281l7.104-9.839l2.045-4.582l-4.131-5.416l-13.116,4.737c-0.146,0.052-0.3,0.04-0.438-0.03
	l-10.377-5.543L191.4,60.36c-0.121-0.023-0.229-0.09-0.312-0.184l-6.596-7.939l-6.516,7.266l-2.115,5.771l4.734,9.465l7.799,8.7
	c0.133,0.097,0.227,0.246,0.227,0.427c0,0.062-0.053,0.104-0.072,0.155c-0.01,0.029,0,0.066-0.02,0.099
	c-0.012,0.021-0.033,0.028-0.051,0.048c-0.033,0.042-0.062,0.073-0.104,0.105c-0.064,0.051-0.143,0.078-0.227,0.097
	c-0.027,0.007-0.051,0.034-0.08,0.036c-0.047,0-0.062-0.002-0.086-0.004l-5.769-0.778l-5.351,3.963l1.226,2.545
	c0.127,0.267,0.021,0.586-0.246,0.716l-2.489,1.245l5.344,2.763c0.133,0.062,0.229,0.183,0.271,0.319l1.857,6.062l6.17,2.938
	c0.236,0.111,0.357,0.382,0.287,0.634l-0.854,3.034l1.967,3.525l2.158-3.828c0.055-0.097,0.137-0.172,0.237-0.222l6.358-3.032
	L200.207,99.87z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['alpesDeHauteProvence'] }}">
    <path {% if current == 'alpesDeHauteProvence' %}class="selected"{% endif %} id="alpesDeHauteProvence" fill="#818089" d="M177.105,58.86l6.688-7.469c-0.045-0.119-0.047-0.252,0.002-0.375l2.026-5.307
	l-4.299-5.951c-0.164-0.229-0.123-0.547,0.095-0.729l2.396-2.014l1.217-5.348l-5.666,3.131L169.281,46.39
	c-0.141,0.16-0.354,0.218-0.562,0.158l-12.239-3.754l-3.933,4.398l-0.782,4.213c-0.041,0.209-0.197,0.375-0.406,0.426
	c-0.193,0.053-0.422-0.025-0.553-0.195l-3.744-4.896l-3.402,0.81l-5.723,4.362l-1.586,9.626c-0.025,0.152-0.116,0.287-0.248,0.369
	c-0.129,0.08-0.291,0.104-0.438,0.062l-2.973-0.877l3.057,4.307c0.031,0.046,0.031,0.101,0.049,0.152
	c0.021,0.058,0.078,0.094,0.078,0.158c0,0.088-0.06,0.149-0.098,0.221c-0.016,0.03-0.01,0.063-0.029,0.092
	c-0.004,0.007-0.013,0.007-0.017,0.013c-0.036,0.042-0.078,0.065-0.128,0.099c-0.065,0.047-0.137,0.076-0.219,0.09
	c-0.022,0.004-0.039,0.024-0.062,0.026c-0.082-0.002-0.108-0.006-0.162-0.021l-4.128-1.176l-7.754,1.891l-2.635,0.109l-4.489,4.955
	l2.405,5.871c0.053,0.131,0.053,0.278,0,0.408l-1.304,3.178l4.091,5.738c0.131,0.187,0.133,0.43,0.006,0.616l-1.512,2.229
	l3.139,0.905c0.086,0.023,0.164,0.072,0.229,0.136l6.85,6.746l5.602,0.19l2.898-1.934c0.095-0.062,0.197-0.093,0.301-0.093
	c0.013,0,0.021,0.017,0.033,0.021c0.146,0.008,0.285,0.06,0.385,0.182l4.217,5.156l11.146-9.385c0.178-0.149,0.432-0.17,0.627-0.049
	l6.129,3.715l1.198-3.336c0.072-0.207,0.269-0.351,0.486-0.354l10.938-0.404l2.859-1.429l-1.188-2.467
	c-0.111-0.233-0.043-0.516,0.166-0.668l5.881-4.358c0.111-0.084,0.256-0.111,0.395-0.103l4.533,0.611l-6.936-7.73
	c-0.029-0.035-0.06-0.075-0.08-0.121l-4.865-9.735c-0.066-0.132-0.076-0.285-0.023-0.425l2.229-6.086
	C177.025,58.97,177.062,58.911,177.105,58.86z"/>
</a>
</svg>
