<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="280px" height="188.457px" viewBox="0 0 280 188.457" enable-background="new 0 0 280 188.457" xml:space="preserve">
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['hauteGaronne'] }}">
	<path {% if current == 'hauteGaronne' %}class="selected"{% endif %} id="hauteGaronne" fill="#818089" d="M121.493,110.984c0.18,0.02,0.335,0.129,0.42,0.289l1.309,2.533l5.347-1.724l0.283-0.515
	l-0.974-2.848l-16.176-10.549c-0.174-0.111-0.27-0.32-0.238-0.531l0.866-5.788l-2.511-2.141c-0.111-0.095-0.18-0.232-0.188-0.377
	l-0.184-2.93l-2.656-1.281c-0.147-0.071-0.257-0.208-0.291-0.369l-1.486-6.598l-11.94,4.463l1.968,2.05
	c0.121,0.126,0.172,0.308,0.139,0.479c-0.035,0.176-0.156,0.32-0.318,0.391l-6.692,2.837c-0.067,0.026-0.139,0.042-0.211,0.042
	c-0.035,0-0.066-0.018-0.102-0.025c-0.029-0.004-0.053-0.008-0.079-0.019c-0.101-0.036-0.198-0.093-0.262-0.188l-1.651-2.379
	l-10.132,0.906l9.828,14.456c0.152,0.223,0.118,0.518-0.075,0.697l-7.264,6.764l-0.784,6.396c-0.016,0.147-0.098,0.285-0.223,0.373
	c-0.122,0.09-0.282,0.121-0.428,0.088l-12.521-2.758l-3.853,5.774c-0.065,0.103-0.162,0.175-0.273,0.211l-3.371,1.156L49.106,132.1
	l4.82,4.162c0.139,0.121,0.206,0.307,0.179,0.488l-0.503,3.379l2.764-0.246c0.257-0.027,0.48,0.131,0.561,0.367l1.015,3.043
	c0.047,0.137,0.034,0.285-0.029,0.414l-3.042,5.984c-0.046,0.09-0.117,0.166-0.204,0.221l-6.003,3.576l0.646,8.022l6.495,0.365
	l2.19-2.101L57.6,152.52c-0.01-0.209,0.102-0.405,0.285-0.508l2.838-1.521c0.131-0.068,0.287-0.082,0.43-0.033l6.67,2.276
	l-0.759-2.204c-0.057-0.162-0.03-0.349,0.071-0.486l4.358-6.084c0.07-0.096,0.166-0.168,0.275-0.201l2.872-0.895v-6.402
	c0-0.142,0.055-0.274,0.153-0.377l4.358-4.459c0.053-0.055,0.121-0.101,0.192-0.127l3.143-1.217
	c0.164-0.062,0.346-0.046,0.494,0.053l6.201,4.07l-0.342-5.416c-0.015-0.25,0.146-0.48,0.388-0.552l5.485-1.619l-3.147-4.766
	c-0.091-0.135-0.113-0.301-0.067-0.457c0.049-0.152,0.165-0.277,0.312-0.34l3.248-1.318c0.246-0.102,0.525-0.008,0.662,0.215
	l3.761,6.074l2.431-0.469l0.632-2.9c0.031-0.151,0.133-0.282,0.268-0.358c0.139-0.078,0.304-0.086,0.448-0.031l6.146,2.306
	l1.976-2.246c0.002,0,0.002-0.002,0.002-0.002l9.64-11.359C121.138,111.035,121.315,110.965,121.493,110.984z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['ariege'] }}">
	<path {% if current == 'ariege' %}class="selected"{% endif %} id="ariege" fill="#818089" d="M126.354,142.859l-0.188-3.229l-2.317-5.698l-9.741-4.271c-0.129-0.058-0.229-0.16-0.283-0.291
	l-2.204-5.479l-1.654,1.881c-0.148,0.166-0.383,0.226-0.593,0.148l-5.909-2.217l-0.575,2.641c-0.045,0.209-0.213,0.371-0.424,0.412
	l-3.146,0.605c-0.215,0.041-0.443-0.058-0.561-0.244l-3.716-6.004l-2.214,0.897l3.188,4.826c0.096,0.146,0.117,0.322,0.059,0.481
	c-0.058,0.16-0.189,0.283-0.354,0.332l-5.776,1.703l0.371,5.896c0.025,0.062,0.038,0.129,0.038,0.199
	c0,0.069-0.051,0.118-0.076,0.182c-0.012,0.035-0.021,0.068-0.042,0.103c-0.038,0.059-0.075,0.1-0.135,0.139
	c-0.017,0.014-0.025,0.035-0.042,0.047c-0.053,0.029-0.112,0.031-0.169,0.041c-0.029,0.006-0.046,0.031-0.076,0.031
	c-0.012,0-0.021,0-0.027,0c-0.002,0-0.006-0.002-0.01-0.002c-0.102-0.002-0.197-0.029-0.287-0.086l-6.871-4.512l-2.777,1.073
	l-4.122,4.22v6.577c0,0.234-0.153,0.443-0.377,0.517l-3.078,0.963l-4.091,5.711l0.935,2.709l10.979,2.869
	c0.082,0.021,0.158,0.062,0.224,0.119l5.409,4.815l6.978-0.393c0.181,0.012,0.352,0.069,0.459,0.213l5.9,7.741l0.874-2.332
	c0.076-0.198,0.264-0.336,0.477-0.352l3.753-0.197c0.01,0,0.018,0,0.027,0c0.08,0,0.16,0.019,0.234,0.054l11.877,5.688l9.627-2.913
	l1.416-2.738c0.088-0.178,0.269-0.289,0.466-0.293l7.269-0.172l-4.57-5.238l-3.299,1.281c-0.131,0.051-0.283,0.051-0.414-0.015
	l-3.858-1.721c-0.169-0.076-0.287-0.229-0.314-0.41l-1.011-6.492c-0.044-0.284,0.146-0.559,0.432-0.61l3.457-0.654l1.087-2.846
	l-2.501-2.592c-0.201-0.212-0.201-0.541,0-0.748L126.354,142.859z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['pyreneesOrientales'] }}">
	<path {% if current == 'pyreneesOrientales' %}class="selected"{% endif %} id="pyreneesOrientales" fill="#818089" d="M171.441,179.652l7.103-1.217c0.074-0.019,0.149-0.013,0.226,0.01l8.254,2.127
	l-5.563-6.842c-0.074-0.097-0.116-0.209-0.12-0.328l-0.497-19.787l-8.479-5.148l-9.149,6.002c-0.097,0.062-0.206,0.109-0.333,0.086
	l-15.263-1.104l-2.538,1.352l1.525,6.393c0.059,0.253-0.067,0.509-0.303,0.615l-9.839,4.467c-0.067,0.027-0.14,0.046-0.211,0.048
	l-8.1,0.188l-1.371,2.658c-0.067,0.131-0.186,0.229-0.325,0.271l-9.795,2.965l-1.818,4.693l9.385,2.871
	c0.152,0.047,0.273,0.157,0.338,0.305l2.603,6.082l3.098,0.174l4.906-4.316c0.09-0.08,0.203-0.125,0.326-0.135l3.552-0.201
	c0.008,0,0.019,0,0.029,0c0.04,0,0.08,0.004,0.118,0.012l10.852,2.435c0.079,0.021,0.155,0.055,0.221,0.104l5.01,4.025l4.506-0.383
	v-3.021l10.49-4.872l0.156-0.023l0.854-0.449C171.33,179.678,171.385,179.66,171.441,179.652z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['herault'] }}">
	<path {% if current == 'herault' %}class="selected"{% endif %} id="herault" fill="#818089" d="M234.824,101.658l4.238-5.715l-1.44-2.982l-6.812-7.396l-3.235-0.285
	c-0.269-0.022-0.476-0.237-0.492-0.504l-0.179-2.939l-7.305-1.538c-0.149-0.033-0.279-0.126-0.354-0.261
	c-0.076-0.133-0.095-0.293-0.045-0.438l0.929-2.786l-1.781-2.543l-3.968,0.633l-4.493,4.203l-0.185,3.03
	c-0.015,0.179-0.111,0.339-0.267,0.431c-0.153,0.093-0.346,0.104-0.506,0.022l-5.693-2.701l-2.279,1.642
	c-0.158,0.111-0.363,0.129-0.531,0.057c-0.174-0.078-0.297-0.24-0.318-0.428l-0.349-2.791l-2.784-0.086
	c-0.056-0.002-0.105-0.014-0.156-0.027l-3.832,1.064l-3.23,5.789c-0.109,0.203-0.354,0.305-0.572,0.265l-6.472-1.293l-0.188,9.296
	c-0.006,0.295-0.246,0.529-0.539,0.529c-0.002,0-0.006,0-0.008,0l-6.324-0.104l-0.502,0.32c-0.635,0.409-1.279,0.822-1.918,1.23
	c-1.695,1.088-3.4,2.184-5.152,3.325c-0.141,0.099-0.314,0.113-0.475,0.06l-6.121-2.156l0.754,10.129
	c0.007,0.064-0.002,0.129-0.021,0.191l-1.014,3.449c-0.038,0.131-0.124,0.237-0.238,0.311l-3.646,2.207l-0.521,2.684l3.617,5.162
	l2.402-1.629c0.131-0.09,0.293-0.123,0.451-0.072c0.149,0.045,0.275,0.152,0.344,0.297l1.328,2.937l2.922-0.748l4.146-5.926
	c0.115-0.166,0.308-0.246,0.513-0.228c0.199,0.027,0.367,0.162,0.438,0.354l1.125,3.098l15.572,5.193
	c0.097,0.03,0.183,0.09,0.244,0.168l1.605,1.938l5.773-4.26c0.093-0.066,0.205-0.104,0.32-0.104h7.469l7.348-8.144l12.561-9.1
	c0.051-0.039,0.106-0.066,0.168-0.082l9.635-2.74C234.793,101.666,234.811,101.662,234.824,101.658z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['lozere'] }}">
	<path {% if current == 'lozere' %}class="selected"{% endif %} id="lozere" fill="#818089" d="M226.896,40.767l1.026-1.976l-4.639-9.187l-2.335-10.189l-10.082-8.602l-2.417-0.233
	l-0.169,2.787c-0.012,0.156-0.088,0.299-0.211,0.394c-0.12,0.095-0.28,0.132-0.434,0.104l-7.307-1.42
	c-0.202-0.038-0.364-0.189-0.417-0.39l-1.679-6.309l-2.029-1.546l-0.883,0.813L187.6,11.52c-0.108,0.095-0.261,0.137-0.404,0.125
	c-0.146-0.018-0.277-0.091-0.367-0.209l-1.473-1.911L178.02,26.58l4.655,4.843c0.056,0.059,0.099,0.128,0.124,0.207l3.242,10.042
	c0.02,0.064,0.027,0.133,0.025,0.2l-0.601,9.766l1.552,2.457l10.604,5.005l8.771,3.889l3.771-0.523l0.181-3.411
	c0.012-0.162,0.094-0.312,0.225-0.405c0.134-0.097,0.298-0.127,0.455-0.086l9.789,2.596l6.347-1.903l-1.347-2.774
	c-0.069-0.142-0.074-0.304-0.016-0.447l1.323-3.115l-4.446-8.494c-0.125-0.236-0.055-0.529,0.16-0.688L226.896,40.767z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['tarn'] }}">
	<path {% if current == 'tarn' %}class="selected"{% endif %} id="tarn" fill="#818089" d="M161.059,95.291l6.648,2.344c2.339-1.527,4.6-2.974,6.854-4.417l0.246-0.157l-1.104-2.443
	l-12.378-1.486c-0.136-0.018-0.259-0.083-0.349-0.188l-4.867-5.782c-0.041-0.05-0.071-0.105-0.096-0.164l-4.721-13.052l-5.468-4.672
	l-11.338-6.498l-6.75,3.125l-0.037,0.014c-0.005,0.002-0.007,0.007-0.011,0.009l-10.547,3.653c-0.127,0.041-0.262,0.035-0.385-0.012
	l-2.75-1.139l-2.617,0.895l1.626,1.933c0.125,0.147,0.16,0.353,0.094,0.533L112,70.829c-0.043,0.108-0.114,0.202-0.214,0.266
	l-5.377,3.521l-0.456,2.808l1.543,6.847l2.704,1.305c0.177,0.087,0.291,0.26,0.304,0.453l0.189,3.018l2.563,2.186
	c0.142,0.119,0.213,0.305,0.184,0.49l-0.86,5.743l16.045,10.463c0.1,0.064,0.176,0.162,0.215,0.275l1.082,3.16l1.84,2.391
	l6.538,0.922l1.076-3.319c0.059-0.188,0.22-0.328,0.415-0.363l3.348-0.611c0.051-0.012,0.105-0.012,0.16-0.004l13.41,1.604
	l3.514-2.129l0.928-3.151l-0.808-10.854c-0.015-0.183,0.065-0.355,0.21-0.468C160.698,95.256,160.889,95.229,161.059,95.291z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['aveyron'] }}">
	<path {% if current == 'aveyron' %}class="selected"{% endif %} id="aveyron" fill="#818089" d="M191.71,64.871l2.963-1.243l1.984-3.792l-10.237-4.833c-0.093-0.044-0.171-0.113-0.227-0.2
	l-1.729-2.736c-0.062-0.097-0.09-0.207-0.084-0.322l0.604-9.838l-3.172-9.826l-4.789-4.98c-0.09-0.093-0.145-0.216-0.147-0.347
	l-2.888-5.768c-0.049-0.099-0.066-0.211-0.051-0.32l0.457-3.109l-2.345-1.536c-0.106-0.069-0.188-0.176-0.226-0.299l-1.375-4.695
	l-5.483-4.093l-4.938,4.381l-3.402,10.108c-0.021,0.057-0.049,0.111-0.086,0.16l-4.359,5.579c-0.132,0.166-0.348,0.246-0.553,0.191
	l-6.982-1.671l-5.752,3.512l-1.782,1.679c-0.071,0.067-0.158,0.114-0.252,0.135l-6.697,1.5l-8.369,5.45l0.859,9.824
	c0.101,0.121,0.147,0.276,0.124,0.431l-0.466,3.054l3.333,2.949c0.113,0.1,0.179,0.24,0.183,0.389
	c0.005,0.148-0.053,0.291-0.157,0.397l-2.317,2.317l4.242,3.463l6.694-3.102c0.158-0.076,0.346-0.068,0.498,0.021l11.658,6.693
	l5.66,4.822c0.07,0.062,0.127,0.139,0.158,0.229l4.731,13.094l4.671,5.546l12.469,1.498c0.188,0.022,0.35,0.142,0.428,0.312
	l1.278,2.834l5.609,0.088l0.19-9.404c0.004-0.16,0.076-0.309,0.201-0.411c0.126-0.097,0.297-0.136,0.442-0.106l6.718,1.34
	l3.154-5.643c0.07-0.124,0.188-0.217,0.324-0.257l3.854-1.072l-0.271-1.118c-0.041-0.168-0.002-0.345,0.107-0.478l4.532-5.449
	l-9.021-4.369c-0.189-0.09-0.312-0.286-0.307-0.499C191.387,65.142,191.514,64.954,191.71,64.871z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['tarnEtGaronne'] }}">
	<path {% if current == 'tarnEtGaronne' %}class="selected"{% endif %} id="tarnEtGaronne" fill="#818089" d="M75.708,51.978c0.029,0.156-0.009,0.316-0.105,0.441l-4.762,6.02l1.379,2.838
	c0.084,0.174,0.068,0.381-0.043,0.541c-0.109,0.16-0.286,0.258-0.491,0.232l-3.05-0.273l-3.331,4.524l5.271,1.7
	c0.16,0.053,0.291,0.179,0.346,0.341c0.056,0.162,0.03,0.339-0.066,0.479l-3.371,4.865l5.301,4.35
	c0.081,0.068,0.143,0.16,0.173,0.263l2.203,7.388l10.922-0.975c0.018-0.002,0.031-0.002,0.049-0.002
	c0.047,0,0.088,0.021,0.133,0.033c0.037,0.009,0.08,0.009,0.113,0.027c0.078,0.039,0.146,0.096,0.196,0.17l1.58,2.275l5.568-2.361
	l-1.992-2.076c-0.126-0.131-0.177-0.315-0.139-0.492c0.042-0.178,0.169-0.323,0.338-0.385l12.992-4.86l0.464-2.835
	c0.023-0.149,0.109-0.282,0.236-0.364l5.426-3.554l0.944-2.583l-1.93-2.294c-0.113-0.137-0.156-0.321-0.105-0.491
	c0.047-0.173,0.175-0.31,0.344-0.366l3.554-1.218c0.125-0.04,0.259-0.036,0.381,0.01l2.749,1.14l9.441-3.27l-4.222-3.443
	c-0.117-0.096-0.189-0.238-0.197-0.391c-0.009-0.15,0.051-0.301,0.158-0.409l2.335-2.334l-3.125-2.764
	c-0.137-0.122-0.203-0.306-0.176-0.486l0.402-2.649l-6.254,0.716l-8.403,6.303c-0.202,0.149-0.484,0.144-0.674-0.024l-2.827-2.448
	l-9.662,2.663c-0.049,0.013-0.096,0.019-0.145,0.019c-0.107,0-0.213-0.032-0.301-0.093c-0.131-0.086-0.215-0.229-0.235-0.383
	l-0.408-3.537l-2.022,1.199c-0.14,0.086-0.312,0.099-0.469,0.039l-3.15-1.218c-0.055-0.021-0.109-0.055-0.156-0.095l-5.172-4.461
	c-0.111-0.098-0.179-0.236-0.188-0.385c-0.007-0.146,0.046-0.293,0.151-0.397l1.398-1.456l-1.932,0.329l-8.173,2.12v2.611
	l2.463,1.369C75.579,51.691,75.679,51.822,75.708,51.978z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['gers'] }}">
	<path {% if current == 'gers' %}class="selected"{% endif %} id="gers" fill="#818089" d="M25.941,98.566l2.247,3.803l3.484,1.453c0.146,0.062,0.261,0.188,0.307,0.344l2.814,9.512
	l5.848-0.562c0.224-0.031,0.434,0.098,0.533,0.297l1.502,3.002l13.695,2.461l3.246-1.108l3.956-5.937
	c0.121-0.187,0.343-0.274,0.563-0.228l12.304,2.709l0.734-6c0.015-0.127,0.073-0.241,0.167-0.328l7.069-6.584L74.323,86.57
	c-0.033-0.047-0.057-0.098-0.071-0.149l-2.283-7.653l-5.553-4.561c-0.22-0.18-0.262-0.493-0.102-0.725l3.236-4.675l-5.079-1.64
	l-2.847,1.422c-0.097,0.048-0.202,0.062-0.308,0.053l-9.656-1.193l-5.523,3.257c-0.097,0.057-0.211,0.082-0.32,0.071l-9.088-0.781
	l-1.455,2.537c-0.111,0.197-0.337,0.3-0.557,0.267l-3.688-0.612l-0.246,2.766c-0.018,0.187-0.133,0.354-0.301,0.438l-2.941,1.42
	c-0.152,0.073-0.324,0.071-0.472-0.002c-0.151-0.074-0.257-0.211-0.291-0.373l-0.59-2.781l-9.669,2.761l0.571,6.862
	c0.006,0.08-0.007,0.162-0.035,0.238l-4.776,12.34l1.548,2.66l7.21,0.293c0.079,0.006,0.159,0.024,0.227,0.062l4.142-0.563
	C25.622,98.291,25.832,98.379,25.941,98.566z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['gard'] }}">
	<path {% if current == 'gard' %}class="selected"{% endif %} id="gard" fill="#818089" d="M241.637,108.127l4.197-6.535c0.066-0.105,0.172-0.188,0.295-0.225l6.028-1.855l-1.001-2.502
	c-0.076-0.188-0.037-0.406,0.1-0.559l4.865-5.476c0.136-0.155,0.354-0.217,0.546-0.161l3.089,0.856l2.128-11.493
	c0.019-0.102,0.066-0.193,0.138-0.27l9.283-9.967l-6.841-6.935c-0.095-0.097-0.151-0.226-0.155-0.362l-0.203-6.148l-2.771-4.62
	l-6.528-3.009h-3.146l-2.938,1.812l-0.006-0.207c-0.07,0-0.145,0.002-0.211-0.029c-0.191-0.084-0.316-0.27-0.322-0.478l-0.076-2.705
	l-7.213,4.565c-0.177,0.113-0.401,0.111-0.582-0.002l-8.929-5.78c-0.086-0.056-0.153-0.136-0.196-0.228l-2.685-5.8l-0.707,1.358
	c-0.038,0.074-0.093,0.138-0.16,0.188l-3.782,2.77l4.352,8.31c0.072,0.146,0.082,0.312,0.021,0.462l-1.328,3.123l1.519,3.124
	c0.069,0.146,0.073,0.308,0.008,0.453c-0.062,0.146-0.188,0.255-0.336,0.3l-7.101,2.129c-0.096,0.024-0.195,0.031-0.295,0.004
	L211.4,59.77l-0.172,3.191c-0.017,0.257-0.207,0.47-0.468,0.506l-4.358,0.607c-0.021,0.003-0.047,0.005-0.072,0.005
	c-0.076,0-0.15-0.015-0.219-0.046l-8.463-3.752l-2.104,4.016c-0.06,0.111-0.153,0.198-0.271,0.247L193.23,65.4l8.565,4.148
	c0.146,0.072,0.257,0.208,0.29,0.371c0.037,0.163-0.006,0.331-0.109,0.459l-4.799,5.771l0.266,1.064l2.812,0.086
	c0.268,0.01,0.482,0.209,0.52,0.473l0.293,2.347l1.801-1.296c0.16-0.113,0.369-0.133,0.548-0.049l5.262,2.498l0.149-2.451
	c0.011-0.137,0.068-0.266,0.171-0.359L213.77,74c0.078-0.074,0.178-0.123,0.283-0.14l4.465-0.711
	c0.205-0.027,0.407,0.057,0.525,0.223l2.132,3.042c0.099,0.141,0.124,0.317,0.069,0.479l-0.823,2.473l7.114,1.498
	c0.236,0.05,0.41,0.252,0.427,0.494l0.176,2.887l2.98,0.263c0.135,0.013,0.258,0.074,0.35,0.173l7.007,7.607
	c0.035,0.037,0.066,0.082,0.09,0.13l1.615,3.348c0.09,0.182,0.068,0.396-0.05,0.557l-4.481,6.045l2.979,5.031L241.637,108.127z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['lot'] }}">
	<path {% if current == 'lot' %}class="selected"{% endif %} id="lot" fill="#818089" d="M129.652,31.547c0.055-0.034,0.114-0.059,0.177-0.074l6.648-1.487l1.395-1.317l-3.408-5.304
	c-0.084-0.13-0.105-0.292-0.062-0.442l1.857-6.358l-4.13-6.591c-0.035-0.06-0.061-0.122-0.072-0.19l-1.042-5.759l-7.134-0.188
	l-5.864,2.884c-0.194,0.093-0.431,0.063-0.595-0.08L109.886,0l-8.564,0.754L100.667,6.1l-1.639,6.063
	c-0.033,0.122-0.105,0.227-0.211,0.299l-4.885,3.446l0.745,3.714c0.047,0.228-0.061,0.459-0.263,0.575l-6.901,3.896l-5.203,7.207
	l-3.68,3.404l2.815,9.663l3.074-0.524c0.238-0.051,0.457,0.072,0.566,0.278s0.074,0.459-0.088,0.625l-2.141,2.229l4.668,4.028
	l2.819,1.089l2.511-1.486c0.08-0.052,0.172-0.072,0.265-0.074c0.005,0,0.005-0.002,0.009-0.002c0.082,0,0.164,0.02,0.239,0.057
	c0.165,0.08,0.275,0.238,0.295,0.419l0.437,3.737l9.335-2.572c0.177-0.048,0.362-0.004,0.497,0.113l2.713,2.352l8.173-6.128
	c0.076-0.058,0.165-0.093,0.262-0.104l6.478-0.752l-0.869-9.926c-0.018-0.197,0.075-0.39,0.244-0.5L129.652,31.547z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['hautesPyrenees'] }}">
	<path {% if current == 'hautesPyrenees' %}class="selected"{% endif %} id="hautesPyrenees" fill="#818089" d="M20.986,161.158l13.749-1.896c0.025-0.002,0.051-0.004,0.074-0.004
	c0.127,0,0.252,0.047,0.352,0.131l2.684,2.301l10.381-0.188l-0.666-8.254c-0.017-0.207,0.084-0.402,0.262-0.508l6.159-3.672
	l2.865-5.646l-0.81-2.426l-3.021,0.267c-0.16,0.021-0.329-0.048-0.442-0.168c-0.111-0.121-0.164-0.283-0.139-0.447l0.561-3.763
	l-4.947-4.271c-0.199-0.176-0.244-0.471-0.103-0.693l7.588-12.104l-13.316-2.396c-0.166-0.026-0.309-0.137-0.385-0.291l-1.455-2.909
	l-5.92,0.567c-0.277,0.028-0.498-0.14-0.568-0.385l-2.869-9.691l-3.414-1.422c-0.105-0.045-0.197-0.123-0.256-0.226l-2.153-3.646
	l-3.404,0.463l2.56,5.941c0.065,0.146,0.057,0.315-0.015,0.459l-1.218,2.356h2.359c0.285,0,0.521,0.221,0.539,0.504l0.511,8.217
	c0.012,0.212-0.1,0.41-0.287,0.513l-0.288,0.151l0.035,0.492l-2.401,0.84l0.792,3.076c0.045,0.174,0,0.355-0.115,0.488
	l-8.972,10.268l0.379,3.209c0.029,0.271-0.144,0.521-0.408,0.588l-3.531,0.861l-1.656,2.854l-1.379,9.539L20.986,161.158z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['aude'] }}">
	<path {% if current == 'aude' %}class="selected"{% endif %} id="aude" fill="#818089" d="M189.166,124.963l-15.674-5.227c-0.156-0.055-0.28-0.172-0.338-0.328l-0.86-2.371l-3.666,5.24
	c-0.073,0.104-0.185,0.182-0.308,0.213l-3.551,0.91c-0.265,0.061-0.521-0.062-0.627-0.301l-1.254-2.767l-2.312,1.565
	c-0.242,0.166-0.573,0.105-0.747-0.137l-4.052-5.781c-0.082-0.121-0.115-0.271-0.088-0.414l0.498-2.569l-12.938-1.547l-2.949,0.536
	l-1.116,3.445c-0.037,0.115-0.113,0.209-0.206,0.273c-0.047,0.031-0.1,0.031-0.152,0.049c-0.053,0.018-0.099,0.051-0.156,0.051
	c-0.024,0-0.05-0.002-0.074-0.008l-7.205-1.014c-0.14-0.021-0.266-0.094-0.353-0.205l-1.527-1.982l-0.105,0.191
	c-0.066,0.121-0.176,0.211-0.307,0.254l-5.982,1.928c-0.256,0.074-0.525-0.035-0.646-0.27l-1.149-2.223l-8.907,10.494l2.325,5.782
	l9.742,4.271c0.128,0.056,0.229,0.16,0.281,0.291l2.434,5.982c0.022,0.057,0.036,0.111,0.04,0.172l0.206,3.553
	c0.009,0.148-0.046,0.297-0.151,0.402l-2.072,2.164l2.376,2.465c0.145,0.15,0.189,0.373,0.115,0.566l-1.316,3.445
	c-0.066,0.176-0.219,0.305-0.404,0.34l-3.238,0.613l0.888,5.688l3.385,1.512l3.439-1.34c0.064-0.02,0.129-0.035,0.194-0.035
	c0.017,0,0.029,0.021,0.049,0.021c0.135,0.012,0.266,0.057,0.357,0.164l5.315,6.088l9.065-4.115l-1.521-6.365
	c-0.057-0.236,0.056-0.482,0.271-0.6l3.045-1.623c0.089-0.047,0.191-0.08,0.289-0.061l15.234,1.102l9.283-6.088
	c0.174-0.111,0.396-0.117,0.575-0.012l8.244,5.006l0.464-10.248c0.004-0.08,0.023-0.158,0.062-0.229l6.494-12.172
	c0.021-0.045,0.053-0.084,0.088-0.121l2.709-2.795L189.166,124.963z"/>
</a>
</svg>
