<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="280px" height="304.359px" viewBox="0 0 280 304.359" enable-background="new 0 0 280 304.359" xml:space="preserve">
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['charente'] }}">
    <path {% if current == 'charente' %}class="selected"{% endif %} id="charente" fill="#818089" d="M144.243,78.459c-0.05,0.015-0.097,0.021-0.144,0.021c-0.059,0-0.113-0.01-0.168-0.025
	l-10.106-3.271l-0.606,0.604c-0.118,0.118-0.278,0.171-0.446,0.154l-4.007-0.489l-6.065,2.75l-0.275,3.032
	c-0.015,0.176-0.114,0.332-0.265,0.418l-2.946,1.711l-2.984,12.955c-0.053,0.232-0.253,0.4-0.491,0.417l-3.148,0.204
	c-0.146,0.019-0.293-0.04-0.4-0.143l-2.282-2.103l-8.344,3.396l3.348,5.957c0.124,0.218,0.08,0.49-0.104,0.658l-2.017,1.854
	l5.079,3.176c0.144,0.089,0.238,0.241,0.251,0.409l0.286,3.184l2.619,1.688c0.122,0.076,0.206,0.2,0.236,0.343
	c0.029,0.141,0.002,0.288-0.078,0.409l-1.851,2.762l1.555,2.646c0.142,0.239,0.076,0.547-0.146,0.71l-2.103,1.54l2.052,1.888
	c0.184,0.169,0.227,0.44,0.105,0.66l-1.559,2.786l6.049,1.083c0.109,0.02,0.211,0.072,0.291,0.149l6.826,6.928l1.946-1.863
	c0.084-0.08,0.189-0.132,0.303-0.146l5.958-0.776l4.457-6.194l0.89-6.458c0.018-0.145,0.094-0.272,0.21-0.358l8.806-6.604
	l2.375-5.845c0.026-0.06,0.062-0.112,0.104-0.161l6.293-6.891c0.021-0.08,0.056-0.154,0.094-0.201l3.854-4.361
	c0.076-0.092,0.188-0.151,0.303-0.174l2.884-0.56l4.445-8.892c0.062-0.117,0.155-0.208,0.274-0.26l2.676-1.104l0.589-3.037
	l-5.104-3.854c-0.142-0.105-0.22-0.274-0.213-0.449l0.184-5.298l-4.615-0.687l-1.241,2.488c-0.06,0.121-0.164,0.217-0.292,0.265
	l-4.359,1.624c-0.189,0.072-0.414,0.025-0.562-0.114l-4.323-4.129l-1.812,1.523l1.396,2.343c0.084,0.146,0.102,0.322,0.036,0.479
	c-0.062,0.156-0.194,0.272-0.356,0.317L144.243,78.459z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['landes'] }}">
    <path {% if current == 'landes' %}class="selected"{% endif %} id="landes_1_" fill="#818089" d="M125.98,213.988l-12.542-3.059c-0.224-0.057-0.389-0.244-0.408-0.477l-0.489-5.119
	l-1.686-2.202l-1.458,3.231c-0.089,0.192-0.28,0.314-0.493,0.314h-7.306c-0.27,0-0.497-0.198-0.534-0.471l-0.675-5.135l-12.38-8.484
	c-0.17-0.114-0.26-0.319-0.229-0.524l0.411-2.698l-18.924,0.784c-0.181-0.021-0.337-0.069-0.442-0.202
	c-0.109-0.136-0.146-0.312-0.101-0.478l1.496-5.511l-3.589-1.276l-8.481,3.762L45.637,243.18c-0.014,0.047-0.029,0.094-0.051,0.137
	l-3.998,7.514l5.104,2.418l12.292-2.801c0.253-0.059,0.51,0.072,0.615,0.311l1.186,2.714l2.53-1.351
	c0.08-0.043,0.166-0.062,0.254-0.062c0.004,0,0.004,0.002,0.008,0.002c0.092,0,0.189,0.021,0.273,0.076l2.418,1.471l1.64-2.149
	c0.078-0.104,0.191-0.174,0.317-0.199l11.157-2.332c0.173-0.029,0.349,0.014,0.478,0.133l2.536,2.354l2.388-1.506
	c0.208-0.129,0.481-0.103,0.659,0.067l2.085,1.996l5.26-2.011c0.121-0.045,0.256-0.049,0.378-0.006l3.518,1.271l8.886-1.56
	l-0.228-0.487l-1.163-1.992c-0.082-0.142-0.097-0.314-0.035-0.465l4.826-12.466l-0.599-7.183c-0.023-0.256,0.139-0.492,0.388-0.562
	l10.65-3.039c0.147-0.043,0.3-0.021,0.425,0.057c0.131,0.076,0.22,0.201,0.251,0.352l0.566,2.673l2.048-0.985l0.264-2.951
	l-0.688-2.857c-0.033-0.146-0.007-0.305,0.08-0.432L125.98,213.988z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['charenteMaritime'] }}">
    <path {% if current == 'charenteMaritime' %}class="selected"{% endif %} id="charenteMaritime" fill="#818089" d="M72.982,105.277c0.039,0.024,0.078,0.055,0.109,0.091l11.863,12.778
	c0.06,0.062,0.104,0.139,0.124,0.224l2.233,8.062l6.204-0.845c0.28-0.032,0.526,0.139,0.597,0.399l0.732,2.843l7.003,1.941
	c0.215,0.062,0.37,0.246,0.392,0.47l0.585,6.246l6.685,4.744l10.106,1.06l2.214-5.41l-6.9-7.002l-6.628-1.186
	c-0.17-0.031-0.315-0.145-0.392-0.3c-0.075-0.158-0.066-0.344,0.017-0.494l1.72-3.076l-2.223-2.045
	c-0.117-0.108-0.184-0.267-0.172-0.426c0.008-0.162,0.09-0.312,0.221-0.406l2.241-1.64l-1.479-2.521
	c-0.105-0.179-0.1-0.401,0.016-0.571l1.73-2.588l-2.38-1.53c-0.143-0.089-0.23-0.24-0.247-0.404l-0.282-3.18l-5.452-3.409
	c-0.143-0.09-0.236-0.24-0.253-0.406c-0.015-0.169,0.051-0.333,0.173-0.447l2.223-2.043l-3.439-6.119
	c-0.076-0.135-0.089-0.295-0.039-0.438c0.051-0.148,0.163-0.265,0.306-0.322l9.228-3.754c0.193-0.081,0.415-0.041,0.568,0.104
	l2.366,2.177l2.517-0.161l2.891-12.547l-3.809-4.953l-19.74-7.655c-0.078-0.031-0.148-0.08-0.203-0.141l-6.699-7.402
	c-0.089-0.099-0.14-0.229-0.14-0.362V58.65l-2.354-1.66l-7.123,0.296c-0.176,0.009-0.364-0.082-0.47-0.237
	c-0.105-0.154-0.122-0.354-0.042-0.523l0.978-2.148l-8.614,3.305l-4.816,10.211l2.771,0.923c0.131,0.044,0.244,0.139,0.309,0.263
	l4.665,9.029c0.078,0.149,0.08,0.331,0.007,0.482c-0.076,0.151-0.218,0.263-0.384,0.293l-2.562,0.495l1.656,5.515
	c0.041,0.135,0.029,0.276-0.037,0.4l-3.346,6.492c-0.043,0.08-0.102,0.147-0.176,0.198l-5.15,3.525l1.345,4.301L72.982,105.277z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['lotEtGaronne'] }}">
    <path {% if current == 'lotEtGaronne' %}class="selected"{% endif %} id="lotEtGaronne" fill="#818089" d="M164.124,180.859c-0.146,0.076-0.317,0.082-0.47,0.014
	c-0.152-0.065-0.262-0.203-0.301-0.36l-1.604-6.515l-6.501,1.137c-0.16,0.027-0.316-0.02-0.438-0.116l-2.115-1.765l-2.906,2.093
	c-0.084,0.062-0.186,0.094-0.288,0.1l-10.139,0.507l0,0c-0.012,0-0.02-0.009-0.03-0.009c-0.235,0-0.404-0.12-0.491-0.315
	l-3.012-6.896l-2.854-0.164l-1.168,2.509c-0.109,0.241-0.374,0.366-0.638,0.291l-2.644-0.769l-0.901,2.694l2.907,1.322
	c0.16,0.07,0.273,0.219,0.305,0.393c0.032,0.175-0.021,0.353-0.145,0.478l-9.598,9.796l-0.596,9.942
	c-0.012,0.157-0.088,0.301-0.211,0.396l-3.057,2.336l1.464,2.324c0.142,0.227,0.099,0.52-0.099,0.691l-4.97,4.383l0.44,4.617
	l12.924,3.152c0.17,0.041,0.313,0.166,0.377,0.33c0.062,0.164,0.042,0.352-0.06,0.498l-3.929,5.785l0.568,2.362l3.539,0.588
	l1.439-2.51c0.105-0.185,0.308-0.291,0.515-0.271l9.26,0.797l5.532-3.263c0.104-0.062,0.228-0.086,0.342-0.069l9.678,1.197
	l2.779-1.39l3.877-5.271c0.109-0.149,0.281-0.246,0.48-0.218l2.405,0.218l-1.112-2.285c-0.089-0.188-0.068-0.407,0.062-0.568
	l4.578-5.789l-2.188-1.213c-0.066-0.039-0.115-0.1-0.162-0.158l-0.677-0.314v-3.348l0.608-0.148
	c0.058-0.176,0.172-0.326,0.354-0.373l8.085-2.094l-2.891-9.91c-0.055-0.194,0.005-0.406,0.154-0.547l3.436-3.168l-4.184-4.098
	L164.124,180.859z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['dordogne'] }}">
    <path {% if current == 'dordogne' %}class="selected"{% endif %} id="dordogne" fill="#818089" d="M193.243,151.365l-3.675-7.541l-3.508-0.852c-0.229-0.059-0.396-0.255-0.41-0.492
	l-0.188-3.076l-2.404-1.575c-0.143-0.091-0.23-0.242-0.244-0.406c-0.015-0.166,0.052-0.33,0.176-0.44l2.003-1.831l-1.8-2.971
	c-0.116-0.191-0.103-0.438,0.037-0.612l3.832-4.886l-2.865-4.992l-6.408-2.368c-0.16-0.059-0.281-0.188-0.328-0.35
	c-0.051-0.162-0.021-0.34,0.08-0.476l1.921-2.623l-7.528-5.93l-10.533,1.189c-0.157,0.014-0.308-0.031-0.42-0.134
	c-0.112-0.104-0.179-0.249-0.179-0.4v-5.039l-6.37-3.094l-6.117,6.7l-2.396,5.895c-0.037,0.091-0.099,0.171-0.177,0.229
	l-8.746,6.562l-0.877,6.367c-0.013,0.087-0.046,0.172-0.097,0.239l-4.668,6.492c-0.089,0.122-0.221,0.202-0.371,0.223l-6.012,0.784
	l-2.057,1.971l-0.092,0.467l-2.002,4.81l3.43-0.477c0.238-0.021,0.477,0.102,0.568,0.325l1.323,3.143
	c0.062,0.146,0.056,0.314-0.021,0.459l-3.189,6.075l-0.198,6.472c-0.004,0.139-0.063,0.271-0.16,0.363l-1.643,1.641l9.841,2.238
	l2.225-3.344c0.094-0.14,0.245-0.229,0.411-0.238c0.16-0.021,0.328,0.059,0.44,0.178l2.642,2.941
	c0.127,0.139,0.168,0.334,0.113,0.516l-0.931,3.092l0.874,1.193c0.1,0.074,0.158,0.191,0.188,0.322l2.949,6.748l9.606-0.48
	l3.116-2.238c0.201-0.145,0.473-0.133,0.66,0.021l2.242,1.869l6.754-1.174c0.28-0.059,0.547,0.129,0.613,0.401l1.561,6.336
	l5.479-2.832c0.078-0.041,0.164-0.062,0.249-0.062c0.014,0,0.021,0.014,0.033,0.014c0.127,0.009,0.248,0.048,0.342,0.143
	l4.419,4.327l4.908-6.793c0.047-0.062,0.104-0.114,0.173-0.153l6.662-3.765l-0.736-3.675c-0.043-0.209,0.041-0.424,0.217-0.547
	l5.018-3.537l1.568-5.799L193.243,151.365z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['pyreneesAtlantiques'] }}">
    <path {% if current == 'pyreneesAtlantiques' %}class="selected"{% endif %} id="pyreneesAtlantiques" fill="#818089" d="M115.553,260.741h-0.357c-0.19,0-0.362-0.098-0.462-0.258c-0.099-0.16-0.105-0.361-0.019-0.527
	l1.158-2.248l-3.168-6.854l-6.202-0.25l-9.778,1.715c-0.091,0.02-0.186,0.009-0.273-0.021l-3.466-1.25l-5.393,2.062
	c-0.2,0.07-0.414,0.029-0.566-0.115L85,251.046l-2.381,1.5c-0.206,0.127-0.476,0.104-0.653-0.062l-2.637-2.445l-10.685,2.232
	l-1.812,2.377c-0.096,0.129-0.24,0.184-0.387,0.192c-0.018,0-0.025,0.021-0.042,0.021c-0.095,0-0.192-0.025-0.278-0.078
	l-2.574-1.562l-2.772,1.478c-0.133,0.073-0.286,0.081-0.43,0.032c-0.144-0.051-0.257-0.153-0.317-0.293l-1.241-2.838l-12.042,2.743
	c-0.117,0.025-0.239,0.015-0.349-0.041l-5.408-2.561l-5.085,6.857c-0.031,0.039-0.065,0.073-0.107,0.105l-6.383,4.832l5.771,2.664
	c0.164,0.075,0.283,0.231,0.309,0.409l0.361,2.513l1.778-1.705c0.126-0.12,0.303-0.17,0.477-0.139l7.608,1.521
	c0.164,0.03,0.304,0.14,0.38,0.286l1.621,3.246c0.062,0.127,0.076,0.271,0.034,0.403l-2.133,6.796
	c-0.029,0.096-0.086,0.18-0.162,0.245l-2.735,2.371l1.238,2.638l3.535,0.823l0.523-3.579c0.032-0.205,0.18-0.378,0.378-0.438
	l3.35-1.014c0.156-0.045,0.328-0.018,0.465,0.076c0.135,0.096,0.22,0.246,0.228,0.414l0.184,3.545l6.425,3.408l10.895,4.189
	l6.982-0.299c0.179,0.002,0.396,0.101,0.495,0.274l2.896,5.185l8.535,6.985l2.405-1.604c0.178-0.116,0.405-0.118,0.581-0.01
	l2.382,1.461l6.391-3.291l1.369-9.453c0.011-0.064,0.034-0.133,0.067-0.191l1.825-3.145c0.073-0.127,0.195-0.217,0.338-0.254
	l3.289-0.804l-0.35-2.972c-0.017-0.151,0.029-0.307,0.131-0.418l8.94-10.233l-0.843-3.272c-0.063-0.241,0.049-0.491,0.268-0.609
	l2.74-1.459l-0.353-5.662h-2.841L115.553,260.741z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['correze'] }}">
    <path {% if current == 'correze' %}class="selected"{% endif %} id="correze" fill="#818089" d="M239.971,123.325c0.135-0.08,0.301-0.099,0.442-0.053l6.308,1.978l-0.713-5.968l-1.424-9.003
	c-0.021-0.135,0.014-0.272,0.088-0.388l1.801-2.65l-1.064-5.087l-2.03,2.03c-0.146,0.14-0.353,0.19-0.528,0.138l-2.814-0.814
	l-2.312,2.679c-0.093,0.107-0.224,0.154-0.361,0.166c-0.018,0.002-0.027,0.021-0.047,0.021c-0.076,0-0.148-0.018-0.224-0.049
	l-12.549-5.777l-7.784,3.744l-9.963,4.531l-5.312,5.206c-0.072,0.071-0.164,0.12-0.267,0.141l-6.454,1.396l-5.279,4.378
	c-0.153,0.13-0.371,0.162-0.557,0.08l-2.4-1.03l-1.324,2.262l2.984,5.208c0.108,0.189,0.094,0.429-0.043,0.603l-3.828,4.878
	l1.84,3.029c0.135,0.222,0.096,0.506-0.1,0.679l-1.818,1.66l2.056,1.344c0.146,0.093,0.231,0.249,0.243,0.419l0.178,2.949
	l3.367,0.816c0.152,0.037,0.283,0.145,0.355,0.288l3.689,7.579l8.861-0.78c0.017-0.002,0.031-0.002,0.05-0.002
	c0.131,0,0.257,0.049,0.356,0.136l7.438,6.557l5.658-2.785c0.076-0.037,0.148-0.045,0.254-0.055l7.549,0.201l3.21-1.904
	l-1.528-3.415c-0.062-0.139-0.062-0.297-0.005-0.436c0.063-0.142,0.177-0.247,0.32-0.296l3.215-1.103l0.276-3.601
	c0.01-0.146,0.08-0.276,0.188-0.368l2.227-1.891l-1.779-2.124c-0.169-0.196-0.169-0.485-0.01-0.688l8.639-10.646l0.688-3.816
	C239.748,123.537,239.84,123.406,239.971,123.325z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['deuxSevres'] }}">
    <path {% if current == 'deuxSevres' %}class="selected"{% endif %} id="deuxSevres" fill="#818089" d="M120.815,6.523l-2.305-2.481l-10.807,0.295l-6.113,0.879l-4.024,5.203
	c-0.094,0.122-0.234,0.198-0.391,0.207L83.91,11.49l2.224,5.7l4.688,4.582c0.067,0.066,0.118,0.15,0.143,0.246l5.478,20.487
	c0.013,0.052,0.019,0.104,0.017,0.157l-0.293,8.144l2.628,2.065c0.147,0.113,0.223,0.294,0.204,0.479
	c-0.02,0.186-0.133,0.346-0.3,0.428l-10.052,4.922v3.716l6.473,7.154l19.762,7.661c0.09,0.036,0.172,0.098,0.233,0.175l3.766,4.9
	l2.495-1.449l0.277-3.069c0.02-0.192,0.14-0.36,0.316-0.44l6.488-2.941c0.089-0.042,0.185-0.057,0.286-0.044l3.897,0.478
	l0.628-0.628c0.019-0.018,0.038-0.032,0.057-0.05l0.807-2.589l-4.837-3.225c-0.21-0.142-0.294-0.405-0.206-0.643l3.388-8.926
	l-6.446-0.181c-0.291-0.01-0.522-0.247-0.522-0.539v-3.02l-2.17-2.068c-0.091-0.09-0.147-0.206-0.162-0.333l-0.71-6.595
	c-0.013-0.12,0.015-0.241,0.08-0.344l3.794-6.028l-1.388-2.773l-2.605,0.783c-0.188,0.055-0.398,0.005-0.54-0.138
	c-0.142-0.144-0.189-0.353-0.129-0.541l4.922-15.562l-2.597-1.125c-0.244-0.107-0.375-0.375-0.305-0.634l0.872-3.277L120.815,6.523z
	"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['vienne'] }}">
    <path {% if current == 'vienne' %}class="selected"{% endif %} id="vienne" fill="#818089" d="M177.672,46.733h-3.346l-5.174-5.999l0.043-0.356l-0.411-0.385
	c-0.125-0.116-0.188-0.287-0.166-0.458l0.788-6.484l-10.331-14.638c-0.058-0.08-0.093-0.171-0.099-0.268l-0.272-3.269l-4.338-2.453
	l0.866,1.79c0.08,0.161,0.068,0.354-0.021,0.511c-0.09,0.155-0.259,0.255-0.439,0.264l-11.356,0.508
	c-0.097-0.005-0.187-0.015-0.269-0.058l-3.244-1.624c-0.148-0.073-0.254-0.213-0.288-0.375l-1.323-6.524l-2.867,0.266
	c-0.148,0.015-0.285-0.031-0.396-0.124c-0.112-0.095-0.179-0.228-0.191-0.369l-0.275-3.374l-5.606-3.312l-7.038,6.384l3.725,9.803
	c0.04,0.104,0.044,0.222,0.017,0.331l-0.798,2.998l2.616,1.133c0.253,0.108,0.382,0.394,0.299,0.657l-4.761,15.053l2.062-0.618
	c0.247-0.083,0.521,0.04,0.638,0.273l1.728,3.449c0.085,0.169,0.074,0.37-0.027,0.528l-3.856,6.127l0.669,6.213l2.191,2.095
	c0.107,0.103,0.168,0.241,0.168,0.391v2.722l6.679,0.188c0.172,0.005,0.334,0.095,0.432,0.239c0.099,0.145,0.119,0.325,0.057,0.49
	l-3.504,9.233l4.818,3.21c0.197,0.133,0.287,0.381,0.215,0.607l-0.851,2.733l9.682,3.135l2.511-0.685l-1.268-2.126
	c-0.137-0.228-0.086-0.519,0.117-0.688l2.529-2.132c0.215-0.175,0.522-0.164,0.723,0.023l4.43,4.229l3.846-1.433l1.318-2.647
	c0.102-0.208,0.33-0.328,0.562-0.293l4.859,0.723v-3.331c0-0.099,0.025-0.191,0.076-0.275l3.443-5.78
	c0.06-0.093,0.142-0.167,0.235-0.213l6.299-2.952l1.238-3.243c0.103-0.259,0.384-0.39,0.642-0.329l3.438,0.902l1.222-2.354
	c0.117-0.229,0.384-0.351,0.634-0.27l0.594,0.18l1.244-2.27l-0.808-0.39l-1.392-0.135L177.672,46.733z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['creuse'] }}">
    <path {% if current == 'creuse' %}class="selected"{% endif %} id="creuse" fill="#818089" d="M248.137,77.274l0.492-4.526l-3.943-9.25c-2.574-1.659-5.211-3.408-8.287-5.496
	c-0.102-0.067-0.178-0.173-0.211-0.291l-1.205-3.993l-5.106-0.185l-2.959,0.889c-0.084,0.024-0.172,0.026-0.265,0.014l-14.682-2.979
	l-2.021,2.578c-0.096,0.117-0.23,0.191-0.381,0.204l-12.879,1.098l-2.756,2.937l1.172,2.611c0.071,0.157,0.062,0.338-0.021,0.485
	l-3.284,5.795l7.417,10.881c0.027,0.043,0.054,0.087,0.065,0.137l1.93,5.879c0.033,0.096,0.038,0.192,0.018,0.291l-0.818,3.541
	l2.863,1.435c0.178,0.089,0.291,0.27,0.301,0.466l0.084,2.858l6.816,0.477c0.086,0.007,0.172,0.033,0.244,0.08l5.373,3.347
	c0.146,0.086,0.236,0.234,0.256,0.398l0.631,6.035l7.32-3.523c0.072-0.034,0.151-0.054,0.232-0.054c0.074,0,0.152,0.02,0.228,0.049
	l12.407,5.716l2.271-2.634c0.146-0.163,0.367-0.224,0.562-0.167l2.836,0.823l2.165-2.167l-4.761-5.913
	c-0.182-0.221-0.155-0.543,0.051-0.734l10.293-9.5l-2.428-7.381C248.132,77.427,248.127,77.352,248.137,77.274z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['hauteVienne'] }}">
    <path {% if current == 'hauteVienne' %}class="selected"{% endif %} id="hauteVienne" fill="#818089" d="M169.779,82.38c0.164,0.123,0.244,0.33,0.205,0.532l-0.705,3.652
	c-0.034,0.178-0.156,0.326-0.325,0.396l-2.755,1.138l-4.475,8.946c-0.076,0.151-0.218,0.258-0.384,0.288l-2.965,0.576l-3.26,3.692
	l6.458,3.137c0.188,0.09,0.304,0.277,0.304,0.484v4.771l10.147-1.146h0.002c0.143-0.015,0.281,0.021,0.396,0.109l8.112,6.392
	c0.229,0.179,0.271,0.508,0.104,0.74l-1.808,2.465l5.498,2.032l1.496-2.554c0.135-0.234,0.426-0.332,0.679-0.223l2.536,1.087
	l5.125-4.251c0.063-0.057,0.146-0.096,0.229-0.112l6.435-1.39l5.271-5.161c0.041-0.045,0.099-0.08,0.15-0.105l9.689-4.406
	l-0.646-6.146l-5.039-3.135l-7.171-0.501c-0.271-0.021-0.491-0.245-0.501-0.521l-0.089-3.023l-2.957-1.479
	c-0.226-0.111-0.345-0.361-0.285-0.604l0.884-3.811l-1.855-5.665l-7.565-11.095c-0.114-0.169-0.123-0.39-0.022-0.567l3.315-5.852
	l-1.207-2.689l-1.771-2.366l-6.262,1.154c-0.111,0.021-0.226,0.008-0.324-0.042l-2.813-1.307l-0.544-0.159l-1.213,2.34
	c-0.116,0.226-0.371,0.333-0.615,0.273l-3.387-0.892l-1.146,2.996c-0.049,0.13-0.146,0.236-0.271,0.297l-6.349,2.976l-3.285,5.511
	v3.807v0.018v0.003l-0.188,5.5L169.779,82.38z"/>
</a>
<a action="map" type="{{ constant('Politizr\\Constant\\LocalizationConstants::TYPE_DEPARTMENT') }}" uuid="{{ mapUuids['gironde'] }}">
    <path {% if current == 'gironde' %}class="selected"{% endif %} id="gironde" fill="#818089" d="M121.658,158.955l0.198-6.383c0.002-0.083,0.022-0.163,0.061-0.233l3.128-5.961l-1.059-2.521
	l-3.955,0.548l-0.042-0.004c-0.013,0-0.021,0.009-0.029,0.009c-0.021,0-0.038,0-0.057-0.002l-10.647-1.117
	c-0.092-0.011-0.18-0.044-0.254-0.097l-7.003-4.97c-0.131-0.092-0.211-0.233-0.227-0.392l-0.571-6.122l-6.945-1.927
	c-0.186-0.053-0.329-0.198-0.379-0.386l-0.691-2.681l-5.639,0.768l0.583,2.57c0.034,0.144,0.007,0.29-0.071,0.412l-2.436,3.751
	c-0.114,0.179-0.315,0.261-0.522,0.243c-0.206-0.026-0.38-0.172-0.442-0.371l-0.066-0.208l-0.021,0.044l-0.309-1.069l-2.403-7.462
	l-12.18-11.978c-0.062-0.061-0.107-0.137-0.135-0.221l-0.611-1.896l-2.715,5.344l-6.707,53.97l3.168-6.199
	c0.084-0.159,0.24-0.271,0.417-0.291c0.182-0.015,0.355,0.05,0.473,0.186l5.072,5.883c0.071,0.086,0.117,0.19,0.126,0.303
	l0.307,3.244c0.018,0.164-0.043,0.326-0.164,0.438c-0.117,0.112-0.28,0.157-0.446,0.146l-6.904-0.957l-3.435,7.433l0.082,4.44
	l8.187-3.63c0.124-0.058,0.268-0.062,0.398-0.015l4.263,1.521c0.267,0.094,0.413,0.377,0.337,0.648l-1.432,5.275l18.841-0.784
	c0.151,0.004,0.315,0.062,0.423,0.181c0.107,0.121,0.156,0.28,0.133,0.438l-0.459,3.018l12.303,8.43
	c0.126,0.086,0.211,0.227,0.231,0.375l0.643,4.904h6.484l1.686-3.736c0.077-0.174,0.241-0.293,0.429-0.312
	c0.196-0.021,0.375,0.058,0.491,0.207l1.977,2.582l4.397-3.879l-1.48-2.354c-0.149-0.236-0.093-0.547,0.129-0.715l3.25-2.484
	l0.594-9.896c0.007-0.131,0.062-0.252,0.154-0.348l9.199-9.389l-2.648-1.203c-0.248-0.113-0.374-0.396-0.286-0.66l1.217-3.65
	c0.094-0.276,0.378-0.438,0.662-0.352l2.699,0.787l1.122-2.42c0.093-0.203,0.308-0.308,0.521-0.312l2.409,0.138l-0.438-0.6
	c-0.099-0.138-0.13-0.312-0.082-0.476l0.925-3.058l-1.974-2.196l-2.048,3.074c-0.122,0.186-0.354,0.27-0.566,0.227
	c-0.002,0-0.002,0-0.002,0l-5.579-1.268l-5.577-1.27c-0.189-0.045-0.342-0.188-0.396-0.377c-0.054-0.188-0.004-0.394,0.135-0.53
	L121.658,158.955z"/>
</a>
</svg>
