<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="280px" height="154.188px" viewBox="0 0 280 154.188" enable-background="new 0 0 280 154.188" xml:space="preserve">
<a action="map" uuid="{{ mapTagUuids['oise'] }}">
    <path {% if current == 'oise' %}class="selected"{% endif %} id="oise" fill="#818089" d="M150.576,130.664l-2.399,1.569c-0.146,0.099-0.323,0.113-0.487,0.056
	c-0.16-0.062-0.278-0.195-0.328-0.361l-0.918-3.348c-0.047-0.174-0.006-0.359,0.111-0.494c0.118-0.137,0.299-0.205,0.473-0.185
	l2.356,0.275l-2.676-4.436c-0.076-0.123-0.097-0.271-0.062-0.41c0.035-0.142,0.125-0.263,0.25-0.332l2.783-1.633l2.67-6.427
	c0.053-0.127,0.149-0.229,0.272-0.285l2.136-0.956l-1.845-1.478c-0.151-0.125-0.229-0.322-0.19-0.518l0.909-5.072l-0.394-10.945
	l-11.026,1.613l-9.623,7.719c-0.09,0.072-0.202,0.105-0.313,0.109c-0.008,0.002-0.015,0.01-0.023,0.01
	c-0.086,0-0.172-0.021-0.252-0.062l-14.521-7.664l-16.1-2.398l-3.527,1.271c-0.193,0.063-0.396,0.024-0.541-0.105l-4.238-3.772
	l-2.951,4.606l1.485,9.74c0.008,0.055,0.008,0.113,0,0.168l-1.492,8.977l3.892,9.396c0.101,0.238,0.015,0.516-0.2,0.656
	l-4.076,2.684l1.417,3.08l5.991,1.141l7.083-1.989c0.086-0.027,0.186-0.027,0.271-0.007l10.202,2.478l2.435-1.779
	c0.176-0.127,0.407-0.139,0.595-0.027l12.18,7.25l7.514,1.154l2.039-2.311c0.178-0.199,0.468-0.24,0.689-0.105l2.717,1.689
	l8.804-3.229l2.208-1.678l-0.488-2.521L150.576,130.664z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['nord'] }}">
    <path {% if current == 'nord' %}class="selected"{% endif %} id="nord" fill="#818089" d="M124.668,0l-17.58,4.347l7.204,13.837l6.122,2.862c0.233,0.109,0.358,0.369,0.296,0.62
	l-0.736,2.952l4.306,4.396l12.794,0.486l1.754-2.312c0.114-0.148,0.294-0.231,0.485-0.21c0.186,0.02,0.35,0.133,0.432,0.304
	l1.416,2.938c0.046,0.102,0.062,0.211,0.046,0.319l-1.027,6.37l6.161,1.026c0.138,0.022,0.261,0.099,0.343,0.21l4.469,5.983
	c0.098,0.126,0.131,0.29,0.096,0.443c-0.036,0.153-0.141,0.285-0.277,0.355l-2.988,1.537l3.99,5.477
	c0.09,0.126,0.123,0.285,0.09,0.438l-0.58,2.562l2.754,0.333c0.141,0.018,0.267,0.087,0.354,0.194l2.133,2.64
	c0.114,0.145,0.148,0.335,0.094,0.511l-3.938,11.811l0.992,0.777l2.307,1.807l13.914-0.592l2.799-2.415
	c0.184-0.162,0.459-0.177,0.66-0.034l2.518,1.771l5.617-1.938c0.061-0.021,0.117-0.028,0.176-0.028c0.047,0,0.096,0.007,0.142,0.019
	l17.483,4.667l3.264-6.167l-3.303-5.826c-0.071-0.131-0.09-0.287-0.043-0.43l2.043-6.414l-2.326,0.511
	c-0.2,0.044-0.407-0.028-0.537-0.188l-4.355-5.43l-6.582,1.259c-0.076,0.015-0.151,0.012-0.229-0.005l-6.009-1.455l-2.226,2.039
	c-0.143,0.129-0.342,0.175-0.521,0.117c-0.185-0.056-0.322-0.201-0.369-0.388l-2.456-10.022l-5.859-1.347
	c-0.176-0.04-0.315-0.164-0.385-0.33l-0.955-2.478l-2.774,2.103c-0.149,0.114-0.341,0.14-0.517,0.076l-3.552-1.316
	c-0.146-0.056-0.265-0.173-0.315-0.318l-3.551-9.636c-0.029-0.086-0.041-0.179-0.024-0.268l0.465-3.104l-4.015-4.675l-6.272,0.569
	l-6.172,4.281c-0.156,0.106-0.354,0.127-0.524,0.05l-3.453-1.521c-0.109-0.048-0.197-0.993-0.254-1.098l-3.095-6.468h-3.436
	c-0.208,0-0.399,0.742-0.488,0.553l-1.424-2.608c-0.047-0.102-0.062,0.005-0.042-0.104l1.086-6.33L127.57,1.67L124.668,0z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['aisne'] }}">
    <path {% if current == 'aisne' %}class="selected"{% endif %} id="aisne" fill="#818089" d="M202.969,87.484c-0.062-0.137-0.066-0.291-0.01-0.43l1.568-3.813l-0.916-5.906
	c-0.002-0.001-0.004-0.002-0.008-0.003l-4.264-1.321c-0.146-0.047-0.271-0.158-0.334-0.304c-0.035-0.082-0.051-0.17-0.043-0.257
	l-17.091-4.562l-5.728,1.976c-0.16,0.058-0.344,0.03-0.482-0.067l-2.396-1.688l-2.621,2.264c-0.09,0.08-0.205,0.126-0.328,0.131
	l-13.846,0.59l-0.453,3.802c-0.008,0.062-0.022,0.115-0.049,0.168l-4.27,9.035l2.566,7.812c0.018,0.049,0.024,0.1,0.026,0.147
	l0.405,11.662l-0.862,4.869l2.282,1.826c0.146,0.119,0.222,0.305,0.197,0.489c-0.021,0.188-0.146,0.349-0.312,0.425l-2.745,1.229
	l-2.655,6.396c-0.045,0.104-0.123,0.198-0.227,0.258l-2.469,1.447l2.962,4.909c0.021,0.031,0.018,0.07,0.028,0.107
	c0.021,0.061,0.076,0.104,0.076,0.168c0,0.09-0.059,0.154-0.095,0.227c-0.011,0.021-0.009,0.048-0.021,0.066
	c-0.002,0.004-0.012,0.006-0.017,0.012c-0.036,0.054-0.077,0.086-0.133,0.119c-0.063,0.051-0.135,0.183-0.213,0.193
	c-0.022,0.004-0.041,0.133-0.065,0.133c-0.009,0-0.018,0-0.025,0c-0.021,0-0.043-0.104-0.062-0.105l-2.656-0.366l0.514,1.834
	l2.015-1.328c0.146-0.101,0.332-0.123,0.492-0.06l3.346,1.314c0.171,0.065,0.298,0.217,0.33,0.397l0.61,3.142
	c0.041,0.201-0.039,0.408-0.201,0.533l-1.662,1.26l1.979,0.531c0.123,0.03,0.229,0.104,0.3,0.207l2.028,2.838
	c0.088,0.123,0.121,0.278,0.088,0.428l-0.646,2.967l4.271,4.562l10.021,6.438l8.033-10.746l-2.262-1.131
	c-0.238-0.119-0.354-0.396-0.271-0.652l0.933-2.79l-1.78-2.617c-0.093-0.136-0.115-0.304-0.069-0.459
	c0.047-0.156,0.159-0.281,0.312-0.345l5.695-2.334l-3.455-8.631c-0.058-0.139-0.054-0.293,0.014-0.43l1.423-3.043
	c0.053-0.109,0.14-0.199,0.249-0.254l9.13-4.564c0.127-0.065,0.28-0.073,0.419-0.024l5.57,1.948l0.904-2.643l-0.401-16.129
	c-0.007-0.275,0.194-0.514,0.47-0.549l2.909-0.375l5.469-7.67L202.969,87.484z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['somme'] }}">
    <path {% if current == 'somme' %}class="selected"{% endif %} id="somme" fill="#818089" d="M85.784,61.668c-0.164,0.171-0.421,0.212-0.627,0.107l-2.839-1.418l-6.846,9.282l13.929,11.934
	c0.063,0.057,0.113,0.125,0.145,0.202l3.955,9.533c0.007,0.017,0.013,0.027,0.017,0.043l4.274,3.812l3.352-1.209
	c0.059-0.021,0.122-0.031,0.183-0.031c0.028,0,0.053,0.002,0.081,0.006l16.325,2.437c0.059,0.008,0.118,0.024,0.173,0.055
	l14.289,7.543l9.461-7.588c0.072-0.062,0.164-0.101,0.258-0.113l11.132-1.631l-2.435-7.402c-0.043-0.133-0.032-0.272,0.023-0.397
	l4.323-9.15l0.464-3.869l-3.316-2.601l-9.496,1.979c-0.035,0.01-0.073,0.013-0.108,0.013c-0.065,0-0.119-0.036-0.181-0.062
	c-0.039-0.015-0.077-0.014-0.112-0.038c-0.104-0.067-0.19-0.168-0.228-0.297l-0.799-2.881l-2.001,1.538
	c-0.12,0.093-0.274,0.129-0.426,0.104c-0.151-0.027-0.282-0.116-0.362-0.248l-2.608-4.234l-0.573,1.976
	c-0.041,0.147-0.146,0.271-0.283,0.336c-0.138,0.065-0.302,0.07-0.44,0.014l-9.161-3.804l-2.587,3.234
	c-0.114,0.142-0.296,0.213-0.472,0.2c-0.182-0.02-0.342-0.124-0.426-0.286l-1.926-3.651c-0.077-0.146-0.085-0.32-0.015-0.474
	l2.501-5.523l-12.556,2.623c-0.156,0.031-0.318-0.006-0.444-0.104l-8.213-6.49c-0.088-0.07-0.152-0.165-0.184-0.271l-0.906-3.099
	L86.594,50.59l-3.739,1.461l-0.351,2.854l3.365,6.14C85.982,61.241,85.948,61.499,85.784,61.668z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['pasDeCalais'] }}">
    <path {% if current == 'pasDeCalais' %}class="selected"{% endif %} id="pasDeCalais" fill="#818089" d="M84.521,34.929l3.215,3.807c0.17,0.202,0.168,0.504-0.009,0.702
	c-0.179,0.2-0.475,0.241-0.697,0.1l-2.403-1.554l-0.618,5.925l0.481,3.909l2.229,1.694l13.84,1.203
	c0.221,0.021,0.408,0.173,0.473,0.386l0.962,3.285l7.881,6.229l13.348-2.789c0.199-0.043,0.403,0.031,0.53,0.188
	c0.127,0.158,0.154,0.375,0.07,0.562l-2.83,6.25l1.418,2.688l2.325-2.908c0.152-0.188,0.405-0.254,0.628-0.161l8.981,3.729
	l0.743-2.566c0.059-0.204,0.233-0.354,0.446-0.385c0.202-0.03,0.42,0.07,0.531,0.252l2.932,4.765l2.162-1.661
	c0.084-0.065,0.187-0.094,0.292-0.101c0.013-0.001,0.023-0.013,0.035-0.013c0.058,0,0.117,0.01,0.172,0.027
	c0.17,0.057,0.301,0.193,0.35,0.367l0.879,3.165l8.939-1.862l3.867-11.598l-1.812-2.238l-3.129-0.378
	c-0.15-0.02-0.289-0.103-0.376-0.227c-0.089-0.126-0.12-0.28-0.086-0.43l0.659-2.905l-4.221-5.787
	c-0.092-0.127-0.123-0.289-0.088-0.439c0.035-0.154,0.139-0.284,0.277-0.355l2.982-1.532l-3.959-5.301l-6.476-1.08
	c-0.293-0.049-0.491-0.324-0.445-0.616l1.085-6.731l-0.958-1.994l-1.393,1.833c-0.107,0.139-0.209,0.229-0.451,0.213l-13.288-0.506
	c-0.137-0.005-0.268-0.062-0.364-0.162l-4.666-4.768c-0.13-0.135-0.183-0.325-0.137-0.509l0.701-2.813l-5.886-2.752
	c-0.107-0.051-0.196-0.135-0.251-0.24L106.02,4.641l-15.085,4.8l-6.319,5.447L84.521,34.929z"/>
</a>
</svg>
