<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="280px" height="141.676px" viewBox="0 0 280 141.676" enable-background="new 0 0 280 141.676" xml:space="preserve">
<a action="map" uuid="{{ mapTagUuids['valDeMarne'] }}">
    <path {% if current == 'valDeMarne' %}class="selected"{% endif %} id="valDeMarne" fill="#818089" d="M147.827,52.712l-3.968-4.172l-4.458-3.596l-1.172,1.508
	c-0.303,0.381-0.824,0.496-1.25,0.273l-5.117-2.637c-0.014,0.06-0.024,0.115-0.044,0.168l-0.756,2.188l2.375,1l2.213,0.143
	c0.524,0.035,0.936,0.476,0.936,1v2.916c0,0.356-0.193,0.689-0.505,0.867l-0.74,0.424c-0.445,0.252-1.018,0.131-1.317-0.295
	l-1.184-1.688h-1.721l-0.09,0.265c-0.137,0.413-0.521,0.684-0.953,0.684H127.7c-0.176,0.289-0.493,0.479-0.853,0.479h-1.879
	l-1.144,1.075v7.533l1.457,0.033c0.39,0.006,0.734,0.238,0.895,0.592l0.972,2.182l5.041,1.566h1.846l1.608-1.738
	c0.149-0.16,0.345-0.27,0.556-0.309l1.165-0.211c0.253-0.037,0.481,0.002,0.683,0.119l0.639,0.379l2.078-0.144
	c0.479-0.043,0.928,0.297,1.045,0.776l0.209,0.953l1.938,2.527l1.864,1.672h0.666l1.08-1.621c0.07-0.098,0.151-0.188,0.25-0.258
	l1.646-1.326l-1.001-0.605c-0.339-0.207-0.522-0.594-0.474-0.988l0.261-1.962c0.022-0.157,0.083-0.31,0.181-0.44l1.006-1.431
	c0.142-0.198,0.351-0.339,0.584-0.394l0.898-0.215l0.268-0.482l-1.47-1.971c-0.128-0.172-0.198-0.383-0.198-0.598V55.39
	L147.827,52.712z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['hautsDeSeine'] }}">
    <path {% if current == 'hautsDeSeine' %}class="selected"{% endif %} id="hautsDeSeine" fill="#818089" d="M117.33,62.632h1.893c0.348,0,0.669,0.179,0.851,0.472l0.324,0.526v-0.158
	c0-0.258,0.101-0.508,0.274-0.691l1.151-1.195V52.88c0-0.234,0.082-0.459,0.229-0.64h-0.233c-0.268,0-0.519-0.108-0.708-0.294
	l-2.508-2.504l-2.984-1.189c-0.378-0.152-0.628-0.521-0.628-0.932v-0.004h-1.809c-0.225,0-0.449-0.079-0.623-0.223l-1.323-1.061
	c-0.228-0.179-0.363-0.449-0.377-0.738l-0.054-1.322c-0.007-0.235,0.068-0.469,0.211-0.654l1.804-2.328
	c0.188-0.246,0.481-0.393,0.79-0.393h2.437l3.766-2.639v-0.857V35.46c0-0.274,0.109-0.531,0.305-0.721l2.548-2.458l-0.686-0.763
	l-1.249,0.09l-0.675,0.829c-0.083,0.103-0.185,0.183-0.298,0.246l-9.605,5.272l-1.049,1.125v2.469c0,0.488-0.345,0.898-0.824,0.986
	l-5.107,0.908v0.779l0.983,0.865c0.254,0.224,0.379,0.562,0.328,0.898l-0.379,2.512l0.873,1.902l5.688,3.764
	c0.283,0.182,0.451,0.498,0.451,0.832v0.246l7.106,4.525c0.243,0.152,0.407,0.404,0.452,0.686c0.042,0.28-0.03,0.568-0.214,0.791
	L117.33,62.632z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['seineSaintDenis'] }}">
    <path {% if current == 'seineSaintDenis' %}class="selected"{% endif %} id="seineSaintDenis" fill="#818089" d="M147.133,25.671l0.52-0.485l-0.014-0.431h-0.615c-0.146,0-0.293-0.033-0.432-0.092
	l-1.27-0.603l-1.205,1.614c-0.149,0.203-0.368,0.338-0.61,0.387l-1.134,0.22l-1.342,1.077l-2.404,3.382
	c-0.187,0.269-0.493,0.425-0.816,0.425h-2.957l-1.385,0.646c-0.184,0.086-0.39,0.116-0.59,0.082l-1.857-0.321
	c-0.251-0.042-0.475-0.179-0.63-0.38l-2.081-2.729h-0.28l-0.865,1.389c-0.217,0.334-0.603,0.503-0.989,0.458l-1.854-0.265
	c-0.493-0.074-0.863-0.496-0.863-0.996v-0.897l-4.45,0.354l-0.054,0.291l1.456,0.824l1.917-0.137
	c0.308-0.031,0.609,0.098,0.814,0.328l1.379,1.539c0.167,0.184,0.256,0.421,0.256,0.668v0.583c0,0.271-0.107,0.53-0.303,0.72
	l-2.658,2.563v0.216h2.596c0.152,0,0.302,0.032,0.438,0.097l3.278,1.588c0.092,0.047,0.178,0.104,0.251,0.176l3.178,3.018
	c0.124,0.115,0.212,0.255,0.264,0.413l0.957,0.922l4.377,2.25l1.344-1.724c0.175-0.227,0.436-0.36,0.717-0.387
	c0.026,0,0.05,0,0.074,0c0.259,0,0.504,0.096,0.694,0.279l1.268,1.217l3.955,3.117l2.283,2.391l-0.147-3.258
	c-0.012-0.25,0.071-0.492,0.229-0.684l0.563-0.678v-0.812l-0.85-0.603c-0.248-0.178-0.406-0.459-0.424-0.758l-0.208-3.547
	c-0.013-0.22,0.048-0.437,0.169-0.615l1.415-2.133v-0.914c0-0.436,0.278-0.824,0.698-0.955l0.75-0.236l-1.283-1.963
	c-0.141-0.215-0.192-0.471-0.148-0.717l0.116-0.697l-1.188-0.956c-0.233-0.188-0.371-0.476-0.371-0.78V26.4
	C146.816,26.123,146.93,25.864,147.133,25.671z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['paris'] }}">
    <path {% if current == 'paris' %}class="selected"{% endif %} id="paris" fill="#818089" d="M124.572,50.239h1.422c0.176-0.284,0.493-0.479,0.853-0.479h2.507l0.089-0.266
	c0.137-0.41,0.523-0.684,0.951-0.684h1.128l-2.098-0.883c-0.49-0.209-0.732-0.754-0.561-1.252l1.005-2.916v-1.625l-2.753-2.613
	l-2.937-1.418h-2.364v0.375c0,0.324-0.163,0.628-0.426,0.814l-4.452,3.125c-0.169,0.117-0.368,0.18-0.574,0.18h-2.26l-1.279,1.656
	l0.018,0.502l0.693,0.557h2.458c0.551,0,0.999,0.445,0.999,1.001v0.328l2.547,1.017c0.126,0.053,0.238,0.127,0.336,0.223
	l2.358,2.354h2.34V50.239z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['essonne'] }}">
    <path {% if current == 'essonne' %}class="selected"{% endif %} id="essonne" fill="#818089" d="M144.727,70.958l-2.238-2.031l-2.188-2.834c-0.089-0.115-0.152-0.248-0.184-0.393l-0.074-0.328
	l-1.526,0.105c-0.202,0.012-0.398-0.036-0.57-0.137l-0.583-0.338l-0.472,0.084l-1.68,1.813c-0.186,0.207-0.457,0.324-0.734,0.324
	h-2.437c-0.101,0-0.199-0.015-0.297-0.046l-5.615-1.744c-0.275-0.088-0.501-0.285-0.618-0.549l-0.903-2.018l-1.21-0.027
	l-0.998,1.031v1.719c0,0.511-0.381,0.936-0.888,0.994l-0.902,0.104c-0.039,0.003-0.076,0.003-0.113,0.003
	c-0.345,0-0.669-0.172-0.853-0.473l-0.979-1.586h-2.405c-0.55,0-0.999-0.452-0.999-1v-1.276c0-0.229,0.078-0.454,0.226-0.631
	l0.712-0.873l-1.754-1.118l-12.717,9.814l-2.91,4.953l1.237,5.646c0.05,0.229,0.017,0.475-0.095,0.684l-9.603,17.928l5.493,21.064
	l3.55-0.225l9.843-1.023l3.883-5.646c0.199-0.283,0.547-0.438,0.868-0.433c0.345,0.017,0.656,0.205,0.831,0.504l2.69,4.744
	l4.956-3.047c0.196-0.121,0.431-0.185,0.662-0.158l7.312,1.008l6.679-9.394L144.727,70.958z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['seineEtMarne'] }}">
    <path {% if current == 'seineEtMarne' %}class="selected"{% endif %} id="seineEtMarne" fill="#818089" d="M224.305,74.042c-0.17-0.106-0.298-0.267-0.375-0.449l-7.342-17.512
	c-0.168-0.4-0.062-0.861,0.271-1.147l5.211-4.486l0.717-3.323L203.788,34.88l-8.472-9.004c-0.221-0.24-0.315-0.576-0.246-0.898
	l1.221-5.588l-3.299-4.613l-4.998-1.339l-16.648,6.106c-0.277,0.109-0.611,0.071-0.873-0.09l-4.74-2.947l-3.586,4.063
	c-0.228,0.263-0.558,0.38-0.897,0.321l-13.367-2.07l0.396,2.979c0.031,0.252-0.035,0.451-0.188,0.656l-0.236,0.297h0.766
	c0.539,0,0.984,0.43,1,0.974l0.055,1.854c0.008,0.285-0.105,0.562-0.314,0.758l-0.531,0.496v1.842l1.271,1.025
	c0.282,0.229,0.42,0.592,0.354,0.947l-0.148,0.883l1.803,2.743c0.172,0.263,0.211,0.589,0.104,0.884
	c-0.104,0.297-0.339,0.522-0.643,0.616l-1.313,0.414v0.485c0,0.199-0.06,0.392-0.166,0.558l-1.397,2.103l0.158,2.734l0.879,0.621
	c0.269,0.188,0.424,0.493,0.424,0.818v1.691c0,0.235-0.082,0.461-0.229,0.641l-0.547,0.658l0.238,5.305l1.765,2.764
	c0.104,0.16,0.157,0.348,0.157,0.535v1.521l1.649,2.227c0.235,0.314,0.267,0.738,0.074,1.083l-0.794,1.43
	c-0.14,0.243-0.366,0.419-0.644,0.485l-0.959,0.23L150.213,63l-0.143,1.063l0.925,0.56c0.298,0.185,0.481,0.508,0.481,0.855v1.223
	c0,0.32-0.158,0.625-0.422,0.811l-1.918,1.377l-1.271,1.912c-0.186,0.277-0.498,0.445-0.832,0.445h-0.305l-7.688,35.549
	c-0.033,0.129-0.087,0.396-0.166,0.506l-6.894,9.625l1.169,5.686l8.639,8.828c0.231,0.234,0.328,0.57,0.267,0.896l-1.127,5.836
	c-0.056,0.281-0.226,0.524-0.478,0.67l-2.702,1.591l16.053,1.245l23.012-5.521l7.901-10.942l0.544-11.943
	c0.024-0.459,0.356-0.848,0.807-0.938l31.551-6.234l-0.727-17.215c-0.019-0.469,0.284-0.885,0.739-1.01l5.831-1.586l5.506-9.188
	L224.305,74.042z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['valDOise'] }}">
    <path {% if current == 'valDOise' %}class="selected"{% endif %} id="valDOise" fill="#818089" d="M83.066,18.429l19.208,7.719c0.142,0.057,0.27,0.145,0.374,0.259l8.04,8.97l7.937-4.355
	l0.063-0.077l-1.333-0.755c-0.373-0.212-0.568-0.63-0.495-1.051l0.318-1.747c0.081-0.446,0.452-0.785,0.91-0.82l5.616-0.426
	l0.466-0.167c0.3-0.096,0.634-0.039,0.887,0.152c0.255,0.187,0.407,0.482,0.407,0.805v1.248l0.351,0.051l0.818-1.303
	c0.183-0.291,0.505-0.469,0.849-0.469h1.325c0.315,0,0.609,0.148,0.8,0.395l2.142,2.809l1.159,0.201l1.301-0.609
	c0.128-0.062,0.274-0.094,0.422-0.094h2.667l2.184-3.076c0.054-0.074,0.118-0.141,0.186-0.199l1.648-1.322
	c0.123-0.104,0.271-0.171,0.437-0.203l0.996-0.193l1.461-1.961c0.279-0.39,0.791-0.518,1.231-0.31l0.478,0.224l0.315-0.396
	l-0.451-3.454L123.989,5.3l-4.361,3.187c-0.234,0.177-0.535,0.231-0.825,0.17L99.667,4.011l-13.124,3.69
	c-0.145,0.043-0.3,0.051-0.457,0.02L74.223,5.464c-0.318-0.062-0.586-0.274-0.722-0.568L71.247,0l-7.051,16.78l18.588,1.578
	C82.88,18.367,82.978,18.39,83.066,18.429z"/>
</a>
<a action="map" uuid="{{ mapTagUuids['yvelines'] }}">
    <path {% if current == 'yvelines' %}class="selected"{% endif %} id="yvelines" fill="#818089" d="M96.778,74.546c-0.054-0.239-0.011-0.502,0.113-0.719l3.202-5.459
	c0.066-0.109,0.155-0.207,0.256-0.285l12.293-9.492l-3.063-1.955c-0.291-0.184-0.467-0.5-0.467-0.844v-0.256l-5.479-3.621
	c-0.157-0.104-0.279-0.25-0.36-0.416l-1.115-2.438c-0.075-0.178-0.108-0.375-0.075-0.566l0.339-2.267l-0.912-0.806
	c-0.214-0.188-0.34-0.461-0.34-0.748v-2.066c0-0.482,0.35-0.898,0.826-0.984l5.107-0.912V38.69c0-0.254,0.095-0.497,0.27-0.685
	l1.427-1.532c0.029-0.035,0.071-0.056,0.108-0.081l-7.596-8.473l-18.85-7.578l-19.806-1.684l-7.562-0.176l-4.05,4.691l3.434,11.721
	l7.633,13.918c0.071,0.133,0.114,0.279,0.121,0.434l1.098,22.541l12.675,11.022c0.162,0.14,0.276,0.326,0.323,0.535l2.575,11.578
	l4.111,4.105l5.609-1.273L98.02,80.21L96.778,74.546z"/>
</a>
</svg>
