{# beta #}
<div id="header">
    <div class="center">
        <div id="headerLeft">
            {% block topLeftMenu %}
                {% include 'PolitizrFrontBundle:Navigation\\Header:_logo.html.twig' %}
                <div id="headerMenu">
                    {{ topLeftMenu() }}
                </div>
                <div id="searchInput">
                    <i class="icon-search"></i><input id="searchInputAlgolia" type="text" placeholder="Rechercher">
                </div>
            {% endblock topLeftMenu %}
        </div>
        <div id="headerRight">
            {% block newSubject %}
                {% include 'PolitizrFrontBundle:Navigation\\Menu:_topNewSubject.html.twig' with { 'display': expression.from_scratch, 'url': path('DebateDraftNew'), 'label': "Je m'exprime" } %}
            {% endblock %}

            <div id="notifCounter">
                <i class="icon-notif" action="toggleNotifBox">
                    <span class="notifNew" id="notifCounterNew">-</span>
                </i>
                <div id="notifBox" style="display: none;"></div>
            </div>
            <div class="headerSeparator"></div>

            {{ topGroupMenu() }}

            <div class="headerSeparator"></div>
            <div id="userLogged" action="toggleAvatarMenu">
                {# <span class="userName">{{ app.user.firstname }} {{ app.user.name }}</span> #}
                <span class="avatar30">{{ app.user | photo('user_30', withLink = false, withBubble = false) }}</span>
            </div>
            <div id="menu" class="avatarMenu" style="display: none;">
                <div id="menuArrow"><i class="icon-arrow-up"></i></div>
                <div class="innerMenu">
                    <div class="primaryMenu">
                        <a href="{{ path('UserDetail', {'slug': app.user.slug}) }}">Mes publications</a>
                        <a href="{{ path('Drafts'~profileSuffix()) }}">Mes brouillons</a>
                        <a href="{{ path('Bookmarks'~profileSuffix()) }}">Mes favoris</a>
                    </div>
                    <div class="secondaryMenu">
                        <a href="{{ path('EditProfile'~profileSuffix())}}">Mon profil</a>
                        <a href="{{ path('EditPerso'~profileSuffix()) }}">Mon compte</a>
                        <a href="{{ path('EditNotifications'~profileSuffix()) }}">Réglages des notifications</a>
                        <a href="{{ path('GlobalHelper') }}">Principes de base</a>
                        {# <a href="http://www.politizr.help" target="_blank"><b>Support et assistance</b></a> #}
                        <div id="deconnect"><a href="{{ path('Logout') }}">Déconnexion</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="headerTrigger"></div>
