{# beta #}
<div class="center">
    <div id="headerLeft">
        <div id="logo"><a href="{{ path('Homepage'~profileSuffix()) }}"><i class="icon-pltzr-logo"></i><span>politizr<span class="betaMarker">beta</span></span></a></div>
        <div id="headerMenu">
            <a href="{{ path('Homepage'~profileSuffix()) }}"{% if homepage is defined and homepage %} class="currentPage"{% endif %}>accueil</a>
            <a href="{{ path('ListingByRecommend') }}"{% if top is defined and top %} class="currentPage"{% endif %}>top</a>
            <a href="{{ path('ListingSearchPublications') }}"{% if searchPublications is defined and searchPublications %} class="currentPage"{% endif %}>publications</a>
            <a href="{{ path('ListingSearchUsers') }}"{% if searchUsers is defined and searchUsers %} class="currentPage"{% endif %}>mes élus</a>
        </div>
    </div>
    <div id="headerRight">
        <a href="{{ path('DebateDraftNew'~profileSuffix()) }}" class="newSubject"><i class="icon-plane"></i><span>nouveau sujet</span></a>
        <div class="headerSeparator"></div>
        <div id="notifCounter">
            <i class="icon-notif" action="toggleNotifBox">
                <span class="notifNew" id="notifCounterNew">-</span>
            </i>
            <div id="notifBox" style="display: none;"></div>
        </div>
        <div class="headerSeparator"></div>
        <div id="reputCounter" uuid="{{ app.user.uuid }}">
            <a href="{{ path('UserDetail', {'slug': app.user.slug}) }}">
                <i class="icon-cup"></i><span class="reputPoints">-</span>
                <span class="badgesCounter">
                    <span class="badgesCounterGold">-</span>
                    <span class="badgesCounterSilver">-</span>
                    <span class="badgesCounterBronze">-</span>
                </span>
            </a>
        </div>
        <div class="headerSeparator"></div>
        <div id="userLogged">
            <a href="{{ path('UserDetail', {'slug': app.user.slug}) }}">
                <span class="userName">{{ app.user.firstname }} {{ app.user.name }}</span>
                <span class="avatar30">{{ app.user | photo('user_30', withLink = false, withBubble = false) }}</span>
            </a>
        </div>
        <div class="headerSeparator"></div>
        <div id="menuButton"><i class="icon-menu" action="toggleMenu"></i></div>
        <div id="menu" style="display: none;">
            <div id="menuArrow"><i class="icon-arrow-up"></i></div> 
            <div id="primaryMenu">
                <a href="{{ path('Drafts'~profileSuffix()) }}">Mes brouillons</a>
                <a href="{{ path('Bookmarks'~profileSuffix()) }}">Mes favoris</a>
                <a href="{{ path('UserDetail', {'slug': app.user.slug}) }}">Mes publications</a>
                <a href="{{ path('EditProfile'~profileSuffix())}}">Modifier mon profil</a>
            </div>
            <div id="secondaryMenu">
                <a href="{{ path('GlobalHelper') }}">Comment ça marche?</a>
                <a href="{{ path('EditNotifications'~profileSuffix()) }}">Réglages des notifications</a>
                <a href="{{ path('EditPerso'~profileSuffix()) }}">Mon compte</a>
                <a href="http://goo.gl/jp16az" target="_blank">Goodies</a>
                <a href="http://www.politizr.help" target="_blank"><b>Support et assistance</b></a>
                <div id="deconnect"><a href="{{ path('Logout') }}">Déconnexion</a></div>
            </div>
        </div>
    </div>
</div>