{# beta #}
<div class="center">
    <div id="headerLeft">
        <div id="logo"><a href="{{ path('Homepage') }}"><i class="icon-pltzr-logo"></i><span>politizr<span class="betaMarker">beta</span></span></a></div>
        <div id="headerMenu">
            <a href="{{ path('Homepage') }}"{% if homepage is defined and homepage %} class="currentPage"{% endif %}>accueil</a>
            <a href="{{ path('ListingByRecommend') }}"{% if top is defined and top %} class="currentPage"{% endif %}>top</a>
            <a href="{{ path('ListingSearch') }}"{% if search is defined and search %} class="currentPage"{% endif %}>recherche</a>
        </div>
    </div>
    <div id="headerRight"class="headerRightFront">
        <a href="{{ path('InscriptionTmp', {'type': 'generique'}) }}">Créer un compte</a>
        <a href="{{ path('Login') }}">identification</a>
    </div>
</div>