<div id="grpFooter"{% if app.user %} class="grpFooterLogged"{% endif %}>
    <h1>Comment participer ?</h1>
    {% if not app.user %}
        <div class="grpFooterCol">
            <img src="{{ asset('bundles/politizrfront/images/grp_footerAccount.png') }}">
            <h2>
                <b>Inscrivez-vous</b>
                Gratuitement et en quelques clics.
            </h2>
        </div>
    {% endif %}
    <div class="grpFooterCol">
        <img src="{{ asset('bundles/politizrfront/images/grp_footerPost.png') }}">
        <h2>
            <b>Posez vos questions</b>
            Et poursuivez la discussion avec vos élus.
        </h2>
    </div>
    <div class="grpFooterCol">
        <img src="{{ asset('bundles/politizrfront/images/grp_footerNote.png') }}">
        <h2>
            <b>Notez</b>
            Approuvez les publications des autres utilisateurs.
        </h2>
    </div>
    <div class="grpFooterCol">
        <img src="{{ asset('bundles/politizrfront/images/grp_footerComment.png') }}">
        <h2>
            <b>Commentez</b>
            Faites part de vos remarques en quelques mots.
        </h2>
    </div>
    {% if not app.user %}
        <div class="grpFooterMentions">
            La participation à ce groupe est réservée aux habitants correspondant au zonage de ce groupe.<br>
            Vous habitez en dehors de ce territoire? <a href="{{ path('InscriptionChoice') }}">inscrivez-vous</a> pour rejoindre le(s) groupe(s) de votre secteur.
        </div>
    {% endif %}
    <div class="grpFooterLinks">
        <a action="openCgu">Mentions légales</a> • <a action="openCharte" uuid="{{ circle.uuid }}">Charte d’utilisation</a> • <a href="mailto: contact@politizr.com">Contact</a>
    </div>
</div>