<div id="grpMenu">
    <div class="center">
        <a href="{{ path('CircleDetail', { 'slug': circle.slug }) }}"><img src="{{ asset('bundles/politizrfront/images/generic-grpLogo.png') }}" alt="Groupe"></a>
        <div id="grpMenuPseudoTabs">
            <a href="{{ path('CircleDetail', { 'slug': circle.slug }) }}">{{ circle.title }}</a>
        </div>
        <div id="grpMenuLinksMobile" action="toggleGrpMenuLinks">Menu<i class="icon-menu"></i></div>
        <div id="grpMenuLinks">
            {% for topic in topics %}
                <a href="{{ path('TopicDetail', { 'circleSlug': circle.slug, 'slug': topic.slug }) }}">{{ topic.title }}</a>
            {% endfor %}
        </div>
    </div>
</div>
