{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% set metaTitle = circle.title | purify | trim %}
{% set metaDescription = circle.summary | striptags | truncate(160, true) | purify %}
{% set ogDescription = circle.summary | striptags | truncate(295, true) | purify %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ ogDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %}
    {% spaceless %}
        {% if (isGrantedE() or isGrantedC()) %}
            class="grp grp-{{ circle.PCOwner.slug }}"
        {% else %}    
            class="grp public grp-{{ circle.PCOwner.slug }}"
        {% endif %}
    {% endspaceless %}
{% endblock bodyClass %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Menu:_circleTopLeftMenu.html.twig' with { 'circle': circle, 'subjectObject': circle } only %}
{% endblock %}

{% block headerMsg %}
    {{ circle | readOnlyMessage }}
{% endblock %}

{% block main %}
    <div id="main">
        <div class="center">
            {{ circle | circleMenuTop }}
            {{ circleBreadcrumb(circle = circle) }}
            {{ circle | circleDetail(topics) }}
            {{ circle | circleFooter }}
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/detailCircle.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url~'?v'~assets_version }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
