{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% set metaTitle = circle.title | purify | trim %}
{% set metaDescription = circle.summary | striptags | truncate(160, true) | purify %}
{% set ogDescription = circle.summary | striptags | truncate(295, true) | purify %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ ogDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block content %}
    <div id="content">
        {{ circle.description | purify }}
        {% for topic in topics %}
            <h1>{{ topic.title }}</h1>
            <div>{{ topic.summary | purify  }}</div>
            <a href="{{ path('TopicDetail', { 'circleSlug': circle.slug, 'slug': topic.slug }) }}">En savoir plus</a>
        {% endfor %}
    </div>
{% endblock content %}

{% block sidebarContent %}
    {% if not app.user %}
        {% include 'PolitizrFrontBundle:Navigation\\Menu:_createAccount.html.twig' %}
    {% endif %}
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("Groupe - {{ circle.title }}");
        </script>
    {% endif %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/detailCircle.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
