{% extends "PolitizrAdminBundle::base_admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block page_content %}
    <div id="dashboard">
        <div id="notificationBox">
            <div id="adminNotifForm">
                {% include 'PolitizrAdminBundle:Fragment\\Notification:_adminNotifForm.html.twig' %}
            </div>
            <div id="notificationsAdminHistory">
                {% include 'PolitizrAdminBundle:Dashboard:_notifLast.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# TinyMCE #}
    {% include "PolitizrAdminBundle::tinymce-light.html.twig" %}

    <script type="text/javascript" src="{{ asset('bundles/politizradmin/js/politizr/pages/homepage.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizradmin/js/politizr/moderation/notification.js') }}"></script>
{% endblock %}
