{% extends "PolitizrAdminBundle::base_admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block page_content %}
    <div id="dashboard">
        <div id="notificationBox">

            {{ form_start(form, {'attr': { 'id': 'formNotification', 'novalidate': 'novalidate' }}) }}
                {{ form_errors(form) }}

                <label class="help">
                    <ul>
                        <li><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;Toujours utiliser des liens absolus</li>
                        <li><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;Ajouter ```action="notificationCheck"``` dans les attributs des liens</li>
                    </ul>
                </label>
                {{ form_row(form.description) }}
                {{ form_row(form.p_users_elected) }}
                {{ form_row(form.p_users_citizen) }}
    
                <a action="createAdminNotif">Envoyer</a>
            {{ form_end(form) }}

            <div id="notificationsAdminHistory">
                {% include 'PolitizrAdminBundle:Dashboard:_notifLast.html.twig' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {# TinyMCE #}
    {% include "PolitizrAdminBundle::tinymce-light.html.twig" %}

    <script type="text/javascript" src="{{ asset('bundles/politizradmin/js/politizr/pages/homepage.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizradmin/js/politizr/moderation/notification.js') }}"></script>
{% endblock %}
