<a action="notificationCheck" href="{{ authorUrl }}">
    {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { 'user': author } only %}
    {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': author } only %}
</a>
a publié 
<a action="notificationCheck" href="{{ url }}">
    "{{ title }}"
</a>
à propos de votre débat
<a href="{{ reactionParentUrl }}">
    "{{ reactionParentTitle }}"
</a>.
