{% extends_admingenerated "PolitizrAdminBundle:PUserShow:index.html.twig" %}

{# Image upload #}
{% block show_column_block_file_name %}
    {% if PUser.FileName %}
        {% include 'PolitizrAdminBundle:Fragment:_image.html.twig' with {'path': constant('Politizr\\Constant\\PathConstants::USER_UPLOAD_WEB_PATH') ~ PUser.FileName} %}
    {% else %}
        Aucune image
    {% endif %}
{% endblock %}

{# User's localization #}
{% block show_column_block_localization %}
    {% if PUser.PLCity %}
        {{ PUser.PLCity.NameReal }}
    {% else %}
        Aucune ville renseignée
    {% endif %}
{% endblock %}

{# Contenus #}
{% block show_column_biography %}
    {{ PUser.biography | purify }}
{% endblock %}

{# Block moderation alert listing #}
{% block show_column_block_moderation_alert_listing %}
    <div id="moderationListing">
        {{ adminModerationAlertListing(PUser.Id) }}
    </div>
{% endblock %}

{# Listes #}
{% block show_column_followers %}
    <ul>
        {% for user in PUser.followers %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>
{% endblock show_column_followers %}

{% block show_column_subscribers %}
    <ul>
        {% for user in PUser.subscribers %}
            <li>{{ user }}</li>
        {% endfor %}
    </ul>
{% endblock show_column_subscribers %}

{% block show_column_current_organizations %}
    <ul>
        {% for organization in PUser.currentOrganizations %}
            <li>{{ organization.title }}</li>
        {% endfor %}
    </ul>
{% endblock show_column_current_organizations %}


{# Block front link #}
{% block show_column_block_front %}
    {% if PUser.online %}
        <a href="{{ path('UserDetail', {'slug': PUser.slug}) }}" target="_blank">Consulter</a>
    {% else %}
        Hors ligne
    {% endif %}
{% endblock %}