{% if parentReaction is not null %}
    <span class="timelineItemContextHighlight">
        À propos de la réaction de 
        {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with { 'user': parentReaction.user } only %}
        {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with { 'user': parentReaction.user } only %}:&nbsp;
    </span>
    {% if parentReaction.isDisplayed %}
        <a href="{{ path('ReactionDetail', { 'slug': parentReaction.slug }) }}">{{ parentReaction.title }}</a>
    {% else %}
        <i>{{ parentReaction.title }}</i>
    {% endif %}
    <br/>
{% endif %}

{% if not debateContext %}
    <span class="timelineItemContextHighlight">
        Au sujet du <span{% if debateIsFollowed %} class="followedDebate"{% endif %}>débat</span>:&nbsp;
    </span>
    {% if parentDebate.isDisplayed %}
        <a href="{{ path('DebateDetail'~profileSuffix(), { 'slug': reaction.debate.slug }) }}">{{ parentDebate.title }}</a>
    {% else %}
        <i>{{ parentDebate.title }}</i>
    {% endif %}
{% endif %}
