{# beta #}
<div id="answerMenu">
    <div class="answerMenuSubject">
        <div class="center">
            Sujet initial: <a href="{{ path('DebateDetail', {'slug': debate.slug}) }}">{{ debate.title }}</a>
            {% if ancestors | length > 0 %}
                <div class="answerShowMenuAllFamily" action="showMenuAllFamily">...</div>
                <div class="answerHideMenuAllFamily" action="hideMenuAllFamily" style="display: none;"><i class="icon-cross"></i></div>
            {% endif %}
        </div>
    </div>
    <div class="answerMenuAllFamily" style="display: none;">
        <ul>
            {% for ancestor in ancestors %}
                <li><a href="{{ path('ReactionDetail', {'slug': ancestor.slug}) }}">{{ ancestor.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% if parentReaction %}
        <div class="answerMenuParent">
            <div class="center">
                <a href="{{ path('ReactionDetail', {'slug': parentReaction.slug}) }}">{{ parentReaction.title }}</a>
            </div>
        </div>
    {% endif %}
    <div class="answerSlideSiblings">
        <div class="center">
            <div id="siblingsSlide" class="cycle-slideshow" data-cycle-auto-height="calc" data-cycle-fx="scrollHorz" data-cycle-swipe="true" data-cycle-swipe-fx="scrollHorz" data-cycle-timeout="0" data-cycle-slides="> div.slideSiblingsSlide" data-cycle-prev="#sibPrev" data-cycle-next="#sibNext" data-starting-slide="{{ currentSlide }}">
                {% for sibling in siblings %}
                    {% if loop.index0 == 0 or loop.index0 is divisible by(3) %}
                        <div class="slideSiblingsSlide">
                    {% endif %}
                    <div class="answerSiblings">
                        <a href="{{ path('ReactionDetail', {'slug': sibling.slug}) }}" class="siblingsTitle">{{ sibling.title }}</a>
                        {% include 'PolitizrFrontBundle:User:_author.html.twig' with { 'user': sibling.user } only %}
                        {% if reaction.id == sibling.id %}
                            <div class="currentPage"><i class="icon-arrow-up"></i></div>
                        {% endif %}
                    </div>
                    {% if loop.index is divisible by(3) or loop.last %}
                        </div>              
                    {% endif %}
                {% endfor %}
            </div>
            {% if siblings | length > 3 %}
                <div id="sibPrev"><i class="icon-goleft"></i></div>
                <div id="sibNext"><i class="icon-goright"></i></div>
            {% endif %}
        </div>  
        <div id="answerSlideSiblingsBg"></div>
    </div>
</div>