<div id="modalUploadBox" style="display: none;">
    <div id="modalUploadBg" action="modalUploadClose"></div>
    <div class="wrapper">
        <div id="modalUpload" style="display: none;">
            <h4>illustration</h4>
            <div class="modalUploadIllustrationContainer" style="display: block;">
                {# @todo html/css maj normalisation camelCase #}
                <div id="currentPhoto">
                    <div class="illustrationShadow"></div>
                    {# @todo html/css à ajouter > div encadrant uniquement l'image pour reload dynamique #}
                    <div id="uploadedPhoto">
                        {% if reaction.fileName %}
                            {{ reaction | image('debate_header') }}
                        {% endif %}
                    </div>
                </div>
                <div class="toggleIllustrationShadow maskIllustrationShadow" action="maskIllustrationShadow"><i class="iconCheck"></i> Masquer l'ombre</div>
                <div class="toggleIllustrationShadow showIllustrationShadow" action="showIllustrationShadow" style="display: none"><i class="iconCheck"></i> Afficher l'ombre</div> 
            </div>
            <form id="formDocumentPhoto" action="{{ path('DocumentPhotoUpload') }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ reaction.id }}">
                {# @todo html/css maj normalisation camelCase #}
                <div id="uploadFileContainer">
                    <input type="file" name="fileName" id="fileName">
                    <label action="fileSelect" for="fileName" tabindex="0">parcourir</label>
                    {# @todo html/css action supprimer la photo #}
                    <div class="photoDelete">
                        <a action="fileDelete" subjectId="{{ reaction.id }}"><i class="iconDraft"></i>supprimer</a>
                    </div>
                </div>
                <div class="fieldsetHeader">
                    <div class="fieldsetHeaderTitle">Crédits photos</div>
                    <i class="iconQuestion" action="toggleHelper"></i>
                    <div class="helperSlider helperSliderRight" style="display: none;">
                        <i class="iconArrowUp"></i>
                        <i class="iconCross" action="hideHelper"></i>
                        @todo : slider ajout d'un lien 
                    </div>
                </div>
            </form>
            <form method="POST" name="reaction_photo_info" id="formReactionPhotoInfoUpdate">
                {# @todo html/css maj class idem summary, description, => div class="editable copyright" #}
                <div class="editable copyright">
                    {{ reaction.copyright | raw }}
                </div>
                {# @todo html/css maj <input type="submit"> avec ce code #}
                <div class="photoInfoSave">
                    <a action="reactionPhotoInfoSave" subjectId="{{ reaction.id }}"><i class="iconDraft"></i>sauvegarder</a>
                </div>
                <a class="cancelModalUploadBox" action="modalUploadClose">Annuler</a>

                {# hidden form inputs filled by js #}
                {{ form_row(formPhotoInfo.copyright) }}
                {{ form_rest(formPhotoInfo) }}
            </form>
        </div>
    </div>
</div>  
