<div id="modalUploadBox" style="display: none;">
    <div id="modalUploadBg" action="modalUploadClose"></div>
    <div class="wrapper">
        <div id="modalUpload" style="display: none;">
            <h4>illustration</h4>
            <div class="modalUploadIllustrationContainer" style="display: block;">
                <div id="currentPhoto">
                    <div class="illustrationShadow"></div>
                    <div id="uploadedPhoto">
                        {% if reaction.fileName %}
                            {{ reaction | image('debate_header') }}
                        {% endif %}
                    </div>
                </div>
                <div class="toggleIllustrationShadow maskIllustrationShadow" action="maskIllustrationShadow" withShadow="{{ reaction.withShadow }}"><i class="iconCheck"></i> Masquer l'ombre</div>
                <div class="toggleIllustrationShadow showIllustrationShadow" action="showIllustrationShadow"><i class="iconCheck"></i> Afficher l'ombre</div> 
            </div>
            <form id="formDocumentPhoto" action="{{ path('XhrGeneric', {'xhrRoute': constant('Politizr\\Constant\\XhrConstants::ROUTE_DOCUMENT_PHOTO_UPLOAD'), 'xhrService': 'document', 'xhrMethod': 'documentPhotoUpload', 'xhrType': constant('Politizr\\Constant\\XhrConstants::RETURN_URL')}) }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ reaction.id }}">
                <input type="hidden" name="type" value="{{ constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION') }}">
                <div id="uploadFileContainer">
                    <input type="file" name="fileName" id="fileName">
                    <label action="fileSelect" for="fileName" tabindex="0">parcourir</label>
                    <div class="photoDelete">
                        <a action="fileDelete" subjectId="{{ reaction.id }}"><i class="iconDraft"></i>supprimer</a>
                    </div>
                </div>
            </form>
            <div class="fieldsetHeader">
                <div class="fieldsetHeaderTitle">Crédits photos</div>
                <i class="iconQuestion" action="toggleHelper"></i>
                <div class="helperSlider helperSliderRight" style="display: none;">
                    <i class="iconArrowUp"></i>
                    <i class="iconCross" action="hideHelper"></i>
                    @todo : slider ajout d'un lien 
                </div>
            </div>
            <div class="editable copyright">
                {{ reaction.copyright | raw }}
            </div>
            <div class="photoInfoSave">
                <a action="reactionPhotoInfoSave" subjectId="{{ reaction.id }}">
                    <i class="iconCheckInSquare"></i> Valider
                </a>
            </div>
            <a class="cancelModalUploadBox" action="modalUploadClose">Annuler</a>
            <form name="reaction_photo_info" id="formReactionPhotoInfoUpdate">
                {# hidden form inputs filled by js #}
                {{ form_row(formPhotoInfo.copyright) }}
                {{ form_rest(formPhotoInfo) }}
            </form>
        </div>
    </div>
</div>  
