{# beta #}
{% if document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE') %}
    {% set detailPath = path('DebateDetail', { 'slug': document.slug }) %}
{% elseif document.type == constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION') %}
    {% set detailPath = path('ReactionDetail', { 'slug': document.slug }) %}
{% endif %}

{% if nbChildrenElected > 0 %}
    <a href="{{ detailPath }}" class="answerCounter">
        <span><i class="icon-profil-elu"></i>{{ labelChildrenElected }}</span>
    </a>
{% endif %}
{% if nbDescendantsNotElected > 0 %}
    <a href="{{ detailPath }}" class="answerCounter">
        <span><i class="icon-profil-citoyen"></i>{{ labelDescendantsNotElected }}</span>
    </a>
{% endif %}
{% if nbDescendantsElected > 0 %}
    <a href="{{ detailPath }}" class="answerCounter">
        <span><i class="icon-arbo"></i>{{ labelDescendantsElected }}</span>
    </a>
{% endif %}
