{# beta #}
<div class="sidebarPostEdition">    
    <div class="sidebarPostAction">
        <div class="actionPublish">
            <a action="openModalPublish"><i class="icon-publish"></i>Publier</a>
        </div>

        {% if reaction.published %}
            <div class="actionSave">
                Vos modifications seront enregistrées à la publication.
                <a action="reactionSave" uuid="{{ reaction.uuid }}" style="display: none">&nbsp;</a>
            </div>
        {% else %}
            <div class="actionSave withLoaderInside saved">
                {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
                <a action="reactionSave" uuid="{{ reaction.uuid }}"><i class="icon-draft"></i>Enregistrer</a>
            </div>
        {% endif %}

        <div class="secondaryActions">
            {% if reaction.published %}
                <a href="{{ path('ReactionDetail', { 'slug': reaction.slug }) }}">Retour</a>
            {% else %}
                <a href="{{ path('Drafts'~profileSuffix()) }}">Liste de mes brouillons</a>
            {% endif %}
            <a action="reactionDelete" uuid="{{ reaction.uuid }}">Supprimer</a>
        </div>
    </div>

    <div class="sidebarComparedMode">
        <div class="sidebarTabsHeader">
            <span class="activeTabHeader" action="showTab">Rédaction autonome</span>
            <span action="showTab">Rédaction comparée</span>
        </div>
        <div class="sidebarTabs activeTab"></div>  
        <div class="sidebarTabs" style="display: none;">
            <div class="parentPost">
                <span class="postTitle">{{ parent.title }}</span>
                {% for paragraph in paragraphs %}
                    <div class="paragraph">
                        {{ paragraph | purify }}
                    </div>
                {% endfor %}
            </div>
        </div>  
    </div>
</div>