{# beta #}
<div class="sidebarPostEdition">    
    <div class="sidebarPostAction">
        {{ app.user | isAuthorizedToPublishReaction(reaction.uuid) }}

        <div class="actionSave withLoaderInside saved">
            {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
            <a action="reactionSave" uuid="{{ reaction.uuid }}"><i class="icon-draft"></i>Enregistrer</a>
        </div>

        {#
        <div class="secondaryActions">
            <!--<a href="#">Prévisualiser la publication</a>-->
            <!--<a href="#">Mes brouillons</a>-->
        </div>
        #}
    </div>

    <div class="sidebarComparedMode">
        <div class="sidebarTabsHeader">
            <span class="activeTabHeader" action="showTab">Rédaction autonome</span>
            <span action="showTab">Rédaction comparée</span>
        </div>
        <div class="sidebarTabs activeTab"></div>  
        <div class="sidebarTabs" style="display: none;">
            <div class="parentPost">
                <span class="postTitle">{{ parent.title }}</span>
                {% for paragraph in paragraphs %}
                    <div class="paragraph">
                        {{ paragraph | purify }}
                    </div>
                {% endfor %}
            </div>
        </div>  
    </div>
    
    <div class="sidebarEditTag">
        <h5>Thématiques abordées</h5>
        <div class="notice">
            <i class="icon-info"></i><b>5 thématiques maximum.</b><br>
            Vous devez saisir au moins <b>une thématique géographique (Monde, Europe, France, une région ou un département)</b> parmi les thématiques de votre publication.
        </div>
        {# include('includes/helperEditTag.php') #}

        {{ reactionTagsEdit(reaction, null, 1, true) }}
    </div>
</div>