{# @todo refactor layout management for profile screens #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
    {% set profileSuffix = 'E' %}
    {% set reactionPath = 'ReactionDraftNewE' %}
{% elseif (isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %} 
    {% set profileSuffix = 'C' %}
    {% set reactionPath = 'ReactionDraftNewC' %}
{% endif %}
{% extends layout %}

{% block connexionBox %}
    {% if not is_granted('ROLE_PROFILE_COMPLETED') %}
        {{ render(controller('PolitizrFrontBundle:Security:login')) }}
    {% endif %}
{% endblock %}

{% block fixedActions %}
    <div id="fixedActions">
        {% if app.user and app.user | isAuthorizedToReact(debate) %}
            <a class="actionReact" href="{{ path(reactionPath, { 'debateId': debate.id, 'parentId': reaction.id }) }}">
                <i class="iconReaction"></i>réagir
            </a>
        {% endif %}
        <a class="actionGotoDebate" href="{{ path('DebateFeed', { 'slug': debate.slug }) }}">
            <i class="iconTimeline"></i>fil du débat
        </a>
        <div class="subscribe actionFollow withLoaderInside">
            {{ debate | linkSubscribeDebate }}
        </div>
    </div>
{% endblock fixedActions %}

{% block main %}
    <div id="main">
        <div class="postSummary">
            <div class="pad40">
                <div class="postSummaryHeader">
                    <div class="readingTime">
                        <i class="iconTime"></i>{{ reaction | readingTime }}
                    </div>
                    <div class="postNote">
                        <div class="notePlus">
                            {{ reaction.notePos }}<i class="iconNotePlus"></i>
                        </div>
                        <div class="noteMinus">
                            <i class="iconNoteMinus"></i>{{ reaction.noteNeg }}
                        </div>
                    </div>
                </div>
                <div class="postSummaryFooter">
                    <div class="postSummaryGotoParent">
                        {{ reaction | linkParentReaction }}
                    </div>
                    <div class="postSummaryTagList">
                        {{ debate | docTags }}
                    </div>
                    <div class="postSummaryTitle">
                        {{ reaction.title }}
                    </div>
                    <div class="postSummaryActivity">
                        <div class="reactionsCounter">
                            <i class="iconReaction"></i>
                            {{ reaction | nbReactions }}
                        </div>
                        <div class="commentsCounter" action="paragraphCommentsCounter">
                            <i class="iconComment"></i>
                            {{ debate | nbComments }}
                        </div>
                    </div>
                </div>
            </div>                      
            {{ reaction | image('debate_header') }}
        </div>
        <div id="illustration_l">
            {{ reaction | image('debate_header') }}
        </div>
        <div id="illustration_r">
            {{ reaction | image('debate_header') }}
        </div>

        {% include 'PolitizrFrontBundle:Document:_copyright.html.twig' with { 'copyright': reaction.copyright } %}

        <div id="lateralHolder">
            <div id="postAuthor">
                {% include 'PolitizrFrontBundle:User:_author.html.twig' with { 'user': reaction.user } only %}
            </div>
            <div id="postInfos">
                {% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'dateTimeAt': reaction.publishedAt } only %}
            </div>
        </div>

        <div id="postText">
            {% for paragraph in paragraphs %}
                <div id="p-{{ loop.index }}" class="paragraph">
                    {% include 'PolitizrFrontBundle:Comment:_counter.html.twig' with { 'document': reaction, 'paragraphNo': loop.index } only %}
                    <p>{{ paragraph | raw }}</p>
                    {# @todo chargement des imgLiquid post ajax #}
                    <div class="comments"></div>
                </div>
            {% endfor %}
        </div>

        <div id="giveNote" class="withLoaderInside">
            <div class="ajaxLoader" style="display: none;">
                <i class="iconSpin5 animateSpin"></i>
                <div class="ajaxLoaderBg"></div>
            </div>
            <span>noter cette publication : </span>
            <div class="notes postNote">
                {{ reaction | linkNoteReaction }}
            </div>
        </div>

        {% if reaction.countReactions(true, true) %}
            {% include 'PolitizrFrontBundle:Reaction:_listReactionsToPost.html.twig' with { 'document': reaction } only %}
        {% endif %}

    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS\\Reputation:notation.js.twig' %}
    {% include 'PolitizrFrontBundle:JS\\Document:comments.js.twig' %}

    {% include 'PolitizrFrontBundle:JS\\Security:login.js.twig' %}
{% endblock javascriptFooter %}
