{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% block title %}{{ parent() }} - {{ reaction.title | purify | trim }}{% endblock title %}

{% block description %}{{ reaction.description | removeLinks | removeSpans | excerpt(1, true) | striptags | trim | purify }}{% endblock description %}

{% block ogImage %}{{ reaction | ogImage(app.request.getSchemeAndHttpHost()) }}{% endblock ogImage %}
{% block ogTitle %}{{ reaction.title | purify | trim }} – Politizr{% endblock ogTitle %}
{% block ogDescription %}{{ reaction.description | removeLinks | removeSpans | excerpt(1, true) | striptags | trim | purify }}{% endblock ogDescription %}

{% block javascriptHeader %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.cycle2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.cycle2.swipe.min.js') }}"></script>
{% endblock %}

{% block preMain %}
    {% include 'PolitizrFrontBundle:Reaction:_menu.html.twig' with {
        'debate': debate,
        'reaction': reaction,
        'parentReaction': parentReaction,
        'ancestors': ancestors,
        'siblings': siblings,
        'currentSlide': currentSlide,
    } only %}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="post">
            {% include 'PolitizrFrontBundle:User:_summary.html.twig' with { 'user': reaction.user, 'withSocialLinks': false } only %}
            <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': reaction } only %}</h5>
            <div class="postStats">
                {% include 'PolitizrFrontBundle:Document:_statsMini.html.twig' with { 'document': reaction } only %}
            </div>
            
            <div id="cardPost">
                <span class="postTitle">{{ reaction.title }}</span>
                {% if reaction.fileName %}
                    <div id="cardPostImgHolder">
                        {% if reaction.copyright | purify | length > 0 %}
                            <div id="cardPostImgLegend">{{ reaction.copyright | purify }}</div>
                        {% endif %}
                        <div id="cardPostImg">
                            {{ reaction | image('reaction_header') }}
                        </div>
                    </div>
                {% endif %}
                <div id="cardPostText">
                    {% for paragraph in paragraphs %}
                        <div id="p-{{ loop.index }}" class="paragraph">
                            {% include 'PolitizrFrontBundle:Comment:_paragraph.html.twig' with { 'document': reaction, 'paragraphNo': loop.index } only %}
                            {{ paragraph | purify }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="p-0">
                {% include 'PolitizrFrontBundle:Comment:_global.html.twig' with { 'document': reaction } only %}
            </div>

            {% include 'PolitizrFrontBundle:Reaction:_listReactionsToPost.html.twig' with { 'document': reaction, 'reactions': reactions } only %}

            <div class="postTags">
                <h5>Thématiques abordées</h5>
                <div class="tagList">
                    {{ reaction | docTags }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    <div class="sidebarSubject">
        <div class="sidebarAction">
            {% if app.user and app.user.id != debate.getPUserId %}
                <div class="sidebarFollow">
                    {% include 'PolitizrFrontBundle:Follow:_actionFollow.html.twig' with { 'subject': debate } only %}
                </div>
            {% endif %}
            <div class="actionsBox">
                <div class="miniActions">
                    {% include 'PolitizrFrontBundle:Reaction:_actionNew.html.twig' with { 'document': reaction } only %}
                </div>  
                <div class="notation withLoaderInside">
                    {% include 'PolitizrFrontBundle:Reputation:_noteAction.html.twig' with { 'subject': reaction } only %}
                </div>
            </div>
            {{ reaction | share(app.request.uri) }}
        </div>

        {% include 'PolitizrFrontBundle:Monitoring:_sidebarAbuse.html.twig' with { 'subject': reaction } only %}

        {% if app.user and app.user.id == reaction.pUserId %}
            {% include 'PolitizrFrontBundle:Monitoring:_sidebarAskForUpdate.html.twig' with { 'subject': reaction } only %}
        {% endif %}
    </div>
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/smoke.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/comments.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/detailReaction.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
