{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% set metaTitle = reaction.title | purify | trim %}
{% set metaDescription = reaction.description | striptags | truncate(160, true) | purify %}
{% set ogDescription = reaction.description | striptags | truncate(295, true) | purify %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogImage %}{{ reaction | ogImage(app.request.getSchemeAndHttpHost()) }}{% endblock ogImage %}
{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ ogDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}
{% block tcImage %}{{ reaction | tcImage(app.request.getSchemeAndHttpHost()) }}{% endblock tcImage %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/selection-sharer.css') }}" />
{% endblock %}

{% block javascriptHeader %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.cycle2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.cycle2.swipe.min.js') }}"></script>
{% endblock %}

{% block bodyClass %}
    {% spaceless %}
        {% if reaction.PCTopicId %}
            {% if (isGrantedE() or isGrantedC()) %}
                class="grp"
            {% else %}    
                class="grp public"
            {% endif %}
        {% else %}
            {{ parent() }}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block header %}
    {% if (isGrantedE() or isGrantedC()) %}
        {% embed 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
            {% block newSubject %}
                {% set topic = reaction.PCTopic %}
                {% if topic %}
                    <a href="{{ path('DebateDraftNew', { topic: topic.uuid }) }}" class="newSubject">
                        <i class="icon-plane"></i><span>je m'exprime</span>
                    </a>
                    <div class="headerSeparator"></div>
                {% else %}
                    {{ parent() }}
                {% endif %}
            {% endblock newSubject %}
        {% endembed %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block preMain %}
    {{ reaction | circleContext }}

    {% include 'PolitizrFrontBundle:Reaction:_menu.html.twig' with {
        'debate': debate,
        'reaction': reaction,
        'parentReaction': parentReaction,
        'ancestors': ancestors,
        'siblings': siblings,
        'currentSlide': currentSlide,
    } only %}
{% endblock %}

{% block headerMsg %}
    {{ parent() }}

    {{ reaction | documentOperation }}
    {{ reaction | boostQuestion }}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="post">
            {% include 'PolitizrFrontBundle:User:_summary.html.twig' with { 'user': reaction.user, 'withSocialLinks': false, 'withMandates': false } only %}
            <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': reaction } only %}</h5>
            <div class="postStats">
                {% include 'PolitizrFrontBundle:Document:_statsMini.html.twig' with { 'document': reaction, 'facebook': true } only %}
            </div>
            
            <div id="cardPost">
                <span class="postTitle">{{ reaction.title }}</span>
                {% if reaction.fileName %}
                    <div id="cardPostImgHolder">
                        {% if reaction.copyright | purify | length > 0 %}
                            <div id="cardPostImgLegend">{{ reaction.copyright | purify }}</div>
                        {% endif %}
                        <div id="cardPostImg">
                            {{ reaction | image('reaction_header') }}
                        </div>
                    </div>
                {% endif %}
                <div id="cardPostText">
                    {% for paragraph in paragraphs %}
                        <div id="p-{{ loop.index }}" class="paragraph">
                            {% include 'PolitizrFrontBundle:Comment:_paragraph.html.twig' with { 'document': reaction, 'paragraphNo': loop.index } only %}
                            {{ paragraph | purify }}
                        </div>
                    {% endfor %}
                    {% if not app.user %}
                        {% include 'PolitizrFrontBundle:Navigation\\Helper:_createAccountToFullRead.html.twig' with { 'document': reaction } %}
                    {% endif %}
                </div>

                {% if reactions | length > 0 %}
                    {% include 'PolitizrFrontBundle:Reaction:_listReactionsToPost.html.twig' with { 'document': reaction, 'reactions': reactions } only %}
                {% endif %}

                <div id="cardPostTextFooter">
                    {{ reaction | footer }}
                </div>
            </div>
            <div id="p-0">
                {% include 'PolitizrFrontBundle:Comment:_global.html.twig' with { 'document': reaction, 'formComment': formComment } only %}
            </div>

            <div class="postTags">
                <h5>Thématiques abordées</h5>
                <div class="tagList">
                    {{ reaction | docTags }}
                </div>
            </div>

            {% include 'PolitizrFrontBundle:Document:_listSimilarsToPost.html.twig' with { 'documents': similars } only %}
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    {% if not app.user %}
        {% include 'PolitizrFrontBundle:Navigation\\Menu:_createAccount.html.twig' %}
    {% endif %}
    {% include 'PolitizrFrontBundle:Reaction:_sidebar.html.twig' %}
{% endblock sidebarContent %}

{% block sidebarFooter %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_sidebar.html.twig' with { 'document': reaction } %}
{% endblock %}

{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("Réaction - {{ reaction.title }}");
        </script>
    {% endif %}

    <script src="{{ asset('bundles/politizrfront/js/politizr/selection-sharer.js') }}"></script>
    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/smoke.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/detail.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/comments.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/detailReaction.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
