{# beta #}
{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block title %}
    {{ parent() }} - Éditer une réponse
{% endblock title %}

{% block bodyClass %} class="edition"{% endblock bodyClass %}

{% block content %}
    <div id="content">
        <div class="editionPostCard">
            {% set uploadAction = path('XhrGeneric', {'xhrRoute': constant('Politizr\\Constant\\XhrConstants::ROUTE_DOCUMENT_PHOTO_UPLOAD'), 'xhrService': 'document', 'xhrMethod': 'documentPhotoUpload', 'xhrType': constant('Politizr\\Constant\\XhrConstants::RETURN_URL')}) %}
            <form method="POST" action="{{ uploadAction }}" name="debate" id="formReactionUpdate" class="autoSubmitForm" enctype="multipart/form-data">
                <div class="formBlock">
                    <div class="formBlockHeader">
                        <label>Titre</label>
                    </div>
                    {{ form_widget(form.title, { 'attr': {'placeholder': 'Donnez un titre à votre réponse'}}) }}
                </div>
                <div class="formBlock">
                    <div class="formBlockHeader">
                        <label>Illustration</label>
                    </div>
                    <div class="postIllustration">
                        <div id="uploadedPhoto">
                            {% if reaction.fileName %}
                                {{ reaction | image('reaction_header', false) }}
                            {% endif %}
                        </div>
                        <label for="fileName"><i class="icon-camera"></i></label>
                    </div>
                    <div class="uploadIllustration">
                        <input type="file" name="fileName" id="fileName">
                        <input type="hidden" name="uuid" value="{{ reaction.uuid }}">
                        <input type="hidden" name="type" value="{{ constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION') }}">
                        <label for="fileName">Sélectionner une image d'illustration</label>
                        <a class="photoDelete" action="fileDelete" uuid="{{ app.user.uuid }}"><i class="icon-remove"></i>Supprimer</a>
                        {{ form_widget(form.copyright, { 'attr': {'placeholder': 'Saississez ici la légende de votre illustration'}}) }}
                    </div>
                </div>
                <div class="formBlock">
                    <div class="formBlockHeader">
                        <label>Texte</label>
                        {# include('includes/helperTextEditor.php') #}
                    </div>
                    <!-- idem alpha -->
                    <div id="postText">
                        <div class="paragraph">
                            <div class="editable description">
                                {{ reaction.description | purify }}
                            </div>
                        </div>
                    </div>
                </div>
                {# hidden form inputs filled by js #}
                {{ form_row(form.description) }}
                {{ form_rest(form) }}                
            </form>
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    {% include 'PolitizrFrontBundle:Reaction:_sidebarEdit.html.twig' %}
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    <script>
        var nbZones = 1;
        var service = 'tag';
        var xhrRoute = ROUTE_TAG_LISTING;
        var xhrUrlPrefix = '/xhr';
    </script>

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/smoke.min.js'
        '@PolitizrFrontBundle/Resources/public/js/medium-editor.min.js'
        '@PolitizrFrontBundle/Resources/public/js/jquery.form.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/tag/editTags.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/medium.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/edit.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/editPhoto.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/editReaction.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
