{# beta #}
{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block title %}Éditer une réponse - {{ parent() }}{% endblock title %}

{% block bodyClass %}
    {% spaceless %}
        {% if reaction.PCTopicId %}
            class="user edition grp"
        {% else %}
             class="user edition"
        {% endif %}
    {% endspaceless %}
{% endblock bodyClass %}

{% block header %}
    {% embed 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
        {% block topLeftMenu %}
            {% if reaction.PCTopicId %}
                {% set circle = reaction.circle %}
                {% include 'PolitizrFrontBundle:Navigation\\Menu:_circleTopLeftMenu.html.twig' with { 'circle': circle } only %}
            {% else %}
                {{ parent() }}
            {% endif %}
        {% endblock %}
        {% block newSubject %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block headerMsg %}
    {{ parent() }}

    {{ reaction | editDocumentBanner }}
{% endblock %}

{% block content %}
    <div class="modalPublish{% if not geo.active %} modalPublish2cols{% endif %}" style="display: none">
        <div class="modalPublishContent">
            <div class="modalPublishContentHeader"><span>Qualifiez votre publication</span><a action="closeModalPublish"><i class="icon-cross"></i></a></div>
            <div class="modalPublishScrollable">
                {% if formLocalization %}
                    <div class="docLocChoice">
                        <h5>1. Zonage de publication</h5>
                        <div class="notice">
                            <i class="icon-info"></i><b>Cette publication concerne:</b>
                        </div>
                        <form id="formDocLoc">
                            {{ form_errors(formLocalization) }}
                            {% for type in formLocalization.loc_type %}
                                {{ form_row(type) }}
                                {% if loop.index == 1 %}
                                    {{ form_widget(formLocalization.localization_city) }}<br/>
                                {% elseif loop.index == 2 %}
                                    {{ form_widget(formLocalization.localization_department) }}<br/>
                                {% elseif loop.index == 3 %}
                                    {{ form_widget(formLocalization.localization_region) }}<br/>
                                {% elseif loop.index == 4 %}
                                    &nbsp;
                                {% elseif loop.index == 5 %}
                                    {{ form_widget(formLocalization.localization_circonscription) }}<br/>
                                {% endif %}
                            {% endfor %}
                            {{ form_rest(formLocalization) }}
                        </form>
                    </div>
                {% endif %}
                <div class="docTypes">
                    <h5>2. Type de publication</h5>
                    <div class="notice">
                        <i class="icon-info"></i><b>Option: cochez le(s) type(s) associé(s) à votre publication.</b>
                    </div>
                    {{ reaction | editTagTypeForm }}
                </div>
                <div class="docTags">
                    <h5>3. Thématiques abordées</h5>
                    <div class="notice">
                        <i class="icon-info"></i><b>Option: ajoutez des thématiques de votre choix et/ou cochez parmi les rubriques associées à votre publication (5 thématiques maximum)</b>
                    </div>
                    {{ reactionTagsEdit(reaction, constant('Politizr\\Constant\\TagConstants::TAG_TYPE_THEME'), 1, true) }}
                    {{ reaction | editTagFamilyForm }}
                </div>
            </div>
            {{ app.user | isAuthorizedToPublishReaction(reaction) }}
            <div class="modalPublishBg"></div>
        </div>
    </div>
    <div id="content">
        <div class="editionPostCard" mode="{% if reaction.published %}update{% else %}create{% endif %}">
            <form method="POST" name="debate" id="formReactionUpdate" class="autoSubmitForm" uuid="{{ reaction.uuid }}" type="{{ constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION') }}">
                <div class="formBlock">
                    <div class="formBlockHeader">
                        <label>Titre</label>
                    </div>
                    {{ form_widget(form.title, { 'attr': {'placeholder': 'Titre de votre réponse'}}) }}
                </div>
                <div class="formBlock">
                    <div class="formBlockHeader">
                        <label>Texte</label>
                        {% include 'PolitizrFrontBundle:Navigation\\Helper:_textEditor.html.twig' %}
                    </div>
                    <div id="postText" path="{{ oneup_uploader_endpoint('document') }}" delete="{{ path('DocImageDelete') }}">
                        <div class="paragraph">
                            <div class="editable description">
                                {{ reaction.description | purify }}
                            </div>
                        </div>
                    </div>
                </div>
                {# hidden form inputs filled by js #}
                {{ form_row(form.description) }}
                {{ form_rest(form) }}                
            </form>
        </div>
        <div class="postTags">
            <div class="formBlockHeader">
                <label>Thématiques abordées</label>
                {% include 'PolitizrFrontBundle:Navigation\\Helper:_addTagToPublication.html.twig' %}
            </div>
            <div class="tagList">
            </div>
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    {% include 'PolitizrFrontBundle:Reaction:_sidebarEdit.html.twig' %}
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/smoke.min.js'
        '@PolitizrFrontBundle/Resources/public/js/handlebars-v4.0.11.js'
        '@PolitizrFrontBundle/Resources/public/js/jquery-sortable-min.js'
        '@PolitizrFrontBundle/Resources/public/js/jquery.ui.widget.js'
        '@PolitizrFrontBundle/Resources/public/js/jquery.iframe-transport.js'
        '@PolitizrFrontBundle/Resources/public/js/jquery.fileupload.js'
        '@PolitizrFrontBundle/Resources/public/js/medium-editor.min.js'
        '@PolitizrFrontBundle/Resources/public/js/medium-editor-insert-plugin.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/medium.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/edit.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/tag/editTags.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/editReaction.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
