{% extends_admingenerated "PolitizrAdminBundle:PDDCommentShow:index.html.twig" %}

{% block show_column_description %}
    {{ PDDComment.description | purify }}
{% endblock %}

{% block show_column_block_p_user %}
    {{ adminCreatePath(constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_USER'), PDDComment.PUserId) }}
{% endblock %}

{% block show_column_block_p_d_debate %}
    {{ adminCreatePath(constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE'), PDDComment.PDDebateId) }}
{% endblock %}

{# Block moderation alert listing #}
{% block show_column_block_moderation_alert_listing %}
    <div id="moderationListing">
        {{ adminModerationAlertListing(PDDComment.PUserId) }}
    </div>
{% endblock %}

{# Block front link #}
{% block show_column_block_front %}
    {% if PDDComment.online and PDDComment.PDDebateId and PDDComment.PDDebate.online and PDDComment.PDDebate.published %}
        <a href="{{ path('DebateDetail', {'slug': PDDComment.PDDebate.slug}) }}#p-{{ PDDComment.paragraphNo }}" target="_blank">Consulter</a>
    {% else %}
        Hors ligne
    {% endif %}
{% endblock %}

{% block object_actions_script_container %}
    <script type="text/javascript" src="{{ asset('bundles/politizradmin/js/politizr/moderation/notification.js') }}"></script>  
{% endblock object_actions_script_container %}

