{% extends_admingenerated "PolitizrAdminBundle:PDDCommentShow:index.html.twig" %}

{% block show_column_block_p_user %}
    {{ adminCreatePath(constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_USER'), PDDComment.PUserId) }}
{% endblock %}

{% block show_column_block_p_d_debate %}
    {{ adminCreatePath(constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE'), PDDComment.PDDebateId) }}
{% endblock %}

{% block show_column_block_moderation_alert_new %}
    {{ adminModerationAlertNew(constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE_COMMENT'), PDDComment.Id, PDDComment.PUserId) }}
{% endblock %}

{% block show_column_block_moderation_alert_listing %}
    {{ adminModerationAlertListing(constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE_COMMENT'), PDDComment.Id, PDDComment.PUserId) }}
{% endblock %}


{# Block front link #}
{% block show_column_block_front %}
    {% if PDDComment.online and PDDComment.PDDebateId and PDDComment.PDDebate.online and PDDComment.PDDebate.published %}
        <a href="{{ path('DebateDetail', {'slug': PDDComment.PDDebate.slug}) }}#p-{{ PDDComment.paragraphNo }}" target="_blank">Consulter</a>
    {% else %}
        Hors ligne
    {% endif %}
{% endblock %}
