{% extends 'PolitizrFrontBundle:Fragment\\Debate:Detail.html.twig' %}

{% set urlBack = path('ContribDashboardC') %}
{% if isGrantedE() %}
    {% set urlBack = path('ContribDashboardE') %}
{% endif %}

{% block detailHeader %}
    {{ form_start(form, {'style': 'horizontal', 'attr': {'id': 'form-debate-update', 'class': 'auto_submit_form'}}) }}
        {{ form_errors(form) }}

        {{ form_row(form.description) }}

        <div class="row">
            <div class="col-sm-12">
                <h1>{{ form_widget(form.title) }}</h1>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock detailHeader %}

{% block detailAuthor %}
{% endblock detailAuthor %}

{% block detailFollow %}
{% endblock detailFollow %}

{% block detailImage %}
    {# Image #}
    <hr>
    <div class="row debate-image">
        <div class="col-sm-12" id="current-photo">
            {{ debate | image('debate_header') }}
        </div>
        <div class="text-center">
            <form id="form-document-photo" action="{{ path('DocumentPhotoUpload') }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ debate.id }}">
                <div id="upload-file-container">
                    <input type="file" name="file-name" id="file-name">
                    <button id="file-select" class="btn btn-success">Choisir la photo</button>
                    <button id="file-delete" class="btn btn-danger">Supprimer la photo</button>
                </div>
            </form>
        </div>
    </div>
{% endblock detailImage %}

{% block detailSummary %}
    {# Résumé #}
    <hr>
    <div class="jumbotron">
        {# Tags #}
        <div class="row text-center">
            <div class="col-sm-12">
                <span class="tag label label-success">
                    <i class="fa fa-tag"></i>&nbsp;Tags
                </span>
                <hr>
                {{ debateTagsEdit(debate, null, 1, true) }}
            </div>
        </div>
        <hr>
        {# Résumé #}
        <div class="row">
            <div class="summary-editable col-sm-12">
                {{ debate.summary | raw }}
            </div>
        </div>
    </div>
{% endblock detailSummary %}

{% block detailDescription %}
    <hr>
    <div class="debate-body">
        <div class="paragraph">
            <div class="row debate-description sizeup">
                <div class="description-editable col-sm-12">
                    <p>{{ debate.description | raw }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock detailDescription %}

{% block detailAction %}
{% endblock detailAction %}

{% block detailGlobalComments %}        
{% endblock detailGlobalComments %}
