{# 
LAYOUT DEBATE
-----------------------------
- regroupement un 1 fichier de tous les fragments fonctionnels réutilisables séparément
- objectif > mutualiser / harmoniser les mises à jour du code
- permet aussi de trouver des points communs et de faire de l'héritage parmi les enfants de ce layout
#}

{# Bloc détail d'un débat #}
{% block detail %}
	<div class="debate-detail">
		{% block header %}
			{# Infos générales #}
			<div class="row">
				<div class="col-sm-8">
					<h1>{{ debate.title }}</h1>
				</div>
				<div class="col-sm-2 text-center">
					<span class="label label-info text-center">vu {{ debate.NbViews }} fois</span>
				</div>
				<div class="col-sm-2 text-center">
					<span class="label label-default text-center"><i class="fa fa-clock-o"></i>&nbsp;{{ debate.publishedAt | localizeddate('medium', 'short', app.request.locale, "Europe/Paris", "EEEE d MMMM HH'h'mm" ) | capitalize }}</span>
				</div>
			</div>
		{% endblock header %}

		{% block author %}
			<div class="row">
				{# User #}
				<div class="col-sm-8">
					{% include 'PolitizrFrontBundle:Fragment\\User:Author.html.twig' with { 'user': debate.user } only %}
				</div>
				{# Notes #}
				<div class="notes col-sm-4 text-center">
					{{ linkNote(debate, constant('Politizr\\Model\\PDocument::TYPE_DEBATE')) }}
				</div>
			</div>
		{% endblock author %}

		{% block follow %}
			<hr>
			<div class="row text-center">
				{# Followers #}
				<div class="col-sm-8">
					{% include 'PolitizrFrontBundle:Fragment\\Follow:Followers.html.twig' with {'nbC': debate.countFollowersC, 'nbQ': debate.countFollowersQ, 'followersC': debate.followersC, 'followersQ': debate.followersQ } only %}
				</div>
				{# Subscribe #}
				<div class="col-sm-4">
					<div class="star text-center">
						{{ linkFollow(debate, constant('Politizr\\Model\\PDocument::TYPE_DEBATE')) }}
					</div>
				</div>
			</div>
		{% endblock follow %}

		{# Image #}
		<hr>
		<div class="row debate-image">
			<div class="col-sm-12">
				{# TODO / TwigExtension Image #}
				{% if (debate.FileName) %}
			        <img class="img-rounded img-responsive" src="{{ asset('uploads/documents/'~debate.fileName) | imagine_filter('debate_header') }}" alt="{{ debate.title }}">
			    {% else %}
			        <img  class="img-rounded img-responsive" src="{{ asset('bundles/politizrfront/images/default_debate.jpg') | imagine_filter('debate_header') }}" alt="{{ debate.title }}">
				{% endif %}
			</div>
		</div>

		{# Résumé #}
		<hr>
		<div class="jumbotron">
			{# Tags #}
			<div class="row text-center">
				<div class="col-sm-6">
					{{ debateTags(debate, constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) }}
				</div>
				<div class="col-sm-6">
					{{ debateTags(debate, constant('\\Politizr\\Model\\PTTagType::TYPE_THEME')) }}
				</div>
			</div>
			<hr>
			{# Résumé #}
			<div class="row text-center">
				<div class="col-sm-12">
					{{ debate.summary | raw }}
				</div>
			</div>
			{% block linkDetailFeed %}
				{# Lien détail #}
				<div class="row text-center">
					<div class="col-sm-12">
						<a class="btn btn-primary" href="{{ path('DebateFeed', { 'id': debate.id, 'slug': debate.slug }) }}">Fil du débat</a>
					</div>
				</div>		
			{% endblock linkDetailFeed %}
		</div>

		{# Description & plus d'infos #}
		{% block description %}
			<hr>
			<div class="debate-body">
				{% for paragraph in paragraphs %}
					<div class="paragraph">
						<div class="row debate-description sizeup">
							<div class="counter col-sm-1">
								{% block paragraphComment %}
									{% include 'PolitizrFrontBundle:Fragment\\Comment:Counter.html.twig' with {'document': debate.document, 'paragraphNo': loop.index } only %}
								{% endblock paragraphComment %}
							</div>
							<div class="col-sm-11">
								<p>{{ paragraph | raw }}</p>
							</div>
						</div>
						<div class="comments"></div>
					</div>
				{% endfor %}
			</div>

			{% if debate.moreInfo | striptags | trim is not empty %}
				<hr>
				<div class="debate-more-info well">
					{{ debate.moreInfo | raw }}
				</div>
			{% endif %}
		{% endblock description %}

		{% block actionReact %}
			{% if is_granted('ROLE_ELECTED') %}
				{# TODO / message indiquant si des réactions courantes sont déjà en cours de réaction pour ce débat par le user courant #}
				<div class="row text-center">
					<a class="btn btn-danger" href="{{ path('ReactionDraftNew', { 'debateId': debate.id, 'parentId': null }) }}">Réagir</a>
				</div>
				<hr>
			{% endif %}
		{% endblock actionReact %}

		{% block globalComments %}		
			<hr>		
			<div class="debate-global-comments">
				<div class="paragraph">
					<div class="counter text-center">
						{% include 'PolitizrFrontBundle:Fragment\\Comment:Counter.html.twig' with {'document': debate.document, 'paragraphNo': 0 } only %}
					</div>
					<div class="comments"></div>
				</div>
			</div>
		{% endblock globalComments %}		
	</div>
{% endblock detail %}

{# Bloc ligne de listing de débats #}
{% block listRow %}
	<div class="debate-list-row">
		{% block debateImage %}
			<div class="row">
				<div class="col-sm-12">
					{# TODO / TwigExtension Image #}
					{% if (debate.FileName) %}
				        <img class="img-rounded img-responsive" src="{{ asset('uploads/documents/'~debate.fileName) | imagine_filter('debate_list') }}" alt="{{ debate.title }}">
				    {% else %}
				        <img  class="img-rounded img-responsive" src="{{ asset('bundles/politizrfront/images/default_debate.jpg') | imagine_filter('debate_list') }}" alt="{{ debate.title }}">
					{% endif %}
				</div>
			</div>
		{% endblock debateImage %}
		<div class="row">
			<div class="col-sm-8">
				<h4><a href="{{ path('DebateDetail', { 'id': debate.id, 'slug': debate.slug }) }}">{{ debate.title }}</a></h4>
			</div>
			<div class="col-sm-2 text-center">
				<span class="count-reactions">
					{# TODO / TwigExtension NbReactions #}
					{% set nbReactions = debate.countReactions(true, true) %}
					<span class="badge alert-info">
						<a href="{{ path('DebateFeed', { 'id': debate.id, 'slug': debate.slug }) }}">{{ nbReactions }} réactions</a>
					</span>
				</span>
			</div>
			<div class="col-sm-2 text-center">
				<span class="label label-default text-center"><i class="fa fa-clock-o"></i>&nbsp;{{ debate.publishedAt | localizeddate('medium', 'short', app.request.locale, "Europe/Paris" ) | capitalize }}</span>
			</div>
		</div>
		{% block debateUser %}
			<div class="row">
				<div class="col-sm-12">
					{% include 'PolitizrFrontBundle:Fragment\\User:Author.html.twig' with { 'user': debate.user } only %}
				</div>
			</div>
		{% endblock debateUser %}
	</div>
{% endblock listRow %}

{# Bloc ligne d'un tableau de brouillon de débats #}
{% block draftTableRow %}
	<tr>
		<td>
			{% if document.fileName %}
				<img src="{{ asset('uploads/documents/'~document.fileName) | imagine_filter('c_document_list_thumb') }}" />
			{% else %}
				Aucun
			{% endif %}
		</td>
		<td>{{ document.title }}</td>
		<td>{{ document.summary | striptags | slice(0, 150) | raw }}</td>
		<td>{{ document.createdAt | date('d/m/Y H:i') }}</td>
		<td>
			<a class="btn btn-primary" href="{{ path('DebateDraftEdit', { 'id': document.id }) }}">Editer</a>
			<a class="btn btn-info" href="{{ path('DebateDraftPreview', { 'id': document.id }) }}">Prévisualiser</a>
		</td>
	</tr>
{% endblock draftTableRow %}
