{# 
LAYOUT DEBATE
-----------------------------
- regroupement un 1 fichier de tous les fragments fonctionnels réutilisables séparément
- objectif > mutualiser / harmoniser les mises à jour du code
- permet aussi de trouver des points communs et de faire de l'héritage parmi les enfants de ce layout
#}

{# Bloc détail d'un débat #}
{% block detail %}
    <div class="debate-detail">
        {% block detailHeader %}
            {# Infos générales #}
            <div class="row">
                <div class="col-sm-8">
                    <h1>{{ debate.title }}</h1>
                </div>
                <div class="col-sm-2 text-center">
                    {{ debate.NbViews | nbViewsFormat }}
                </div>
                <div class="col-sm-2 text-center">
                    {% include 'PolitizrFrontBundle:Fragment\\Global:PublishedAt.html.twig' with { 'object': debate, 'format': 'medium' } only %}
                </div>
            </div>
        {% endblock detailHeader %}

        {% block detailAuthor %}
            <div class="row">
                {# User #}
                <div class="col-sm-8">
                    {% include 'PolitizrFrontBundle:Fragment\\User:author.html.twig' with { 'user': debate.user } only %}
                </div>
                {# Notes #}
                <div class="notes col-sm-4 text-center">
                    <div id="notation">
                        {{ debate | linkNoteDebate }}
                    </div>
                </div>
            </div>
        {% endblock detailAuthor %}

        {% block detailFollow %}
            <hr>
            <div class="following row text-center">
                {# Followers #}
                <div class="col-sm-8">
                    <div id="followers">
                        {{ debate | followersDebate }}
                    </div>
                </div>
                {# Subscribe #}
                <div class="col-sm-4 text-center">
                    <div class="subscribe">
                        {{ debate | linkSubscribeDebate }}
                    </div>
                </div>
            </div>            
        {% endblock detailFollow %}

        {# Image #}
        {% block detailImage %}
            <hr>
            <div class="row debate-image">
                <div class="col-sm-12">
                    {{ debate | image('debate_header') }}
                </div>
            </div>
        {% endblock detailImage %}

        {# Résumé #}
        {% block detailSummary %}
            <hr>
            <div class="jumbotron">
                {# Tags #}
                <div class="row text-center">
                    <div class="col-sm-6">
                        {{ debate | docTags(constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) }}
                    </div>
                    <div class="col-sm-6">
                        {{ debate | docTags(constant('\\Politizr\\Model\\PTTagType::TYPE_THEME')) }}
                    </div>
                </div>
                <hr>
                {# Résumé #}
                <div class="row">
                    <div class="col-sm-12">
                        {{ debate.summary | raw }}
                    </div>
                </div>
                {% block detailLink %}
                    {# Lien détail #}
                    <div class="row text-center">
                        <div class="col-sm-12">
                            <a class="btn btn-primary" href="{{ path('DebateFeed', { 'slug': debate.slug }) }}">Fil du débat</a>
                        </div>
                    </div>        
                {% endblock detailLink %}
            </div>
        {% endblock detailSummary %}

        {# Description & plus d'infos #}
        {% block detailDescription %}
            <hr>
            <div class="debate-body">
                {% for paragraph in paragraphs %}
                    <div class="paragraph">
                        <div class="row debate-description sizeup">
                            <div class="counter col-sm-1">
                                {% block detailParagraphComment %}
                                    {% include 'PolitizrFrontBundle:Fragment\\Comment:Counter.html.twig' with {'document': debate.document, 'paragraphNo': loop.index } only %}
                                {% endblock detailParagraphComment %}
                            </div>
                            <div class="col-sm-11">
                                <p>{{ paragraph | raw }}</p>
                            </div>
                        </div>
                        <div class="comments"></div>
                    </div>
                {% endfor %}
            </div>
        {% endblock detailDescription %}

        {% block detailAction %}
            {% if isGrantedE() %}
                {# TODO / message indiquant si des réactions courantes sont déjà en cours de réaction pour ce débat par le user courant #}
                <div class="row text-center">
                    <a class="btn btn-danger" href="{{ path('ReactionDraftNew', { 'debateId': debate.id, 'parentId': null }) }}">Réagir</a>
                </div>
                <hr>
            {% endif %}
        {% endblock detailAction %}

        {% block detailGlobalComments %}        
            <hr>        
            <div class="debate-global-comments">
                <div class="paragraph">
                    <div class="counter text-center">
                        {% include 'PolitizrFrontBundle:Fragment\\Comment:Counter.html.twig' with {'document': debate.document, 'paragraphNo': 0 } only %}
                    </div>
                    <div class="comments"></div>
                </div>
            </div>
        {% endblock detailGlobalComments %}        
    </div>
{% endblock detail %}

{# Bloc ligne de listing de débats #}
{% block listRow %}
    <div class="debate-list-row">
        {% block listHeader %}
            <div class="row">
                <div class="col-sm-12">
                    {{ debate | image('debate_list') }}
                </div>
            </div>
        {% endblock listHeader %}
        {% block listDebate %}
            <div class="row">
                <div class="col-sm-6">
                    <h4><a href="{{ path('DebateDetail', { 'slug': debate.slug }) }}">{{ debate.title }}</a></h4>
                </div>
                <div class="col-sm-2 text-center">
                    {{ debate | nbReactions }}
                </div>
                <div class="col-sm-2 text-center">
                    {% include 'PolitizrFrontBundle:Fragment\\Global:PublishedAt.html.twig' with { 'object': debate, 'format': 'medium' } only %}
                </div>
                <div class="following col-sm-2 text-center">
                    <div class="subscribe">
                        {{ debate | linkSubscribeDebate }}
                    </div>
                </div>
            </div>
        {% endblock listDebate %}
        {% block listAuthor %}
            <div class="row">
                <div class="col-sm-12">
                    {% include 'PolitizrFrontBundle:Fragment\\User:author.html.twig' with { 'user': debate.user } only %}
                </div>
            </div>
        {% endblock listAuthor %}
        
        {% block listSearchHighlights %}
        {% endblock listSearchHighlights %}
    </div>
{% endblock listRow %}

{# Bloc ligne d'un tableau de brouillon de débats #}
{% block draftTableRow %}
    <tr>
        <td>
            {% if document.fileName %}
                <img src="{{ asset('uploads/documents/'~document.fileName) | imagine_filter('c_document_list_thumb') }}" />
            {% else %}
                Aucun
            {% endif %}
        </td>
        <td>{{ document.title }}</td>
        <td>{{ document.summary | striptags | slice(0, 150) | raw }}</td>
        <td>{{ document.createdAt | date('d/m/Y H:i') }}</td>
        <td>
            <a class="btn btn-primary" href="{{ path('DebateDraftEdit', { 'id': document.id }) }}">Editer</a>
        </td>
    </tr>
{% endblock draftTableRow %}


{# Bloc ligne de la timeline #}
{% block timelineRow %}
    <div class="timeline-row">
        {# Accroche #}
        <div class="row">
            <div class="col-sm-1 text-center">
                <h4><i class="fa fa-bullhorn"></i></h4>
            </div>
            <div class="col-sm-2 text-center">
                {% include 'PolitizrFrontBundle:Fragment\\Global:PublishedAt.html.twig' with { 'object': debate, 'format': 'medium' } only %}
            </div>
            <div class="col-sm-7">
                <h4>
                    {% include 'PolitizrFrontBundle:Fragment\\User:authorName.html.twig' with { 'user': debate.user } only %} a rédigé un <a class="label label-success" href="{{ path('DebateDetail', { 'slug': debate.slug }) }}">débat</a>.
                </h4>
            </div>
            <div class="col-sm-1 text-center">
                {{ debate | nbReactions }}
            </div>
            <div class="col-sm-1 text-center">
                <a class="fa fa-info" action="more-info"></a>
            </div>
        </div>

        {# Infos générales #}
        <div class="jumbotron">
            {# Bandeau #}
            <div class="row">
                <div class="col-sm-12 debate-image">
                    {{ debate | image('debate_list') }}
                </div>
            </div>

            {# Titre #}
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <h3>{{ debate.title }}</h3>
                </div>
            </div>
            
            <hr>
            {# Tags #}
            <div class="row text-center">
                <div class="col-sm-6">
                    {{ debate | docTags(constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) }}
                </div>
                <div class="col-sm-6">
                    {{ debate | docTags(constant('\\Politizr\\Model\\PTTagType::TYPE_THEME')) }}
                </div>
            </div>

            <hr>
            {# Résumé #}
            <div class="row">
                <div class="col-sm-12">
                    {{ debate.summary | raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock timelineRow %}
