{% extends 'PolitizrFrontBundle:Fragment\\Debate:ListRow.html.twig' %}

{% block listDebate %}
    <div class="row">
        <div class="col-sm-6">
            <h4><a href="{{ path('DebateDetail', { 'slug': debate.slug }) }}">{{ debate.title }}</a></h4>
        </div>
        <div class="col-sm-1 text-center">
            {{ debate | nbReactions }}
        </div>
        <div class="col-sm-1 text-center">
            {% include 'PolitizrFrontBundle:Fragment\\Global:PublishedAt.html.twig' with { 'object': debate, 'format': 'medium' } only %}
        </div>
        <div class="following col-sm-2 text-center">
            <div class="subscribe">
                {{ debate | linkSubscribeDebate }}
            </div>
        </div>
        <div class="col-sm-2 text-center">
            Notification nouvelle réaction
            {% if debate.isNotified(app.user.id, 'reaction') %}
                <span class="fa fa-check-square-o" subject-id="{{ debate.id }}" context="reaction" action="notif-unsubscribe"></span>
            {% else %}
                <span class="fa fa-square-o" subject-id="{{ debate.id }}" context="reaction" action="notif-subscribe"></span>
            {% endif %}
        </div>
    </div>
{% endblock listDebate %}
