{#<div class="openSearch" action="modalSearch">recherchez<i class="iconSearch"></i></div>#}
<a class="linkDashboard" href="{{ path('Homepage'~profileSuffix) }}"><i class="iconDashboard"></i>tableau de bord</a>
<a class="linkMyPolitizr" href="{{ path('Timeline'~profileSuffix) }}"><i class="iconTimeline"></i>mon fil d'actu</a>
<a href="{{ path('DebateDraftNew'~profileSuffix) }}"><i class="iconQuote"></i>nouveau débat</a>
<a href="{{ path('Drafts'~profileSuffix) }}"><i class="iconDraft"></i>brouillons</a>
<a class="miniLink" href="{{ path('MyPublications'~profileSuffix) }}">mes publications</a>
<a class="miniLink" href="{{ path('Profile'~profileSuffix) }}">mon profil</a>
