<div class="openSearch" action="modalSearch">recherchez<i class="iconSearch"></i></div>
<a class="linkMyPolitizr" href="{{ path('Timeline'~profileSuffix) }}"><i class="iconTimeline"></i>mon politizr</a>
<a href="{{ path('DebateDraftNew'~profileSuffix) }}"><i class="iconQuote"></i>nouveau débat</a>
<a href="{{ path('Drafts'~profileSuffix) }}"><i class="iconDraft"></i>brouillons</a>
<a class="miniLink" href="{{ path('MyPublications'~profileSuffix) }}">mes publications</a>
<a class="miniLink" action="modalSubscriptions">mes abonnements</a>
<a class="miniLink" href="{{ path('Profile'~profileSuffix) }}">mon profil</a>
