<div class="headerGrp" action="toggleGrpMenuCms">
    {% for title, routes in cmsRoutes %}
        <span>{{ title }}</span><i class="icon-arrow-down"></i>
        <div class="headerGrpMenu cmsMenu" style="display:none">
            <div class="headerGrpMenuArrow"><i class="icon-arrow-up"></i></div>
            <div class="innerMenu">
                <div class="primaryMenu">
                    {# <a href="{{ path('Homepage') }}">Accueil</a> #}
                    {% for route in routes %}
                        <a href="{{ route['url'] }}">{{ route['label'] }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% for route in publicationsRoutes %}
    <a href="{{ route['url'] }}"{% if false %} class="currentPage"{% endif %}>{{ route['label'] }}</a>
{% endfor %}

{% for route in communityRoutes %}
    <a href="{{ route['url'] }}"{% if false %} class="currentPage"{% endif %}>{{ route['label'] }}</a>
{% endfor %}
