{% for route in cmsRoutes %}
    <a href="{{ route['url'] }}"{% if false %} class="currentPage"{% endif %}>{{ route['label'] }}</a>
{% endfor %}

{% for route in publicationsRoutes %}
    <a href="{{ route['url'] }}"{% if false %} class="currentPage"{% endif %}>{{ route['label'] }}</a>
{% endfor %}

{% for route in communityRoutes %}
    <a href="{{ route['url'] }}"{% if false %} class="currentPage"{% endif %}>{{ route['label'] }}</a>
{% endfor %}