<div id="moderationListing">
    {% if moderations|length == 0 %}
        <div class="noResult">Aucun résultat</div>
    {% else %}
        <table class="table">
            <th>
                <td>ID</td>
                <td>User ID</td>
                <td>ModérationType ID</td>
                <td>Object ID</td>
                <td>Object Class</td>
            </th>
            {% for moderation in moderations %}
                <tr>
                    <td>{{ moderation.id }}</td>
                    <td>{{ moderation.PUserId }}</td>
                    <td>{{ moderation.PMModerationTypeId }}</td>
                    <td>{{ moderation.PObjectId }}</td>
                    <td>{{ moderation.PObjectName }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</div>