{# beta #}
<h5>Type de publications</h5>
<form id="publicationFilter">
    <input type="radio" class="publicationFilter" name="publicationFilter[]" value="{{ constant('Politizr\\Constant\\ListingConstants::FILTER_KEYWORD_ALL_PUBLICATIONS') }}" id="publicationFilterAll"/>
    <label for="publicationFilterAll"><i class="icon-check"></i>Tous</label>
    <input type="radio" class="publicationFilter" name="publicationFilter[]" value="{{ constant('Politizr\\Constant\\ListingConstants::FILTER_KEYWORD_DEBATES_AND_REACTIONS') }}" id="publicationFilterDebateReaction" checked/>
    <label for="publicationFilterDebateReaction"><i class="icon-check"></i>Sujets et Réponses</label>
    <input type="radio" class="publicationFilter" name="publicationFilter[]" value="{{ constant('Politizr\\Constant\\ListingConstants::FILTER_KEYWORD_DEBATES') }}" id="publicationFilterDebate"/>
    <label for="publicationFilterDebate"><i class="icon-check"></i>Sujets</label>
    <input type="radio" class="publicationFilter" name="publicationFilter[]" value="{{ constant('Politizr\\Constant\\ListingConstants::FILTER_KEYWORD_REACTIONS') }}" id="publicationFilterReaction"/>
    <label for="publicationFilterReaction"><i class="icon-check"></i>Réponses</label>
    <input type="radio" class="publicationFilter" name="publicationFilter[]" value="{{ constant('Politizr\\Constant\\ListingConstants::FILTER_KEYWORD_COMMENTS') }}" id="publicationFilterComment"/>
    <label for="publicationFilterComment"><i class="icon-check"></i>Commentaires</label>
</form>
