<div id="connexion-box" class="container" style="display: none">
    <div id="o-auth-buttons" class="inline">
        {% include 'PolitizrFrontBundle:Security:facebookConnect.html.twig' with {'label': 'Connexion avec Facebook'} %}
        {% include 'PolitizrFrontBundle:Security:twitterConnect.html.twig' with {'label': 'Connexion avec Twitter'} %}
        {% include 'PolitizrFrontBundle:Security:googleConnect.html.twig' with {'label': 'Connexion avec Google'} %}
    </div>
    <hr>
    <div id="box-login">
        {{ form_start(formLogin, {'style': 'inline', 'attr': {'id': 'form-login'} }) }}
            {{ form_errors(formLogin) }}

            {{ form_row(formLogin.username) }}
            {{ form_row(formLogin.password) }}
            {{ form_row(formLogin.remember_me) }}

            {{ form_row(formLogin.actions) }}
        {{ form_end(formLogin) }}
    </div>
    <div id="box-lost-password" style="display:none">
        {{ form_start(formLostPassword, {'style': 'inline', 'attr': {'id': 'form-lost-password'} }) }}
            {{ form_errors(formLostPassword) }}

            {{ form_row(formLostPassword.email) }}

            {{ form_row(formLostPassword.actions) }}
        {{ form_end(formLostPassword) }}
    </div>
    <hr>
</div>