<div id="connexionBox" style="display: none">
	<div id="oAuthButtons">
		{% include 'PolitizrFrontBundle:Security:facebookConnect.html.twig' %}
		{% include 'PolitizrFrontBundle:Security:twitterConnect.html.twig' %}
		{% include 'PolitizrFrontBundle:Security:googleConnect.html.twig' %}
	</div>
	<div id="boxLogin">
		<form id="formLogin" method="post">
	        <div id="boxErrorLogin" style="display:none"></div>
			{{ form_widget(formLogin.username, {'attr': {'placeholder': 'Email@adresse.com'}}) }}
			{{ form_widget(formLogin.password, {'attr': {'placeholder': 'Mot de passe'}}) }}
			{{ form_widget(formLogin.remember_me) }}&nbsp;Se souvenir de moi<br>
			{{ form_rest(formLogin) }}
			<div id="submitLogin"><span>Je valide</span></div>
		</form>
		<div id="showLostPasswordBox">Mot de passe oublié ?</div>
	</div>
	<div id="boxLostPassword" style="display:none">
		<form id="formLostPassword" method="post">
	        <div id="boxErrorLost" style="display:none"></div>
			{{ form_widget(formLostPassword.email, {'attr': {'placeholder': 'Email@adresse.com'}}) }}
			{{ form_rest(formLostPassword) }}
			<div id="submitLostPassword"><span>Réinitialisation mot de passe</span></div>
		</form>
		<div id="showLoginBox">Me connecter ?</div>
	</div>
	<a id="closeConnectMe">fermer</a>
</div>
<hr>