<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{{ path('HomepageE') }}">Politizr</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Actualité<span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="{{ path('HomepageE') }}">Ma timeline</a></li>
				<li><a href="{{ path('SuggestionsE') }}">Suggestions</a></li>
				<li><a href="{{ path('PopularsE') }}">Populaires</a></li>
				<li><a href="{{ path('LastE') }}">Derniers</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mes contributions<span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="{{ path('MyRatesE') }}">Accueil</a></li>
				<li><a href="{{ path('MyDraftsE') }}">Mes brouillons</a></li>
				<li><a href="{{ path('MyDebatesE') }}">Mes débats</a></li>
				<li><a href="{{ path('MyReactionsE') }}">Mes réactions</a></li>
				<li><a href="{{ path('MyCommentsE') }}">Mes commentaires</a></li>
			</ul>
		</li>
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon compte<span class="caret"></span></a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="{{ path('MyAccountE') }}">Accueil</a></li>
				<li><a href="{{ path('MyTagsE') }}">Mes tags</a></li>
				<li><a href="{{ path('MyReputationE') }}">Ma réputation</a></li>
				<li><a href="{{ path('MyPersoE') }}">Mes informations personnelles</a></li>
			</ul>
		</li>
	</ul>
	<ul class="navbar-right">
		{% if app.user.validated %}
			<span class="glyphicon glyphicon-ok"></span>
		{% endif %}
		<span class="label label-success">{{ app.user.firstname }} {{ app.user.name }}</span>
		<a class="btn btn-danger btn-xs" href="{{ path('Logout') }}">Déconnexion</a>
	</ul>
</div><!-- /.navbar-collapse -->
