<div id="menu">
	Bienvenue {{ app.user.firstname }} {{ app.user.name }}!<br/>
	<a href="#">Mon espace</a>
	<a href="{{ path('Logout') }}" class="deconnectMe">Me déconnecter</a>
	<hr>
	<a href="{{ path('HomepageC') }}">Accueil</a>
	<a href="{{ path('SuggestionsC') }}">Suggestions</a>
</div>
