<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{{ path('HomepageC', { 'page': 1 }) }}">Politizr</a>
</div>

<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
		<li><a href="{{ path('SuggestionsC') }}">Suggestions</a></li>
		<li><a href="{{ path('PopularsC') }}">Populaires</a></li>
	</ul>
	<ul class="navbar-right">
		<span class="label label-default">Bienvenue {{ app.user.firstname }} {{ app.user.name }}</span>
		<a class=" btn btn-primary btn-xs" href="{{ path('Logout') }}" class="deconnectMe">Déconnexion</a>
	</ul>
</div><!-- /.navbar-collapse -->
