{% set layout = 'PolitizrFrontBundle::layout.html.twig' %}
{% if (isGrantedE()) %}
    {% set layout = 'PolitizrFrontBundle::layoutE.html.twig' %}
{% elseif (isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutC.html.twig' %} 
{% endif %}
{% extends layout %}

{% block connexionBox %}
    {% if not is_granted('ROLE_PROFILE_COMPLETED') %}
        {{ render(controller('PolitizrFrontBundle:Security:login')) }}
    {% endif %}
{% endblock %}

{% block main %}
    <div id="main" class="container">
        <p class="bg-info">
            {% if pager.nbResults > 0 %}
                Il y a <b>{{ pager.nbResults }} résultat(s)</b> pour votre recherche "<i>{{ query }}</i>".
            {% else %}
                Pas de résultats pour votre recherche "<i>{{ query }}</i>".
            {% endif %}
        </p>
        <hr>
        <div id="paginatedList">
            {% include 'PolitizrFrontBundle:Navigation:searchResultPage.html.twig' with { 'pager': pager, 'query': query } only %}
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS:searchResult.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}
{% endblock javascriptFooter %}
