{% set layout = 'PolitizrFrontBundle::layout.html.twig' %}
{% if (isGrantedE()) %}
	{% set layout = 'PolitizrFrontBundle::layoutE.html.twig' %}
{% elseif (isGrantedC()) %}
	{% set layout = 'PolitizrFrontBundle::layoutC.html.twig' %} 
{% endif %}
{% extends layout %}

{% block connexionBox %}
	{% if not is_granted('ROLE_PROFILE_COMPLETED') %}
	    {{ render(controller('PolitizrFrontBundle:Security:login')) }}
	{% endif %}
{% endblock %}

{% block main %}
	<div id="main" class="container">
		<p class="bg-info">
			{% if results | length > 0 %}
				Il y a <b>{{ results | length }} résultat(s)</b> pour votre recherche "<i>{{ query }}</i>".
			{% else %}
				Pas de résultats pour votre recherche "<i>{{ query }}</i>".
			{% endif %}
		</p>
		<hr>
		{% for result in results %}
			{% if result.className == constant('Politizr\\Model\\PDocument::TYPE_DOCUMENT') %}
				{% if result.descendantClass == constant('Politizr\\Model\\PDocument::TYPE_DEBATE') %}
					{% include 'PolitizrFrontBundle:Fragment\\Debate:ListRow.html.twig' with { 'debate': result.debate } %}
				{% elseif result.descendantClass == constant('Politizr\\Model\\PDocument::TYPE_REACTION') %}
					{% include 'PolitizrFrontBundle:Fragment\\Reaction:ListRow.html.twig' with { 'reaction': result.reaction } %}
				{% endif %}
			{% elseif result.className == constant('Politizr\\Model\\PDocument::TYPE_USER') %}
				{% include 'PolitizrFrontBundle:Fragment\\User:ListRow.html.twig' with { 'user': result } %}
			{% endif %}
			<hr>
		{% endfor %}
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}
{% endblock javascriptFooter %}
