<p>
	Formule choisie:<br/>
	{{ order.POSubscription }}
</p>

<p>
	Statut de la commande:<br/>
	{{ order.POOrderState }}
</p>

<p>
	Statut du paiement:<br/>
	{{ order.POPaymentState }}
</p>

<p>
	Type de paiement:<br/>
	{{ order.POPaymentType }}
</p>

<p>
	Facturation:<br/>
	{{ order.firstname }} {{ order.name }}<br/>
	{{ order.address }}<br/>
	{{ order.zip }} {{ order.city }}
</p>