{% for city in cities %}
    <div class="cityOperationItem">
        <strong>{{ city.nameReal }}</strong> ({{ city.zipcode }}) - INSEE / {{ city.municipalityCode }}&nbsp;
        <a action="deleteOperationCity" operationId="{{ operationId }}" cityId="{{ city.id }}">Supprimer</a>
    </div>
{% endfor %}