{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% block javascriptHeader %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.svg.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.svgdom.min.js') }}"></script>
{% endblock %}

{% block title %}
    {{ parent() }} - Recherche
{% endblock title %}

{% block content %}
    <div id="content">
        <div id="documentListing" class="searchResults withLoaderInside">
            {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
            <div class="listTop"></div>
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    {% if not app.user %}
        <div id="mapHolder" class="mapUnlogged">
            <div class="mapUnloggedText">
                <h1>Vous devez vous<br>inscrire pour accéder<br>au filtre par zone<br>géographique</h1>
                <a href="{{ path('Inscription') }}">Créer un compte</a>
                <span>100 %<br>gratuit</span>
            </div>
            <div class="svg">
                {% include 'PolitizrFrontBundle:Search\\Map:_france.svg.twig' with { 'current': null } %}
            </div>
        </div>
    {% else %}
        {% include 'PolitizrFrontBundle:Search:_sidebarSearch.html.twig' %}
    {% endif %}
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/listingBySearch.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
