<h1>À la carte</h1>
<div class="dbMapHeader">
    <div class="dbMapHeaderLeft">
        {{ geoTagBreadcrumb(tag.uuid) }}
    </div>
    <div class="dbMapHeaderRight">
        <span class="dbWorld" action="modalTagged" model="PTag" uuid="{{ worldTag.uuid }}"><i class="iconGoTo"></i>monde</span>
        <span class="dbEurope" action="modalTagged" model="PTag" uuid="{{ europeTag.uuid }}"><i class="iconGoTo"></i>europe</span>                        
    </div>
</div>
<div class="dbMapBox withLoaderInside">
    <div class="ajaxLoader" style="display: none;">
        <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
    </div> 
    <div class="dbMapFilters withLoaderInside">
        <div class="ajaxLoader" style="display: none;">
            <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
        </div> 
        <div class="listCriteria listCriteriaTabs">
            <form id="listFilter" uuid="{{ tag.uuid }}">
                {% include 'PolitizrFrontBundle:Dashboard:_formFilters.html.twig' with { 'filters': filters } %}
            </form>
        </div>
        <div class="debatePodium">
            {% include 'PolitizrFrontBundle:Dashboard:_mapDebates.html.twig' with { 'debates': debates, 'geoTagUuid': tag.uuid } %}
        </div>
        <div class="profilePodium">
            {% include 'PolitizrFrontBundle:Dashboard:_mapUsers.html.twig' with { 'users': users, 'geoTagUuid': tag.uuid } %}
        </div>
    </div>
    <div class="menuOnMap" style="display: none;">
        <div class="menuOnMapGroup">
            <div class="menuOnMapItem" action="modalTagged" model="PTag" uuid="{{ fomTag['guadeloupe'].uuid }}"><i class="iconGoTo"></i>Guadeloupe</div>
            <div class="menuOnMapItem" action="modalTagged" model="PTag" uuid="{{ fomTag['guyane'].uuid }}"><i class="iconGoTo"></i>Guyane</div>
            <div class="menuOnMapItem" action="modalTagged" model="PTag" uuid="{{ fomTag['martinique'].uuid }}"><i class="iconGoTo"></i>Martinique</div>
            <div class="menuOnMapItem" action="modalTagged" model="PTag" uuid="{{ fomTag['laReunion'].uuid }}"><i class="iconGoTo"></i>La Réunion</div>
            <div class="menuOnMapItem" action="modalTagged" model="PTag" uuid="{{ fomTag['mayotte'].uuid }}"><i class="iconGoTo"></i>Mayotte</div>
        </div>
        <div class="menuOnMapGroup">
            <div class="menuOnMapItem" action="modalTagged" model="PTag" uuid="{{ fomTag['polynesieFrancaise'].uuid }}"><i class="iconGoTo"></i>Polynésie française</div>
            <div class="menuOnMapItem" action="modalTagged" model="PTag" uuid="{{ fomTag['saintBarthelemy'].uuid }}"><i class="iconGoTo"></i>Saint-Barthélemy</div>
            <div class="menuOnMapItem" action="modalTagged" model="PTag" uuid="{{ fomTag['saintMartin'].uuid }}"><i class="iconGoTo"></i>Saint-Martin</div>
            <div class="menuOnMapItem" action="modalTagged" model="PTag" uuid="{{ fomTag['saintPierreEtMiquelon'].uuid }}"><i class="iconGoTo"></i>Saint-Pierre-et-Miquelon</div>
            <div class="menuOnMapItem" action="modalTagged" model="PTag" uuid="{{ fomTag['wallisEtFutuma'].uuid }}"><i class="iconGoTo"></i>Wallis-et-Futuna</div>
        </div>
        <div class="menuOnMapGroup">
            <div class="menuOnMapItem" action="modalTagged" model="PTag" uuid="{{ fomTag['nouvelleCaledonie'].uuid }}"><i class="iconGoTo"></i>Nouvelle-Calédonie</div>
        </div>
        <i class="iconArrowDown"></i>
    </div>
    <div class="linkOnMap" action="toggleDomTom">France d'Outre-Mer</div>

    <!-- FRANCE / REGIONS / DEPARTEMENTS-->
    {% include 'PolitizrFrontBundle:Dashboard\\mapZones:_mapRouting.html.twig' %}
</div>
