{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block title %}
    {{ parent() }} - Tableau de bord
{% endblock title %}


{% block javascriptHeader %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.svg.min.js') }}"></script>    
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.svgdom.min.js') }}"></script>    
{% endblock %}

{% block main %}
    <div id="main">
        <div id="dashboard">
            <div class="dbMap withLoaderInside">
            </div>
            <div class="dbBox dbPopularTag withLoaderInside">
            </div>
            <div class="dbBox dbPopularDebates withLoaderInside">
            </div>
            <div class="dbBox dbPopularProfiles withLoaderInside">
            </div>
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/dashboard.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
