{% extends 'PolitizrFrontBundle::layoutE.html.twig' %}

{% block main %}
    <div id="main">
        <h1>Mes brouillons</h1>
        <h3>Mes débats</h3>
        {% if debateDrafts | length > 0 %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Bandeau</th>
                            <th>Titre</th>
                            <th>Résumé</th>
                            <th>Date de création</th>
                            <th>&nbsp;</th>
                        </tr>
                      </thead>                
                    {% for draft in debateDrafts %}
                        {% include 'PolitizrFrontBundle:Fragment\\Debate:DraftTableRow.html.twig' with { 'document': draft } %}
                    {% endfor %}
                </table>
            </div>
            <a class="btn btn-primary" href="{{ path('DebateDraftNew') }}">Nouveau</a>
        {% else %}
            <div class="no-results">
                <a class="btn btn-primary" href="{{ path('MyDraftsE') }}">Vous n'avez rédigé aucun brouillon de débat pour le moment</a>
            </div>
        {% endif %}
        <h3>Mes réactions</h3>
        {% if reactionDrafts | length > 0 %}
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Bandeau</th>
                            <th>Débat</th>
                            <th>Réaction</th>
                            <th>Titre</th>
                            <th>Résumé</th>
                            <th>Date de création</th>
                            <th>&nbsp;</th>
                        </tr>
                      </thead>                
                    {% for draft in reactionDrafts %}
                        {% include 'PolitizrFrontBundle:Fragment\\Reaction:DraftTableRow.html.twig' with { 'document': draft } %}
                    {% endfor %}
                </table>
            </div>
        {% else %}
            <div class="no-results">
                <a class="btn btn-primary" href="{{ path('MyDraftsE') }}">Vous n'avez rédigé aucun brouillon de réaction pour le moment</a>
            </div>
        {% endif %}
        <h1>Mes débats publiés</h1>
        {% for debate in debates %}
            {% include 'PolitizrFrontBundle:Fragment\\Debate:ListRowUser.html.twig' with { 'debate': debate } %}
            <hr>
        {% else %}
            <div class="no-results">
                <a class="btn btn-primary" href="{{ path('MyDraftsE') }}">Vous n'avez aucun débat en ligne pour le moment</a>
            </div>
        {% endfor %}
        <h1>Mes réactions publiés</h1>
        {% for reaction in reactions %}
            {% include 'PolitizrFrontBundle:Fragment\\Reaction:ListRowUser.html.twig' with { 'reaction': reaction } %}
            <hr>
        {% else %}
            <div class="no-results">
                <a class="btn btn-primary" href="{{ path('MyDraftsE') }}">Vous n'avez aucune réaction en ligne pour le moment</a>
            </div>
        {% endfor %}
        <h1>Mes commentaires</h1>
        {% for comment in comments %}
            {% include 'PolitizrFrontBundle:Fragment\\Comment:ListRowUser.html.twig' with { 'comment': comment } %}
            <hr>
        {% else %}
            <div class="no-results">
                <a class="btn btn-primary" href="{{ path('TimelineE') }}">Vous n'avez rédigé aucun commentaire pour le moment</a>
            </div>
        {% endfor %}
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
{% endblock javascriptFooter %}
