{% extends 'PolitizrFrontBundle::layoutE.html.twig' %}


{% block main %}
	<div id="main" class="container">
		<h3>Suggestions de débats par tags géographiques</h3>
		<div class="user-tags">
			<div class="row text-center">
				{{ app.user | followTags(constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) }}
			</div>
		</div>
		<hr>
		{% for debate in debatesGeo %}
			{% include 'PolitizrFrontBundle:Fragment\\Debate:ListRow.html.twig' with { 'debate': debate } only %}
		{% else %}
			<div class="no-results">
				<a class="btn btn-primary" href="{{ path('MyTagsE') }}">Aucun débat ne correspond à vos tags suivis</a>
			</div>
		{% endfor %}

		<h3>Suggestions de débats par tags thématiques</h3>
		<div class="user-tags">
			<div class="row text-center">
				{{ app.user | followTags(constant('\\Politizr\\Model\\PTTagType::TYPE_THEME')) }}
			</div>
		</div>
		<hr>
		{% for debate in debatesTheme %}
			{% include 'PolitizrFrontBundle:Fragment\\Debate:ListRow.html.twig' with { 'debate': debate } only %}
		{% else %}
			<div class="no-results">
				<a class="btn btn-primary" href="{{ path('MyTagsE') }}">Aucun débat ne correspond à vos tags suivis</a>
			</div>
		{% endfor %}
		
		<h3>Suggestions de débatteurs par tags géographiques</h3>
		<div class="user-tags">
			<div class="row text-center">
				{{ app.user | followTags(constant('\\Politizr\\Model\\PTTagType::TYPE_GEO')) }}
			</div>
		</div>
		<hr>
		{% for user in usersGeo %}
			{% include 'PolitizrFrontBundle:Fragment\\User:ListRow.html.twig' with { 'user': user } only %}
			<hr>
		{% else %}
			<div class="no-results">
				<a class="btn btn-primary" href="{{ path('MyTagsE') }}">Aucun élu ne correspond à vos tags suivis</a>
			</div>
		{% endfor %}
	</div>
{% endblock main %}


{% block javascriptFooter %}
	{{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS:follow.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:followers.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:notation.js.twig' %}
{% endblock javascriptFooter %}
