<h1>Ma réputation, mes badges</h1>
<div id="reputationPoints">{{ reputationScore }}</div>

<div id="modalReputationChart" class="withLoaderInside">
    <div class="ajaxLoader" style="display: none;">
        <i class="iconSpin5 animateSpin"></i>
        <div class="ajaxLoaderBg"></div>
    </div>
    <div class="modalChartLegend">
        <div class="chartTitle">Réputation</div>
        <div class="chartDotHighlight"><i class="iconNotifYes"></i>Total des points de réputation</div>
    </div>
    <div class="chartReputationLine">
        <div class="chartNavPrev" action="paginatePrevChart" offset=""><i class="iconArrowLeft"></i></div>
        <div class="chartNavNext" action="paginateNextChart" offset=""><i class="iconArrowRight"></i></div>
        <div>
            <canvas id="reputationLine"></canvas>
        </div>
    </div>
</div>

<div id="modalBadges">
    {% for badgeType in badgesType %}
        <div class="modalBadgeItem">
            <h3>badges {{ badgeType.title }}</h3>
            {% for badgeFamily in badgeType.badgeFamilies %}
                <div class="badgeDescription">{{ badgeFamily.title }}</div>
                <div class="badgeProgressBar">
                    {% for badge in badgeFamily.badges %}
                        {% set badgeStep = 'badgeStepOne' %}
                        {% if loop.index == 2 %}
                            {% set badgeStep = 'badgeStepTwo' %}
                        {% elseif loop.index == 3 %}
                            {% set badgeStep = 'badgeStepThree' %}
                        {% endif %}
                        <!-- @todo HTML/CSS gérer le cas badgeAcquired non présent > affichage en grisé du nom du badge --> 
                        <div class="{% if badge.id in badgeIds %}badgeAcquired {% endif %}{{ badgeStep }}">{{ badge.title }}</div>
                        <!-- @todo HTML/CSS prévoir une infobulle expliquant pour chaque badge comment l'obtenir -->
                        <span class="infoBadge">{{ badge | howToReach }}</span>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
