{% if app.user %}
    {% if not pos and not neg %}
        <div class="like">
            <div class="likeButton"><i class="icon-like-yes" action="note" uuid="{{ object.uuid }}" type="{{ type }}" way="up"></i></div>
            {{ object.notePos }}
        </div>
        <div class="dislike">
            {{ object.noteNeg }}
            <div class="dislikeButton"><i class="icon-like-no" action="note" uuid="{{ object.uuid }}" type="{{ type }}" way="down"></i></div>
        </div>
    {% else %}
        <div class="like myvote">
            <div class="likeButton"><i class="icon-like-yes"></i></div>
            {{ object.notePos }}
        </div>
        <div class="dislike myvote">
            {{ object.noteNeg }}
            <div class="dislikeButton"><i class="icon-like-no"></i></div>
        </div>
    {% endif %}
{% else %}
    <a href="{{ path('Inscription') }}">M'inscrire pour noter</a>
{% endif %}
