{% if app.user %}
    {% if not pos and not neg %}
        <div class="like">
            <div class="likeButton"><i class="icon-like-yes" action="note" uuid="{{ object.uuid }}" type="{{ type }}" way="up"></i></div>
            {{ object.notePos }}
        </div>
        <div class="dislike">
            {{ object.noteNeg }}
            <div class="dislikeButton"><i class="icon-like-no" action="note" uuid="{{ object.uuid }}" type="{{ type }}" way="down"></i></div>
        </div>
    {% else %}
        <div class="like {% if pos and not isOwnDocument %}myvote{% else %}novote{% endif %}">
            <div class="likeButton"><i class="icon-like-yes"></i></div>
            {{ object.notePos }}
        </div>
        <div class="dislike {% if neg and not isOwnDocument %}myvote{% else %}novote{% endif %}">
            {{ object.noteNeg }}
            <div class="dislikeButton"><i class="icon-like-no"></i></div>
        </div>
    {% endif %}
{% else %}
    <a href="{{ path('Inscription') }}">Créer un compte pour suivre ou noter cette publication</a>
{% endif %}
