{# beta #}
<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        {% include 'PolitizrFrontBundle:Navigation\\Social:_favicon.html.twig' %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

        <meta name="description" content="{% block description %}{% endblock description %}">

        {% block metaopengraph %}
            <meta property="fb:app_id" content="{{ facebook.client_id }}" />
            <meta property="fb:admins" content="{{ facebook.admin_ids }}"/>

            {% block ogImage %}<meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ '/bundles/politizrfront/images/share_facebook.jpg' }}" />{% endblock ogImage %}
            <meta property="og:locale" content="fr_FR" />
            <meta property="og:type" content="article" />
            <meta property="og:site_name" content="{{ meta.title }}" /> 
            <meta property="og:title" content="{% block ogTitle %}{{ meta.og_title }}{% endblock ogTitle %}" /> 
            <meta property="og:url" content="{% block ogUrl %}{{ app.request.uri }}{% endblock ogUrl %}" /> 
            <meta property="og:description" content="{% block ogDescription %}{{ meta.og_description }}{% endblock ogDescription %}" />
        {% endblock metaopengraph %}

        {% block metatwittercards %}
            <meta name="twitter:card" content="summary" />
            {% if meta.tw_site is not null %}
                <meta name="twitter:site" content="{{ meta.tw_site }}" />
            {% endif %}
            <meta name="twitter:title" content="{% block tcTitle %}{{ meta.tw_title }}{% endblock tcTitle %}" />
            <meta name="twitter:description" content="{% block tcDescription %}{{ meta.tw_description }}{% endblock tcDescription %}" />
            <meta name="twitter:image" content="{% block tcImage %}{{ app.request.getSchemeAndHttpHost() ~ '/bundles/politizrfront/images/share_twitter.jpg' }}{% endblock tcImage %}" />
        {% endblock metatwittercards %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/pltzriconfont.css') }}">
            <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        {% endblock %}

        {% block javascriptHeader %}
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery-3.2.1.min.js') }}"></script>  
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery-ui.autocomplete.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.waypoints.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/waypoints.sticky.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/restive.min.js') }}"></script>    
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/imgLiquid-min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/moment.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/textcounter.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/autosize.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/select2.full.min.js') }}"></script>  
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/select2.fr.js') }}"></script>  
        {% endblock %}

        {% block responsiveHeader %}
            <script>
                $(document).ready(function () {
                    $('body').restive({
                        breakpoints: ['700', '1060', '10000'],
                        classes: ['css700', 'css1060', 'css'],
                        force_dip: true
                    });
                });
            </script>
        {% endblock %}

        {% block fbScript %}
            {% include 'PolitizrFrontBundle:Navigation\\Social:_fbPixelCode.html.twig' %}
        {% endblock %}

        {# Google Trackers #}
        {% include 'PolitizrFrontBundle:Navigation\\Social:_gTagManager.html.twig' %}
    </head>
    {% block body %}
        <body{% block bodyClass %}{% endblock %}>
            {% include 'PolitizrFrontBundle:Navigation\\Social:_socialInit.html.twig' %}

            <noscript>
                <div id="noJsBox">
                    Désolé, vous devez activer Javascript pour naviguer sur ce site.
                </div>
            </noscript>

            {% block genericBoxes %}
                {# messages de succès / erreurs / alertes #} 
                <div id="infoBoxHolder">        
                    <div class="boxSuccess" style="display: none;">
                        <div class="notifBoxText">Un texte de notification.</div>
                        <i class="icon-cross" action="closeBox"></i>
                    </div>
                    <div class="boxError" style="display: none;">
                        <div class="notifBoxText">Un texte d'erreur.</div>
                        <i class="icon-cross" action="closeBox"></i>
                    </div>
                    <div class="boxAlert" style="display: none;">
                        <div class="notifBoxText">Un texte d'alerte.</div>
                        <i class="icon-cross" action="closeBox"></i>
                    </div>
                </div>

                {# modal container #} 
                <div id="modalContainer"></div>

                {# loader ajax global #} 
                <div id="ajaxGlobalLoader" class="modal" style="display: none;">
                    <div class="ajaxLoader">
                        <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
                    </div>
                </div>
            {% endblock genericBoxes %}

            {% block header %}
            {% endblock %}

            {% block demo %}
            {% endblock %}

            {% block headerMsg %}
            {% endblock %}

            {% block searchLayout %}
            {% endblock %}

            {% block preMain %}
            {% endblock %}

            {% block main %}
            {% endblock %}

            {% block postMain %}
            {% endblock %}

            {% block footer %}
            {% endblock %}

            {% block javascriptFooter %}
                <script type="text/javascript">
                    var baseUrl = '{{ app.request.getBaseUrl }}';
                </script>
            {% endblock javascriptFooter %}
        </body>
    {% endblock body %}
</html>
