<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="{% block description %}{% endblock description %}">

        {% block metaopengraph %}
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/styleUser.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/PltzrIconFont.css') }}">        
            <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/PltzrIconFont-animation.css') }}">
        {% endblock %}

        {% block javascriptHeader %}
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery-1.11.2.min.js') }}"></script>  
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/restive.min.js') }}"></script>    
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/imgLiquid-min.js') }}"></script>  
            <!--
            <script>
                $(document).ready(function () {
                    $('body').restive({
                        breakpoints: ['400-p', '600-p', '820-p', '400-l', '600-l', '820-l', '1040-l', '10000'],
                        classes: ['css1040 css820 css400', 'css1040 css820 css600', 'css1040 css820', 'css1040 css820 css400', 'css1040 css820 css600', 'css1040 css820', 'css1040', 'css'],
                        force_dip: true
                    });
                });
            </script>
            -->
        {% endblock %}
    
    </head>
    {% block body %}
        <body>
            {% include 'PolitizrFrontBundle:Navigation:analytics.html.twig' %}
            <noscript>
                <div id="no-js-box">
                    Désolé, vous devez activer Javascript pour naviguer sur ce site.
                </div>
            </noscript>

            {% block genericBoxes %}
                {# messages de succès / erreurs / alertes #} 
                <div id="infoBoxHolder">        
                    <div class="boxSuccess" style="display: none;">
                        <div class="notifBoxText">Un texte de notification.</div>
                        <i class="icon-cross"></i>
                    </div>
                    <div class="boxError" style="display: none;">
                        <div class="notifBoxText">Un texte d'erreur.</div>
                        <i class="icon-cross"></i>
                    </div>
                    <div class="boxAlert" style="display: none;">
                        <div class="notifBoxText">Un texte d'alerte.</div>
                        <i class="icon-cross"></i>
                    </div>
                </div>

                {# loader ajax global #} 
                <div id="ajaxGlobalLoader" class="modal">
                    <div class="ajaxLoader">
                        <i class="icon-spin5 animate-spin"></i>
                        <div class="ajaxLoaderBg"></div>
                    </div>
                </div>                

            {% endblock %}

            {% block header %}
            {% endblock %}
            
            {% block connexionBox %}
            {% endblock %}

            {% block inscriptionSteps %}
            {% endblock inscriptionSteps %}

            {% block main %}
            {% endblock main %}

            {% block footer %}
            {% endblock %}

            {% block javascriptFooter %}
            {% endblock %}
        </body>
    {% endblock body %}
</html>