<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        {% include 'PolitizrFrontBundle:Navigation\\Social:_favicon.html.twig' %}
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

        <meta name="description" content="{% block description %}{% endblock description %}">

        {% block metaopengraph %}
        {% endblock %}

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/pltzriconfont.css') }}">
        {% endblock %}

        {% block javascriptHeader %}
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery-1.12.0.min.js') }}"></script>  
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery-ui.autocomplete.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.waypoints.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/waypoints.sticky.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.sticky-kit.min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/restive.min.js') }}"></script>    
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/imgLiquid-min.js') }}"></script>

            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/moment.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/textcounter.min.js') }}"></script>
        {% endblock %}

        {% block responsiveHeader %}
            <script>
                $(document).ready(function () {
                    $('body').restive({
                        breakpoints: ['760', '1000', '10000'],
                        classes: ['css760', 'css1000', 'css'],
                        force_dip: true
                    });
                });
            </script> 
        {% endblock %}
    </head>
    {% block body %}
        <body>
            {% include 'PolitizrFrontBundle:Navigation\\Social:_analytics.html.twig' %}
            <noscript>
                <div id="noJsBox">
                    Désolé, vous devez activer Javascript pour naviguer sur ce site.
                </div>
            </noscript>

            {% block genericBoxes %}
                {# messages de succès / erreurs / alertes #} 
                <div id="infoBoxHolder">        
                    <div class="boxSuccess" style="display: none;">
                        <div class="notifBoxText">Un texte de notification.</div>
                        <i class="iconCross" action="closeBox"></i>
                    </div>
                    <div class="boxError" style="display: none;">
                        <div class="notifBoxText">Un texte d'erreur.</div>
                        <i class="iconCross" action="closeBox"></i>
                    </div>
                    <div class="boxAlert" style="display: none;">
                        <div class="notifBoxText">Un texte d'alerte.</div>
                        <i class="iconCross" action="closeBox"></i>
                    </div>
                </div>

                {# loader ajax global #} 
                <div id="ajaxGlobalLoader" class="modal">
                    <div class="ajaxLoader">
                        <i class="icon-pltzr-logo"></i>
                        <div class="iconLoaderBg"></div>
                        <svg width="44" height="44" viewbox="0 0 40 40" ><polygon points="0 0 0 40 40 40 40 0" class="pltzrLoaderStrokes" /></svg>
                        <div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
                    </div>
                </div>              

            {% endblock genericBoxes %}

            {% block header %}
            {% endblock %}

            {% block main %}
            {% endblock %}

            {% block footer %}
            {% endblock %}

            {% block javascriptFooter %}
                <script type="text/javascript">
                    var baseUrl = '{{ app.request.getBaseUrl }}';
                </script>
            {% endblock javascriptFooter %}

            {% block tawkTo %}
                {% if app.environment == 'stage' %}
                    <!--Start of Tawk.to Script-->
                    <script type="text/javascript">
                    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
                    (function(){
                    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
                    s1.async=true;
                    s1.src='https://embed.tawk.to/55f7cf8c98fabba97c2b2715/default';
                    s1.charset='UTF-8';
                    s1.setAttribute('crossorigin','*');
                    s0.parentNode.insertBefore(s1,s0);
                    })();
                    </script>
                    <!--End of Tawk.to Script-->
                {% endif %}
            {% endblock %}
        </body>
    {% endblock body %}
</html>
