<!doctype html>
<html xmlns:og="http://opengraphprotocol.org/schema/" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
    <title>{% block title %}{% endblock title %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}


    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <link rel="icon" type="image/jpg" href="{{ asset('bundles/politizrfront/images/favicon.gif') }}" />

    {% block metaopengraph %}
    {% endblock %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/ui-lightness/jquery-ui-1.10.4.custom.css') }}">
    {% endblock %}

    {% block javascriptHeader %}
    {% endblock %}
</head>
{% block body %}
        <body>
            {% include 'PolitizrFrontBundle:Navigation:analytics.html.twig' %}
            <noscript>
                <div id="no-js-box">
                    Désolé, vous devez activer Javascript pour naviguer sur ce site.
                </div>
            </noscript>

            {% block genericBoxes %}
                <!-- overlay ajax generique -->
                <div id="ajax-loader" style="display: none"></div>

                <!-- overlay ajax twitter bootstrap style -->
                <div class="alert alert-warning" style="display: none">
                    This is an alert flash message.
                </div>
                <div class="alert alert-danger" style="display: none">
                    This is an error flash message.
                </div>
                <div class="alert alert-info" style="display: none">
                    This is an info flash message.
                </div>
                <div class="alert alert-success" style="display: none">
                    This is an success flash message.
                </div>

                {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
            {% endblock %}

            {% block header %}
            {% endblock %}
            
            {% block connexionBox %}
            {% endblock %}

            {% block inscriptionSteps %}
            {% endblock inscriptionSteps %}

            {% block main %}
            {% endblock main %}

            {% block footer %}
            {% endblock %}

            {% block javascriptFooter %}
                <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
                <script src="{{ asset('js/jquery.js') }}"></script>
                <!-- Include all JavaScripts, compiled by Assetic -->
                <script src="{{ asset('js/bootstrap.js') }}"></script>

                <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery-ui-1.10.4.custom.min.js') }}"></script>
            {% endblock %}
    </body>
{% endblock body %}
</html>