{# beta #}
{# common "connected" layout #}
{% extends 'PolitizrFrontBundle::baseFront.html.twig' %}

{# useful to remove flash bag #}
{% set inscriptionComplete = app.session.flashbag.get('inscription/success') %}

{% block title %}{{ app.user | typeGender }} {{ app.user }} - {{ meta.title }}{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/styleUser.css?v'~assets_version) }}">
{% endblock %}

{% block fbScript %}
    {{ parent() }}

    {% include 'PolitizrFrontBundle:Navigation\\Social:_fbEventCompleteRegistration.html.twig' %}
{% endblock %}


{% block bodyClass %} class="user"{% endblock %}

{% block header %}
    {% embed 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
    {% endembed %}
{% endblock header %}

{% block headerMsg %}
    {# include 'PolitizrFrontBundle:Navigation\\Header:_headerMsgIdCheck.html.twig' #}
    {% block headerMsgLocalization %}
        {% if geo.active %}
            {{  fillLocalization() }}
        {% endif %}
    {% endblock %}
{% endblock %}

{% block searchLayout %}
    {% include 'PolitizrFrontBundle:Algolia:_modalSearchResults.html.twig' %}
{% endblock searchLayout %}

{% block main %}
    <div id="main">
        <div class="center">
            {% block content %}
                <div id="content"></div>
            {% endblock content %}
            {% block sidebar %}
                <div id="sidebar">
                    {% block sidebarContent %}
                    {% endblock %}
                    {% block sidebarFooter %}
                        {% include 'PolitizrFrontBundle:Navigation\\Footer:_sidebar.html.twig' %}
                    {% endblock %}
                </div>
            {% endblock sidebar %}
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    <script src="https://cdn.jsdelivr.net/instantsearch.js/2.6/instantsearch.min.js"></script>
    
    {% include 'PolitizrFrontBundle:Algolia:_hitTemplate.html.twig' %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/xhr.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/global.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/globalConnected.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/globalCircle.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/bubbles.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/autocomplete-tools.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/notification/display.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/follow/subscribe.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/paginatedList/pagination.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/monitoring/abuse.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/monitoring/askForUpdate.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/reputation/score.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/reputation/notation.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/localization/edit.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/searchEngine/algolia.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url~'?v'~assets_version }}"></script>
    {% endjavascripts %}

    {# First connexion #}
    {% if app.session.has('gettingStarted') %}
        <script>
            $(function() {
                modalGettingStarted();
            });
        </script>
    {# Popup help #}
    {% elseif not app.session.has('helpUs') %}
        <script>
            $(function() {
                modalHelpUs();
            });
        </script>
    {% endif %}
{% endblock javascriptFooter %}
