{# beta #}
{# common "connected" layout #}
{% extends 'PolitizrFrontBundle::baseFront.html.twig' %}

{% block title %}{{ app.user | typeGender }} {{ app.user }} - Politizr{% endblock title %}

{% block description %}Politizr est une plateforme neutre et indépendante permettant aux élus et anciens élus de débattre publiquement des sujets proposés par leurs concitoyens.{% endblock description %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/styleUser.css') }}">
{% endblock %}

{% block bodyClass %} class="user"{% endblock %}

{% block header %}
    <div id="header">
        {% include 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
    </div>
    <div id="headerTrigger"></div>
{% endblock header %}

{% block headerMsg %}
    {#
    {% if app.session.flashbag.has('idcheck/success') and app.session.flashbag.get('idcheck/success')[0] %}
        <div id="alertIdCheckOk">
            <div class="idCheckOkClose">
                <div class="center"> 
                    <span action="closeIdCheckOk"><i class="icon-cross"></i>Fermer</span>
                </div>
            </div>
            <div id="idCheckOk">
                <div class="center">         
                    <i class="icon-like-yes"></i>
                    <div id="idCheckMsg">
                        <h1>Votre identité à été validée. Merci !</h1>
                        Nous allons procéder à la vérification de vos mandats. Vous disposez de toutes les fonctionnalités.
                    </div>
                </div>
            </div>
        </div>
    {% elseif isGrantedE() and not app.user.validated %}
        <div id="alertIdCheck">
            <div class="center">
                <div id="maxIdCheckMsg">
                    {% if app.user.nbIdCheck < constant('Politizr\\Constant\\IdCheckConstants::MAX_USER_TRY') %}
                        <i class="icon-info"></i>
                        Vous devez maintenant procéder à la <a href="{{ path('EditPersoE') }}">vérification de votre identité</a> pour profiter pleinement de votre compte élu: vous disposez de 3 tentatives.
                        <h1><span id="nbTryLeft">{{ constant('Politizr\\Constant\\IdCheckConstants::MAX_USER_TRY') - app.user.nbIdCheck }}</span> tentative(s) restante(s)</h1>
                        Si vous souhaitez être accompagné-e durant cette procédure n'hésitez pas à nous contacter au <b>05.64.88.01.71</b>.<br>
                        En cas d'échec, nous prendrons contact directement avec vous.
                    {% else %}
                        <i class="icon-info"></i>
                        <b>Nous prendrons contact directement avec vous pour valider votre identité.</b><br>
                        Merci de vérifier que votre adresse email est <a href="{{ path('EditPersoE') }}">correctement renseignée</a>.<br>
                        Vous pouvez également prendre directement contact en nous <a href="mailto:support@politizr.com">envoyant un email</a> ou par téléphone au <b>05.64.88.01.71</b>.
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    #}
{% endblock %}

{% block main %}
    <div id="main">
        <div class="center">
            {% block content %}
                <div id="content"></div>
            {% endblock content %}
            {% block sidebar %}
                <div id="sidebar">
                    {% block sidebarContent %}
                    {% endblock %}
                    {% block sidebarFooter %}
                        {% include 'PolitizrFrontBundle:Navigation\\Footer:_sidebar.html.twig' %}
                    {% endblock %}
                </div>
            {% endblock sidebar %}
        </div>
    </div>
{% endblock main %}

{% block footer %}
    {% block mobileFooter %}
        <div id="mobileFooter">
            {% block mobileAction %}
            {% endblock %}
            <div id="actionShowMobileSidebar" action="showMobileSidebar"><i class="icon-goleft"></i></div>
            <div id="actionHideMobileSidebar" action="hideMobileSidebar"><i class="icon-goright"></i></div>
        </div>    
    {% endblock mobileFooter %}
{% endblock footer %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/global.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/globalConnected.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/xhr.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/bubbles.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/notification/display.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/follow/subscribe.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/paginatedList/pagination.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/tag/accentMap.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/monitoring/abuse.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/monitoring/askForUpdate.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/reputation/score.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/reputation/notation.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if not app.session.has('helpUs') %}
        <script>
            $(function() {
                modalHelpUs();
            });
        </script>
    {% endif %}
{% endblock javascriptFooter %}
