{% extends 'PolitizrFrontBundle::baseFront.html.twig' %}

{% block title %}Politizr{% endblock title %}
{% block description %}Politizr{% endblock description %}

{% block metaopengraph %}
    {% block ogImage %}{% render controller("PolitizrFrontBundle:Social:ogImage") %}{% endblock ogImage %}
    <meta property="og:site_name" content="Politizr" /> 
    <meta property="og:title" content="{% block ogTitle %}Politizr{% endblock ogTitle %}" /> 
    <meta property="og:url" content="{% block ogUrl %}{{ app.request.uri }}{% endblock ogUrl %}" /> 
    <meta property="og:description" content="{% block ogDescription %}Politizr{% endblock ogDescription %}" />
{% endblock metaopengraph %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/stylePublic.css') }}">
{% endblock %}

{% block wrapper %}
    <div class="wrapper">
        {% block header %}
            {% include 'PolitizrFrontBundle:Navigation\\Header:_headerPublic.html.twig' %}
        {% endblock %}

        {% block inscriptionSteps %}
        {% endblock inscriptionSteps %}

        {% block fixedActions %}
            <div id="fixedActions">
            </div>
        {% endblock fixedActions %}

        {% block goUp %}
            <div id="goUpHolder">
                <div id="goUp" action="goUp"><i class="iconArrowUp"></i></div>
            </div>
        {% endblock goUp %}

        {% block content %}
            <div id="content">
                {% block main %}
                {% endblock main %}

                {% block footer %}
                    {% include 'PolitizrFrontBundle:Navigation\\Footer:_footerPublic.html.twig' %}
                {% endblock %}
            </div>
        {% endblock content %}

    </div>
{% endblock wrapper %}

{% block javascriptFooter %}
    {{ parent() }}

    <script type="text/javascript">
        var routeXhrGeneric = '{{ app.request.getBaseUrl }}/xhr/%xhrRoute%/%xhrService%/%xhrMethod%.%xhrType%.json';
    </script>

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/global.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/xhr.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/security/login.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/paginatedList/loading.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/tag/accentMap.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
