{# common "connected" layout #}
{% extends 'PolitizrFrontBundle::baseFront.html.twig' %}

{% block title %}
    {% if (isGrantedE()) %}
        Politizr - Élu {{ app.user }}
    {% elseif (isGrantedC()) %}
        Politizr - Citoyen {{ app.user }}
    {% endif %}
{% endblock title %}

{% block description %}
    {% if (isGrantedE()) %}
        Politizr élu
    {% elseif (isGrantedC()) %}
        Politizr citoyen
    {% endif %}
{% endblock description %}

{% block metaopengraph %}
    {% block ogImage %}{% render controller("PolitizrFrontBundle:Social:ogImage") %}{% endblock ogImage %}
    <meta property="og:site_name" content="Politizr" /> 
    <meta property="og:title" content="{% block ogTitle %}Politizr{% endblock ogTitle %}" /> 
    <meta property="og:url" content="{% block ogUrl %}{{ app.request.uri }}{% endblock ogUrl %}" /> 
    <meta property="og:description" content="{% block ogDescription %}Politizr{% endblock ogDescription %}" />
{% endblock metaopengraph %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/styleUser.css') }}">
{% endblock %}

{% block javascriptHeader %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/chart.min.js') }}"></script>
{% endblock %}

{% block header %}
    <div id="header">
        {% include 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
    </div>
    <div id="headerTrigger"></div>
{% endblock header %}

{% block main %}
    {% block preContent %}
    {% endblock %}
    <div id="main">
        <div class="center">
            {% block content %}
                <div id="content"></div>
            {% endblock content %}
            {% block sidebar %}
                <div id="sidebar">
                    {% block sidebarContent %}
                    {% endblock %}
                    {% block sidebarFooter %}
                        {% include 'PolitizrFrontBundle:Navigation\\Footer:_footerConnected.html.twig' %}
                    {% endblock %}
                </div>
            {% endblock sidebar %}
        </div>
    </div>
    {% block postContent %}
    {% endblock %}
{% endblock main %}

{% block footer %}
    {% block mobileFooter %}
        <div id="mobileFooter">
            {% block mobileAction %}
            {% endblock %}
            <div id="actionShowMobileSidebar" action="showMobileSidebar"><i class="icon-goleft"></i></div>
            <div id="actionHideMobileSidebar" action="hideMobileSidebar"><i class="icon-goright"></i></div>
        </div>    
    {% endblock mobileFooter %}
{% endblock footer %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/global.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/xhr.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/bubbles.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/notification/display.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/follow/subscribe.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/modal/opening.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/paginatedList/loading.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/tag/accentMap.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/tag/userAssociateTag.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/monitoring/abuse.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/monitoring/askForUpdate.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/reputation/score.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/reputation/reputation.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/reputation/notation.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
