{# beta #}
{# common "connected" layout #}
{% extends 'PolitizrFrontBundle::baseFront.html.twig' %}

{# useful to remove flash bag #}
{% set inscriptionComplete = app.session.flashbag.get('inscription/success') %}

{% block title %}{{ app.user | typeGender }} {{ app.user }} - Politizr{% endblock title %}

{% block description %}Politizr est une plateforme neutre et indépendante permettant aux élus et anciens élus de débattre publiquement des sujets proposés par leurs concitoyens.{% endblock description %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/styleUser.css') }}">
{% endblock %}

{% block fbScript %}
    {{ parent() }}

    {% if app.environment == 'prod' and inscriptionComplete %}
        <script>
            // CompleteRegistration
            // Track when a registration form is completed (ex. complete subscription, sign up for a service)
            fbq('track', 'CompleteRegistration');
        </script>

        {# Google Code for Inscription Politizr Conversion Page #}
        <script type="text/javascript">
            /* <![CDATA[ */
            var google_conversion_id = 872060456;
            var google_conversion_language = "en";
            var google_conversion_format = "3";
            var google_conversion_color = "ffffff";
            var google_conversion_label = "7d5XCPaJk20QqKzqnwM";
            var google_remarketing_only = false;
            /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/872060456/?label=7d5XCPaJk20QqKzqnwM&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>
    {% endif %}
{% endblock %}


{% block mixPanel %}
    {{ parent() }}

    {% if app.environment == 'prod' and inscriptionComplete %}
        {# Mix Panel Customer info #}
        <script type="text/javascript">
            mixpanel.people.set({
                "$email": "{{ app.user.email }}",
                "$created": "{{ app.user.createdAt | date('d/m/Y H:i:s') }}",
                "gender": "{{ app.user.gender }}",
                "firstname": "{{ app.user.firstname }}",
                "name": "{{ app.user.name }}",
                "qualified": "{{ app.user.qualified }}"
            });
        </script>
    {% endif %}
{% endblock %}


{% block bodyClass %} class="user"{% endblock %}

{% block header %}
    <div id="header">
        {% include 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
    </div>
    <div id="headerTrigger"></div>
{% endblock header %}

{% block headerMsg %}
    {# ID check #}
    {% if app.session.flashbag.has('idcheck/success') and app.session.flashbag.get('idcheck/success')[0] %}
        <div id="alertIdCheckOk">
            <div class="idCheckOkClose">
                <div class="center"> 
                    <span action="closeIdCheckOk"><i class="icon-cross"></i>Fermer</span>
                </div>
            </div>
            <div id="idCheckOk">
                <div class="center">         
                    <i class="icon-like-yes"></i>
                    <div id="idCheckMsg">
                        <h1>Votre identité à été validée. Merci !</h1>
                        Nous allons procéder à la vérification de vos mandats. Vous disposez de toutes les fonctionnalités.
                    </div>
                </div>
            </div>
        </div>
    {% elseif isGrantedE() and not app.user.validated %}
        <div id="alertIdCheck">
            <div class="center">
                <i class="icon-info"></i>
                <div id="maxIdCheckMsg">
                    {% if app.user.nbIdCheck < constant('Politizr\\Constant\\IdCheckConstants::MAX_USER_TRY') %}
                        Vous devez maintenant procéder à la <a href="{{ path('IdCheckDataReviewE') }}"><b>vérification de votre identité</b></a> pour profiter pleinement de <b>votre compte élu</b>: vous disposez de <span id="nbTryLeft"><b>{{ constant('Politizr\\Constant\\IdCheckConstants::MAX_USER_TRY') - app.user.nbIdCheck }}</span> tentative(s) restante(s)</b>.<br>En cas d'échec, nous prendrons contact directement avec vous mais vous pouvez dès à présent être <b>accompagné-e durant cette procédure</b> en nous <a href="mailto:support@politizr.com"><b>envoyant un email</b></a> ou par téléphone au <b>05.64.88.01.71</b>.
                    {% else %}
                        <b>Nous prendrons contact directement avec vous pour valider votre identité.</b><br>
                        Merci de vérifier que votre adresse email est <a href="{{ path('EditPersoE') }}">correctement renseignée</a>.<br>
                        Vous pouvez également prendre directement contact en nous <a href="mailto:support@politizr.com">envoyant un email</a> ou par téléphone au <b>05.64.88.01.71</b>.
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
    {% block headerMsgLocalization %}
        {{  fillLocalization() }}
    {% endblock %}
{% endblock %}

{% block main %}
    <div id="main">
        <div class="center">
            {% block content %}
                <div id="content"></div>
            {% endblock content %}
            {% block sidebar %}
                <div id="sidebar">
                    {% block sidebarContent %}
                    {% endblock %}
                    {% block sidebarFooter %}
                        {% include 'PolitizrFrontBundle:Navigation\\Footer:_sidebar.html.twig' %}
                    {% endblock %}
                </div>
            {% endblock sidebar %}
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/xhr.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/global.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/globalConnected.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/bubbles.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/autocomplete-tools.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/notification/display.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/follow/subscribe.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/paginatedList/pagination.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/monitoring/abuse.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/monitoring/askForUpdate.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/reputation/score.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/reputation/notation.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/localization/edit.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {# Popup help
    {% if not app.session.has('helpUs') %}
        <script>
            $(function() {
                modalHelpUs();
            });
        </script>
    {% endif %}
    #}

    <script type="text/javascript">
        {% if app.environment == 'prod' %}
            mixpanel.identify("{{ app.user.uuid }}");
            
            {# Mix Panel Customer info #}
            mixpanel.people.set({
                "$email": "{{ app.user.email }}",
                "$created": "{{ app.user.createdAt | date('d/m/Y H:i:s') }}",
                "gender": "{{ app.user.gender }}",
                "firstname": "{{ app.user.firstname }}",
                "name": "{{ app.user.name }}",
                "qualified": "{{ app.user.qualified }}"
            });
        {% endif %}
    </script>
{% endblock javascriptFooter %}
