{% extends 'PolitizrFrontBundle::baseFront.html.twig' %}

{% block title %}Politizr{% endblock title %}
{% block description %}Politizr permet de renouer du lien entre les habitants, leurs élus et leurs collectivités locales.{% endblock description %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/styleUser.css') }}">
{% endblock %}

{% block javascriptHeader %}
    {{ parent() }}

    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.8/jquery.validate.min.js"></script>
{% endblock %}

{% block bodyClass %} class="public"{% endblock %}

{% block header %}
    <div id="header">
        {% include 'PolitizrFrontBundle:Navigation\\Header:_headerPublic.html.twig' %}
    </div>
    <div id="headerTrigger"></div>
{% endblock header %}

{% block demo %}
    {% if app.environment == 'demo' %}
        <div class="boostBox withLoaderInside">
            <div class="center">
                Vous êtes dans l'environnement de démo de POLITIZR!<br/>
                <i>Note: l'ensemble des données est réinitialisé toutes les nuits</i>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block main %}
    <div id="main">
        <div class="center">
            {% block content %}
                <div id="content"></div>
            {% endblock content %}
            {% block sidebar %}
                <div id="sidebar">
                    {% block sidebarContent %}
                    {% endblock %}
                    {% block sidebarFooter %}
                        {% include 'PolitizrFrontBundle:Navigation\\Footer:_sidebar.html.twig' %}
                    {% endblock %}
                </div>
            {% endblock sidebar %}
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    <script type="text/javascript">
        var routeXhrGeneric = '{{ app.request.getBaseUrl }}/xhr/%xhrRoute%/%xhrService%/%xhrMethod%.%xhrType%.json';
    </script>

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/global.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/globalPublic.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/globalCircle.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/xhr.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/bubbles.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/autocomplete-tools.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/paginatedList/pagination.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/monitoring/abuse.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/monitoring/askForUpdate.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/reputation/score.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/public/directMessage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
