<label class="help">
    <ul>
        <li><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;Filtrer la liste avant de saisir la notification</li>
        <li><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;Toujours utiliser des liens absolus</li>
        <li><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;Ajouter ```action="notificationCheck"``` dans les attributs des liens</li>
    </ul>
</label>

{{ form_start(formFilter, {'attr': {'id': 'filterUsers', 'name': 'filterUsers', 'novalidate': 'novalidate' }}) }}
    {{ form_errors(formFilter) }}
    {{ form_row(formFilter.only_elected) }}
    {{ form_row(formFilter.city_insee_code) }}
    {{ form_row(formFilter.department_code) }}
    <a class="generic-action btn btn-default" action="filterForm">Filtrer</a>
{{ form_end(formFilter) }}

{{ form_start(form, {'attr': { 'id': 'formNotification', 'name': 'formNotification', 'novalidate': 'novalidate' }}) }}
    {{ form_errors(form) }}

    {{ form_row(form.p_users) }}
    {{ form_row(form.description) }}

    <a action="createAdminNotif">Envoyer</a>
{{ form_end(form) }}
