{% extends_admingenerated "PolitizrAdminBundle:PDRCommentShow:index.html.twig" %}

{% block show_column_description %}
    {{ PDRComment.description | purify }}
{% endblock %}

{% block show_column_block_p_user %}
    {{ adminCreatePath(constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_USER'), PDRComment.PUserId) }}
{% endblock %}

{% block show_column_block_p_d_reaction %}
    {{ adminCreatePath(constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_REACTION'), PDRComment.PDReactionId) }}
{% endblock %}

{# Block moderation alert listing #}
{% block show_column_block_moderation_alert_listing %}
    <div id="moderationListing">
        {{ adminModerationAlertListing(PDRComment.PUserId) }}
    </div>
{% endblock %}

{# Block front link #}
{% block show_column_block_front %}
    {% if PDRComment.online and PDRComment.PDReactionId and PDRComment.PDReaction.online and PDRComment.PDReaction.published %}
        <a href="{{ path('ReactionDetail', {'slug': PDRComment.PDReaction.slug}) }}#p-{{ PDRComment.paragraphNo }}" target="_blank">Consulter</a>
    {% else %}
        Hors ligne
    {% endif %}
{% endblock %}
