<div class="formBlock withLoaderInside">
    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}

    <form name="directMessage" id="formDirectMessage">
        {{ form_errors(form) }}

        {{ form_row(form.name, { 'attr': { 'placeholder': 'Votre nom (ou pseudo)' }}) }}
        {{ form_row(form.email, { 'attr': { 'placeholder': 'Votre email' }}) }}
        {{ form_row(form.city, { 'attr': { 'placeholder': 'Votre ville' }}) }}
        {{ form_row(form.description, { 'attr': { 'placeholder': 'Votre avis ou question' }}) }}

        {{ form_rest(form) }}
        <div class="buttonDirectMessage">
            <button type="button" action="submitDirectMessage">
                Envoyer
            </button>
        </div>
    </form>
</div>
