{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% extends layout %}
{% set headerRight = false %}

{% set metaTitle = 'Boîte à Idées Numérique' %}
{% set metaDescription = 'Politizr vous propose une boîte à idées numérique gratuite pour votre collectivité.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor noHeaderTrigger"{% endblock %}

{% block main %}
    <div id="lpGeneric">
        <div id="lpHero">
            <div class="center">
                <h1>Une boîte à idées numérique gratuite pour votre collectivité !</h1>
                <h2>Pour permettre à vos adminitré.e.s d’exprimer leurs idées dans un cadre adapté...</h2>
                <div id="f-display"><img src="{{ asset('bundles/politizrfront/images/f-display.png') }}" alt="Boîte à Idées Numérique"></div>
                <div id="f-accessories"><img src="{{ asset('bundles/politizrfront/images/f-accessories.png') }}"></div>
            </div>
            <div id="lpHeroFader"></div>
        </div>
        <div id="lpUnderHero">
            <div class="center">
                POLITIZR déploie pour les collectivités locales une boîte à idée numérique: accessible très simplement depuis une URL dédiée, vos adminitré.e.s pourront accéder à un espace réservé à votre collectivité qui présentera le principe de l’opération et les invitera à proposer leurs idées.<br/><br/>
                En souscrivant au service “Boîte à Idées”, vous et vos adminitré.e.s bénéficierez de toute la puissance de notre réseau social de dialogue citoyen: fil d’actualité personnalisée, notifications, gestion d’abonnements, possibilité de commenter et noter les publications, intégration avec Facebook, etc.
                <br/><br/><b>Offre gratuite et sans engagement!</b>
            </div>
        </div>
        <div id="lpArgu">
            <div class="center">
                <div class="lpLeftCol">
                    <p>
                        POLITIZR propose aux collectivités un service numérique de “boîte à idées” pour permettre à leurs concitoyennes et concitoyens de proposer leurs idées concernant leur territoire.
                    </p>
                    <img src="{{ asset('bundles/politizrfront/images/f-illustr01.jpg') }}">
                </div>
                <div class="lpRightCol">
                    <h3>Fonctionnalités clefs</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Réseau social de “dialogue citoyen”</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Boîte à idées numérique réservée à vos adminitré.e.s</div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Page de présentation avec le logo de votre collectivité et une URL dédiée</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Compte réservé pour gérer les réponses</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Charte assurant un cadre convivial et respectueux</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Modération effectuée par nos services</p></div>
                    <h3>Pourquoi utiliser notre service?</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Permettez à vos adminitré.e.s d’exprimer leurs idées dans un cadre adapté.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Touchez un plus grand nombre de vos adminitré.e.s, en particulier des publics moins habitués à participer à la décision publique (jeunes, actifs).</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Renforcez la confiance et l’adhésion de vos administré.e.s envers votre collectivité et les projets qu’elle porte.</p></div>
                    <h3>&nbsp;</h3>
                </div>
            </div>
        </div>


        <div id="lpContact">
            <div class="center">
                <div class="lpLeftCol">
                    Contactez-nous pour en savoir plus : <a href="mailto:contact@politizr.com">contact@politizr.com</a><br>
                    ou par téléphone au <b>09. 50. 42. 09. 34</b>
                </div>
                <div class="lpRightCol">
                    <div class="formBlock withLoaderInside">
                        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}

                        <form name="directMessage" id="formDirectMessage">
                            {{ form_errors(form) }}

                            {{ form_row(form.name, { 'attr': { 'placeholder': 'Prénom et Nom' }}) }}
                            {{ form_row(form.email, { 'attr': { 'placeholder': 'Email' }}) }}
                            {{ form_row(form.city, { 'attr': { 'placeholder': 'Téléphone' }}) }}
                            {{ form_row(form.description, { 'attr': { 'placeholder': 'Question' }}) }}

                            {{ form_rest(form) }}
                            <div class="buttonDirectMessage">
                                <button type="button" action="submitDirectMessage">
                                    Envoyer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}

{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("LP Concertation Publique");
        </script>
    {% endif %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
