{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% extends layout %}
{% set headerRight = false %}

{% set metaTitle = 'Charlotte Marchandise-Franquet' %}
{% set metaDescription = 'Retrouvez toutes les publications de Charlotte Marchandise-Franquet, adjointe à la Mairie de Rennes et candidate à la primaire citoyenne de LaPrimaire.org.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor"{% endblock %}

{% block main %}
    <div id="lpHeader">
        <div class="center">
            <h1>Les publications de Charlotte Marchandise sont sur Politizr</h1>
            <h2>
                Venez découvrir son programme et discuter avec Charlotte Marchandise-Franquet, candidate à l'élection présidentielle 2017.
            </h2>
            <div class="centerCTA">
                <a href="{{ path('InscriptionChoice') }}">Inscription</a>
            </div>
        </div>
    </div>

    <div id="postSelection">
        <div class="center">
            <h1>Les publications les plus populaires</h1>
            <h2>Sa vie d'élue et sa campagne présidentielle</h2>
            
            {% for document in documents %}
                {% if loop.first or loop.index0 is divisible by(4) %}
                    <div class="cardColumn">
                {% endif %}
                    {% include 'PolitizrFrontBundle:Document:_cardPublic.html.twig' %}
                {% if loop.last or loop.index is divisible by(4) %}
                    </div>
                {% endif %}
            {% endfor %}
            
            <div id="morePosts"><a href="{{ path('UserDetail', {'slug' : 'charlotte-marchandise-franquet'}) }}">Toutes les publications de Charlotte Marchandise-Franquet</a></div>
        </div>
    </div>
    
    <div id="profileSelection">
        <div class="center">
            <h1>Rejoignez la communauté Politizr</h1>
            <h2>Citoyen-nes ou élu-es de toute la France suivent l'actualité de la CivicTech sur Politizr:<br>
            <a href="{{ path('InscriptionChoice') }}">inscrivez-vous et participez aux débats!</a></h2>
        </div>
    </div>
    
    <div id="blockMarianne">
        <div class="center">
            <div id="bgBlockMarianne">
                <div id="marianne"></div>
                <div class="conceptCol conceptLeftCol">
                    Politizr est un acteur français de la <a href="https://fr.wikipedia.org/wiki/Civic_tech" target="_blank"><b>Civic Tech</b></a>, ou technologie civique, qui représente l’ensemble des procédés, outils et technologies qui permettent d’<b>améliorer le système politique</b>.
                </div>
                
                <div class="conceptCol conceptRightCol">
                    Nous travaillons à améliorer la <b>démocratie représentative</b> en proposant un espace de discussion qui favorise les <b>échanges structurées et argumentées</b> dans un temps long propice à la qualité du débat.
                </div>
            </div>
        </div>
    </div>
    
    <div id="blockGraphAssembly">
        <div class="center centerCTA">
            <a href="{{ path('InscriptionChoice') }}">Créer un compte</a>
        </div>
    </div>
    
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}


{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
