{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% extends layout %}
{% set headerRight = false %}

{% set metaTitle = 'Charlotte Marchandise Présidentielle 2017' %}
{% set metaDescription = 'Suivez la campagne présidentielle 2017 de Charlotte Marchandise sur Politizr, et posez-lui vos questions.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor"{% endblock %}

{% block main %}
    <div id="lpHeader">
        <div class="center">
            <h1>Suivez la présidentielle de Charlotte Marchandise sur Politizr</h1>
            <h2>
                Venez découvrir son programme et échanger avec Charlotte Marchandise, candidate à l'élection présidentielle 2017 désignée par <a href="http://laprimaire.org" target="_blank">LaPrimaire.org</a>.
            </h2>
            <div class="centerCTA">
                <a href="{{ path('InscriptionChoice') }}">Inscription</a>
                <br/><br/><i>L'inscription est gratuite (et le restera toujours!)</i>
                <br/><br/>
            </div>
        </div>
    </div>

    <div id="profileSelection">
        <div class="center">
            <h1>Posez vos questions, Charlotte Marchandise vous répond!</h1>
            <h2><a href="{{ path('InscriptionChoice') }}">Inscrivez-vous</a> et créez un nouveau sujet en utilisant la thématique <a href="{{ path('ListingByTag', {'slug' : 'charlotte-2017'}) }}">"Charlotte 2017"</a><br>
                OU<br/>
            <a href="mailto: support@politizr.com?subject=Question Charlotte 2017">Envoyez directement votre question au support Politizr</a></h2>
        </div>
    </div>
    
    <div id="postSelection">
        <div class="center">
            <h1>Les publications les plus récentes</h1>
            <h2>Retrouvez les publications autour de sa campagne présidentielle</h2>
            
            {% for document in documents %}
                {% if loop.first or loop.index0 is divisible by(3) %}
                    <div class="cardColumn">
                {% endif %}
                    {% include 'PolitizrFrontBundle:Document:_cardPublic.html.twig' %}
                {% if loop.last or loop.index is divisible by(3) %}
                    </div>
                {% endif %}
            {% endfor %}
            
            <div id="morePosts"><a href="{{ path('UserDetail', {'slug' : 'charlotte-marchandise'}) }}">Toutes les publications de Charlotte Marchandise</a></div>
        </div>
    </div>
    
    <div id="blockMarianne">
        <div class="center">
            <div id="bgBlockMarianne">
                <div id="marianne"></div>
                <div class="conceptCol conceptLeftCol">
                    Politizr est un acteur français de la <b>Civic Tech</b> et propose un <b>service gratuit</b> pour favoriser le dialogue entre élu-e-s et citoyen-ne-s.<br><br>
                    <b>Vous êtes candidat-e aux légistatives 2017? <a href="mailto: support@politizr.com?subject=Offre candidat législative">Contactez-nous</a> pour découvrir nos services!</b>
                </div>
                
                <div class="conceptCol conceptRightCol">
                    Nous améliorons la <b>démocratie représentative</b> en proposant un espace de discussion qui favorise les <b>échanges structurées et argumentées</b> entre citoyen-ne-s et élu-e-s sur tous les sujets de société et de la vie quotidienne.
                </div>
            </div>
        </div>
    </div>
    
    <div id="blockGraphAssembly">
        <div class="center centerCTA">
            <a href="{{ path('InscriptionChoice') }}">Inscription</a>
            <br/><br/><i>L'inscription est gratuite (et le restera toujours!)</i>
        </div>
    </div>
    
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}


{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("LP Charlotte Marchandise");
        </script>
    {% endif %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
