{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% extends layout %}
{% set headerRight = false %}

{% set metaTitle = 'Dialogue citoyen' %}
{% set metaDescription = 'Politizr est une plateforme qui favorise un dialogue constructif entre les citoyens et les élus.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor"{% endblock %}

{% block main %}
    <div id="lpGeneric">
        <div id="lpHero">
            <div class="center">
                <h1>En 2018, POLITIZR réinvente le dialogue citoyen...</h1>
                <div id="f-display"><img src="{{ asset('bundles/politizrfront/images/f-display.png') }}" alt="Dialogue Citoyen"></div>
                <div id="f-accessories"><img src="{{ asset('bundles/politizrfront/images/f-accessories.png') }}"></div>
            </div>
            <div id="lpHeroFader"></div>
        </div>
        <div id="lpUnderHero">
            <div class="center">
                POLITIZR est un espace de discussion indépendant, neutre et gratuit qui renouvelle les pratiques politiques en permettant des échanges structurés et constructifs entre les citoyen.ne.s, les élu.e.s et leurs collectivités partout en France.
            </div>
        </div>
        <div id="lpArgu">
            <div class="center">
                <div class="lpLeftCol">
                    <p>
                        Politizr est un site web qui renouvelle le dialogue citoyen en l'inscrivant dans l'ère numérique. Venez exprimer vos opinions sur votre ville et instaurez un dialogue direct et transparent avec vos élus.
                        <br/><br/>
                        Nous travaillons à améliorer la démocratie locale en proposant un espace de discussion qui favorise les échanges structurées et argumentées dans un temps long propice à la qualité du débat.
                    </p>
                    <img src="{{ asset('bundles/politizrfront/images/f-illustr01.jpg') }}">
                </div>
                <div class="lpRightCol">
                    <h3>Vous êtes un citoyen désireux d'une nouvelle politique?</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Discutez directement avec vos élu.e.s.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Commentez et notez toutes les discussions ouvertes.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Partagez votre opinion auprès de vos concitoyen.ne.s et élu.e.s.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Participez à des échanges suivant vos centres d'intérêt.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Accédez à l'ensemble des publications aux niveaux local et national.</p></div>
                    <div class="lpCheckLi"><i class="icon-social-fb"></i><p>&nbsp;Visualisez l'impact Facebook de vos publications sur votre territoire.</p></div>
                    <br/>
                    <h3>Vous êtes un élu moderne?</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Expliquez vos actions à vos concitoyen.ne.s.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Répondez aux questions et aux opinions de vos concitoyen.ne.s.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Faîtes profiter d'autres élu.e.s de vos retours d'expérience.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Participez à des échanges suivant vos centres d'intérêt.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Accédez à l'ensemble des publications aux niveaux local et national.</p></div>
                    <div class="lpCheckLi"><i class="icon-social-fb"></i><p>&nbsp;Visualisez l'impact Facebook de vos publications sur votre territoire.</p></div>
                    <h3>Vous êtes une collectivité?</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Découvrez <a href="https://www.politizr.com/lp/offres-collectivites">nos offres pour les collectivités</a>, conçues spécialement pour renforcer la démocratie locale sur votre territoire.</p></div>
                    <h3>&nbsp;</h3>
                </div>
            </div>
        </div>

        <div id="lpCTA">
            <div class="center">
                <a href="{{ path('Concept') }}">En savoir plus</a>
            </div>
        </div>

        <div id="lpContact">
            <div class="center">
                <div class="lpLeftCol">
                    Contactez-nous pour plus d'informations : <a href="mailto:contact@politizr.com">contact@politizr.com</a><br>
                    ou par téléphone au <b>09. 50. 42. 09. 34</b>
                </div>
                <div class="lpRightCol">
                    <div class="formBlock withLoaderInside">
                        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}

                        <form name="directMessage" id="formDirectMessage">
                            {{ form_errors(form) }}

                            {{ form_row(form.name, { 'attr': { 'placeholder': 'Prénom et Nom' }}) }}
                            {{ form_row(form.email, { 'attr': { 'placeholder': 'Email' }}) }}
                            {{ form_row(form.city, { 'attr': { 'placeholder': 'Téléphone' }}) }}
                            {{ form_row(form.description, { 'attr': { 'placeholder': 'Question' }}) }}

                            {{ form_rest(form) }}
                            <div class="buttonDirectMessage">
                                <button type="button" action="submitDirectMessage">
                                    Envoyer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}


{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("LP Civic Tech");
        </script>
    {% endif %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
