{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% extends layout %}
{% set headerRight = false %}

{% set metaTitle = 'Plateforme pour les élus locaux et les citoyens' %}
{% set metaDescription = 'Politizr est un site web qui réinvente le dialogue entre élu-e-s et citoyen-ne-s.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor"{% endblock %}

{% block main %}
    <div id="lpGeneric">
        <div id="lpHero">
            <div class="center">
                <h1>En 2017, la discussion avec votre élu local est sur POLITIZR !</h1>
                <h2>Plateforme web de dialogue citoyen</h2>
                <div id="f-display"><img src="{{ asset('bundles/politizrfront/images/f-display.png') }}" alt="Démocratie participative"></div>
                <div id="f-accessories"><img src="{{ asset('bundles/politizrfront/images/f-accessories.png') }}"></div>
            </div>
            <div id="lpHeroFader"></div>
        </div>
        <div id="lpUnderHero">
            <div class="center">
                Élus ou citoyen, profitez d'un <b>espace d'échange unique et adapté</b>: exprimez-vous <b>simplement et gratuitement</b> sur des sujets relatifs à <b>votre territoire</b> pour permettre à vos élus de prendre <b>les bonnes décisions en toute transparence</b>.
            </div>
        </div>
        <div id="lpArgu">
            <div class="center">
                <div class="lpLeftCol">
                    <p>
                        Politizr permet à <b>tous les élus locaux - du conseiller municipal au député -</b> de venir s'exprimer directement et publiquement de tous les sujets avec <b>leurs concitoyens</b>.
                    </p>
                    <p>
                        Nous travaillons à améliorer la <b>démocratie représentative</b> en proposant un espace de discussion qui favorise les <b>échanges structurées et argumentées</b> dans un temps long propice à la qualité du débat.
                    </p>
                    <img src="{{ asset('bundles/politizrfront/images/f-illustr01.jpg') }}">
                </div>
                <div class="lpRightCol">
                    <h3>Vous êtes un citoyen désireux d'une nouvelle politique?</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Discutez <b>directement</b> avec vos <b>élu-e-s</b>.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p><b>Commentez et notez</b> toutes les discussions ouvertes.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Partagez <b>votre opinion</b> auprès de vos <b>concitoyen-ne-s et élu-e-s</b>.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Participez à des échanges suivant vos <b>centres d'intérêt</b>.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Accédez à l'ensemble des publications aux niveaux <b>local et national</b>.</p></div>
                    <div class="lpCheckLi"><i class="icon-social-fb"></i><p>&nbsp;Visualisez <b>l'impact Facebook</b> de vos publications sur <b>votre territoire</b>.</p></div>
                    <br/>
                    <h3>Vous êtes un élu moderne?</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Expliquez <b>vos actions</b> à vos concitoyen-ne-s.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Répondez aux <b>questions</b> et aux <b>opinions</b> de vos concitoyen-ne-s.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Faîtes profiter d'autres élu-e-s de vos <b>retours d'expérience</b>.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Participez à des échanges suivant vos <b>centres d'intérêt</b>.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Accédez à l'ensemble des publications aux niveaux <b>local et national</b>.</p></div>
                    <div class="lpCheckLi"><i class="icon-social-fb"></i><p>&nbsp;Visualisez <b>l'impact Facebook</b> de vos publications sur <b>votre territoire</b>.</p></div>
                    <h3>Vous êtes une collectivité?</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Découvrez <a href="https://territoires.politizr.com" target="_blank">Politizr Territoires</a>, une offre conçue spécialement pour renforcer la démocratie locale sur votre territoire.</p></div>
                </div>
            </div>
        </div>

        <div id="lpCTA">
            <div class="center">
                <a href="{{ path('InscriptionChoice') }}">Inscription</a>
            </div>
        </div>

        <div id="lpPostsElection">
            <div class="center">
                <h1>La citoyenneté avec Politizr</h1>
                <h2>Des échanges avec des citoyens et des élus</h2>
                
                {% for document in documents %}
                    {% if loop.first or loop.index0 is divisible by(2) %}
                        <div class="cardColumn">
                    {% endif %}
                        {% include 'PolitizrFrontBundle:Document:_cardPublic.html.twig' %}
                    {% if loop.last or loop.index is divisible by(2) %}
                        </div>
                    {% endif %}
                {% endfor %}
                
                <div id="morePosts"><a href="{{ path('ListingByTag', {'slug' : 'democratie-locale'}) }}">Toutes les discussions en cours</a></div>
            </div>
        </div>

        <div id="lpProfilesSelection">
            <div class="center">
                <h1>Rejoignez la communauté Politizr</h1>
                <h2>Des citoyens et élus de toute la France sont sur Politizr</h2>
                
                {% for user in users %}
                    {% if loop.first or loop.index0 is divisible by(2) %}
                        <div class="cardColumn">
                    {% endif %}
                        {% include 'PolitizrFrontBundle:User:_cardPublic.html.twig' %}
                    {% if loop.last or loop.index is divisible by(2) %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div id="lpCTA">
            <div class="center">
                <a href="{{ path('InscriptionChoice') }}">Inscription</a>
            </div>
        </div>

        <div id="lpContact">
            <div class="center">
                <div class="lpLeftCol">
                    Contactez-nous pour en savoir plus : <a href="mailto:contact@politizr.com">contact@politizr.com</a><br>
                    ou par téléphone au <b>09. 50. 42. 09. 34</b>
                </div>
                <div class="lpRightCol">
                    <div class="formBlock withLoaderInside">
                        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}

                        <form name="directMessage" id="formDirectMessage">
                            {{ form_errors(form) }}

                            {{ form_row(form.name, { 'attr': { 'placeholder': 'Prénom et Nom' }}) }}
                            {{ form_row(form.email, { 'attr': { 'placeholder': 'Email' }}) }}
                            {{ form_row(form.city, { 'attr': { 'placeholder': 'Téléphone' }}) }}
                            {{ form_row(form.description, { 'attr': { 'placeholder': 'Question' }}) }}

                            {{ form_rest(form) }}
                            <div class="buttonDirectMessage">
                                <button type="button" action="submitDirectMessage">
                                    Envoyer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}


{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("LP élu local");
        </script>
    {% endif %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
