{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% extends layout %}
{% set headerRight = false %}

{% set metaTitle = 'Offre Candidat' %}
{% set metaDescription = 'Politizr propose une offre à destination des candidats pour les sénatoriales 2017!' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor"{% endblock %}

{% block main %}
    <div id="lpSenatoriales">
        <div id="lpHero">
            <div class="center">
                <div id="lpHeroText">En 2017, il est temps d’impliquer les citoyens autant que les élus dans votre campagne des Sénatoriales !</div>
                <div id="f-display"><img src="{{ asset('bundles/politizrfront/images/f-display.png') }}"></div>
                <div id="f-accessories"><img src="{{ asset('bundles/politizrfront/images/f-accessories.png') }}"></div>
            </div>
            <div id="lpHeroFader"></div>
        </div>
        <div id="lpUnderHero">
            <div class="center">
                A l’occasion des élections Sénatoriales 2017, la startup française POLITIZR propose aux candidats de tester sa plateforme via une offre inédite.<br>
                <b>POLITIZR déploie pour les candidats aux élections Sénatoriales des fonctionnalités complémentaires et adaptées​ à leur campagne électorale leur permettant de répondre directement et en toute transparence aux questions de leurs électeurs et des citoyens.</b>
            </div>
        </div>
        <div id="lpArgu">
            <div class="center">
                <div class="lpLeftCol">
                    C’est l’occasion pour vous de montrer votre connaissance des dossiers et votre ouverture à l’échange en engageant des discussions de fond avec vos électeurs sur une plateforme portée par un acteur reconnu des "Civic Tech" en France. 
                    <img src="{{ asset('bundles/politizrfront/images/f-illustr01.jpg') }}">
                </div>
                <div class="lpRightCol">
                    En souscrivant à cette offre: 
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Vous disposez d’une page de profil possédant un ​bandeau aux couleurs de votre campagne​ et permettant aux utilisateurs de s’exprimer d’un simple clic.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Vous disposez de l’​affichage de ce bandeau​ sur la page d’accueil POLITIZR de tous les utilisateurs inscrits dans votre circonscription.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Vous disposez d'une fonctionnalité spéciale pour vous permettre, et à vous seul, de dialoguer publiquement avec les élus et citoyens.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Les questions ​sont exclusivement posées par les citoyens et élus des villes comprises dans votre circonscription​.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Vous êtes ​automatiquement alerté par email​ à chaque nouvelle question ou remarque vous concernant.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Vous disposez d’un ​support de notre équipe​ pour la mise en ligne.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Tous les contenus associés à votre campagne sont publics.</p></div>
                    <div class="lpCheckLi"><i class="icon-social-fb"></i><p>La promotion (non nominative) de l’opération sur Facebook au niveau de votre circonscription.</p></div>
                    
                </div>
            </div>
        </div>
        <div id="lpPayment">
            <div class="center">
                <div class="lpLeftCol">
                    <b>Nous vous contacterons dès reception de votre paiement pour mettre en place votre opération personnalisée et une facture au nom de votre mandataire vous sera expédiée.</b><br>
                    <img src="{{ asset('bundles/politizrfront/images/f-lock.png') }}">Paiement sécurisé par Paypal. TVA : 20%.<br>
                    <img class="f-cbcards" src="{{ asset('bundles/politizrfront/images/f-cbcards.jpg') }}">
                </div>
                <div class="lpRightCol">
                    <h2>60 €<span>TTC</span></h2>
                    Tarif tout compris pour toute la durée de votre campagne électorale.
                    <div id="lpPaypal">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="SKRY7X59G52H4">
                            <input type="image" src="{{ asset('bundles/politizrfront/images/bton-Paypal.png') }}" border="0" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne">
                            <img alt="" border="0" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="lpContact">
            <div class="center">
                <div class="lpLeftCol">
                    Contactez-nous pour en savoir plus : <a href="mailto:contact@politizr.com">contact@politizr.com</a><br>
                    ou par téléphone au <b>09. 50. 42. 09. 34</b>
                </div>
                <div class="lpRightCol">
                    <div class="formBlock withLoaderInside">
                        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}

                        <form name="directMessage" id="formDirectMessage">
                            {{ form_errors(form) }}

                            {{ form_row(form.name, { 'attr': { 'placeholder': 'Prénom et Nom' }}) }}
                            {{ form_row(form.email, { 'attr': { 'placeholder': 'Email' }}) }}
                            {{ form_row(form.city, { 'attr': { 'placeholder': 'Téléphone' }}) }}
                            {{ form_row(form.description, { 'attr': { 'placeholder': 'Circonscription' }}) }}

                            {{ form_rest(form) }}
                            <div class="buttonDirectMessage">
                                <button type="button" action="submitDirectMessage">
                                    Envoyer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}


{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("LP élu local");
        </script>
    {% endif %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
