{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% extends layout %}
{% set headerRight = false %}

{% set metaTitle = 'Offres Collectivités' %}
{% set metaDescription = 'POLITIZR propose aux collectivités son service numérique de dialogue citoyen pour leur permettre de diffuser de l’information et d’associer leurs concitoyennes et concitoyens aux projets qui façonnent leur territoire.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor noHeaderTrigger"{% endblock %}

{% block main %}
    <div id="lpGeneric">
        <div id="lpHero">
            <div class="center">
                <h1>En 2018, il est temps pour les collectivités d'impliquer leurs administrés!</h1>
                <div id="f-display"><img src="{{ asset('bundles/politizrfront/images/f-display.png') }}" alt="Budget Participatif"></div>
                <div id="f-accessories"><img src="{{ asset('bundles/politizrfront/images/f-accessories.png') }}"></div>
            </div>
            <div id="lpHeroFader"></div>
        </div>
        <div id="lpUnderHero">
            <div class="center">
                Communiquez autour de vos projets et faîtes réagir vos administrés sur les sujets de votre choix, de façon ponctuelle ou sur le long terme. Quelle que soit la taille de votre collectivité, nos services vous permettront d'associer plus de citoyens aux décisions qui façonnent votre territoire. <b>Disponible à partir d’une ​offre gratuite et sans engagement!</b>
            </div>
        </div>
        <div id="lpArgu">
            <div class="center">
                <div class="lpLeftCol">
                    <p>
                        POLITIZR propose aux collectivités son service numérique de dialogue
                        citoyen pour leur permettre de diffuser de l’information et d’associer leurs
                        concitoyennes et concitoyens aux projets qui façonnent leur territoire..
                    </p>
                    <img src="{{ asset('bundles/politizrfront/images/f-illustr01.jpg') }}">
                </div>
                <div class="lpRightCol">
                    <h3>Fonctionnalités clefs</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Réseau social de “dialogue citoyen”</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Espace privatif pour votre collectivité et vos administrés</div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Interface favorisant des échanges constructifs</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Charte​ assurant un cadre ​convivial et respectueux</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Modération effectuée par nos services</p></div>
                    <h3>Pourquoi utiliser notre service?</h3>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Effectuez de la ​ communication et de la pédagogie autour de vos actions​ et permettez ​ à vos administrés de s’exprimer ​ dans un cadre adapté​ .</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Touchez un plus grand nombre de vos administrés, en particulier des publics moins habitués à participer à la décision publique (jeunes, actifs).</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Renforcez la confiance et l’adhésion de vos administrés envers votre collectivité et les projets qu’elle porte.</p></div>
                    <div class="lpCheckLi"><i class="icon-check"></i><p>Profitez de nos conseils et d’un suivi dans la durée pour renforcer l’engagement de vos administrés autour de vos projets.</p></div>
                    <h3>&nbsp;</h3>
                </div>
            </div>
        </div>

        <div id="lpContact">
            <div class="center">
                <div class="lpLeftCol">
                    Contactez-nous pour en savoir plus :<br/> <a href="mailto:contact@politizr.com">contact@politizr.com</a><br>
                    <br/>ou par téléphone au <b>09. 50. 42. 09. 34</b>
                </div>
                <div class="lpRightCol">
                    <div class="formBlock withLoaderInside">
                        {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}

                        <form name="directMessage" id="formDirectMessage">
                            {{ form_errors(form) }}

                            {{ form_row(form.name, { 'attr': { 'placeholder': 'Prénom et Nom' }}) }}
                            {{ form_row(form.email, { 'attr': { 'placeholder': 'Email' }}) }}
                            {{ form_row(form.city, { 'attr': { 'placeholder': 'Téléphone' }}) }}
                            {{ form_row(form.description, { 'attr': { 'placeholder': 'Question' }}) }}

                            {{ form_rest(form) }}
                            <div class="buttonDirectMessage">
                                <button type="button" action="submitDirectMessage">
                                    Envoyer
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}

{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("LP Concertation Publique");
        </script>
    {% endif %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/landingPage.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
