{# 
LAYOUT FOLLOW
-----------------------------
- regroupement un 1 fichier de tous les fragments fonctionnels réutilisables séparément
- objectif > mutualiser / harmoniser les mises à jour du code
- permet aussi de trouver des points communs et de faire de l'héritage parmi les enfants de ce layout
#}

{# Bloc followers débat / user #}
{% block followers %}
	<div id="followers">
		Suivi par <a action="show-followers-c-list" class="label label-primary">{{ nbC }} citoyens</a> et <a action="show-followers-q-list" class="label label-primary">{{ nbQ }} débatteurs</a>
		<div action="followers-c-list">
			<hr>
			{% for follower in followersC %}
	            {% if ((loop.index0%12) == 0) %}
	                <div class="row">
	            {% endif %}
				<div class="col-sm-1">
					<a href="{{ path('UserDetail', { 'id': follower.id, 'slug': follower.slug }) }}">
						{{ follower | photo('user_follower', 'img-circle') }}
					</a>
				</div>
				{% if ((loop.index%12) == 0 or loop.length == loop.index) %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div action="followers-q-list">
			<hr>
			{% for follower in followersQ %}
	            {% if ((loop.index0%12) == 0) %}
	                <div class="row">
	            {% endif %}
				<div class="col-sm-1">
					<a href="{{ path('UserDetail', { 'id': follower.id, 'slug': follower.slug }) }}">
						{{ follower | photo('user_follower', 'img-circle') }}
					</a>
				</div>
				{% if ((loop.index%12) == 0 or loop.length == loop.index) %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock followers %}

{# Bloc suivre débat / user #}
{% block subscribe %}
	{% if app.user %}
		{% if follower %}
			<a class="btn btn-warning" action="follow" object-id="{{ object.id }}" context="{{ context }}" way="unfollow">Ne plus suivre</a>
		{% else %}
			<a class="btn btn-success" action="follow" object-id="{{ object.id }}" context="{{ context }}" way="follow">Suivre</a>
		{% endif %}
	{% else %}
		<a class="btn btn-primary btn-xs" href="{{ path('Inscription') }}">M'inscrire pour suivre</a>
	{% endif %}
{% endblock subscribe %}
