{% spaceless %}
{% if (tag.ptTagTypeId == constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_THEME'))%}
    {% set twbLabel = "primary" %}
{% elseif (tag.ptTagTypeId == constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_FAMILY'))%}
    {% set twbLabel = "success" %}
{% elseif (tag.ptTagTypeId == constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_PRIVATE'))%}
    {% set twbLabel = "warning" %}
{% else %}
    {% set twbLabel = "default" %}
{% endif %}

<div class="tagLabel tagLabel btn btn-{{ twbLabel }}{% if tag.hasVirtualColumn('hidden') and tag.virtualColumn('hidden') %} tagInvisible{% endif %}" tagUuid="{{ tag.uuid }}" uuid="{{ uuid }}">
{{ tag.title }}&nbsp;<a action="deleteTag" path="{{ pathDelete }}"><i class="fa fa-close"></i></a>
</div>&nbsp;&nbsp;
{% endspaceless %}
