{% spaceless %}    
{% if (tag.ptTagTypeId == constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_GEO')) %}
    {% set twbLabel = "success" %}
{% elseif (tag.ptTagTypeId == constant('\\Politizr\\Constant\\TagConstants::TAG_TYPE_THEME'))%}
    {% set twbLabel = "primary" %}
{% else %}
    {% set twbLabel = "default" %}
{% endif %}
<span class="btn btn-{{ twbLabel }}">
    {{ tag.title }}<a action="deleteTag" class="fa fa-close" path="{{ path }}" tagUuid="{{ tag.uuid }}" uuid="{{ uuid }}"></a>
</span>
{% endspaceless %}