<div id="grpBrief">
    <div id="grpBriefHeader">
        <div class="center">
            <h1>{{ topic.summary | raw }}</h1>
            {% if (circle.PCircleTypeId == constant('Politizr\\Constant\\CircleConstants::CIRCLE_TYPE_STANDARD')
                    or (circle.PCircleTypeId == constant('Politizr\\Constant\\CircleConstants::CIRCLE_TYPE_BUDGETPART') and circle.step == constant('Politizr\\Constant\\CircleConstants::CIRCLE_BUDGETPART_STEP1'))
                    ) %}
            %}
                <div class="grpJeMexprime"><a href="{{ path('DebateDraftNew', { topic: topic.uuid }) }}">Je m'exprime!</a></div>
            {% endif %}
            {% if topic.description is not empty %}
                <div class="showBriefLink" action="showBrief">Afficher</div>
                <div class="hideBriefLink" action="hideBrief">Masquer</div>
            {% endif %}
        </div>
        <div id="grpBriefHeaderImg">
            <div id="grpBriefHeaderImgShadow"></div>
            
            {% if topic.fileName %}
                <img src="{{ asset(constant('Politizr\\Constant\\PathConstants::CIRCLE_UPLOAD_WEB_PATH') ~ topic.fileName) }}">
            {% else %}
                <img src="{{ asset('bundles/politizrfront/images/generic-grpHeader.jpg') }}">
            {% endif %}
        </div>
    </div>
    
    <div class="center">            
        {% if topic.description is not empty %}
            <div id="grpBriefCard">
                {{ topic.description | raw }}
            </div>
            <div id="grpBriefFooter">
                <div class="hideBriefLink" action="hideBrief">Masquer</div>
            </div>
        {% endif %}
    </div>
</div>
