<div id="grpBrief">
    <div id="grpBriefHeader">
        <div class="center">
            <h1>{{ topic.summary | raw }}</h1>
            <div class="grpJeMexprime"><a href="{{ path('DebateDraftNew', { topic: topic.uuid }) }}">Je m'exprime!</a></div>
            {% if topic.description is not empty %}
                <div class="showBriefLink" action="showBrief">Afficher</div>
                <div class="hideBriefLink" action="hideBrief">Masquer</div>
            {% endif %}
        </div>
        <div id="grpBriefHeaderImg">
            <div id="grpBriefHeaderImgShadow"></div>
            
            {% if topic.fileName %}
                <img src="{{ asset(constant('Politizr\\Constant\\PathConstants::CIRCLE_UPLOAD_WEB_PATH') ~ topic.fileName) }}" alt="">
            {% else %}
                <img src="{{ asset('bundles/politizrfront/images/generic-grpHeader.jpg') }}" alt="">
            {% endif %}
        </div>
    </div>
    
    <div class="center">            
        {% if topic.description is not empty %}
            <div id="grpBriefCard">
                {{ topic.description | raw }}
            </div>
            <div id="grpBriefFooter">
                <div class="hideBriefLink" action="hideBrief">Masquer</div>
            </div>
        {% endif %}
    </div>
</div>
