{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% set metaTitle = topic.title | purify | trim ~' - '~ circle.title | purify | trim %}
{% set metaDescription = topic.summary | striptags | truncate(160, true) | purify %}
{% set ogDescription = topic.summary | striptags | truncate(295, true) | purify %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ ogDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %}
    {% spaceless %}
        {% set circle = topic.PCircle %}
        {% if (isGrantedE() or isGrantedC()) %}
            class="grp grp-{{ circle.PCOwner.slug }}"
        {% else %}    
            class="grp public grp-{{ circle.PCOwner.slug }}"
        {% endif %}
    {% endspaceless %}
{% endblock bodyClass %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Menu:_circleTopLeftMenu.html.twig' with { 'circle': circle, 'subjectObject': topic } only %}
{% endblock %}

{% block headerMsg %}
    {{ circle | readOnlyMessage }}
{% endblock %}

{% block main %}
    <div class="mainClass">
        <div class="center">
            {{ circle | circleMenuTop }}
            {{ circleBreadcrumb(topic = topic) }}
        </div>
    </div>
    {{ topic | topicBriefing }}

    <div class="mainClass">
        <div class="center">        
            <div class="listHeaderByTag">
                <div class="listHeader">
                    <h5>[ {{ circle.title }} ] Tous les sujets, réponses et commentaires...</h5>
                    <h1>{{ topic.title }}</h1>
                </div>
            </div>
                        
            <div id="content">                                  
                <div id="documentListing" uuid="{{ topic.uuid }}" class="searchResults withLoaderInside">
                    {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
                    <div class="listTop"></div>
                </div>
            </div>

            <div id="sidebar">
                <div class="sidebarSearch">
                    <div class="sidebarSearchFilters withLoaderInside">
                        {% include 'PolitizrFrontBundle:Topic\\Filters:_publicationsCategory.html.twig' %}
                    </div>
                </div>
                {{ topic | topicQuestion }}
                {% include 'PolitizrFrontBundle:Navigation\\Helper:_circleHowTo.html.twig' %}
            </div>
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/circle/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/detailTopic.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url~'?v'~assets_version }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
