{# beta #}
{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% set metaTitle = topic.title | purify | trim ~' - '~ circle.title | purify | trim %}
{% set metaDescription = topic.summary | striptags | truncate(160, true) | purify %}
{% set ogDescription = topic.summary | striptags | truncate(295, true) | purify %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ ogDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="grp"{% endblock %}

{% block headerMsg %}
    <div id="grpBreadcrumbs">
        <a href="{{ path('DetailCircle', { 'slug': circle.slug }) }}">{{ circle.title }}</a> - <a href="{{ path('TopicDetail', { 'circleSlug': circle.slug, 'slug': topic.slug }) }}">{{ topic.title }}</a>
    </div>
{% endblock headerMsg %}


{% block content %}
    <div id="content">
        <div>
            <h1>{{ topic.title }}</h1>
            <div>{{ topic.summary | purify  }}</div>
            <div>{{ topic.description | purify  }}</div>
            <a href="{{ path('DebateDraftNew'~profileSuffix(), { topic: topic.uuid }) }}">Je m'exprime!</a>
        </div>
        <div id="documentListing" uuid="{{ topic.uuid }}" class="searchResults withLoaderInside">
            {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
            <div class="listTop"></div>
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    <div class="sidebarSearch">
        <div class="sidebarSearchFilters withLoaderInside">
            {% include 'PolitizrFrontBundle:Topic\\Filters:_publicationsCategory.html.twig' %}
        </div>
    </div>
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("Les publications (recherche)");
        </script>
    {% endif %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/circle/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/detailTopic.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
