<div class="pdComment">
    <div class="pdComment-description">{{ pdComment.description | striptags | slice(0, 250) | raw }}...</div>
    <hr>
    <div class="pdComment-online">{% if pdComment.online %}En ligne{% else %}Hors ligne{% endif %}</div>
    <div class="pdComment-published">Publié le {{ pdComment.publishedAt | date('d/m/Y H:i') }}</div>
    <hr>
    {% include 'PolitizrAdminBundle:Fragment:author.html.twig' with { 'user': pdComment.PUser } %}
    <div class="pdComment-note"><b>{{ pdComment.notePos }} +</b> &nbsp; <b>{{ pdComment.noteNeg }} -</b></div>
    <hr>
    <a href="{{ path('Politizr_AdminBundle_PDComment_edit', { 'pk': pdComment.id }) }}">Editer</a>&nbsp;-&nbsp; 
    <a href="{{ path('Politizr_AdminBundle_PDComment_show', { 'pk': pdComment.id }) }}">Consulter</a>
    <hr>
</div>