<div class="pdComment">
	<div class="pdComment-parentDebateTitle">Associé au document {{ pdComment.type }} <b>{{ pdComment.document }}</b></div>
	<hr>
	<div class="pdComment-description">{{ pdComment.description | striptags | slice(0, 150) | raw }}...</div>
	<hr>
	<div class="pdComment-online">{% if pdComment.online %}En ligne{% else %}Hors ligne{% endif %}</div>
	<div class="pdComment-published">Publié le {{ pdComment.publishedAt | date('d/m/Y H:i') }}</div>
	<hr>
	<div class="pdComment-paragraph">{% if pdComment.paragraphNo == 0 %}Commentaire <b>général</b>{% else %}Commentaire du <b>paragraphe n°{{ pdComment.paragraphNo }}</b>{% endif %}</div>
	<div class="pdComment-note"><b>{{ pdComment.notePos }} +</b> &nbsp; <b>{{ pdComment.noteNeg }} -</b></div>
	<hr>
	<a href="{{ path('Politizr_AdminBundle_PDComment_edit', { 'pk': pdComment.id }) }}">Editer</a>&nbsp;-&nbsp; 
	<a href="{{ path('Politizr_AdminBundle_PDComment_show', { 'pk': pdComment.id }) }}">Consulter</a>
	<hr>
</div>