<div class="pdrComment">
	<div class="pdrComment-parentReactionTitle">Associé à la réaction <b>{{ pdrComment.reaction.title }}</b></div>
	<hr>
	<div class="pdrComment-description">{{ pdrComment.description | striptags | slice(0, 150) | raw }}...</div>
	<hr>
	<div class="pdrComment-online">{% if pdrComment.online %}En ligne{% else %}Hors ligne{% endif %}</div>
	<div class="pdrComment-published">Publié le {{ pdrComment.publishedAt | date('d/m/Y H:i') }}</div>
	<hr>
	<div class="pdrComment-paragraph">{% if pdrComment.paragraphNo == 0 %}Commentaire <b>général</b>{% else %}Commentaire du <b>paragraphe n°{{ pdrComment.paragraphNo }}</b>{% endif %}</div>
	<div class="pdrComment-note"><b>{{ pdrComment.notePos }} +</b> &nbsp; <b>{{ pdrComment.noteNeg }} -</b></div>
	<hr>
	<a href="{{ path('Politizr_AdminBundle_PDRComment_edit', { 'pk': pdrComment.id }) }}">Editer</a>&nbsp;-&nbsp; 
	<a href="{{ path('Politizr_AdminBundle_PDRComment_show', { 'pk': pdrComment.id }) }}">Consulter</a>
	<hr>
</div>