{% extends_admingenerated "PolitizrAdminBundle:PTagShow:index.html.twig" %}

{% block show_column_block_p_user %}
    {{ adminCreatePath(constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_USER'), PTag.PUserId) }}
{% endblock %}

{% block show_column_block_p_owner %}
    {{ adminCreatePath(constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_USER'), PTag.POwnerId) }}
{% endblock %}

{# Debates tags block #}
{% block show_column_block_debates %}
    {{ adminTagDebates(PTag) }}
{% endblock %}

{# Reactions tags block #}
{% block show_column_block_reactions %}
    {{ adminTagReactions(PTag) }}
{% endblock %}

{# Users tags block #}
{% block show_column_block_users %}
    {{ adminTagUsers(PTag) }}
{% endblock %}


{# Block moderation alert listing #}
{% block show_column_block_moderation_alert_listing %}
    <div id="moderationListing">
        {{ adminModerationAlertListing(PTag.PUserId) }}
    </div>
{% endblock %}
