<div class="modalItem listPost">
    <div class="postSummary">
        <div class="pad40">
            <div class="postSummaryHeader">
                <div class="readingTime">
                    <i class="iconTime"></i>
                    {{ debate | readingTime }}
                </div>
                <div class="postNote">
                    <div class="notePlus">
                        {{ debate.notePos }}<i class="iconNotePlus"></i>
                    </div>
                    <div class="noteMinus">
                        <i class="iconNoteMinus"></i>{{ debate.noteNeg }}
                    </div>
                </div>
            </div>
            <div class="postSummaryFooter">
                <div class="postSummaryTagList">
                    {{ debate | docTags }}
                </div>
                <div class="postSummaryTitle">
                    <a href="{{ path('DebateDetail', { 'slug': debate.slug }) }}">
                        {{ debate.title }}
                    </a>
                </div>
                <div class="postSummaryAuthor">
                    {% include 'PolitizrFrontBundle:User:_authorMini.html.twig' with { 'user': debate.user } only %}
                </div>
                <div class="postSummaryActivity">
                    <div class="reactionsCounter">
                        <i class="iconReaction"></i>
                        {{ debate | nbReactions }}
                    </div>
                    <div class="commentsCounter" action="paragraphCommentsCounter">
                        <i class="iconComment"></i>
                        {{ debate | nbComments }}
                    </div>
                </div>
            </div>
        </div>
        
        {{ debate | image('debate_header') }}
    </div>
    <div class="subscribe listPostFollow">
        {{ debate | linkSubscribeDebate }}
    </div>
    <a href="{{ path('DebateDetail', { 'slug': debate.slug }) }}" class="modalItemShow"><i class="iconGoTo"></i>Afficher</a>
</div>