{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% set metaTitle = debate.title | purify | trim %}
{% set metaDescription = debate.description | striptags | truncate(160, true) | purify %}
{% set ogDescription = debate.description | striptags | truncate(295, true) | purify %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogImage %}{{ debate | ogImage(app.request.getSchemeAndHttpHost()) }}{% endblock ogImage %}
{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ ogDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}
{% block tcImage %}{{ debate | tcImage(app.request.getSchemeAndHttpHost()) }}{% endblock tcImage %}

{% block content %}
    <div id="content">
        <div class="post">
            {% include 'PolitizrFrontBundle:User:_summary.html.twig' with { 'user': debate.user, 'withSocialLinks': false, 'withMandates': false } only %}
            <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': debate } only %}</h5>
            <div class="postStats">
                {% include 'PolitizrFrontBundle:Document:_statsMini.html.twig' with { 'document': debate } only %}
            </div>
            
            <div id="cardPost">
                <span class="postTitle subject">{{ debate.title }}</span>
                {% if debate.fileName %}
                    <div id="cardPostImgHolder">
                        {% if debate.copyright | purify | length > 0 %}
                            <div id="cardPostImgLegend">{{ debate.copyright | purify }}</div>
                        {% endif %}
                        <div id="cardPostImg">
                            {{ debate | image('debate_header') }}
                        </div>
                    </div>
                {% endif %}
                <div id="cardPostText">
                    {% if private %}
                        {% include 'PolitizrFrontBundle:Navigation\\Helper:_createAccountToFullRead.html.twig' %}
                    {% endif %}
                    {% for paragraph in paragraphs %}
                        <div id="p-{{ loop.index }}" class="paragraph">
                            {% include 'PolitizrFrontBundle:Comment:_paragraph.html.twig' with { 'document': debate, 'paragraphNo': loop.index } only %}
                            {{ paragraph | purify }}
                        </div>
                    {% endfor %}
                </div>
                <div id="cardPostTextFooter">
                    {{ debate | footer }}
                </div>
            </div>
            <div id="p-0">
                {% include 'PolitizrFrontBundle:Comment:_global.html.twig' with { 'document': debate, 'formComment': formComment } only %}
            </div>

            {% if reactions | length > 0 %}
                {% include 'PolitizrFrontBundle:Reaction:_listReactionsToPost.html.twig' with { 'document': debate, 'reactions': reactions } only %}
            {% endif %}

            <div class="postTags">
                <h5>Thématiques abordées</h5>
                <div class="tagList">
                    {{ debate | docTags }}
                </div>
            </div>

            {% include 'PolitizrFrontBundle:Document:_listSimilarsToPost.html.twig' with { 'documents': similars } only %}
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    {% if not app.user %}
        {% include 'PolitizrFrontBundle:Navigation\\Menu:_createAccount.html.twig' %}
    {% endif %}
    {% include 'PolitizrFrontBundle:Debate:_sidebar.html.twig' %}
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("Sujet - {{ debate.title }}");
        </script>
    {% endif %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/smoke.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/detail.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/comments.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/detailDebate.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
