{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% block title %}{{ parent() }} - {{ debate.title | purify | trim }}{% endblock title %}

{% block description %}{{ debate.description | removeLinks | removeSpans | excerpt(1, true) | striptags | trim | purify }}{% endblock description %}

{% block ogTitle %}{{ debate.title | purify | trim }} – Politizr{% endblock ogTitle %}
{% block ogDescription %}{{ debate.description | removeLinks | removeSpans | excerpt(1, true) | striptags | trim | purify }}{% endblock ogDescription %}

{% block content %}
    <div id="content">
        <div class="post">
            {% include 'PolitizrFrontBundle:User:_summaryAuthor.html.twig' with { 'user': debate.user } only %}
            <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': debate } only %}</h5>
            <div class="postStats">
                {% include 'PolitizrFrontBundle:Document:_statsMini.html.twig' with { 'document': debate } only %}
            </div>
            
            <div id="cardPost">
                <span class="postTitle subject">{{ debate.title }}</span>
                {% if debate.fileName %}
                    <div id="cardPostImgHolder">
                        {% if debate.copyright | purify | length > 0 %}
                            <div id="cardPostImgLegend">{{ debate.copyright | purify }}</div>
                        {% endif %}
                        <div id="cardPostImg">
                            {{ debate | image('debate_header') }}
                        </div>
                    </div>
                {% endif %}
                <div id="cardPostText">
                    {% for paragraph in paragraphs %}
                        <div id="p-{{ loop.index }}" class="paragraph">
                            {% include 'PolitizrFrontBundle:Comment:_paragraph.html.twig' with { 'document': debate, 'paragraphNo': loop.index } only %}
                            {{ paragraph | purify }}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div id="p-0">
                {% include 'PolitizrFrontBundle:Comment:_global.html.twig' with { 'document': debate } only %}
            </div>

            {% include 'PolitizrFrontBundle:Reaction:_listReactionsToPost.html.twig' with { 'document': debate, 'reactions': reactions } only %}

            <div class="postTags">
                <h5>Thématiques abordées</h5>
                <div class="tagList">
                    {{ debate | docTags }}
                </div>
            </div>

            {% include 'PolitizrFrontBundle:Document:_listSimilarsToPost.html.twig' with { 'documents': similars } only %}
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    <div class="sidebarSubject">
        <div class="sidebarAction">
            {% if app.user and app.user.id != debate.getPUserId %}
                <div class="sidebarFollow">
                    {% include 'PolitizrFrontBundle:Follow:_actionFollow.html.twig' with { 'subject': debate } only %}
                </div>
            {% endif %}
            <div class="actionsBox">
                <div class="miniActions">
                    {% include 'PolitizrFrontBundle:Reaction:_actionNew.html.twig' with { 'document': debate } only %}
                </div>  
                <div class="notation withLoaderInside">
                    {% include 'PolitizrFrontBundle:Reputation:_noteAction.html.twig' with { 'subject': debate } only %}
                </div>
            </div>
            {# include('includes/share.php') #}
        </div>

        {% include 'PolitizrFrontBundle:Monitoring:_sidebarAbuse.html.twig' with { 'subject': debate } only %}

        {% if app.user and app.user.id == debate.pUserId %}
            {% include 'PolitizrFrontBundle:Monitoring:_sidebarAskForUpdate.html.twig' with { 'subject': debate } only %}
        {% endif %}

        <div class="sidebarSubjectFollowers withLoaderInside">
            {% include 'PolitizrFrontBundle:Navigation\\Xhr:_xhrLocalLoader.html.twig' %}
            <div id="subjectFollowers" uuid="{{ debate.uuid }}"></div>
        </div>
    </div>
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/comments.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/detailDebate.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
