{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% set metaTitle = debate.title | purify | trim %}
{% set metaDescription = debate.description | striptags | truncate(160, true) | purify %}
{% set ogDescription = debate.description | striptags | truncate(295, true) | purify %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogImage %}{{ debate | ogImage(app.request.getSchemeAndHttpHost()) }}{% endblock ogImage %}
{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ ogDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}
{% block tcImage %}{{ debate | tcImage(app.request.getSchemeAndHttpHost()) }}{% endblock tcImage %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/selection-sharer.css') }}" />
{% endblock %}

{% block bodyClass %}
    {% spaceless %}
        {% if debate.PCTopicId %}
            {% set circle = debate.circle %}
            {% if (isGrantedE() or isGrantedC()) %}
                class="grp grp-{{ circle.PCOwner.slug }}"
            {% else %}    
                class="grp public grp-{{ circle.PCOwner.slug }}"
            {% endif %}
        {% else %}
            {{ parent() }}
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block header %}
    {% if (isGrantedE() or isGrantedC()) %}
        {% embed 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
            {% block topLeftMenu %}
                {% if debate.PCTopicId %}
                    {% set circle = debate.circle %}
                    {% include 'PolitizrFrontBundle:Navigation\\Menu:_circleTopLeftMenu.html.twig' with { 'circle': circle } only %}
                {% else %}
                    {{ parent() }}
                {% endif %}
            {% endblock %}
            {% block newSubject %}
                {{ debate | newSubject }}
            {% endblock newSubject %}
        {% endembed %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block preMain %}
    {{ debate | circleContext }}
{% endblock %}

{% block headerMsg %}
    {{ parent() }}
    
    {{ debate | documentOperation }}
    {{ debate | readOnlyMessage }}
{% endblock %}

{% block content %}
    <div id="content">
        <div class="post">
            {% include 'PolitizrFrontBundle:User:_summary.html.twig' with { 'user': debate.user, 'withSocialLinks': false, 'withMandates': false } only %}
            <h5>{% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'subject': debate } only %}</h5>
            <div class="postStats">
                {% include 'PolitizrFrontBundle:Document:_statsMini.html.twig' with { 'document': debate, 'facebook': true } only %}
            </div>
            
            <div id="cardPost">
                <span class="postTitle subject">{{ debate.title }}</span>
                {% if debate.fileName %}
                    <div id="cardPostImgHolder">
                        {% if debate.copyright | purify | length > 0 %}
                            <div id="cardPostImgLegend">{{ debate.copyright | purify }}</div>
                        {% endif %}
                        <div id="cardPostImg">
                            {{ debate | image('debate_header') }}
                        </div>
                    </div>
                {% endif %}
                <div id="cardPostText">
                    {% for paragraph in paragraphs %}
                        <div id="p-{{ loop.index }}" class="paragraph">
                            {% include 'PolitizrFrontBundle:Comment:_paragraph.html.twig' with { 'document': debate, 'noParagraph': loop.index } only %}
                            {{ paragraph | purify }}
                        </div>
                    {% endfor %}
                    {% if not app.user %}
                        {% include 'PolitizrFrontBundle:Navigation\\Helper:_createAccountToFullRead.html.twig' with { 'document': debate } %}
                    {% endif %}
                </div>

                {% if reactions | length > 0 %}
                    {% include 'PolitizrFrontBundle:Reaction:_listReactionsToPost.html.twig' with { 'document': debate, 'reactions': reactions } only %}
                {% endif %}

                <div id="cardPostTextFooter">
                    {{ debate | footer }}
                </div>
            </div>
            <div id="p-0">
                {% include 'PolitizrFrontBundle:Comment:_global.html.twig' with { 'document': debate } only %}
            </div>

            <div class="postTags">
                <h5>Thématiques abordées</h5>
                <div class="tagList">
                    {{ debate | docTags }}
                </div>
            </div>

            {% include 'PolitizrFrontBundle:Document:_listSimilarsToPost.html.twig' with { 'documents': similars } only %}
        </div>
    </div>
{% endblock content %}

{% block sidebarContent %}
    {% if not app.user %}
        {% include 'PolitizrFrontBundle:Navigation\\Menu:_createAccount.html.twig' %}
    {% endif %}
    {% include 'PolitizrFrontBundle:Debate:_sidebar.html.twig' %}
{% endblock sidebarContent %}

{% block sidebarFooter %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_sidebar.html.twig' with { 'document': debate } %}
{% endblock %}

{% block javascriptFooter %}
    {{ parent() }}

    <script src="{{ asset('bundles/politizrfront/js/politizr/selection-sharer.js') }}"></script>
    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/smoke.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/detail.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/comments.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/user/listing.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/detailDebate.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
