{% set layout = 'PolitizrFrontBundle::layout.html.twig' %}
{% if (isGrantedE()) %}
    {% set layout = 'PolitizrFrontBundle::layoutE.html.twig' %}
{% elseif (isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutC.html.twig' %} 
{% endif %}
{% extends layout %}

{% block connexionBox %}
    {% if not is_granted('ROLE_PROFILE_COMPLETED') %}
        {{ render(controller('PolitizrFrontBundle:Security:login')) }}
    {% endif %}
{% endblock %}

{% block fixedActions %}
    <div id="fixedActions">
        {% if app.user and app.user | isAuthorizedToReact(debate) %}
            <a class="actionReact" href="{{ path('ReactionDraftNew', { 'debateId': debate.id, 'parentId': null }) }}">
                <i class="iconReaction"></i>réagir
            </a>
        {% endif %}
        <a class="actionGotoDebate" href="{{ path('DebateFeed', { 'slug': debate.slug }) }}">
            <i class="iconTimeline"></i>fil du débat
        </a>
        <div class="subscribe actionFollow withLoaderInside">
            {{ debate | linkSubscribeDebate }}
        </div>
    </div>
{% endblock fixedActions %}

{% block main %}
    <div id="main">
        <div class="postSummary">
            <div class="pad40">
                <div class="postSummaryHeader">
                    <div class="readingTime">
                        {# @todo temps de lecture #}
                        <i class="iconTime"></i>X minutes
                    </div>
                    <div class="postNote">
                        <div class="notePlus">
                            {{ debate.notePos }}<i class="iconNotePlus"></i>
                        </div>
                        <div class="noteMinus">
                            <i class="iconNoteMinus"></i>{{ debate.noteNeg }}
                        </div>
                    </div>
                </div>
                <div class="postSummaryFooter">
                    <div class="postSummaryTagList">
                        {{ debate | docTags }}
                    </div>
                    <div class="postSummaryTitle">
                        {{ debate.title }}
                    </div>
                    <div class="postSummaryActivity">
                        <div class="reactionsCounter">
                            <i class="iconReaction"></i>
                            {{ debate | nbReactions }}
                        </div>
                        <div class="commentsCounter" action="paragraphCommentsCounter">
                            <i class="iconComment"></i>
                            {{ debate | nbComments }}
                        </div>
                    </div>
                </div>
            </div>                      
            {{ debate | image('debate_header') }}
        </div>
        <div id="illustration_l">
            {{ debate | image('debate_header') }}
        </div>
        <div id="illustration_r">
            {{ debate | image('debate_header') }}
        </div>
        <div id="copyrightHolder">
            {# @todo maj bdd > nouveaux champs copyright_text + copyright_url #}
            <i class="iconCopyright" action="showCopyright"></i>
            <div id="copyrightBox" style="display: none;" action="showCopyright">
                <i class="iconArrowUp"></i>
                Nom prénom, <a href="" target="_blank">lien</a>
            </div>
        </div>
    
        <div id="lateralHolder">
            <div id="postAuthor">
                {% include 'PolitizrFrontBundle:User:_author.html.twig' with { 'user': debate.user } only %}
            </div>
            <div id="postInfos">
                {% include 'PolitizrFrontBundle:DateTime:_publishedAt.html.twig' with { 'dateTimeAt': debate.publishedAt } only %}
            </div>
        </div>

        <div id="postText">
            {% for paragraph in paragraphs %}
                <div class="paragraph">
                    {% include 'PolitizrFrontBundle:Comment:_counter.html.twig' with { 'document': debate, 'paragraphNo': loop.index } only %}
                    <p>{{ paragraph | raw }}</p>
                    {# @todo chargement des imgLiquid post ajax #}
                    <div class="comments"></div>
                </div>
            {% endfor %}
        </div>

        <div id="giveNote" class="withLoaderInside">
            <div class="ajaxLoader" style="display: none;">
                <i class="iconSpin5 animateSpin"></i>
                <div class="ajaxLoaderBg"></div>
            </div>
            <span>noter cette publication : </span>
            <div class="notes postNote">
                {{ debate | linkNoteDebate }}
            </div>
        </div>

        {% if debate.countReactions(true, true) %}
            {% include 'PolitizrFrontBundle:Reaction:_listReactionsToPost.html.twig' with { 'document': debate } only %}
        {% endif %}

    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS:followers.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:notation.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:comments.js.twig' %}

    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}
{% endblock javascriptFooter %}
