{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}

{% extends layout %}

{% block title %}
    {{ parent() }} - {{ debate.title }}
{% endblock title %}

{% block header %}
    {% if app.user and app.user | isAuthorizedToReportAbuse %}
        {% embed 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
            {% block abuse %}
                {% include 'PolitizrFrontBundle:Monitoring:_abuseLink.html.twig' with { 'uuid': debate.uuid, 'type': debate.type } only %}
            {% endblock abuse %}
        {% endembed %}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block connexionBox %}
    {% if not is_granted('ROLE_PROFILE_COMPLETED') %}
        {{ render(controller('PolitizrFrontBundle:Security:login')) }}
    {% endif %}
{% endblock %}

{% block fixedActions %}
    <div id="fixedActions">
        {% if app.user and app.user.id == debate.pUserId %}
            <div class="actionAskForUpdate">
                <a action="modalAskForUpdate" type="{{ constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE') }}" uuid="{{ debate.uuid }}"><i class="iconPublish"></i>Demande de modification</a>
            </div>
        {% endif %}
        {% if app.user and app.user | isAuthorizedToReact(debate) %}
            <a class="actionReact" href="{{ path('ReactionDraftNew'~profileSuffix, { 'debateId': debate.id, 'parentId': null }) }}">
                <i class="iconReaction"></i>réagir
            </a>
        {% endif %}
        <a class="actionGotoDebate" href="{{ path('DebateFeed'~profileSuffix, { 'slug': debate.slug }) }}">
            <i class="iconTimeline"></i>fil du débat
        </a>
        <div class="subscribe{% if app.user.id == debate.pUserId %} noSelfSubscribe{% endif %}">
            {{ debate | linkSubscribeDebate }}
        </div>
    </div>
{% endblock fixedActions %}

{% block main %}
    <div id="main">
        <div class="postSummary">
            <div class="pad40">
                <div class="postSummaryHeader">
                    <div class="readingTime">
                        <i class="iconTime"></i>{{ debate | readingTime }}
                    </div>
                    <div class="postNote">
                        <div class="notePlus">
                            {{ debate.notePos }}<i class="iconNotePlus"></i>
                        </div>
                        <div class="noteMinus">
                            <i class="iconNoteMinus"></i>{{ debate.noteNeg }}
                        </div>
                    </div>
                </div>
                <div class="postSummaryFooter">
                    <div class="postSummaryTagList">
                        {{ debate | docTags }}
                    </div>
                    <div class="postSummaryTitle">
                        {{ debate.title }}
                    </div>
                    <div class="postSummaryActivity">
                        <div class="reactionsCounter">
                            <i class="iconReaction"></i>
                            {{ debate | nbReactions }}
                        </div>
                        <div class="commentsCounter" action="paragraphCommentsCounter">
                            <i class="iconComment"></i>
                            {{ debate | nbComments }}
                        </div>
                    </div>
                </div>
            </div>                      
            {{ debate | image('debate_header') }}
        </div>
        <div id="illustration_l">
            {{ debate | image('debate_header') }}
        </div>
        <div id="illustration_r">
            {{ debate | image('debate_header') }}
        </div>

        {% include 'PolitizrFrontBundle:Document:_copyright.html.twig' with { 'copyright': debate.copyright } %}
    
        <div id="lateralHolder">
            <div id="postAuthor">
                {% include 'PolitizrFrontBundle:User:_author.html.twig' with { 'user': debate.user } only %}
            </div>
            <div id="postInfos">
                {% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'dateTimeAt': debate.publishedAt } only %}
            </div>
        </div>

        <div id="postText">
            {% for paragraph in paragraphs %}
                <div id="p-{{ loop.index }}" class="paragraph">
                    <div class="counter">
                        {% include 'PolitizrFrontBundle:Comment:_counter.html.twig' with { 'document': debate, 'paragraphNo': loop.index } only %}
                    </div>
                    {{ paragraph | purify }}
                    <div class="comments"></div>
                </div>
            {% endfor %}
        </div>

        <div id="giveNote">
            <span>noter cette publication : </span>
            <div class="notes postNote withLoaderInside">
                <div class="ajaxLoader" style="display: none;">
                    <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
                </div>
                {{ debate | linkNoteDebate }}
            </div>
        </div>

        {% if debate.countReactions(true, true) %}
            {% include 'PolitizrFrontBundle:Reaction:_listReactionsToPost.html.twig' with { 'document': debate } only %}
        {% endif %}

    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/reputation/notation.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/comments.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
