{# beta #}
{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/medium-editor-insert-plugin.min.css') }}">

    {# needed > /!\ medium plugin not compatible with imgLiquid #}
    <style>
        #postText img {
            max-width:100%;
            max-height:100%;
        }
    </style>
{% endblock %}

{% block javascriptHeader %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/medium-editor.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/handlebars-v4.0.11.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery-sortable-min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.fileupload.js') }}"></script>
{% endblock %}

{% block title %}Éditer un sujet de discussion - {{ parent() }}{% endblock title %}

{% block bodyClass %}
    {% spaceless %}
        {% if debate.PCTopicId %}
            class="user edition grp"
        {% else %}
             class="user edition"
        {% endif %}
    {% endspaceless %}
{% endblock bodyClass %}

{% block header %}
    {% embed 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
        {% block newSubject %}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block headerMsg %}
    {{ parent() }}

    {{ debate | editDocumentBanner }}
{% endblock %}

{% block content %}
    <div class="modalPublish" style="display: none">
        <div class="modalPublishContent">
            <div class="modalPublishContentHeader"><span>Qualifiez votre publication</span><a action="closeModalPublish"><i class="icon-cross"></i></a></div>
            <div class="modalPublishScrollable">
                <div class="docLocChoice">
                    <h5>1. Zonage de publication</h5>
                    <div class="notice">
                        <i class="icon-info"></i><b>Cette publication concerne:</b>
                    </div>
                    <form id="formDocLoc">
                        {{ form_errors(formLocalization) }}
                        {% for type in formLocalization.loc_type %}
                            {{ form_row(type) }}
                            {% if loop.index == 1 %}
                                {{ form_widget(formLocalization.localization_city) }}<br/>
                            {% elseif loop.index == 2 %}
                                {{ form_widget(formLocalization.localization_department) }}<br/>
                            {% elseif loop.index == 3 %}
                                {{ form_widget(formLocalization.localization_region) }}<br/>
                            {% elseif loop.index == 4 %}
                                &nbsp;
                            {% elseif loop.index == 5 %}
                                {{ form_widget(formLocalization.localization_circonscription) }}<br/>
                            {% endif %}
                        {% endfor %}
                        {{ form_rest(formLocalization) }}
                    </form>
                </div>
                <div class="docTypes">
                    <h5>2. Type de publication</h5>
                    <div class="notice">
                        <i class="icon-info"></i><b>Cochez le(s) type(s) associé(s) à votre publication.</b>
                    </div>
                    {{ debate | editTagTypeForm }}
                </div>
                <div class="docTags">
                    <h5>3. Thématiques abordées</h5>
                    <div class="notice">
                        <i class="icon-info"></i><b>Ajouter des thématiques de votre choix et/ou cochez parmi les rubriques associées à votre publication (5 thématiques maximum)</b>
                    </div>
                    {{ debateTagsEdit(debate, constant('Politizr\\Constant\\TagConstants::TAG_TYPE_THEME'), 1, true) }}
                    {{ debate | editTagFamilyForm }}
                </div>
            </div>
            {{ app.user | isAuthorizedToPublishDebate(debate) }}
            <div class="modalPublishBg"></div>
        </div>
    </div>
    <div id="content">
        <div id="modalNoEdition">
            <div class="noEdition">
                <div class="alertNoEdition">
                    <i class="icon-info"></i> L'édition d'un sujet n'est pas disponible sur mobile.
                </div>
                <p>Un brouillon a été sauvegardé. Vous pourrez le modifier ultérieurement.</p>
                <a href="javascript: history.go(-1)">Retour page précédente</a>
                <a href="{{ path('Homepage'~profileSuffix()) }}">Retour page d'accueil</a>
            </div>
        </div>
        <div class="editionPostCard">
            <form method="POST" name="debate" id="formDebateUpdate" class="autoSubmitForm" uuid="{{ debate.uuid }}" type="{{ constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE') }}">
                <div class="formBlock">
                    <div class="formBlockHeader">
                        <label>Titre</label>
                    </div>
                    {{ form_widget(form.title, { 'attr': {'placeholder': 'Donnez un titre à votre sujet de discussion'}}) }}
                </div>
                <div class="formBlock">
                    <div class="formBlockHeader">
                        <label>Texte</label>
                        {% include 'PolitizrFrontBundle:Navigation\\Helper:_textEditor.html.twig' %}
                    </div>
                    <!-- idem alpha -->
                    <div id="postText" path="{{ oneup_uploader_endpoint('document') }}" delete="{{ path('DocImageDelete') }}">
                        <div class="paragraph">
                            <div class="editable description">
                                {{ debate.description | purify('custom') }}
                            </div>
                        </div>
                    </div>
                </div>
                {# hidden form inputs filled by js #}
                {{ form_row(form.description) }}
                {{ form_rest(form) }}
            </form>
        </div>
        <div class="postTags">
            <div class="formBlockHeader">
                <label>Thématiques abordées</label>
                {% include 'PolitizrFrontBundle:Navigation\\Helper:_addTagToPublication.html.twig' %}
            </div>
            <div class="tagList">
            </div>
        </div>
   </div>
{% endblock content %}

{% block sidebarContent %}
    {% include 'PolitizrFrontBundle:Debate:_sidebarEdit.html.twig' %}
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("Édition d'un sujet");
        </script>
    {% endif %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/smoke.min.js'
        '@PolitizrFrontBundle/Resources/public/js/medium-editor-insert-plugin.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/medium.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/edit.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/tag/editTags.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/editDebate.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
