{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block javascriptHeader %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.cycle2.min.js') }}"></script>  
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery-ui.autocomplete.min.js') }}"></script>
{% endblock javascriptHeader %}

{% block header %}
    {% embed 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
        {% block socialLinks %}{% endblock socialLinks %}
    {% endembed %}
{% endblock header %}

{% block modalBox %}
    {{ parent() }}

    {% include 'PolitizrFrontBundle:Debate:_modalEditUpload.html.twig' %}
{% endblock modalBox %}


{% block fixedActions %}
    <div id="fixedActions">
        <div class="ajaxLoader" style="display: none;">
            <i class="iconSpin5 animateSpin"></i>
            <div class="ajaxLoaderBg"></div>
        </div>
        <div class="actionSave">
            <a action="debateSave" subjectId="{{ debate.id }}"><i class="iconDraft"></i>sauvegarder</a>
        </div>
        <div class="actionPublish">
            <a action="debatePublish" subjectId="{{ debate.id }}"><i class="iconPublish"></i>publier</a>
        </div>
        <div class="actionDelete">
            <a action="debateDelete" subjectId="{{ debate.id }}"><i class="iconCross"></i>supprimer</a>
        </div>
    </div>
{% endblock fixedActions %}

{% block main %}
    <div id="main">
        <form method="POST" name="debate" id="formDebateUpdate" class="autoSubmitForm">
            <div class="postSummary">
                <div class="pad40">
                    <div class="postSummaryFooter">
                        {{ form_widget(form.title, { 'attr': {'class': 'postSummaryTitle', 'placeholder': 'Donnez un titre à votre débat'}}) }}
                    </div>
                </div>
                <div id="bigCamera" action="modalUploadOpen"><i class="iconCamera"></i><i class="iconNotifYes"></i></div>

                <div id="illustrationMain">
                    {{ debate | image('debate_header') }}
                </div>
            </div>
            <div id="illustration_l">
                {{ debate | image('debate_header') }}
            </div>
            <div id="illustration_r">
                {{ debate | image('debate_header') }}
            </div>
            <div id="copyrightHolder">
                <i class="iconCopyright" action="showCopyright"></i>
                <div id="copyrightBox" style="display: none;" action="showCopyright">
                    <i class="iconArrowUp"></i>
                    <div id="copyright">
                        {{ debate.copyright | raw }}
                    </div>
                </div>
            </div>

            <div id="lateralHolder">
                <div id="lateralInfo">
                    <i class="iconInfo"></i><br>
                    <b>Attention, une fois publié, vous ne pourrez plus modifier votre débat.</b>
                </div>
            </div>
            
            <div class="tagBox">
                <div class="fieldsetHeader">
                    <div class="fieldsetHeaderTitle">les thématiques du débat</div>
                    <i class="iconQuestion" action="toggleHelper"></i>
                    <div class="helperSlider helperSliderRight" style="display: none;">
                        <i class="iconArrowUp"></i>
                        <i class="iconCross" action="hideHelper"></i>
                        @todo : slider ajouter un tag
                    </div>
                </div>

                {{ debateTagsEdit(debate, null, 1, true) }}
            </div>

            <div id="postText">
                <div class="paragraph">
                    <i class="iconQuestion" action="toggleHelper"></i>
                    <div class="helperSlider helperSliderLeft" style="display: none;">
                        <i class="iconArrowUp"></i>
                        <i class="iconCross" action="hideHelper"></i>
                        <h4>éditer un champ texte</h4>
                        {% include 'PolitizrFrontBundle:Navigation\\Helper:_edition.html.twig' %}
                    </div>
                    <div class="editable description">
                        {{ debate.description | raw }}
                    </div>
                </div>
            </div>

            {# hidden form inputs filled by js #}
            {{ form_row(form.description) }}
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/smoke.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/medium-editor.min.js') }}"></script>  
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.form.min.js') }}"></script>

    {% include 'PolitizrFrontBundle:JS\\Tag:editTags.js.twig' with { 'nbZones': 1 } %}

    {% include 'PolitizrFrontBundle:JS\\Document:medium.js.twig' %}
    {% include 'PolitizrFrontBundle:JS\\Document:edit.js.twig' %}
    {% include 'PolitizrFrontBundle:JS\\Document:editPhoto.js.twig' %}
{% endblock javascriptFooter %}
