{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block title %}
    {{ parent() }} - Éditer un débat
{% endblock title %}

{% block javascriptHeader %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.cycle2.min.js') }}"></script>  
{% endblock javascriptHeader %}

{% block header %}
    {% embed 'PolitizrFrontBundle:Navigation\\Header:_headerConnected.html.twig' %}
        {% block socialLinks %}{% endblock socialLinks %}
    {% endembed %}
{% endblock header %}

{% block modalBox %}
    {{ parent() }}

    {% include 'PolitizrFrontBundle:Debate:_modalEditUpload.html.twig' %}
{% endblock modalBox %}


{% block fixedActions %}
    <div id="fixedActions">
        <div class="ajaxLoader" style="display: none;">
            <div class="ajaxLoaderSpinner"></div><div class="ajaxLoaderBg"></div><div class="ajaxLoaderBlockClick"></div>
        </div>
        <div class="actionSave">
            <a action="debateSave" subjectId="{{ debate.id }}"><i class="iconDraft"></i>enregistrer</a>
        </div>

        {{ app.user | isAuthorizedToPublishDebate(debate.id) }}

        <div class="actionDelete">
            <a action="debateDelete" subjectId="{{ debate.id }}"><i class="iconCross"></i>supprimer</a>
        </div>
    </div>
{% endblock fixedActions %}

{% block main %}
    <div id="main">
        <form method="POST" name="debate" id="formDebateUpdate" class="autoSubmitForm">
            <div class="postSummary">
                <div class="pad40">
                    <div class="postSummaryFooter">
                        {{ form_widget(form.title, { 'attr': {'class': 'postSummaryTitle', 'placeholder': 'Donnez un titre à votre débat'}}) }}
                    </div>
                </div>
                <div id="bigCamera" action="modalUploadOpen"><i class="iconCamera"></i><i class="iconNotifYes"></i></div>

                <div id="illustrationMain">
                    {{ debate | image('debate_header') }}
                </div>
            </div>
            <div id="illustration_l">
                {{ debate | image('debate_header') }}
            </div>
            <div id="illustration_r">
                {{ debate | image('debate_header') }}
            </div>
            <div id="copyrightHolder">
                <i class="iconCopyright" action="showCopyright"></i>
                <div id="copyrightBox" style="display: none;" action="showCopyright">
                    <i class="iconArrowUp"></i>
                    <div id="copyright">
                        {{ debate.copyright | purify }}
                    </div>
                </div>
            </div>

            <div id="lateralHolder">
                <div id="lateralInfo">
                    <i class="iconInfo"></i><br>
                    <b>Attention, une fois publié, vous ne pourrez plus modifier votre débat.</b>
                </div>
            </div>
            
            <div class="tagBox">
                <div class="fieldsetHeader">
                    <div class="fieldsetHeaderTitle">les thématiques du débat</div>
                    <i class="iconQuestion" action="toggleHelper"></i>
                    <div class="helperSlider helperSliderRight" style="display: none;">
                        <i class="iconArrowUp"></i>
                        <i class="iconCross" action="hideHelper"></i>
                        @todo : slider ajouter un tag
                    </div>
                </div>

                {{ debateTagsEdit(debate, null, 1, true) }}
            </div>

            <div id="postText">
                <div class="paragraph">
                    <i class="iconQuestion" action="toggleHelper"></i>
                    <div class="helperSlider helperSliderLeft" style="display: none;">
                        <i class="iconArrowUp"></i>
                        <i class="iconCross" action="hideHelper"></i>
                        <h4>éditer un champ texte</h4>
                        {% include 'PolitizrFrontBundle:Navigation\\Helper:_edition.html.twig' %}
                    </div>
                    <div class="editable description">
                        {{ debate.description | purify }}
                    </div>
                </div>
            </div>

            {# hidden form inputs filled by js #}
            {{ form_row(form.description) }}
            {{ form_rest(form) }}
        </form>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    <script>
        var nbZones = 1;
        var service = 'tag';
        var xhrRoute = ROUTE_TAG_LISTING;
        var xhrUrlPrefix = '/xhr';
    </script>

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/smoke.min.js'
        '@PolitizrFrontBundle/Resources/public/js/medium-editor.min.js'
        '@PolitizrFrontBundle/Resources/public/js/jquery.form.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/tag/editTags.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/medium.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/edit.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/editPhoto.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
