{# beta #}
{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block title %}Éditer un sujet de discussion - {{ parent() }}{% endblock title %}

{% block bodyClass %} class="user edition"{% endblock bodyClass %}

{% block headerMsg %}
    {{ parent() }}

    {{ debate | editDocumentBanner }}
{% endblock %}

{% block content %}
    <div class="modalPublish" style="display: none">
        <div class="modalPublishContent">
            <div class="modalPublishContentHeader"><span>Qualifiez votre publication</span><a action="closeModalPublish"><i class="icon-cross"></i></a></div>
            <div class="modalPublishScrollable">
                <div class="docLocChoice">
                    <h5>1. Zonage de publication</h5>
                    <div class="notice">
                        <i class="icon-info"></i><b>Cette publication concerne:</b>
                    </div>
                    <form id="formDocLoc">
                        {{ form_errors(formLocalization) }}
                        {% for type in formLocalization.loc_type %}
                            {{ form_row(type) }}
                            {% if loop.index == 1 %}
                                {{ form_widget(formLocalization.localization_city) }}<br/>
                            {% elseif loop.index == 2 %}
                                {{ form_widget(formLocalization.localization_department) }}<br/>
                            {% elseif loop.index == 3 %}
                                {{ form_widget(formLocalization.localization_region) }}<br/>
                            {% elseif loop.index == 4 %}
                                &nbsp;
                            {% elseif loop.index == 5 %}
                                {{ form_widget(formLocalization.localization_circonscription) }}<br/>
                            {% endif %}
                        {% endfor %}
                        {{ form_rest(formLocalization) }}
                    </form>
                </div>
                <div class="docTypes">
                    <h5>2. Type de publication</h5>
                    <div class="notice">
                        <i class="icon-info"></i><b>Cochez le(s) type(s) associé(s) à votre publication.</b>
                    </div>
                    {{ debate | editTagTypeForm }}
                </div>
                <div class="docTags">
                    <h5>3. Thématiques abordées</h5>
                    <div class="notice">
                        <i class="icon-info"></i><b>Ajouter des thématiques de votre choix et/ou cochez parmi les rubriques associées à votre publication (5 thématiques maximum)</b>
                    </div>
                    {{ debateTagsEdit(debate, constant('Politizr\\Constant\\TagConstants::TAG_TYPE_THEME'), 1, true) }}
                    {{ debate | editTagFamilyForm }}
                </div>
            </div>
            {{ app.user | isAuthorizedToPublishDebate(debate.uuid) }}
            <div class="modalPublishBg"></div>
        </div>
    </div>
    <div id="content">
        <div id="modalNoEdition">
            <div class="noEdition">
                <div class="alertNoEdition">
                    <i class="icon-info"></i> L'édition d'un sujet n'est pas disponible sur mobile.
                </div>
                <p>Un brouillon a été sauvegardé. Vous pourrez le modifier ultérieurement.</p>
                <a href="javascript: history.go(-1)">Retour page précédente</a>
                <a href="{{ path('Homepage'~profileSuffix()) }}">Retour page d'accueil</a>
            </div>
        </div>
        <div class="editionPostCard">
            {% set uploadAction = path('XhrGeneric', {'xhrRoute': constant('Politizr\\Constant\\XhrConstants::ROUTE_DOCUMENT_PHOTO_UPLOAD'), 'xhrService': 'document', 'xhrMethod': 'documentPhotoUpload', 'xhrType': constant('Politizr\\Constant\\XhrConstants::RETURN_URL')}) %}
            <form method="POST" action="{{ uploadAction }}" name="debate" id="formDebateUpdate" class="autoSubmitForm" enctype="multipart/form-data">
                <div class="formBlock">
                    <div class="formBlockHeader">
                        <label>Titre</label>
                    </div>
                    {{ form_widget(form.title, { 'attr': {'placeholder': 'Donnez un titre à votre sujet de discussion'}}) }}
                </div>
                <div class="formBlock">
                    <div class="formBlockHeader">
                        <label>Illustration</label>
                    </div>
                    <div class="postIllustration">
                        <div id="uploadedPhoto">
                            {% if debate.fileName %}
                                {{ debate | image('debate_header', false) }}
                            {% endif %}
                        </div>
                        <label for="fileName"><i class="icon-camera"></i></label>
                    </div>
                    <div class="uploadIllustration">
                        <input type="file" name="fileName" id="fileName">
                        <input type="hidden" name="uuid" value="{{ debate.uuid }}">
                        <input type="hidden" name="type" value="{{ constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE') }}">
                        <label for="fileName">Sélectionner une image d'illustration</label>
                        <a class="photoDelete" action="fileDelete" uuid="{{ debate.uuid }}" type="{{ constant('Politizr\\Constant\\ObjectTypeConstants::TYPE_DEBATE') }}"><i class="icon-remove"></i>Supprimer</a>
                        {{ form_widget(form.copyright, { 'attr': {'placeholder': 'Saississez ici la légende de votre illustration'}}) }}
                    </div>
                </div>
                <div class="formBlock">
                    <div class="formBlockHeader">
                        <label>Texte</label>
                        {% include 'PolitizrFrontBundle:Navigation\\Helper:_textEditor.html.twig' %}
                    </div>
                    <!-- idem alpha -->
                    <div id="postText">
                        <div class="paragraph">
                            <div class="editable description">
                                {{ debate.description | purify }}
                            </div>
                        </div>
                    </div>
                </div>
                {# hidden form inputs filled by js #}
                {{ form_row(form.description) }}
                {{ form_rest(form) }}
            </form>
        </div>
        <div class="postTags">
            <div class="formBlockHeader">
                <label>Thématiques abordées</label>
                {% include 'PolitizrFrontBundle:Navigation\\Helper:_addTagToPublication.html.twig' %}
            </div>
            <div class="tagList">
            </div>
        </div>
   </div>
{% endblock content %}

{% block sidebarContent %}
    {% include 'PolitizrFrontBundle:Debate:_sidebarEdit.html.twig' %}
{% endblock sidebarContent %}

{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("Édition d'un sujet");
        </script>
    {% endif %}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/smoke.min.js'
        '@PolitizrFrontBundle/Resources/public/js/medium-editor.min.js'
        '@PolitizrFrontBundle/Resources/public/js/jquery.form.min.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/medium.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/edit.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/editPhoto.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/tag/editTags.js'
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/editDebate.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
