{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% block title %}
    {{ parent() }} - Fil du débat - {{ debate.title }}
{% endblock title %}

{% block connexionBox %}
    {% if not is_granted('ROLE_PROFILE_COMPLETED') %}
        {{ render(controller('PolitizrFrontBundle:Security:login')) }}
    {% endif %}
{% endblock %}

{% block fixedActions %}
    <div id="fixedActions">
        <div class="subscribe{% if app.user.id == debate.pUserId %} noSelfSubscribe{% endif %}">
            {{ debate | linkSubscribeDebate }}
        </div>
    </div>
{% endblock fixedActions %}

{% block main %}
    <div id="main">
        <div class="postSummary">
            <div class="pad40">
                <div class="postSummaryHeader">
                    <div class="readingTime">
                        <i class="iconTime"></i>{{ debate | readingTime }}
                    </div>
                    <div class="postNote">
                        <div class="notePlus">
                            {{ debate.notePos }}<i class="iconNotePlus"></i>
                        </div>
                        <div class="noteMinus">
                            <i class="iconNoteMinus"></i>{{ debate.noteNeg }}
                        </div>
                    </div>
                </div>
                <div class="postSummaryFooter">
                    <div class="postSummaryTagList">
                        {{ debate | docTags }}
                    </div>
                    <div class="postSummaryTitle">
                        <a href="{{ path('DebateDetail', { 'slug': debate.slug }) }}">{{ debate.title }}</a>
                    </div>
                    <div class="postSummaryPublishedAt">
                        {% include 'PolitizrFrontBundle:Navigation\\DateTime:_publishedAt.html.twig' with { 'dateTimeAt': debate.publishedAt } only %},
                    </div>                    
                    <div class="postSummaryAuthor">
                        {% include 'PolitizrFrontBundle:User:_authorMini.html.twig' with { 'user': debate.user } only %}
                    </div>
                    <div class="postSummaryActivity">
                        <div class="reactionsCounter">
                            <i class="iconReaction"></i>
                            {{ debate | nbReactions }}
                        </div>
                        <div class="commentsCounter" action="paragraphCommentsCounter">
                            <i class="iconComment"></i>
                            {{ debate | nbComments }}
                        </div>
                    </div>
                </div>
            </div>                      
            {{ debate | image('debate_header') }}
        </div>
        <div id="illustration_l">
            {{ debate | image('debate_header') }}
        </div>
        <div id="illustration_r">
            {{ debate | image('debate_header') }}
        </div>
        <div id="copyrightHolder">
            {# @todo maj bdd > nouveaux champs copyright_text + copyright_url #}
            <i class="iconCopyright" action="showCopyright"></i>
            <div id="copyright" style="display: none;" action="showCopyright">
                <i class="iconArrowUp"></i>
                Nom prénom, <a href="" target="_blank">lien</a>
            </div>
        </div>

        <div id="timeline">
            {% if noResult %}
                {% include 'PolitizrFrontBundle:PaginatedList:_noResult.html.twig' with { 'type': constant('Politizr\\Constant\\ListingConstants::FEED_DEBATE_TYPE') } only %}
            {% else %}
                <div id="timelineHeader" class="stickyTimelineHeader">
                    <div class="timelinePickADate">
                        <i class="iconNow"></i> Aller au ...
                        <select action="goToDate">
                            <option>sélectionnez une date</option>
                            {% for dateTimeAt, timeline in timelineDateKey %}
                                <option value="#day-{{ dateTimeAt | date('Y-m-d') }}">{% include 'PolitizrFrontBundle:Navigation\\DateTime:_dateAt.html.twig' with { 'dateTimeAt': dateTimeAt } only %}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% include 'PolitizrFrontBundle:Timeline:_timeline.html.twig' with { 'timelineDateKey': timelineDateKey, 'debateContext': true } only %}
            {% endif %}
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/document/feed.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
