{% set layout = 'PolitizrFrontBundle::layout.html.twig' %}
{% if (isGrantedE()) %}
    {% set layout = 'PolitizrFrontBundle::layoutE.html.twig' %}
{% elseif (isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutC.html.twig' %} 
{% endif %}
{% extends layout %}

{% block connexionBox %}
    {% if not is_granted('ROLE_PROFILE_COMPLETED') %}
        {{ render(controller('PolitizrFrontBundle:Security:login')) }}
    {% endif %}
{% endblock %}

{% block fixedActions %}
    <div class="subscribe actionFollow withLoaderInside">
        {{ debate | linkSubscribeDebate }}
    </div>
    
    {{ parent() }}
{% endblock fixedActions %}

{% block main %}
    <div id="main">
        <div class="postSummary">
            <div class="pad40">
                <div class="postSummaryHeader">
                    <div class="readingTime">
                        {# @todo temps de lecture #}
                        <i class="iconTime"></i>X minutes
                    </div>
                    <div class="postNote">
                        <div class="notePlus">
                            {{ debate.notePos }}<i class="iconNotePlus"></i>
                        </div>
                        <div class="noteMinus">
                            <i class="iconNoteMinus"></i>{{ debate.noteNeg }}
                        </div>
                    </div>
                </div>
                <div class="postSummaryFooter">
                    <div class="postSummaryTagList">
                        {{ debate | docTags }}
                    </div>
                    <div class="postSummaryTitle">
                        <a href="{{ path('DebateDetail', { 'slug': debate.slug }) }}">{{ debate.title }}</a>
                    </div>
                    <div id="postSummaryPublishedAt">
                        {% include 'PolitizrFrontBundle:DateTime:_publishedAt.html.twig' with { 'dateTimeAt': debate.publishedAt } only %}
                    </div>                    
                    <div class="postSummaryAuthor">
                        {% include 'PolitizrFrontBundle:User:_authorMini.html.twig' with { 'user': debate.user } only %}
                    </div>
                    <div class="postSummaryActivity">
                        <div class="reactionsCounter">
                            <i class="iconReaction"></i>
                            {{ debate | nbReactions }}
                        </div>
                        <div class="commentsCounter" action="paragraphCommentsCounter">
                            <i class="iconComment"></i>
                            {{ debate | nbComments }}
                        </div>
                    </div>
                </div>
            </div>                      
            <div class="illustrationShadow"></div>
            {{ debate | image('debate_header') }}
        </div>
        <div id="illustration_l">
            <div class="illustrationShadow"></div>
            {{ debate | image('debate_header') }}
        </div>
        <div id="illustration_r">
            <div class="illustrationShadow"></div>
            {{ debate | image('debate_header') }}
        </div>
        <div id="copyrightHolder">
            {# @todo maj bdd > nouveaux champs copyright_text + copyright_url #}
            <i class="iconCopyright" action="showCopyright"></i>
            <div id="copyright" style="display: none;" action="showCopyright">
                <i class="iconArrowUp"></i>
                Nom prénom, <a href="" target="_blank">lien</a>
            </div>
        </div>

        <div id="timeline">
            {% for dateTimeAt, timeline in timelineDateKey %}
                <div class="timelineDayContainer">
                    <div class="timelineDay">
                        <h4>
                            <i class="iconCalendar"></i>
                            {% include 'PolitizrFrontBundle:DateTime:_dateAt.html.twig' with { 'dateTimeAt': dateTimeAt } only %}
                        </h4>
                    </div>
                    {% for timelineRow in timeline %}
                        {{ timelineRow(timelineRow) }}
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}
    
    {% include 'PolitizrFrontBundle:JS:timeline.js.twig' %}

{% endblock javascriptFooter %}
