{% extends 'PolitizrFrontBundle::layoutConnected.html.twig' %}

{% block javascriptHeader %}
    {{ parent() }}
    {# <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/dropzone.js') }}"></script> #}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.ui.widget.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.iframe-transport.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.fileupload.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function()
    {
        $('#fileupload').fileupload({
            'formData': {
                id: 1,
                example: 'hop'
            }
        })
        .bind('fileuploaddone', function (e, data) {
            console.log("fileuploaddone");
            console.log(data);
        })
        .bind('fileuploadfail', function (e, data) {
            console.log("fileuploadfail");
            console.log(data);
        });
    });
    </script>
{% endblock %}

{% block content %}
    {# <form action="{{ oneup_uploader_endpoint('gallery') }}" class="dropzone" style="width:200px; height:200px; border:4px dashed black">
</form> #}
    <input id="fileupload" type="file" name="files[]" data-url="{{ oneup_uploader_endpoint('document') }}" multiple />
{% endblock content %}