{# beta #}
<div id="publicHeaderImage">
    <div id="publicBaseline">
        <span>Changerez-vous d’opinion?</span><br>
        Politizr est une plateforme indépendante et neutre
        permettant aux élu-e-s* de toute la France
        de débattre publiquement des sujets proposés
        par leurs concitoyens. 
    </div>
    <img src="{{ asset('bundles/politizrfront/images/f-headerGirl.jpg') }}" alt="">
    <img src="{{ asset('bundles/politizrfront/images/f-headerGirlGradient.jpg') }}" alt="">
</div>
<div id="publicContent">
    <div class="center">
        <h5 id="videoTitle">Politizr : Comment ça marche ?</h5>
        <div class="argu embedVideo">                       
            <iframe width="" height="" src="https://www.youtube.com/embed/7WHZpebc9q4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="argu arguLeft">
            <div class="arguText">
                <div class="verticalAlign">
                    <h1>Suivez les sujets de discussion qui vous intéressent...</h1><br>
                    Recherchez un sujet par zone géographique (locale, régionale ou nationale), par tag ou par participant.<br><br>
                    Consultez le détail des publications, suivez toute nouvelle intervention et constituez votre fil de discussion personnel.<br><br>
                    <h1>et créez ceux qui n’existent pas encore...</h1><br>
                    Rédigez les termes d'un sujet de discussion pour susciter les réponses des élus et les commentaires des citoyens.
                </div>
            </div>
            <img src="{{ asset('bundles/politizrfront/images/f-argu1.jpg') }}" alt="">
        </div>
        <div class="argu arguRight">
            <div class="arguText">
                <div class="verticalAlign">
                    <h1>participez aux discussions...</h1><br>
                    Apportez votre contribution — en publiant une réaction, un commentaire, ou simplement, en attribuant une note — et faites progresser les débats!<br><br>
                    Élu-e et ex-élu-e : répondez à toutes les publications quel que soit ou quel que fût votre mandat électoral.
                </div>
            </div>
            <img src="{{ asset('bundles/politizrfront/images/f-argu2.jpg') }}" alt="">
        </div>
        <div class="argu arguLeft">
            <div class="arguText">
                <div class="verticalAlign">
                    <h1>suivez l’activité de vos élu-e-s et des autres utilisateurs</h1><br>
                    Ne perdez pas le fil de la discussion : suivez toutes les nouvelles publications minute par minute sur votre fil d’actualité : réactions, commentaires, activité de vos publications, évolution des réputations, ... Rien ne vous échappera.
                </div>
            </div>
            <img src="{{ asset('bundles/politizrfront/images/f-argu3.jpg') }}" alt="">
        </div>
        <div class="argu arguRight">
            <div class="arguText">
                <div class="verticalAlign">
                    <h1>améliorez votre réputation</h1><br>
                    En prenant part aux discussions, en partageant des publications sur les réseaux sociaux, en obtenant de nouveaux badges, ... vous améliorerez votre réputation et votre visibilité sur le site.
                </div>
            </div>
            <img src="{{ asset('bundles/politizrfront/images/f-argu4.jpg') }}" alt="">
        </div>
    </div>
</div>
