<div id="homeLive">
    <div class="wrapper">
        <div class="pltzrHeader"><i class="iconPltzrLogoAlt"></i></div>
        {% if activeDebate %}
            <div class="liveItem">
                <h1>débat le plus actif aujourd’hui</h1>
                {% include 'PolitizrFrontBundle:Debate:_homepageDebate.html.twig' with {'debate': activeDebate} only %}
            </div>
            <div class="separator"></div>
        {% endif %}
        {% if followedDebate %}
            <div class="liveItem">
                <h1>débat le plus suivi aujourd’hui</h1>
                {% include 'PolitizrFrontBundle:Debate:_homepageDebate.html.twig' with {'debate': followedDebate} only %}
            </div>
            <div class="separator"></div>
        {% endif %}
        <div class="liveItem">
            <h1>les plus populaires aujourd’hui</h1>
            {% if citizenUser %}
                <div class="liveItemLeft">
                    <div class="avatar60">
                        <a href="{{ path('UserDetail', { 'slug': citizenUser.slug }) }}">
                            {{ citizenUser | photo('user_60') }}
                        </a>
                    </div>
                    <div class="listProfileLeft">
                        <div class="authorName">
                            {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with {'user': citizenUser} only %}
                        </div>
                        <div class="authorSubtitle">{{ citizenUser.subtitle | purify }}</div>
                    </div>
                </div>
            {% endif %}
            {% if electedUser %}
                <div class="liveItemRight">
                    <div class="avatar60">
                        <a href="{{ path('UserDetail', { 'slug': electedUser.slug }) }}">
                            {{ electedUser | photo('user_60') }}
                        </a>
                    </div>
                    <div class="listProfileRight">
                        <div class="authorName">
                            {% include 'PolitizrFrontBundle:User:_authorName.html.twig' with {'user': electedUser} only %}
                            {% include 'PolitizrFrontBundle:User:_authorOrganization.html.twig' with {'user': electedUser} only %}
                        </div>
                        <div class="authorSubtitle">{{ electedUser.subtitle | purify }}</div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>