{# @todo > à simplifier, rendre administrable et brancher #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% set metaTitle = 'Le concept' %}
{% set metaDescription = 'Le concept de Politizr: une nouvelle idée de la démocratie participative s\'invente ici: digitale, participative, concrète, locale et sans frontière.' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block bodyClass %} class="public visitor noHeaderTrigger"{% endblock %}

{% block main %}
    <div id="animConceptTitle">
        <div class="center">
            <h1>Une nouvelle idée de la politique s’invente ici :<br>
                Digitale. Participative. Concrète. Locale et sans frontières. </h1>
            <h2>
                POLITIZR est un acteur français de la Civic Tech qui propose un espace de discussion favorisant les échanges structurées et argumentées dans un temps long propice à la qualité du débat.
            </h2>
        </div>
    </div>
    <div id="animConcept">
        <div class="center">
            <!-- post vous -->
            <div id="postCitizen" class="animConceptActivity">
                <div class="animFadeIn">
                    <div class="animConceptIcon"><i class="icon-plane"></i></div>
                    <div class="animConceptActivityContent">
                        <div class="avatar40"><img src="{{ asset('bundles/politizrfront/images/f-avatarMick.jpg') }}"></div>
                        <div class="animConceptActivityBio">
                            <b>Vous</b>
                        </div>
                        <div class="animConceptActivityText">
                            Le changement du sens de circulation Bd De Gaulle pose problème
                            <i>En effet, des bouchons...</i>
                        </div>
                    </div>  
                </div>
                <div class="animConceptSpot"><i class="icon-geomark"></i></div>     
            </div>  
            
            <!-- reco citoyen -->
            <div id="recoCitizen" class="animConceptActivity">
                <div class="animFadeIn">
                    <div class="animConceptIcon"><i class="icon-like-yes"></i></div>
                    <div class="animConceptActivityContent">
                        <div class="animConceptMiniText">
                            Michel recommande votre sujet “Changement du sens de circulation”
                        </div>  
                    </div>
                </div>
                <div class="animConceptSpot"><i class="icon-geomark"></i></div> 
            </div>
            
            <!-- post opposant -->
            <div id="postOpposition" class="animConceptActivity">
                <div class="animFadeIn">
                    <div class="animConceptIcon"><i class="icon-answer"></i></div>
                    <div class="animConceptActivityContent">
                        <div class="avatar40"><img src="{{ asset('bundles/politizrfront/images/f-avatarOpposant.jpg') }}"></div>
                        <div class="animConceptActivityBio">
                            
                            <b>Jean-Marc vous a répondu</b><br><i>Adjoint à l'urbanisme</i>
                        </div>
                        <div class="animConceptActivityText">
                            Ce changement résulte d'un réaménagement global de la circulation en centre ville
                            <i>Au cours du dernier conseil municipal...</i>
                        </div>
                    </div>  
                </div>
                <div class="animConceptSpot"><i class="icon-geomark"></i></div>     
            </div>  
                
            <!-- post maire + reponse opposant-->
            <div id="postMaire" class="animConceptActivity">
                <div class="animFadeIn">
                    <div class="animConceptIcon"><i class="icon-answer"></i></div>
                    <div class="animConceptActivityContent">
                        <div class="avatar40"><img src="{{ asset('bundles/politizrfront/images/f-avatarMaire.jpg') }}"></div>
                        <div class="animConceptActivityBio">
                            
                            <b>Charlotte vous a répondu</b><br><i>Maire, présidente de la communauté de communes</i>
                        </div>
                        <div class="animConceptActivityText">
                            Merci pour votre retour, nous allons essayer de corriger les effets inattendus
                            <i>Malheureusement, nous ne pouvons pas tout anticiper...</i>
                        </div>
                    </div>  
                </div>
                <div class="animConceptSpot"><i class="icon-geomark"></i></div>
                <div class="animFadeIn oppostantAnswer">
                    <div class="animConceptActivityContent">
                        <div class="avatar40"><img src="{{ asset('bundles/politizrfront/images/f-avatarOpposant.jpg') }}"></div>
                        <div class="animConceptActivityBio">                        
                            <b>Jean-Marc a répondu</b><br><i>Adjoint à l'urbanisme</i>
                        </div>
                        <div class="animConceptActivityText">
                            Des élus prévoient de se rendre sur place
                            <i>Nous allons organiser une observation pour mieux...</i>
                        </div>
                    </div>  
                </div>  
            </div>
            
            <!-- comment citoyen -->
            <div id="comCitizen" class="animConceptActivity">
                <div class="animFadeIn">
                    <div class="animConceptIcon"><i class="icon-comment"></i></div>
                    <div class="animConceptActivityContent">
                        <div class="animConceptMiniText">
                            Margot a commentée votre sujet “Changement du sens de circulation”
                        </div>  
                    </div>
                </div>
                <div class="animConceptSpot"><i class="icon-geomark"></i></div> 
            </div>
            
            <!-- post outsider + like du maire -->
            <div id="postOutsider" class="animConceptActivity">
                <div class="animFadeIn">
                    <div class="animConceptIcon"><i class="icon-answer"></i></div>
                    <div class="animConceptActivityContent">
                        <div class="avatar40"><img src="{{ asset('bundles/politizrfront/images/f-avatarOutsider.jpg') }}"></div>
                        <div class="animConceptActivityBio">
                            
                            <b>Vincent vous a répondu</b><br><i>Maire d’un village à l’autre bout de la France</i>
                        </div>
                        <div class="animConceptActivityText">
                            Mieux anticiper les flux
                            <i>Je vous suggère de vous rapprocher de l'organisme "Circuler en ville" pour mieux prévoir et anticiper les flux...</i>
                        </div>
                    </div>  
                </div>
                <div class="animConceptSpot"><i class="icon-geooutsider"></i></div>     
                <div class="animFadeIn mayorLike">
                    <div class="animConceptIcon"><i class="icon-like-yes"></i></div>
                    <div class="animConceptActivityContent">
                        <div class="avatar40"><img src="{{ asset('bundles/politizrfront/images/f-avatarMaire.jpg') }}"></div>
                        <div class="animConceptActivityBio">                                
                            <b>Charlotte recommande cette réponse</b><br><i>Maire, présidente de la communauté de communes</i>
                        </div>
                    </div>  
                </div>
            </div>  
            
            
        </div>
        
    </div>
    <div id="topBlocMacbook">
        <div class="center">
            <div class="conceptCol conceptLeftCol">
                <h2>Vous êtes un citoyen?</h2>
                POLITIZR permet aux citoyen.ne.s d’exprimer leurs points de vue et questions et leur offre un espace de dialogue constructif avec leurs élu­.e.­s et leurs collectivités.
                <h2>Vous êtes un élu?</h2>
                POLITIZR permet aux élu­.e.s d’expliquer publiquement leurs actions pour ainsi co­-construire la décision publique en toute transparence.
                <h2>Vous êtes une collectivité?</h2>
                POLITIZR vous propose des offres dédiées!
            </div>
            
            <div class="conceptCol conceptRightCol">
                <img src="{{ asset('bundles/politizrfront/images/f-graphTree.svg') }}" width="410">
                Conçu comme un véritable réseau social de la citoyenneté, POLITIZR permet de suivre l’actualité politique à toutes les échelles territoriales et propose une interface performante de rédaction, suivi, notation, commentaires et partage de contenus.<br/><br/>
                Inscrit dans la démarche de l'ESS et du Mouvement des Entrepreneurs Sociaux, POLITIZR est neutre, indépendant, sans publicité et gratuit! Notre modèle économique est basée sur la vente de services payants à destination des collectivités et la mise à disposition en marque blanche de notre outil pour les associations, entreprises et toute structure intéressée.
            </div>
            
        </div>
    </div>
    <div id="blockMacbook">
        <div id="macbook"><img src="{{ asset('bundles/politizrfront/images/f-macbook.png') }}"></div>
    </div>
    <div id="macbookFloor">
        <div class="center">
            <div class="conceptCol conceptLeftCol">
                <h1>Améliorer la vie locale en développant des échanges de proximité dans toute la France</h1>
            </div>
            
            <div class="conceptCol conceptRightCol">
                <p>Aménagement du territoire, sécurité, économie, environnement, patrimoine, éducation, ...<br>
                Nombreux sont les sujets qui attendent d’être révélés et discutés dans votre rue, votre quartier, votre ville, votre département ou votre région.</p>
                <a href="{{ path('Inscription') }}">Exprimez-vous et lancez un sujet</a>
            </div>          
        </div>
    </div>
    
    <div id="blockMarianne">
        <div class="center">
            <div id="bgBlockMarianne">
                <div id="marianne"></div>
                <div class="conceptCol conceptLeftCol">
                        POLITIZR est un acteur français de la Civic Tech, ou technologie civique, qui représente l’ensemble des procédés, outils et technologies qui permettent d’améliorer le système politique.
                        <br/><br/>
                        Devenez acteur de votre territoire !
                </div>
                
                <div class="conceptCol conceptRightCol">
                    Nous avons mis en place un processus de validation sécurisé permettant de certifier l’identité et les mandats des utilisateurs disposant d’un compte “élu”.
                    <div class="conceptNoteCertif">
                        <div class="status"><div class="representativeIdChecked"><i class="icon-profil-elu"></i><span>Profil certifié</span></div></div>
                        <p>Les élu.e.s certifié.e.s sont reconnaissables grâce à ce label présent sur leurs profils.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="blockGraphAssembly">
        <div class="center centerCTA">
            <a href="{{ path('InscriptionElected') }}">Inscription élu</a>
            <a href="{{ path('Inscription') }}">Inscription citoyen</a>
        </div>
    </div>

    {#
    <div id="blockGraphAssembly">
        <div class="center">
            <div class="concept3Col">
                <img src="{{ asset('bundles/politizrfront/images/f-graph-majorite.svg') }}" width="130">
                <p>Élu.e.s de la majorité inscrivez-vous pour expliquer ou construire vos décisions avec vos concitoyens.</p>
            </div>
            <div class="concept3Col">
                <img src="{{ asset('bundles/politizrfront/images/f-graph-minorite.svg') }}" width="130">
                <p>Élu.e.s de l’opposition inscrivez-vous afin de porter la parole de vos électeurs et être force de proposition.</p>
            </div>
            <div class="concept3Col">
                <img src="{{ asset('bundles/politizrfront/images/f-graph-exelu.svg') }}" width="130">
                <p>Ancien.ne.s élu-e-s inscrivez-vous afin de défendre votre bilan et partager votre expérience.</p>
            </div>
        </div>
        <div class="center centerCTA">
            <a href="{{ path('InscriptionElected') }}">Inscription élu</a>
            <a href="{{ path('Inscription') }}">Inscription citoyen</a>
        </div>
    </div>
    #}
    
    <div id="modalVideo" style="display: none;">
        <div id="modalVideoConcent">
            <div id="modalVideoClose" action="closeVideoModal">Fermer<i class="icon-cross"></i></div>
            <iframe id="politizrVideo" width="640" height="360" src="https://www.youtube.com/embed/7WHZpebc9q4?rel=0&showinfo=0&enablejsapi=1&version=3&playerapiid=ytplayer" frameborder="0" allowfullscreen></iframe>
        </div>
        <div id="modalVideoBg" action="closeVideoModal"></div>
    </div>
    
    <div id="blockVideo">
        <div class="center">
            <h1>“Facile, intuitif et élégant”</h1>
            <p>POLITIZR est disponible sur tous vos terminaux numériques — ordinateurs, smartphones ou tablettes — sans téléchargements.</p>
            <i class="icon-play" action="openVideoModal"></i>
        </div>
    </div>

{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}


{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/concept.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
