{% extends 'PolitizrFrontBundle::layoutHelp.html.twig' %}

{% block wrapper %}
    <i class="iconMenu" action="toggleAssitMobileMenu"></i>
    <div id="assistHeader">
        <a href="{{ path('Homepage') }}"><i class="iconPltzrLogoAlt"></i></a>
        <script>
        $("body").on("click", "[action='toggleAssitMobileMenu']", function() {
            $('body.css980 #assistSidebar').toggle();
        });
        </script>
    </div>
    <div id="assistSidebar">        
        <div id="assistMenu">
            <span>Premiers pas</span>
            <span class="assistMenuIntro">Comment bien démarrer sur Politizr<!--  après votre inscription -->? Suivez le guide!</span>
            <a href="#p-profile" action="toggleAssitMobileMenu">1. Complétez votre profil</a>
            <a href="#p-search" action="toggleAssitMobileMenu">2. Trouvez des débats et des utilisateurs</a>
            <a href="#p-consult" action="toggleAssitMobileMenu">3. Consultez un débat, ses réactions et ses commentaires</a>
            <a href="#p-follow" action="toggleAssitMobileMenu">4. Abonnez-vous à des débats et à des utilisateurs</a>
            <a href="#p-vote" action="toggleAssitMobileMenu">5. Votez</a>
            <a href="#p-comment" action="toggleAssitMobileMenu">6. Commentez</a>
            <a href="#p-publish" action="toggleAssitMobileMenu">7. Publiez un nouveau sujet de débat ou une réaction</a>
            
            
            <span>Comment ça marche?</span>
            <a href="#p-editor" action="toggleAssitMobileMenu">Éditeur de texte</a>
            <a href="#p-reputation" action="toggleAssitMobileMenu">Réputation et badges</a>
<!--                <a href="#p-moderation" action="toggleAssitMobileMenu">Modération</a> -->
            <a href="#p-rules" action="toggleAssitMobileMenu">Règles principales</a>
            
        </div>
    </div>
    
    <div id="assistContent">
        <div id="noteForMobile">
            Vous trouverez ci-dessous la page d'assistance pour la <b>version ordinateur</b> de Politizr.<br>
            La <b>version pour smartphone</b> sera disponible prochainement.
        </div>
        
        <div class="assistItem" id="p-profile">
            <h1>1. Complétez votre profil</h1>
            Votre page profil permet aux autres utilisateurs de vous retrouver et d'en connaître d'avantage sur vous. Remplissez-la avec soin!<!--  — les publications anonymes sont impossible sur Politizr, nous vous demandons donc de remplir soigneusement les informations vous concernant --><br>
            <ol type="a">
                <li>Cliquez sur votre nom dans le bandeau supérieur pour <b>afficher votre profil</b>.
                <img src="{{ asset('bundles/politizrfront/images/assistance/1a.jpg') }}" alt="Cliquez sur votre nom dans le bandeau supérieur pour afficher votre profil" width="698" height="">
                </li>
                
                <li>Cliquez sur <b>"éditer"</b> en bas a gauche pour mettre votre profil à jour.
                <img src="{{ asset('bundles/politizrfront/images/assistance/1b.jpg') }}" alt="Cliquez sur éditer en bas a gauche pour mettre votre profil à jour" width="698" height="">
                </li>
                
                <li><b>Téléchargez une image de profil</b> en cliquant sur l'icône caméra en haut à gauche de l'avatar et parcourez le contenu de votre ordinateur pour sélectionner l'image de votre choix.
                <i class="info">Format de fichier accepté : .jpg, .jpeg, .png.</i>
                <img src="{{ asset('bundles/politizrfront/images/assistance/1c.jpg') }}" alt="Téléchargez une image de profil" width="698" height="">
                </li>
                
                <li><b>Téléchargez une image d'entête</b> en cliquant sur l'icône caméra au centre du bandeau puis sur "parcourir" pour sélectionner l'image de votre choix.<br>
                <i class="info">Format de fichier accepté : .jpg, .jpeg, .png.</i>
                Précisez un crédit si nécessaire, puis cliquez sur "Valider".
                <img src="{{ asset('bundles/politizrfront/images/assistance/1d.jpg') }}" alt="Téléchargez une image d'entête" width="698" height="">
                </li>
                
                <li>Saisissez les <b>thématiques</b> correspondant à vos centres d'intérêt.<br>
                Saisissez un mot clé et cliquez sur l'icône "valider" pour l'associer à votre profil.<br>
                <i class="info">Ces thématiques nous permettent de vous suggérer de nouveaux débats ou de nouveaux profils pouvant correspondre à vos centres d'intérêt.<br>
                Les "thématiques publiques" seront visibles sur votre profil. Les "thématiques privées" ne seront pas publiées sur votre profil.</i>
                <img src="{{ asset('bundles/politizrfront/images/assistance/1e.jpg') }}" alt="Saisissez les thématiques correspondant à vos centres d'intérêts" width="698" height="">       
                </li>
                
                <li>Spécifiez votre <b>famille politique</b>.<br>
                <i class="info red">NB : Liste des partis politiques disposant d'au moins X élus.</i>
                <img src="{{ asset('bundles/politizrfront/images/assistance/1m.jpg') }}" alt="Spécifiez votre famille politique" width="698" height="">
                </li>
                
                <li>Décrivez-vous <b>en quelques mots</b>.<br>
                <i class="info">Cette brève présentation sera associée à vos publications.</i><br>
                <a href="#p-editor">Comment mettre un texte en forme?</a>       
                </li>
                
                <li>Saisissez le texte de votre <b>biographie</b>.<br>
                <i class="info">Cette espace permet de développer votre présentation (parcours, intérêts, ...) qui sera visible sur votre page de profil</i><br>
                <a href="#p-editor">Comment mettre un texte en forme?</a>
                <img src="{{ asset('bundles/politizrfront/images/assistance/1f.jpg') }}" alt="Saisissez le texte de votre biographie" width="698" height="">     
                </li>
                
                <li>Renseignez les adresses internet de <b>vos réseaux sociaux</b>.<br>
                Si vous en disposez, vous pouvez insérez ici les liens vers vos comptes Twitter, Facebook et votre site internet.
                <img src="{{ asset('bundles/politizrfront/images/assistance/1h.jpg') }}" alt="Renseignez les adresses internet de vos réseaux sociaux" width="698" height="">
                </li>
                
                <li>Renseignez vos <b>mandats électoraux</b>.<br>
                <i class="info red">NB : Réservé aux comptes "débatteurs".<br>Les comptes "débatteurs" sont payants et réservés aux élus et ex-élus au suffrage universel direct et indirect.</i>
                Sélectionnez votre mandat dans la liste déroulante.<br>
                Saisissez l'année de début et l'année de fin du mandat.<br>
                Saisissez le lieu ou la circonscription du mandat.<br>
                Cliquez sur "Ajouter" pour enregistrer ce mandat.<br>
                <i class="info">Il vous suffit de recommencer cette procédure pour ajouter un autre mandat à votre profil.</i>  
                <img src="{{ asset('bundles/politizrfront/images/assistance/1i.jpg') }}" alt="Renseignez vos mandats électoraux" width="698" height="">
                </li>   
                
                <li>Enregistrez vos modifications en cliquant sur le bouton <b>"sauvegarder"</b> en bas à gauche de votre écran.
                <img src="{{ asset('bundles/politizrfront/images/assistance/1j.jpg') }}" alt="Enregistrez vos modifications" width="698" height="">
                </li>   
                <div class="separator"></div>
                <i class="info">Pensez également à régler vos préférences de notifications par email.</i>
                <img src="{{ asset('bundles/politizrfront/images/assistance/1k.jpg') }}" alt="Pensez également à régler vos préférences de notifications par email" width="698" height="">
                <img src="{{ asset('bundles/politizrfront/images/assistance/1l.jpg') }}" alt="Pensez également à régler vos préférences de notifications par email" width="698" height="">
                <div class="separator"></div>
					<i class="info" id="#changeName">Pour modifier votre nom ou votre prénom :</i>
					<img src="{{ asset('bundles/politizrfront/images/assistance/1n.jpg') }}" alt="" width="698" height="">
					<img src="{{ asset('bundles/politizrfront/images/assistance/1o.jpg') }}" alt="" width="698" height="">
            </ol>
        </div>
        
        <div class="assistItem" id="p-search">
            <h1>2. Trouvez des débats et des utilisateurs</h1>
            <h3>En utilisant le module de recherche</h3>
            <ol type="a">
                <li>Cliquez sur <b>"recherchez"</b> dans le menu latéral.
                <img src="{{ asset('bundles/politizrfront/images/assistance/2a.jpg') }}" alt="Cliquez sur recherchez dans le menu latéral" width="698" height="">
                </li>
                
                <li>Saisissez les premières lettres de votre mot clé dans le <b>champ de recherche</b>, sélectionnez le terme qui vous convient et cliquez sur <b>"lancez votre recherche"</b>.
                <img src="{{ asset('bundles/politizrfront/images/assistance/2b.jpg') }}" alt="Saisissez les premières lettres" width="698" height="">
                <img src="{{ asset('bundles/politizrfront/images/assistance/2c.jpg') }}" alt="Saisissez les premières lettres" width="698" height="">
                <img src="{{ asset('bundles/politizrfront/images/assistance/2d.jpg') }}" alt="Saisissez les premières lettres" width="698" height="">
                </li>
                
                
                <li>Sélectionnez l'onglet <b>"publications" ou "profils"</b> au dessus de la liste des résultats.</li>
                <li>Affinez les résultats en utilisant les <b>filtres</b> sur la gauche de la liste des résultats.
                <img src="{{ asset('bundles/politizrfront/images/assistance/2e.jpg') }}" alt="Sélectionnez l'onglet publications ou profils" width="698" height="">
                </li>
                
                <li>Cliquez sur le titre d'un débat ou sur le nom d'un profil pour <b>en afficher le détail</b>.
                </li>
            </ol>
            <div class="separator"></div>
            <h3>En utilisant le classement</h3>
            <ol type="a">
                <li>Cliquez sur <b>"classement"</b> dans le menu supérieur.
                <img src="{{ asset('bundles/politizrfront/images/assistance/2f.jpg') }}" alt="Cliquez sur classement" width="698" height="">
                </li>
                                
                <li>Sélectionnez l'onglet <b>"publications" ou "profils"</b> au dessus de la liste des résultats.</li>
                <li>Affinez les résultats en utilisant les <b>filtres</b> sur la gauche de la liste des résultats.
                <img src="{{ asset('bundles/politizrfront/images/assistance/2g.jpg') }}" alt="Sélectionnez l'onglet publications ou profils" width="698" height="">
                </li>
                                
                <li>Cliquez sur le titre d'un débat ou sur le nom d'un profil pour <b>en afficher le détail</b>.            
                <img src="{{ asset('bundles/politizrfront/images/assistance/2h.jpg') }}" alt="Cliquez sur le titre d'un débat ou sur le nom d'un profil" width="698" height="">
                </li>
            </ol>                   
        </div>
        
        <div class="assistItem" id="p-consult">
            <h1>3. Consultez un débat, ses réactions et ses commentaires</h1>
            
            <h3>Comment s'organise un débat sur politizr?</h3>
            <img src="{{ asset('bundles/politizrfront/images/assistance/wdiw-hierarchisation.jpg') }}" alt="hierarchisation" width="700" height="431">
            <ul>
                <li>A l'origine de tout débat : le <b>sujet</b>.<br>
                Article court ou développé, les sujets posent les termes d'un débat.<br>
                Ils peuvent prendre la forme d'une question, d'une opinion ou d'une argumentation déjà construite appelant une réponse ou une contre-opinion.<br>
                <a href="#p-searchPublications">Comment trouver un débat?</a>
                </li>
                <li>En réponse à ces sujets de débat : les <b>réactions</b>.<br>
                Une réaction peut être publiée en réponse à un sujet de débat ou à une autre réaction.<br>
                Les liens vers les réactions à une publication (sujet de débat ou réaction) se trouvent à la fin du texte d'une publication.<br>
                <img src="{{ asset('bundles/politizrfront/images/assistance/3a.jpg') }}" alt="réactions" width="698" height="">
                </li>
                
                <li>Le <b>fil du débat</b> récapitule l'activité d'un débat au jour le jour : réactions, publications des profils auxquels vous êtes abonnés, ...<br>
                <a href="#p-follow">Comment suivre un profil?</a>
                <img src="{{ asset('bundles/politizrfront/images/assistance/3b.jpg') }}" alt="fil du débat" width="698" height="">
                </li>
                
                <li><b>A noter :</b> les mises en forme des sujets de débat et des réactions sont identiques.
                <img src="{{ asset('bundles/politizrfront/images/assistance/wdiw-post.jpg') }}" alt="mises en forme des sujets de débat et des réactions sont identiques" width="700" height="522">
                </li>
            </ul>
            <div class="separator"></div>
            <h3>Les commentaires</h3>
            Les commentaires sur les débats et les réactions se font <b>paragraphe par paragraphe</b> pour permettre une argumentation précise.<br><br>
            Le chiffre a côté de l'icône commentaire correspond au nombre de commentaires publiés sur ce paragraphe. Il suffit de <b>cliquer sur l'icône</b> pour dévoiler les commentaires correspondant à un paragraphe donné.<br>
            <img src="{{ asset('bundles/politizrfront/images/assistance/3c.jpg') }}" alt="Les commentaires sur les débats et les réactions se fontparagraphe par paragraphe" width="698" height="">
            <img src="{{ asset('bundles/politizrfront/images/assistance/3d.jpg') }}" alt="Cliquez sur l'icône pour dévoiler les commentaires" width="698" height="">
            Les commentaires <b>les plus récents</b> se trouvent en début de liste.<br><br>
                
                                    
        </div>
        
        <div class="assistItem" id="p-follow">
            <h1>4. Abonnez-vous à des débats et à des utilisateurs</h1>
            S'abonner à des débats ou à des utilisateurs vous permet d'être notifié lorsqu'un nouveau contenu est disponible.<br><br>
            <b>"Mon politizr"</b> (page d'accueil du site lorsque vous êtes identifié) récapitule au jour le jour l'ensemble des nouvelles publications pertinentes qui sont faites sur les débats auxquels vous vous êtes abonné, l'activité des profils que vous avez choisi de suivre ainsi que les interactions associées à vos propres publications.<br>
            <img src="{{ asset('bundles/politizrfront/images/assistance/4a.jpg') }}" alt="Abonnez-vous à des débats et à des utilisateurs" width="698" height="">
            Vous pouvez vous abonner à des débats et à des utilisateurs:<br>
            <h3>Depuis le module de recherche</h3>
            <ol type="a">
                <li>Cliquez sur <b>"recherchez"</b> dans le menu latéral.
                <img src="{{ asset('bundles/politizrfront/images/assistance/2a.jpg') }}" alt="Cliquez sur recherchez" width="698" height="">
                </li>
                
                <li>Saisissez les premières lettres de votre mot clé dans le <b>champ de recherche</b>, sélectionnez le terme qui vous convient et cliquez sur <b>"lancez votre recherche"</b>.
                <img src="{{ asset('bundles/politizrfront/images/assistance/2b.jpg') }}" alt="aisissez les premières lettres de votre mot clé" width="698" height="">
                <img src="{{ asset('bundles/politizrfront/images/assistance/2c.jpg') }}" alt="aisissez les premières lettres de votre mot clé" width="698" height="">
                <img src="{{ asset('bundles/politizrfront/images/assistance/2d.jpg') }}" alt="aisissez les premières lettres de votre mot clé" width="698" height="">
                </li>
                
                
                <li>Sélectionnez l'onglet <b>"publications" ou "profils"</b> au dessus de la liste des résultats.</li>
                <li>Affinez les résultats en utilisant les <b>filtres</b> sur la gauche de la liste des résultats.
                <img src="{{ asset('bundles/politizrfront/images/assistance/2e.jpg') }}" alt="Sélectionnez l'onglet publications ou profils" width="698" height="">
                </li>
                
                <li>Cliquez sur le lien <b>"s'abonner"</b> des publications ou profils que vous souhaitez suivre.
                <img src="{{ asset('bundles/politizrfront/images/assistance/4d.jpg') }}" alt="Cliquez sur le lien s abonner" width="698" height="">
                </li>
            </ol>       
            <div class="separator"></div>           
            <h3>Depuis la page de détail d'un fil de débat, d'un sujet de débat ou d'une réaction</h3>
            <ol type="a">
                <li>Cliquez sur le lien <b>"s'abonner"</b> présent en bas à gauche de la page pour vous abonner à l'activité du débat.
                <img src="{{ asset('bundles/politizrfront/images/assistance/4e.jpg') }}" alt="Cliquez sur le lien s abonner" width="698" height="">
                </li>
            </ol>
            <div class="separator"></div>   
            <i class="info">NB : Vous pouvez gérer vos abonnement et vous <b>désabonner</b> d'un débat ou d'un profil depuis la page "mes abonnements" ou directement sur les pages de détail d'un débat ou sur la page profil d'un utilisateur.</i>
            <img src="{{ asset('bundles/politizrfront/images/assistance/4f.jpg') }}" alt="gérer vos abonnement" width="698" height="">
            <img src="{{ asset('bundles/politizrfront/images/assistance/4g.jpg') }}" alt="gérer vos abonnement" width="698" height="">
        </div>
        
        <div class="assistItem" id="p-vote">
            <h1>5. Votez</h1>
            Marquez votre accord ou votre désaccord avec les propos tenus dans un commentaire, un sujet de débat ou une réaction en votant <b>"plus"</b> ou <b>"moins"</b>.<br>
            <ol type="a">
                <li>Cliquez simplement sur l'icône "plus" ou l'icône "moins" en fonction de votre choix. La note de la publication se mettra <b>automatiquement a jour</b>.
                <img src="{{ asset('bundles/politizrfront/images/assistance/5a.jpg') }}" alt="Cliquez simplement sur l'icône" width="698" height="">
                <img src="{{ asset('bundles/politizrfront/images/assistance/5b.jpg') }}" alt="Cliquez simplement sur l'icône" width="698" height="">
                </li>
            </ol>
            
            Vos votes font instantanément évoluer la popularité des publications et font donc varier leur <b>visibilité sur le site</b>.<br>
            <img src="{{ asset('bundles/politizrfront/images/assistance/wdiw-notation.jpg') }}" alt="notation" width="700" height="305"> 
            
            <i class="info red">NB : Les votes négatifs sont plus coûteux en points de réputation que les votes positifs.<br>
            <a href="#p-reputation">Comment fonctionne la réputation?</a><br><br></i>
            
        </div>
        
        <div class="assistItem" id="p-comment">
            <h1>6. Commentez</h1>
            <i class="info">La publication d'un commentaire n'est possible qu'à partir d'un certain niveau de réputation.<br>
            <a href="#p-reputation">Comment fonctionne la réputation?</a>
            </i><br><br>
            <ol type="a">
                <li>Cliquer sur l'icône commentaire pour dévoiler le bloc commentaire d'un paragraphe donné. Ce bloc contient le formulaire d'ajout d'un commentaire, suivi le cas échéant des commentaires déjà publiés.
                <img src="{{ asset('bundles/politizrfront/images/assistance/6a.jpg') }}" alt="Cliquer sur l'icône commentaire pour dévoiler le bloc commentaire" width="698" height="">
                </li>
                <li>
                Saisissez votre commentaire et cliquez sur "publier" pour ajouter votre commentaire.
                <img src="{{ asset('bundles/politizrfront/images/assistance/6b.jpg') }}" alt="Saisissez votre commentaire" width="698" height="">
                </li>
            </ol>               
        </div>
        
        <div class="assistItem" id="p-publish">
            <h1>7. Publiez un nouveau sujet de débat ou une réaction</h1>
            <i class="info">La publication d'un nouveau sujet de débat ou d'une nouvelle réaction ne sont possible qu'à partir d'un certain niveau de réputation.<br>
            <a href="#p-reputation">Comment fonctionne la réputation?</a><br>
            </i>
            <i class="info red">L'édition de nouvelles publications n'est pas disponible sur la version mobile du site.</b></i><br>
            <h3>Créer un nouveau sujet de débat</h3>
            <ol type="a">
                <li>Cliquer sur le bouton <b>"nouveau débat"</b> situé dans le menu latéral.
                <img src="{{ asset('bundles/politizrfront/images/assistance/7a.jpg') }}" alt="Cliquer sur le bouton nouveau débat" width="698" height="">
                </li>
                <li>Donnez un titre à votre débat en cliquant sur <b>"donnez un titre à votre débat"</b> et saisissez le titre de votre choix.
                <i class="info">3 lignes maximum.</i>
                <img src="{{ asset('bundles/politizrfront/images/assistance/7b.jpg') }}" alt="Donnez un titre à votre débat" width="698" height="">
                </li>
                
                <li><b>Téléchargez l'image d'entête</b> de votre débat en cliquant sur l'icône caméra au centre du bandeau puis sur "parcourir" pour sélectionner l'image de votre choix.
                <i class="info">Format de fichier accepté : .jpg, .jpeg, .png.</i>
                Précisez un crédit si nécessaire, puis cliquez sur "Valider".
                <img src="{{ asset('bundles/politizrfront/images/assistance/1d.jpg') }}" alt="Téléchargez l'image d'entête" width="698" height="">
                </li>
                
                <li>Saisissez les <b>thématiques</b> couvertes par votre débat.<br>
                Saisissez un mot clé et cliquez sur l'icône "valider" pour l'associer à votre débat.<br>
                <img src="{{ asset('bundles/politizrfront/images/assistance/7d.jpg') }}" alt="Saisissez les thématiques" width="698" height="">
                </li>
                <li>Saisissez le texte de votre <b>sujet de débat</b>.<br>
                <a href="#p-editor">Comment mettre un texte en forme?</a>
                <img src="{{ asset('bundles/politizrfront/images/assistance/7e.jpg') }}" alt="Saisissez le texte de votre sujet de débat" width="698" height="">     
                </li>
                                    
                <li>En cliquant sur le bouton <b>"sauvegarder"</b> en bas à gauche de l'écran, vous enregistrez la dernière version de votre article dans vos "brouillons". N'hésitez pas à enregistrer régulièrement votre document au fur et à mesure de sa rédaction.<br>
                En cliquant sur le lien <b>"brouillons"</b> du menu latéral, vous aurez la possibilité de revenir à l'édition de vos articles.<br>
                <img src="{{ asset('bundles/politizrfront/images/assistance/7f.jpg') }}" alt="enregistrez la dernière version de votre article" width="698" height="">
                <img src="{{ asset('bundles/politizrfront/images/assistance/7g.jpg') }}" alt="revenir à l'édition de vos articles" width="698" height="">            
                </li>
                <li>Lorsque vous êtes satisfait de votre texte, il vous suffit de cliquer sur le bouton "publier" pour mettre votre sujet de débat en ligne.
                <i class="info">NB : Une fois publié, vous ne pouvez plus modifier votre texte.</i>
                <img src="{{ asset('bundles/politizrfront/images/assistance/7p.jpg') }}" alt="mettre votre sujet de débat en ligne" width="698" height="">   
                </li>
            </ol>
            <div class="separator"></div>
            <h3>Publier une réaction</h3>
            <i class="info red">NB : La publication de "réactions" est possible sur tous les débats pour les comptes "débatteurs" ou uniquement sur vos débats pour les comptes "citoyens".<br><br></i>
            <ol type="a">
                <li>Sur la page de détail d'un sujet de débat ou sur la page de détail d'une reactions, cliquez sur le bouton <b>"réagir"</b> en bas à gauche de votre écran.
                <img src="{{ asset('bundles/politizrfront/images/assistance/7i.jpg') }}" alt="cliquez sur le bouton réagir" width="698" height="">
                </li>
                <li>Donnez un titre à votre réaction en cliquant sur <b>"donnez un titre à votre réaction"</b> et saisissez le titre de votre choix.
                <i class="info">3 lignes maximum.</i>
                <img src="{{ asset('bundles/politizrfront/images/assistance/7j.jpg') }}" alt="Donnez un titre à votre réaction" width="698" height="">
                </li>

                <li><b>Téléchargez l'image d'entête</b> de votre réaction en cliquant sur l'icône caméra au centre du bandeau puis sur "parcourir" pour sélectionner l'image de votre choix.
                <i class="info">Format de fichier accepté : .jpg, .jpeg, .png.</i>
                Précisez un crédit si nécessaire, puis cliquez sur "Valider".
                <img src="{{ asset('bundles/politizrfront/images/assistance/1d.jpg') }}" alt="Téléchargez l'image d'entête" width="698" height="">
                </li>
                <li>Saisissez le texte de votre <b>réaction</b>.<br>
                <a href="#p-editor">Comment mettre un texte en forme?</a><br>
                <img src="{{ asset('bundles/politizrfront/images/assistance/7e.jpg') }}" alt="Saisissez le texte de votre réaction" width="698" height="">   
                Vous avez la possibilité de rédiger votre réaction en affichant le texte auquel vous répondez en cliquant sur <b>"rédaction comparée"</b>. 
                <img src="{{ asset('bundles/politizrfront/images/assistance/7m.jpg') }}" alt="rédaction comparée" width="698" height="">
                </li>
                
                <li>En cliquant sur le bouton <b>"sauvegarder"</b> en bas à gauche de l'écran, vous enregistrez la dernière version de votre article dans vos "brouillons". N'hésitez pas à enregistrer régulièrement votre document au fur et à mesure de sa rédaction.<br>
                <!-- @todo : update the info <i class="info">NB : Une sauvegarde automatique s'effectue toutes les xx minutes.</i> -->
                En cliquant sur le lien "brouillons" du menu latéral, vous aurez la possibilité de revenir à l'édition de vos articles.<br>
                <img src="{{ asset('bundles/politizrfront/images/assistance/7f.jpg') }}" alt="enregistrez la dernière version de votre article" width="698" height="">
                <img src="{{ asset('bundles/politizrfront/images/assistance/7g.jpg') }}" alt="revenir à l'édition de vos articles" width="698" height="">        
                </li>
                <li>Lorsque vous êtes satisfait de votre texte, il vous suffit de cliquer sur le bouton <b>"publier"</b> pour mettre votre réaction en ligne.
                <i class="info">NB : Une fois publié, vous ne pouvez plus modifier votre texte.</i>
                <img src="{{ asset('bundles/politizrfront/images/assistance/7p.jpg') }}" alt="cliquez sur le bouton publier" width="698" height="">      
                </li>
            </ol>
        </div>
                
        <div class="assistItem" id="p-editor">
            <h1>Éditeur de texte</h1>
            L'éditeur de texte Politizr vous permet de <b>mettre en forme</b> vos articles.
            <ol type="a">
                <li>Saisissez votre texte puis <b>sélectionner le texte a mettre en forme</b> pour faire apparaître l'éditeur de texte.
                <img src="{{ asset('bundles/politizrfront/images/assistance/Ea.jpg') }}" alt="sélectionner le texte a mettre en forme pour faire apparaître l'éditeur de texte" width="698" height="">
                </li>
                <li><b>L'éditeur</b> vous permet de mettre votre texte en gras (B), italique (i), sous-titre (H1), entête (H2), au format liste, au format citation et d'insérer un lien hypertexte.
                <img src="{{ asset('bundles/politizrfront/images/assistance/Eb.jpg') }}" alt="mettre votre texte en gras (B), italique (i), sous-titre (H1), entête (H2), au format liste, au format citation et d'insérer un lien hypertexte" width="698" height="">
                </li>
            </ol>
        </div>
        
        <div class="assistItem" id="p-reputation">
            <h1>Réputation et badges</h1>       
            <h3>Réputation</h3>
            <ol type="a">
                <li>Pour connaître votre nombre de points de réputation, cliquez sur votre nom dans le bandeau supérieur pour <b>afficher votre profil</b>.
                <img src="{{ asset('bundles/politizrfront/images/assistance/1a.jpg') }}" alt="afficher votre profil" width="698" height="">
                </li>
                
                <li>Votre <b>total de points de réputation</b> est affiché en haut à gauche de l'image d'entête de votre profil.
                <img src="{{ asset('bundles/politizrfront/images/assistance/Rb.jpg') }}" alt="total de points de réputation" width="698" height="">
                </li>   
            
                <li>Cliquez sur l'icône "trophée" pour suivre <b>l'évolution</b> de votre total de points de réputation au fil du temps.
                <img src="{{ asset('bundles/politizrfront/images/assistance/Rc.jpg') }}" alt="Cliquez sur l'icône "trophée"" width="698" height="">
                </li>       
            </ol>
            
            <div class="separator"></div>
            <h3>Gain/perte de points de réputation</h3>         
            Votre nombre de <b>points de réputation</b> détermine votre degré de participation à la vie du site.

            <i class="info">Points de réputation nécessaire pour...</i>
            <table cellspacing="0" id="pointActions">
                <tr id="theader">
                    <td></td>
                    <td>S'abonner</td>
                    <td>Noter [+]</td>
                    <td>Noter [-]</td>
                    <td>Commenter</td>
                    <td>Publier un débat</td>
                    <td>Publier une réaction</td>
                </tr>
                <tr>
                    <td><b>0</b></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCross"></i></td>
                    <td><i class="iconCross"></i></td>
                    <td><i class="iconCross"></i></td>
                    <td><i class="iconCross"></i></td>
                </tr>
                <tr>
                    <td><b>10</b></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCross"></i></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCross"></i></td>
                    <td><i class="iconCross"></i></td>
                </tr>
                <tr>
                    <td><b>20</b></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCross"></i></td>
                    <td><i class="iconCross"></i></td>
                </tr>
                <tr>
                    <td><b>50</b></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCross"></i></td>
                </tr>
                <tr>
                    <td><b>100</b></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCheck"></i></td>
                    <td><i class="iconCheck"></i></td>
                </tr>
            </table>
            
            <!-- <br>Votre <b>crédit de points</b> varie en fonction de vos actions et des actions des autres utilisateurs.<br>-->
            <br>Pour <b>gagner des points de réputation</b>, publiez des commentaires, débats et/ou réactions générant des notes positives.<br>
            <i class="info">Coût/gain de point en fonction des notes.</i>
            <table cellspacing="0" id="pointNotes">
                <tr id="theader">
                    <td>Note sur...</td>
                    <td colspan="2">... un commentaire</td>
                    <td colspan="2">... un sujet de débat</td>
                    <td colspan="2">... une réaction</td>
                </tr>
                <tr>
                    <td></td>
                    <td>pour <br>le noteur</td>
                    <td>pour <br>l'auteur</td>
                    <td>pour <br>le noteur</td>
                    <td>pour <br>l'auteur</td>
                    <td>pour <br>le noteur</td>
                    <td>pour <br>l'auteur</td>
                </tr>
                <tr>
                    <td>Note <i class="iconNotePlus"></i></td>
                    <td><b>+1</b></td>
                    <td><b>+5</b></td>
                    <td><b>+2</b></td>
                    <td><b>+10</b></td>
                    <td><b>+3</b></td>
                    <td><b>+15</b></td>
                </tr>
                <tr>
                    <td>Note <i class="iconNoteMinus"></i></td>
                    <td><b>-1</b></td>
                    <td><b>-1</b></td>
                    <td><b>-2</b></td>
                    <td><b>-2</b></td>
                    <td><b>-3</b></td>
                    <td><b>-3</b></td>
                </tr>
            </table>

            <br>Les abonnements à votre profil et à vos publications vous font également <b>gagner des points de réputation</b>.<br>
            <i class="info">Coût/gain de point en fonction des abonnements.</i>
            <table cellspacing="0" id="pointFollow">
                <tr id="theader">
                    <td></td>
                    <td colspan="2">Sur un débat</td>
                    <td colspan="2">Sur un profil</td>
                </tr>
                <tr>
                    <td></td>
                    <td>pour <br>l'abonné-e</td>
                    <td>pour <br>l'auteur</td>
                    <td>pour <br>l'abonné-e</td>
                    <td>pour <br>le profil suivi</td>
                </tr>
                <tr>
                    <td>Abonnement</td>
                    <td><b>-</b></td>
                    <td><b>+5</b></td>
                    <td><b>-</b></td>
                    <td><b>+5</b></td>
                </tr>
                <tr>
                    <td>Désabonnement</td>
                    <td><b>-1</b></td>
                    <td><b>-5</b></td>
                    <td><b>-1</b></td>
                    <td><b>-5</b></td>
                </tr>
            </table>
            
            <i class="info">
                <!-- @todo : update the info
                <ul>
                    <li>Vous ne pouvez pas publier plus de XX débats par jour.</li>
                    <li>Vous ne pouvez pas attribuer plus de xx notes positives par jour sur des commentaires.</li>
                    <li>Vous ne pouvez pas attribuer plus de xx notes négatives par jour sur des commentaires.</li>
                    <li>Vous ne pouvez pas attribuer plus de xx notes positives par jour sur des sujets de débat.</li>
                    <li>Vous ne pouvez pas attribuer plus de xx notes négatives par jour sur des sujets de débat.</li>
                    <li>Vous ne pouvez pas attribuer plus de xx notes positives par jour sur des réactions.</li>
                    <li>Vous ne pouvez pas attribuer plus de xx notes négatives par jour sur des réactions.</li><br>
                    <li>Un signalement pertinent vous rapporte 10 points de réputation.</li>
                    <li>Un signalement injustifié vous retire 20 points de réputation.</li>
                </ul>
                -->
                Les "débatteurs" sont crédités de 150 points de réputation à la création de leurs comptes.<br><br>
            </i>
            <div class="separator"></div>
            <h3>Badges</h3>     
            Votre activité sur le site vous permet d'obtenir de nouveaux badges illustrant votre degré de <b>participation</b>.<br>
            <ol type="a">
                <li>Pour connaître les badges que vous avez décrochés et ceux restant à obtenir, cliquez sur votre nom dans le bandeau supérieur pour <b>afficher votre profil</b>.
                <img src="{{ asset('bundles/politizrfront/images/assistance/1a.jpg') }}" alt="afficher votre profil" width="698" height="">
                </li>
                
                <li>Puis cliquez sur l'icône "trophée" : le récapitulatif de vos badges se trouve sous le graphique des points de réputation de votre profil.
                <img src="{{ asset('bundles/politizrfront/images/assistance/Bb.jpg') }}" alt="récapitulatif de vos badges se trouve sous le graphique des points de réputation de votre profil" width="698" height="">
                </li>                   
            </ol>
        </div>  
        
        <!-- @todo : update the info
        <div class="assistItem" id="p-moderation">
            <h1>Modération</h1>
            signaler un contenu
        </div>
        -->
        
        <div class="assistItem" id="p-rules">               
            <h1>Règles principales</h1>
            <h3>Hiérarchisation des auteurs et des publications.</h3>
            Politizr est conçu autour d'une distinction fonctionnelle entre les profils "débatteurs" (les élus et ex-élus au suffrage universel direct et indirect) et les profils "citoyens" :
            <ul>
                <li>Les profils "débatteurs" peuvent répondre/réagir à tous débats.</li>
                <li>Les profils "citoyens" ont la possibilité de commenter les publications des profils "débatteurs" et de répondre/réagir à leur propre débat.</li>
            </ul>
            
            <img src="{{ asset('bundles/politizrfront/images/assistance/wdiw-profiles.jpg') }}" alt="profiles" width="700" height="385">
            <div class="separator"></div>
            <h3>Tous les élus peuvent réagir à toutes les publications sans limite institutionnelle ou géographique.</h3>
            <img src="{{ asset('bundles/politizrfront/images/assistance/wdiw-nolimit.jpg') }}" alt="sans limite institutionnelle ou géographique" width="700" height="339">              
        </div>                      
    </div>
{% endblock %}