{% extends 'PolitizrFrontBundle::layout.html.twig' %}

{% block connexionBox %}
    {{ render(controller('PolitizrFrontBundle:Security:login')) }}
{% endblock %}

{% block main %}
	<div id="main">
		<h1>Accueil</h1>

		<div id="homeSlide">
			<ul>
				<li>slide débat / réactions</li>
				<li>slide profils</li>
				<li>slide gestion de ma réputation</li>
			</ul>
		</div>

		<div id="homeDebates">
			<h2>Débats les plus actifs</h2>
			<div>
				{% for debate in homeDebates %}
					{% set user = debate.pUser %}
					<div>
						<i>"<a href="{{ path('DebateDetail', { 'id': debate.id, 'slug': debate.slug }) }}">{{ debate.title }}</a>"</i> par <a href="{{ path('AuthorDetail', { 'id': user.id, 'slug': user.slug }) }}">{{ user }}</a><br/>
					</div>
				{% else %}
					<div id="noResult">Aucun débat disponible</div>
				{% endfor %}
			</div>
		</div>
		<hr>
		<div id="homeUsers">
			<h2>Profils les plus populaires</h2>
			<div>
				{% for user in homeUsers %}
					<div>
						<a href="{{ path('AuthorDetail', { 'id': user.id, 'slug': user.slug }) }}">{{ user.firstname }} {{ user.name }}</a><br/>
					</div>
				{% else %}
					<div id="noResult">Aucun profil disponible</div>
				{% endfor %}
			</div>
		</div>
		<hr>
		<div id="homeComments">
			<h2>Vos derniers commentaires</h2>
			<div>
				{% for comment in homeComments %}
					{% set debate = comment.pDDebate %}
					<div>
						<i>"{{ comment.description }}"</i> sur le débat <a href="{{ path('DebateDetail', { 'id': debate.id, 'slug': debate.slug }) }}">{{ debate.title }}</a><br/>
					</div>
				{% else %}
					<div id="noResult">Aucun commentaire disponible</div>
				{% endfor %}
			</div>
		</div>

		<!--
		<div id="homeLocalDebates">
			<h2>Les débats de votre région</h2>
			<div>
			</div>
		</div>
		-->

	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:homepage.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}
{% endblock javascriptFooter %}
