{# beta #}
{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}Politizr, espace de discussions entre les citoyens et les élus{% endblock title %}

{% block ogVideo %}<meta property='og:video' content='https://www.youtube.com/v/7WHZpebc9q4' />{% endblock ogVideo %}
{% block tcPlayer %}<meta name="twitter:player" content="https://www.youtube.com/embed/7WHZpebc9q4" />{% endblock tcPlayer %}

{% block javascriptHeader %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.youtubebackground.js') }}"></script>  

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/home.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block bodyClass %} class="public visitor"{% endblock %}

{% block main %}
    <div id="publicVideo">
        <div id="videoOverlay">
            <div id="videoText">
                <h1>Élu-e ou Citoyen-ne?<br/>Bienvenue sur un lieu d'échange unique et adapté</h1>
                <h2>POLITIZR est un espace en ligne <b>indépendant, neutre et gratuit</b><br> qui réinvente le dialogue entre <b>citoyen-ne-s et élu-e-s</b> pour que chaque habitant-e devienne <b>acteur de son territoire</b><br> et que chaque élu-e puisse <b>rendre compte publiquement, sur le fond et dans la durée</b> de ses actions.</h2>
                <a href="{{ path('InscriptionChoice') }}">Créer un compte</a>
                <a href="{{ path('Concept') }}">En savoir plus</a>
            </div>
            <div id="goDown" action="scrollVideo">
                Découvrir<br><img src="{{ asset('bundles/politizrfront/images/f-arrowGoDown.svg') }}">
            </div>
        </div>
        <div id="video"></div>
        <div id="videoLoader"></div>
        <div id="ifNoVideo"><img src="{{ asset('bundles/politizrfront/images/f-ifNoVideo.jpg') }}"></div>
    </div>
    
    <div id="triggerVideo"></div>
    <div id="videoFooter">
        <div class="center">
            <div id="yellowBlock">
                <span>
                    Exprimez-vous <b>simplement et gratuitement</b> sur des sujets relatifs à <b>votre territoire</b><br> pour permettre à <b>vos élus</b> de prendre les <b>bonnes décisions en toute transparence</b>.
                </span>
                <a href="{{ path('InscriptionChoice') }}">J'ai quelque chose à dire</a>
            </div>
            <div id="blueBlock">
                <span>Des <b>échanges constructifs</b> entre citoyen-ne-s et élu-e-s<br>aux <b>quatre coins de la France</b>.</span>
            </div>
        </div>
    </div>

    <div id="bannerPromo" class="bannerPromoSenatoriales">
        <div class="center">
            <div class="txtBannerPromo">
                <h1>Candidat-e aux Sénatoriales?</h1>
                En 2017, il est temps d’impliquer les citoyen-ne-s autant que les élu-e-s dans votre campagne des Sénatoriales !<br><br>
                <span>
                    <b>POLITIZR déploie pour les candidat-e-s aux élections Sénatoriales des fonctionnalités complémentaires et adaptées​ à leur campagne électorale leur permettant de répondre directement et en toute transparence aux questions de leurs électeurs et des citoyen-ne-s.</b><br>
                    <a class="ctaBannerPromo" href="{{ path('LandingPage', { 'theme': 'offre-candidat-senatoriales-2017'}) }}">En savoir plus</a>
                </span>
            </div>
        </div>
    </div>

    {#
    <div id="bannerPromo" class="bannerPromoAxelle">
        <div class="center">
            <div class="imgBannerPromo"></div>
            <div class="txtBannerPromo">
                <h1>Législatives 2017</h1>
                <p>A l’occasion des élections législatives 2017, POLITIZR propose aux candidats de tester sa plateforme en engageant des discussions de fond avec les électeurs sur une plateforme portée par un acteur reconnu des "Civic Tech" en France.</p>
                <br/>
                <p><i>Parmi nos premiers utilisateurs, <b>Axelle LEMAIRE, ancienne secrétaire d'État chargée du Numérique</b>, est candidate à l’élection législative en Europe du Nord, dans la 3e circonscription des Français de l’étranger.</i></p>
                <span>
                    <a class="ctaBannerPromo" href="{{ path('LandingPage', { 'theme': 'offre-candidat-legislatives-2017'}) }}">En savoir plus</a>
                </span>
            </div>
        </div>
        <div class="bgLeftBannerPromo"></div>
        <div class="bgRightBannerPromo"></div>
    </div>
    #}

    <div id="postSelection">
        <div class="center">
            <h1>Les discussions en cours</h1>
            <h2>Venez exprimer votre point de vue sur votre vie quotidienne</h2>
            
            {% for document in documents %}
                {% if loop.first or loop.index0 is divisible by(3) %}
                    <div class="cardColumn">
                {% endif %}
                    {% include 'PolitizrFrontBundle:Document:_cardPublic.html.twig' %}
                {% if loop.last or loop.index is divisible by(3) %}
                    </div>
                {% endif %}
            {% endfor %}
            
            <div id="morePosts"><a href="{{ path('ListingSearchPublications') }}">Toutes les discussions en cours</a></div>
        </div>
    </div>
    
    <div id="profileSelection">
        <div class="center">
            <h1>Rejoignez la communauté Politizr</h1>
            <h2>Citoyen-ne-s ou élu-e-s de toute la France partagent leurs points de vue en toute transparence:<br>
            <a href="{{ path('InscriptionChoice') }}">inscrivez-vous et participez aux débats!</a></h2>
            
            {% for user in users %}
                {% if loop.first or loop.index0 is divisible by(2) %}
                    <div class="cardColumn">
                {% endif %}
                    {% include 'PolitizrFrontBundle:User:_cardPublic.html.twig' %}
                {% if loop.last or loop.index is divisible by(2) %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}

{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("Page d'accueil");
        </script>
    {% endif %}

{% endblock javascriptFooter %}
