{# beta #}
{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}Politizr, espace de discussions entre les citoyens et les élus{% endblock title %}

{% block ogVideo %}<meta property='og:video' content='https://www.youtube.com/v/7WHZpebc9q4' />{% endblock ogVideo %}
{% block tcPlayer %}<meta name="twitter:player" content="https://www.youtube.com/embed/7WHZpebc9q4" />{% endblock tcPlayer %}

{% block javascriptHeader %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.youtubebackground.js') }}"></script>  

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/home.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block bodyClass %} class="public visitor"{% endblock %}

{% block main %}
    <div id="publicVideo">
        <div id="videoOverlay">
            <div id="videoText">
                <h1>Élus ou Citoyens?<br/>Bienvenue sur un lieu d'échange unique et adapté</h1>
                <h2>Politizr est un espace <b>indépendant, neutre et gratuit</b><br/>permettant aux <b>élu-e-s</b> de discuter publiquement des sujets proposés par leurs <b>concitoyen-ne-s</b></h2>
                <a href="{{ path('InscriptionChoice') }}">Créer un compte</a>
                <a href="{{ path('Concept') }}">En savoir plus</a>
            </div>
            <div id="goDown" action="scrollVideo">
                Découvrir<br><img src="{{ asset('bundles/politizrfront/images/f-arrowGoDown.svg') }}">
            </div>
        </div>
        <div id="video"></div>
        <div id="videoLoader"></div>
        <div id="ifNoVideo"><img src="{{ asset('bundles/politizrfront/images/f-ifNoVideo.jpg') }}"></div>
    </div>
    
    <div id="triggerVideo"></div>
    <div id="videoFooter">
        <div class="center">
            <div id="yellowBlock">
                <span>
                    Exprimez-vous <b>simplement et gratuitement</b> sur des sujets relatifs à <b>votre territoire</b><br> pour permettre à <b>vos élus</b> de prendre les <b>bonnes décisions en toute transparence</b>.
                </span>
                <a href="{{ path('InscriptionChoice') }}">J'ai quelque chose à dire</a>
            </div>
            <div id="blueBlock">
                <span>Des <b>échanges constructifs</b> entre citoyen-ne-s et élu-e-s<br>aux <b>quatre coins de la France</b>.</span>
            </div>
        </div>
    </div>

    <div id="postSelection">
        <div class="center">
            <h1>Les discussions en cours</h1>
            <h2>Venez exprimer votre point de vue sur votre vie quotidienne</h2>
            
            {% for document in documents %}
                {% if loop.first or loop.index0 is divisible by(3) %}
                    <div class="cardColumn">
                {% endif %}
                    {% include 'PolitizrFrontBundle:Document:_cardPublic.html.twig' %}
                {% if loop.last or loop.index is divisible by(3) %}
                    </div>
                {% endif %}
            {% endfor %}
            
            <div id="morePosts"><a href="{{ path('ListingSearchPublications') }}">Toutes les discussions en cours</a></div>
        </div>
    </div>
    
    <div id="profileSelection">
        <div class="center">
            <h1>Rejoignez la communauté Politizr</h1>
            <h2>Citoyen-ne-s ou élu-e-s de toute la France partagent leurs points de vue en toute transparence:<br>
            <a href="{{ path('InscriptionChoice') }}">inscrivez-vous et participez aux débats!</a></h2>
            
            {% for user in users %}
                {% if loop.first or loop.index0 is divisible by(2) %}
                    <div class="cardColumn">
                {% endif %}
                    {% include 'PolitizrFrontBundle:User:_cardPublic.html.twig' %}
                {% if loop.last or loop.index is divisible by(2) %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {#
    <div id="opCharlotte">
        <div class="center">
            <div class="imgCharlotte"></div>
            <div class="txtCharlotte">
                <h1>Présidentielles 2017</h1>
                Posez vos questions à <a href="{{ path('LandingPage', { theme: 'charlotte-marchandise' }) }}">Charlotte Marchandise</a>,<br>
                candidate citoyenne désignée par <a href="https://laprimaire.org" target="_blank">LaPrimaire.org</a><br>
                <br>
                <span>
                    <i>42 ans, Formatrice (35 - Ille-et-Vilaine)</i><br>
                    <i>Son programme en 3 priorités:</i><br>
                    Priorité 1 : <b>“2 ans pour une nouvelle constitution par et avec le peuple” </b><br>
                    Priorité 2 : <b>“Lutter contre les inégalités : un revenu de base universel”</b><br>
                    Priorité 3 : <b>“Transition énergétique écologique économique”</b><br>
                    <a class="ctaCharlotte" href="{{ path('LandingPage', { theme: 'charlotte-marchandise' }) }}">J'ai une question!</a>
                </span>
            </div>
        </div>
        <div class="bgLeftCharlotte"></div>
        <div class="bgRightCharlotte"></div>
    </div>
    #}
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}

{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("Page d'accueil");
        </script>
    {% endif %}

{% endblock javascriptFooter %}
