{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/politizrfront/css/jquery.fancybox.min.css') }}">
{% endblock %}

{% block javascriptHeader %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.cycle2.min.js?v'~assets_version) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.cycle2.swipe.min.js?v'~assets_version) }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/politizrfront/js/jquery.fancybox.min.js') }}"></script>
{% endblock %}

{#{% block bodyClass %} class="public visitor"{% endblock %}#}

{% block headerMsg %}
    {% if app.environment == 'demo' %}
        {% include 'PolitizrFrontBundle:Navigation\\Header:_demoMsg.html.twig' %}
    {% endif %}
    {{ parent() }}
    {{ sliderInfos() }}
{% endblock headerMsg %}

{% block main %}
    <div id="homePresentation" class="grpCMS">
        <div class="center">
            {% if medias | length > 0 %}
                <div id="contentSlide">
                    {% include 'PolitizrFrontBundle:CmsContent:_slider.html.twig' %}
                </div>
            {% endif %}
            {{ content.description | raw }}
        </div>
    </div>
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}

{% block javascriptFooter %}
    {{ parent() }}

    {% javascripts
        '@PolitizrFrontBundle/Resources/public/js/politizr/pages/home.js'
        filter='uglifyjs2' %}
        <script src="{{ asset_url~'?v'~assets_version }}"></script>
    {% endjavascripts %}
{% endblock javascriptFooter %}
