{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription Étape 1/2- {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerInscription.html.twig' %}
    <div id="headerTrigger"></div>
{% endblock header %}

{# checkbox without sf2 label #}
{% form_theme form _self %}

{% block checkbox_widget %}
{% spaceless %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{% block main %}
    <div id="main">
        <center>
            <div class="column column140"></div>
            <div class="column column360">
                {% if openid.connexion == true %}
                    <div class="openId">
                        {% include 'PolitizrFrontBundle:Security:facebookConnect.html.twig' with {'label': 'Inscription avec Facebook'} %}
                        {% include 'PolitizrFrontBundle:Security:twitterConnect.html.twig' with {'label': 'Inscription avec Twitter'} %}
                        {% include 'PolitizrFrontBundle:Security:googleConnect.html.twig' with {'label': 'Inscription avec Google'} %}
                    </div>
                    <div class="orElse">
                        <div class="orElseLine"></div><span>ou</span><div class="orElseLine"></div>
                    </div>
                {% endif %}
                <div class="card">
                    {% if form.vars.errors|length %}
                        <div class="boxError">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    {{ form_start(form, {'action': path('InscriptionCheck'), 'method': 'POST'}) }}
                        <div class="notice">
                            <i class="icon-info"></i><b>Votre e-mail ne sera pas publique.</b>
                        </div>
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword) }}
                        <div class="coloredBg">
                            <div class="control-group">
                                {{ form_widget(form.cgu) }}<label for="user_register_cgu">J’accepte les <a action="openCgu" href="#" tabindex="4">conditions générales d'utilisation</a> et je m'engage à respecter la <a action="openCharte" href="#" tabindex="5">charte de bonne conduite</a>.</label>
                                {% if form.cgu.vars.errors|length %}
                                    <div class="field_error">{{ form_errors(form.cgu) }}</div>
                                {% endif %}
                            </div>
                            <div class="control-group">
                                {{ form_widget(form.rgpd) }}<label for="user_register_rgpd">J’accepte les conditions relatives à l'utilisation de mes <a href="#dataCarefull" tabindex="7">données personnelles</a>.</label>
                                {% if form.rgpd.vars.errors|length %}
                                    <div class="field_error">{{ form_errors(form.rgpd) }}</div>
                                {% endif %}
                            </div>
                        </div>
                        {#<a href="processCreateAccount-citoyen2.php" class="submit nextStepOrange">Valider</a>#}
                        <button type="submit" class="submit nextStepOrange" tabindex="9">Valider</button>
                    {{ form_end(form) }}
                </div>
                <div class="cardFooter">
                    Tous les champs sont obligatoires<br><br>
                </div>
            </div>
            <div class="column column140">
                <div class="columnSidebar processGrey">
                    Note: vous pouvez utiliser un pseudonyme lors de votre inscription.
                    <br/><br/>
                    <b>Vous avez déjà un compte? <a href="{{ path('Login') }}">Connectez-vous!</a></b>
                </div>
            </div>
            {% include 'PolitizrFrontBundle:Public:_rgpd.html.twig' %}
        </center>
    </div>
{% endblock main %}
