{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription étape 1 / X - {{ parent() }}
{% endblock title %}

{% block main %}
    <div id="public">
        <div class="center">
            <h1>Inscription Élu</h1>
            <p class="bg-info">Vous exercez ou avez exercé un mandat électif, vous pouvez souscrire un abonnement pour disposer d'un compte vous permettant de débattre avec les élus sur Politizr.</p>
            <hr>
            <p class="bg-info">Accélérez le processus d'inscription en utilisant votre compte Facebook, Twitter ou Google</p>
            <div id="o-auth-buttons">
                {% include 'PolitizrFrontBundle:Security:facebookConnect.html.twig' with {'label': 'Inscription avec Facebook'} %}
                {% include 'PolitizrFrontBundle:Security:twitterConnect.html.twig' with {'label': 'Inscription avec Twitter'} %}
                {% include 'PolitizrFrontBundle:Security:googleConnect.html.twig' with {'label': 'Inscription avec Google'} %}
            </div>
            <hr>
            <p class="bg-info">Sinon choisissez vos identifiant et mot de passe Politizr</p>
            {% if form.vars.errors|length %}
                <div class="box-error">
                    {{ form_errors(form) }}
                </div>
            {% endif %}
            <div id="box-inscription-register">
                {{ form_start(form, {'action': path('InscriptionElectedCheck'), 'method': 'POST', 'style': 'horizontal'}) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword) }}
                    {{ form_row(form.elected) }}
                    {{ form_row(form.cgu) }}
            
                    <button type="submit">Valider</button>

                {{ form_end(form) }}
                <span class="label label-warning pull-right">Tous les champs sont obligatoires</span>
            </div>
            <h1>Vous êtes simple citoyen?</h1>
            <p class="bg-info">Politizr vous offre la possibilité de disposer d'un compte permettant de débattre en créant votre <a href="{{ path('Inscription') }}">compte citoyen</a>.</p>
        </div>
    </div>
{% endblock main %}
