{% extends 'PolitizrFrontBundle::layout.html.twig' %}

{% block connexionBox %}
    {{ render(controller('PolitizrFrontBundle:Security:login')) }}
{% endblock %}

{% block inscriptionSteps %}
	{% include 'PolitizrFrontBundle:Security:electedSteps.html.twig' with { 'step': 1 } only %}
{% endblock %}

{% block main %}
	<div id="main" class="container">
		<h1>Inscription Élu</h1>
		<p class="bg-info">Vous disposez d'un mandat électif, vous pouvez souscrire un abonnement pour disposer d'un compte vous permettant de débattre avec les autres élus sur Politizr.</p>
		<hr>
		<div id="box-inscription-elected-step-1">
			{{ form_start(pUserForm, {'action': path('InscriptionElectedCheck'), 'method': 'POST', 'enctype': 'multipart/form-data', 'style': 'horizontal'}) }}
			    {{ form_errors(pUserForm) }}

				<h3>Civilité</h3>
			    {{ form_row(pUserForm.gender) }}
			    {{ form_row(pUserForm.name) }}
			    {{ form_row(pUserForm.firstname) }}
			    {{ form_row(pUserForm.birthday) }}
			    {{ form_row(pUserForm.email) }}
			    {{ form_row(pUserForm.newsletter) }}

				<h3>Mandats et justificatif</h3>
			    {{ form_row(pUserForm.uploaded_supporting_document) }}
			    {{ form_row(pUserForm.elective_mandates) }}

				<h3>Identifiants Politizr</h3>
			    {{ form_row(pUserForm.username) }}
			    {{ form_row(pUserForm.plainPassword) }}

			    {{ form_row(pUserForm.actions) }}
			{{ form_end(pUserForm) }}
		    <span class="label label-warning pull-right">Tous les champs sont obligatoires</span>
		</div>
		<hr>
		<a class="btn btn-primary" href="{{ path('Inscription') }}">Retour à l'inscription citoyen</a>
		<hr>
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:inscriptionElected.js.twig' %}
    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}
{% endblock javascriptFooter %}
