{% extends 'PolitizrFrontBundle::layout.html.twig' %}

{% block connexionBox %}
    {{ render(controller('PolitizrFrontBundle:Security:login')) }}
{% endblock %}

{% block inscriptionSteps %}
	{% include 'PolitizrFrontBundle:Security:citizenSteps.html.twig' with { 'step': 1 } only %}
{% endblock %}

{% block main %}
	<div id="main" class="container">
		<h1>Inscription</h1>
		<p class="bg-info">Accélérez le processus d'inscription en utilisant votre compte Facebook, Twitter ou Google</p>
		<div id="o-auth-buttons">
			{% include 'PolitizrFrontBundle:Security:facebookConnect.html.twig' with {'label': 'Inscription avec Facebook'} %}
			{% include 'PolitizrFrontBundle:Security:twitterConnect.html.twig' with {'label': 'Inscription avec Twitter'} %}
			{% include 'PolitizrFrontBundle:Security:googleConnect.html.twig' with {'label': 'Inscription avec Google'} %}
		</div>
		<hr>
		<p class="bg-info">Sinon choisissez vos identifiant et mot de passe Politizr</p>
		<div id="box-inscription-step-1">
			{{ form_start(pUserForm, {'action': path('InscriptionCheck'), 'method': 'POST', 'style': 'horizontal'}) }}
			    {{ form_errors(pUserForm) }}

			    {{ form_row(pUserForm.username) }}
			    {{ form_row(pUserForm.plainPassword) }}

			    {{ form_row(pUserForm.actions) }}
			{{ form_end(pUserForm) }}
		    <span class="label label-warning pull-right">Tous les champs sont obligatoires</span>
		</div>
		<hr>
		<h1>Vous êtes élu ou ancien élu?</h1>
		<p class="bg-info">Politizr vous offre la possibilité de disposer d'un compte permettant de débattre en créant votre <a href="{{ path('InscriptionElected') }}">compte débatteur</a>.</p>
		<hr>
	</div>
{% endblock main %}

{% block javascriptFooter %}
	{{ parent() }}
    {% include 'PolitizrFrontBundle:JS:login.js.twig' %}
{% endblock javascriptFooter %}
