{# beta #}
{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription - {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerInscription.html.twig' with { 'type': 'choice' } %}
{% endblock header %}

{% block main %}
    <div id="alertIdCheck">
        <div class="center">
            <p>
                Candidat aux Sénatoriales? Venez expérimenter notre <a href="{{ path('LandingPage', { 'theme': 'offre-candidat-senatoriales-2017'}) }}">offre spéciale</a>!
            </p>
        </div>
    </div>

    <div id="main">
        <center>
            <div class="column column360">
                {% include 'PolitizrFrontBundle:Public:_cardAdvantagesCitizen.html.twig' %}
            </div><!-- keep comment mark this way : they prevent unwanted space between cols
            --><div class="column column360">
                {% include 'PolitizrFrontBundle:Public:_cardAdvantagesElected.html.twig' %}
            </div>
            <div class="footerXcolumns footer2columns">
                Déjà inscrit-e? <a href="{{ path('Login') }}">Identifiez-vous</a>
            </div>

            <div class="dataCarefull">
                <div class="dataCarefullVisions"> 
                    <img src="{{ asset('bundles/politizrfront/images/label-visions.jpg') }}">
                    <p>POLITIZR travaille avec l'équipe du <a href="https://visionspol.eu/projet-label/" target="_blank">label VISIONS</a> pour permettre aux utilisateurs de conserver la maîtrise sur l'exploitation des données les concernant.</p>
                </div>
                <div class="dataCarefullCnil">
                    <img src="{{ asset('bundles/politizrfront/images/label-cnil.jpg') }}">
                    <p>POLITIZR est déclaré à la CNIL sous le numéro 1968464.<br>
                    Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d'accès aux données vous concernant et les faire rectifier en contactant <a href="mailto:contact@politizr.com">POLITIZR</a>.</p>
                </div>
            </div>
        </center>
    </div>
{% endblock main %}

{% block javascriptFooter %}
    {{ parent() }}

    {% if app.environment == 'prod' %}
        <script type="text/javascript">
            mixpanel.track("Page choix type d'inscription");
        </script>
    {% endif %}
{% endblock javascriptFooter %}
