{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription étape - {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerInscription.html.twig' with { 'type': 'citizen' } %}
    <div id="headerTrigger"></div>
{% endblock header %}

{# checkbox without sf2 label #}
{% form_theme form _self %}

{% block checkbox_widget %}
{% spaceless %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{% block main %}
    <div id="main">
        <center>
            <div class="column column140"></div>
            <div class="column column360">
                <div class="openId">
                    {% include 'PolitizrFrontBundle:Security:facebookConnect.html.twig' with {'label': 'Inscription avec Facebook'} %}
                    {% include 'PolitizrFrontBundle:Security:twitterConnect.html.twig' with {'label': 'Inscription avec Twitter'} %}
                    {% include 'PolitizrFrontBundle:Security:googleConnect.html.twig' with {'label': 'Inscription avec Google'} %}
                </div>
                <div class="orElse">
                    <div class="orElseLine"></div><span>ou</span><div class="orElseLine"></div>
                </div>
                <div class="card">
                    {% if form.vars.errors|length %}
                        <div class="boxError">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    {{ form_start(form, {'action': path('InscriptionCheck'), 'method': 'POST'}) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword) }}
                        <div class="coloredBg">
                            <div class "control-group">
                                {{ form_widget(form.cgu) }}<label>J’accepte les <a href="" target="_blank">conditions générales d’utilisation</a>.</label>
                                {% if form.cgu.vars.errors|length %}
                                    <div class="field_error">{{ form_errors(form.cgu) }}</div>
                                {% endif %}
                            </div>
                        </div>
                        {#<a href="processCreateAccount-citoyen2.php" class="submit nextStepOrange">Valider</a>#}
                        <button type="submit" class="submit nextStepOrange">Valider</button>
                    {{ form_end(form) }}
                </div>
                <div class="cardFooter">
                    Tous les champs sont obligatoires<br><br>
                    <span>*Conseil municipal, conseil départemental, conseil régional, conseil consulaire, Assemblée Nationale, Sénat</span>
                </div>
            </div>
            <div class="column column140">               
                <div class="columnSidebar processGrey">Vous exercez — ou avez déjà exercé — un mandat électif* ?<br><a href="{{ path('InscriptionElected') }}">Créez votre compte élu pour prendre part aux discussions!</a></div>
            </div>
        </center>
    </div>
{% endblock main %}
