{% extends 'PolitizrFrontBundle::layoutPublic.html.twig' %}

{% block title %}
    Inscription Étape 1/2- {{ parent() }}
{% endblock title %}

{% block bodyClass %} class="process"{% endblock %}

{% block header %}
    {% include 'PolitizrFrontBundle:Navigation\\Header:_headerInscription.html.twig' %}
    <div id="headerTrigger"></div>
{% endblock header %}

{# checkbox without sf2 label #}
{% form_theme form _self %}

{% block checkbox_widget %}
{% spaceless %}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
{% endspaceless %}
{% endblock checkbox_widget %}

{% block main %}
    <div id="main">
        <center>
            <div class="column column140"></div>
            <div class="column column360">
                <div class="openId">
                    {% include 'PolitizrFrontBundle:Security:facebookConnect.html.twig' with {'label': 'Inscription avec Facebook'} %}
                    {% include 'PolitizrFrontBundle:Security:twitterConnect.html.twig' with {'label': 'Inscription avec Twitter'} %}
                    {% include 'PolitizrFrontBundle:Security:googleConnect.html.twig' with {'label': 'Inscription avec Google'} %}
                </div>
                <div class="orElse">
                    <div class="orElseLine"></div><span>ou</span><div class="orElseLine"></div>
                </div>
                <div class="card">
                    {% if form.vars.errors|length %}
                        <div class="boxError">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    {{ form_start(form, {'action': path('InscriptionCheck'), 'method': 'POST'}) }}
                        <div class="notice">
                            <i class="icon-info"></i><b>Votre e-mail ne sera pas publique.</b>
                        </div>
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword) }}
                        <div class="coloredBg">
                            <div class="control-group">
                                {{ form_widget(form.cgu) }}<label>J’accepte les <a action="openCgu">conditions générales d'utilisation</a> et je m'engage à respecter la <a action="openCharte">charte de bonne conduite</a>.</label>
                                {% if form.cgu.vars.errors|length %}
                                    <div class="field_error">{{ form_errors(form.cgu) }}</div>
                                {% endif %}
                            </div>
                        </div>
                        {#<a href="processCreateAccount-citoyen2.php" class="submit nextStepOrange">Valider</a>#}
                        <button type="submit" class="submit nextStepOrange">Valider</button>
                    {{ form_end(form) }}
                </div>
                <div class="cardFooter">
                    Tous les champs sont obligatoires<br><br>
                </div>
            </div>
            <div class="column column140">
                <div class="columnSidebar processGrey">
                    Note: vous pouvez utiliser un pseudonyme lors de votre inscription.
                    <br/><br/>
                    <b>Vous avez déjà un compte? <a href="{{ path('Login') }}">Connectez-vous!</a></b>
                </div>
            </div>
            <div class="dataCarefull">
                <div class="dataCarefullCnil">
                    <img src="{{ asset('bundles/politizrfront/images/label-cnil.jpg') }}">
                    <br/>
                    <h3>Politique de traitement des données personnelles</h3>
                    <p>
                    Les informations recueillies sur les formulaires d'inscription font l’objet d’un traitement informatique destiné uniquement au fonctionnement de la plateforme. Le destinataire des données personnelles est uniquement {{ client.name }}.
                    <br/><br/>
                    {{ client.name }} stocke le contenu que vous créez et votre activité sur la plateforme, tels que vos publications et votes, afin de pouvoir les faire apparaître pour les autres utilisateurs et favoriser l'interaction.
                    <br/><br/>
                    Votre email ne sera jamais partagé et vos données sont sauvegardées en toute sécurité. Vous pouvez contrôler ou supprimer vos données à tout moment depuis l'interface ou en contactant notre <a href="mailto: {{ support.email }}">support</a>.
                    <br/><br/>
                    Consultez nos <a action="openCgu">Conditions Générales d'Utilisation</a> pour plus d'informations.
                </div>
            </div>
        </center>
    </div>
{% endblock main %}
