{# beta #}
{% set layout = 'PolitizrFrontBundle::layoutPublic.html.twig' %}
{% if (isGrantedE() or isGrantedC()) %}
    {% set layout = 'PolitizrFrontBundle::layoutConnected.html.twig' %}
{% endif %}
{% extends layout %}

{% set metaTitle = 'Qui sommes-nous ?' %}
{% set metaDescription = 'Découvrez nos valeurs et l\'équipe de Politizr et contactez-les au 09 50 42 09 34 !' %}

{% block title %}{{ metaTitle }} - {{ parent() }}{% endblock title %}
{% block description %}{{ metaDescription }}{% endblock description %}

{% block ogTitle %}{{ metaTitle }} - {{ parent() }}{% endblock ogTitle %}
{% block ogDescription %}{{ metaDescription }}{% endblock ogDescription %}

{% block tcTitle %}{{ metaTitle }} - {{ parent() }}{% endblock tcTitle %}
{% block tcDescription %}{{ metaDescription }}{% endblock tcDescription %}

{% block main %}
        <div id="public">
            <div id="publicPageTitle">
                <h1>Qui sommes-nous ?</h1>
                <img src="{{ asset('bundles/politizrfront/images/f-headerQuisommesnous.jpg') }}">
            </div>
            <div class="center">
                <div id="publicCard">
                    Conçu pour <b>développer les discussions de proximité</b> sur des sujets de <b>vie quotidienne dans toute la France</b>, mais aussi comme un premier pas pour s’impliquer politiquement, <b>POLITIZR</b> soutient une amélioration de la <b>vie locale</b> par le biais de <b>la concertation et de la consultation</b>, en opposition avec la “politique politicienne” ou communicante.
                    <br/><br/>
                    <h1>Nos principes d'action</h1>
                    <b>Notre vision</b><br/>Tous les citoyens et élus devraient échanger pour oeuvrer à l’intérêt général.
                    <br/><br/>
                    <b>Notre mission</b><br/>Renouer la confiance entre citoyens et élus en faisant évoluer les pratiques politiques pour favoriser des échanges constructifs, basés sur la transparence, le respect et la bienveillance.
                    <br/><br/>
                    <b>Nos objectifs</b>
                    <ul>
                        <li>Développer un espace de dialogue en ligne permettant des échanges structurés et constructifs entre les citoyens et leurs représentants partout en France.</li>
                        <li>Proposer des services favorisant l’expression citoyenne aux collectivités.</li>
                    </ul>
                    <b>Nos valeurs</b>
                    <ul>
                        <li>Neutre et indépendant</li>
                        <li>Pas de publicité</li>
                        <li>Conçu, développé et hébergé en France</li>
                        <li>Données personnelles protégées</li>
                    </ul>
                    <br/><br/>
                    <h1>L'équipe</h1>
                    Notre équipe s'appuie sur des compétences issues du <b>numérique</b> et des <b>sciences politiques</b>.
                    <br/><br/>
                    <div class="publicItem">
                        <img src="{{ asset('bundles/politizrfront/images/f-lb.jpg') }}">
                        <h2>Lionel Bouzonville</h2> 
                        Co-fondateur Politizr
                        <br>
                        Directeur technique
                        <br>
                        Ancien élu local
                        <br>
                        <br>
                        <a href="https://www.politizr.com/@lionel-bouzonville">@lionel-bouzonville</a>
                        <br>
                        <a href="https://twitter.com/lionelbzv" target="_blank">twitter.com/lionelbzv</a>
                    </div>
                    <div class="publicItem">
                        <img src="{{ asset('bundles/politizrfront/images/f-tc.jpg') }}">
                        <h2>Thomas Champion</h2>    
                        Co-fondateur Politizr
                        <br>
                        Directeur commercial
                        <br>
                        <br>
                        <a href="https://www.politizr.com/@thomas-champion">@thomas-champion</a>
                        <br>
                        <a href="https://twitter.com/_thomchamp" target="_blank">twitter.com/_thomchamp</a>
                    </div>
                    <div class="publicItem">
                        <img src="{{ asset('bundles/politizrfront/images/f-mf.jpg') }}">
                        <h2>Maxime Forest</h2>
                        Consultant Politizr
                        <br>
                        Docteur en sciences politique
                        <br>
                        Enseignant-chercheur à Sciences Po Paris (CEVIPOF, OFCE)
                        <br>
                        <br>
                        <a href="https://twitter.com/max_politizr" target="_blank">twitter.com/max_politizr</a>
                    </div>
                </div>
                <div id="publicSidebar">
                    <h5>Pour nous contacter</h5>
                    <span class="phoneButton"><img src="{{ asset('bundles/politizrfront/images/f-phone.svg') }}" width="14"> 09 50 42 09 34</span><br>
                    <p>32, avenue du Gal De Gaulle<br>
                    09000 Foix - France<br><br>
                    <a href="mailto:contact@politizr.com">contact@politizr.com</a><br><br></p>
                </div>
            </div>
    </div>
{% endblock main %}

{% block postMain %}
    {% include 'PolitizrFrontBundle:Navigation\\Footer:_publicFooter.html.twig' %}
{% endblock postMain %}


{% block javascriptFooter %}
    {{ parent() }}

    {% if (app.environment == 'prod') %}
        <script type="text/javascript">
            mixpanel.track("Qui sommes-nous");
        </script>
    {% endif %}

{% endblock javascriptFooter %}
