{% set mediaConfig = app.session.get('studio_echo_media_bundle/' ~ mediaParameterConfigKey) %}
<div id="mediabundle">
    <div id="displayzone" category="displayzone_{{ mediaConfig.category_id }}">
        {{ render(controller('StudioEchoMediaBundle:UploadMedia:displayZone', { 'mediaObjectId': currentMediaObjectId, 'mediaParameterConfigKey': mediaParameterConfigKey })) }}
    </div>
    <div id="uploadzone">
      <div id="fineuploader_{{ mediaConfig.category_id }}"></div>
      <div id="uploadzone-help">
        Nombre maximum de fichiers: {{ mediaConfig.max_files }}
        <br/>
        Types de fichiers autorisés:  {% for extension in mediaConfig.extension_list %} {{ extension }}{% if not loop.last %},{% endif %} {% endfor %}
        <br/>
        Taille maximum d'un fichier: {{ mediaConfig.max_size }} Mo
      </div>
    </div>
    <div id="uploadzone_hide" style="display:none">
        Vous avez atteint le maximum de fichiers autorisés.
    </div>
</div>
<script>
      $(document).ready(function () {
        $('#fineuploader_{{ mediaConfig.category_id }}').fineUploader({
          request: {
            endpoint: '{{ path('studio_echo_media_upload_file') }}',
            params: {
              mediaObjectId: {{ currentMediaObjectId }},
              mediaParameterConfigKey: '{{ mediaParameterConfigKey }}'
            }
          },
          failedUploadTextDisplay: {
            mode: 'custom',
            maxChars: 40,
            responseProperty: 'error',
            enableTooltip: true
          },          
          // validation: {
          //   allowedExtensions: ['jpeg', 'jpg'],
          //   sizeLimit: 5242880 // 5Mo = 5 * 1024 * 1024 bytes;
          // },
          text: {
            uploadButton: 'CLIQUEZ OU GLISSEZ VOS FICHIERS ICI',
            dragZone: 'Déposez ici vos fichiers',
          },
          // showMessage: function(message) {
          //   // Using Bootstrap's classes
          //   $('#fineuploader').append('<div class="alert alert-error">' + message + '</div>');
          // },
          debug: true
        })
        .on('error', function(event, id, filename, reason) {
            //do something
            console.log('upload complete error');
            // Using Bootstrap's classes
            $('#fineuploader').append('<div class="alert alert-error">' + message + '</div>');
        })
        .on('complete', function(event, id, filename, responseJSON){
            console.log('upload complete success');
            // console.log('event = ' + event);
            // console.log('id = ' + id);
            // console.log('filename = ' + filename);
            // console.log('responseJSON = ' + responseJSON);
            
            $.ajax({
              url: '{{ path('studio_echo_media_display_zone', {'mediaObjectId': currentMediaObjectId, 'mediaParameterConfigKey': mediaParameterConfigKey }) }}',
              success: function(data) {
                $("[category='displayzone_{{ mediaConfig.category_id }}']").html(data);
              }
            });
        })
        ;        
      });
</script>